@import '~react-md-scss/helpers/all';

%monospace {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.453256;
}


.documentation {
  code,
  pre {
    @extend %monospace;

    margin: 0;

    * {
      @extend %monospace;
    }
  }
}

.markdown {
  background: $md-background-color;
  border-top: 1px solid $md-border-color;
  overflow-y: auto;
  padding: 1em;
  transition: max-height $md-transition-time * 2;
}

.lang-css,
.lang-js {
  color: get-md-color(black);

  .hljs-selector-class,
  .hljs-attr,
  .hljs-keyword {
    color: get-md-color(deep-orange, 10);
  }

  .hljs-attribute,
  .hljs-class {
    color: get-md-color(deep-purple, 10);
  }

  .hljs-string {
    color: get-md-color(green, 10);
  }

  .hljs-comment {
    color: $md-text-color;
  }
}
