@import "@react-md/theme/dist/theme";
@import "@react-md/tooltip/dist/tooltip";

@include react-md-theme;
@include react-md-tooltip;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-group {
  .btn {
    margin: 1rem;
  }
}

.btn {
  @include rmd-typography(button);

  border-radius: 4px;
  border-width: 0;
  background-color: $rmd-theme-primary;
  color: $rmd-white-base;
  display: inline-flex;
  outline-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}
