@import 'common';

@include react-md-button;
@include react-md-icon;
@include react-md-link;
@include react-md-theme;
@include react-md-tooltip;
@include react-md-transition;
@include react-md-typography;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include rmd-theme(background-color, background);
  @include rmd-theme(color, text-primary-on-background);
}

html,
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
