@import '@react-md/transition/dist/mixins';
@import '@react-md/sheet/dist/variables';

.rmd-overlay--sheet,
.rmd-sheet {
  margin: 0;
}

.rmd-overlay--sheet {
  opacity: 0;
}

.rmd-menu--enter {
  transform: scale(0);
}

.rmd-menu--enter-active {
  @include rmd-transition(standard);

  transform: scale(1);
  transition: transform $rmd-sheet-enter-duration;
}

.rmd-menu--exit {
  opacity: 1;
}

.rmd-menu--exit-active {
  @include rmd-transition(standard);

  opacity: 0;
  transition: opacity $rmd-sheet-leave-duration;
}
