@import '~globals';

$sassdoc-color-size: 32px;

.sassdoc {
  margin-bottom: 6em;

  &__variable {
    font-size: 1.25em;
  }

  &__color {
    @include md-box-shadow(1);

    display: inline-block;
    height: $sassdoc-color-size;
    width: $sassdoc-color-size;
  }

  &__section {
    margin-bottom: 1em;

    p {
      margin: 0;
    }
  }

  &__examples {
    margin: 0;
    padding: 0;

    .md-cell {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  &__link {
    color: $md-primary-color;
    display: inline-block;
    text-decoration: none;
    transition: color $md-transition-time;

    &:hover {
      color: get-color('text', true);
    }
  }

  &__reference-list {
    @include md-ios-scroll-momentum;

    overflow-x: auto;
  }

  %markdown-spacing {
    p {
      padding-left: 1em;
    }
  }

  &__reference-item {
    @extend %markdown-spacing;

    align-items: center;
    display: flex;
  }

  &__returns {
    @extend %markdown-spacing;

    align-items: baseline;
    display: flex;

    pre {
      margin: 0;
      margin-right: $md-default-padding;
    }
  }

  &__filter {
    margin-left: $md-default-padding;
  }

  &__finder-list {
    .md-list--nested-1 .md-list-tile {
      padding-left: $md-list-left-padding / 2;
    }
  }
}

.sassdoc__parameter-table {
  .md-table-column--plain {
    white-space: initial;

    pre {
      margin: 0;
    }
  }
}
