@import '~react-md-scss';

.block-text-field-examples {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  .md-text-field-container:not(:first-child) {
    margin-top: .5em;
  }

  .md-text-field-container:not(:last-child) {
    margin-bottom: .5em;
  }
}
