@use "everything" as *;

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity $enter-duration $deceleration-timing-function;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity $enter-duration $acceleration-timing-function;
}

.dialog {
  width: 30rem;
}
