@use "sass:map";
@use "everything";

.button {
  @include everything.interaction-surface($css-modules: true);
  @include everything.theme-use-var(color, text-primary-color);
  @include everything.icon-set-var(color, currentcolor);

  background-color: transparent;
  border: 0;
}

.name {
  @include everything.text-overflow;

  height: map.get(everything.$body-1-styles, line-height);
  text-align: center;
  width: 100%;
}

.iconLoader {
  height: everything.icon-get-var(size);
  width: everything.icon-get-var(size);
}

.dialog {
  width: 40rem;
}
