@import '@react-md/elevation/dist/mixins';
@import '@react-md/theme/dist/mixins';
@import '@react-md/utils/dist/mixins';

.examples-page__overflow-portal {
  flex-direction: column;
}

.overflow-portal-example {
  @include rmd-theme(background-color, surface);
  @include rmd-elevation(2);

  margin: 1rem auto;
  max-width: 400px;
  position: relative;
  width: 100%;

  [class^='ReactVirtualized']:focus {
    outline-style: none;

    .overflow-portal-example__cell--active {
      @include rmd-theme(background-color, text-hint-on-background);
    }
  }

  &__cell {
    border-bottom: 1px solid rmd-theme(text-hint-on-background);
    border-bottom-color: rmd-theme-var(text-hint-on-background);
    border-right: 1px solid rmd-theme(text-hint-on-background);
    border-right-color: rmd-theme-var(text-hint-on-background);

    > div {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      position: relative;
      width: 100%;
    }
  }
}
