@use './solarized';

.container {
  border-right: 1px solid solarized.$base-01;
  counter-reset: line-numbers;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-right: 0.25em;
  pointer-events: none;
  position: absolute;
  text-align: right;
  width: 2.5em;
}

.counter::before {
  content: counter(line-numbers);
  counter-increment: line-numbers;
}
