@use "everything" as *;

.blockquote {
  $border-style: 0.25em solid divider-get-var(color);

  border-left: $border-style;
  font-style: italic;
  margin: 1em 0;
  padding: 0.5em 1em;
  position: relative;

  p:only-child {
    margin: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include rtl {
    border-left: 0;
    border-right: $border-style;
  }
}

.themed {
  @include icon-set-var(color, currentcolor);
  @include link-set-var(color, currentcolor);

  border: 0;
  border-radius: 0.25rem;
  padding: 1em;

  svg:nth-child(1) {
    margin-right: $icon-spacing;
    vertical-align: bottom;
  }

  p:nth-child(2) {
    display: inline;
  }

  code {
    color: currentcolor;
  }
}

@each $theme in (info, warning, error, success) {
  .#{$theme} {
    background-color: var(--#{$theme}-bg);
    color: var(--#{$theme}-color);
  }
}
