@use "everything";

.container {
  @include everything.theme-set-var(background-color, var(--preview-bg));
  @include everything.divider-border-style;

  background-color: var(--preview-bg);
  border-radius: everything.$card-border-radius;
  padding: 3rem;
  position: relative;
}

.noBorderBottom {
  border-bottom-width: 0;
}

.alert {
  @include everything.theme-use-var(color, error-color);

  bottom: 0;
  left: 1rem;
  position: absolute;
  right: 1rem;
  text-align: right;
}
