@use "everything" as *;

.container {
  margin: 0 auto;
  max-width: 105ch;
  min-width: 0;
  padding: 0 var(--hp, 2rem) 2rem;
  width: 100%;

  // when the table of contents doesn't exist, make the it span the full width.
  // I don't really know if I'd have any pages without a table of contents
  // though..
  &:not(:has(> nav)) {
    grid-column: 1 / -1;
  }

  @include media-or-media-query($layout-navigation-breakpoint) {
    --hp: 4rem;
  }
}
