@use "everything";

.container {
  @include everything.theme-use-var(color, text-secondary-color);
  @include everything.tablet-media {
    font-size: var(--emoji-large-size, 12.5rem);
  }

  font-family: Helvetica, sans-serif;
  font-size: var(--emoji-size, 6rem);
  line-height: 1.5em;
  margin: 0 0 0.25em;
}

.inherit {
  --emoji-size: 1em;
  --emoji-large-size: 1em;
}
