@use "sass:map";
@use "everything" as *;

.logo {
  max-height: 100%;
  max-width: 100%;
}

.primary {
  @include theme-use-var(fill, primary-color);
}

.secondary {
  @include theme-use-var(fill, secondary-color);
}

.text {
  transform: translateX(-0.875em);

  @include rtl {
    transform: translateX(0.8em);
  }
}
