@use "sass:map";
@use "everything";

.logo {
  max-height: 100%;
  max-width: 100%;
}

.primary {
  @include everything.theme-use-var(fill, primary-color);
}

.secondary {
  @include everything.theme-use-var(fill, secondary-color);
}

.text {
  transform: translateX(-0.875em);

  @include everything.rtl {
    transform: translateX(0.8em);
  }
}
