@use 'react-md' as *;

.sheet {
  background-color: $rmd-sheet-dark-elevation-background-color;
}

.tree {
  @include rmd-tree-depths(
    $selector-prefix: ':global ',
    $max: 4,
    $base-padding: 2rem
  );
}

.icon {
  @include rmd-icon-theme-update-var(text-spacing, 0.5rem);
  @include rmd-icon-theme-update-var(size, 1rem);
}

.inline {
  @include rmd-app-bar-offset(top, prominent-dense-height);
}
