@import '~react-md-scss';

.opacity-enter {
  opacity: 0;

  &.opacity-enter-active {
    opacity: 1;
    transition-duration: 1000ms;
    transition-property: opacity;
    transition-timing-function: $md-transition-deceleration;
  }
}
