@import '~@react-md/theme/dist/mixins';

.banner {
  @include rmd-theme(background-color, primary);

  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  @include rmd-theme(color, on-primary);
}

.logo {
  margin-bottom: 2em;
}
