@use 'react-md';

.primary {
  @include react-md.rmd-theme(fill, primary);
}

.secondary {
  @include react-md.rmd-theme(fill, secondary);
}

.text {
  @include react-md.rmd-typography(headline-6);
  @include react-md.rmd-utils-rtl {
    transform: translateX(0.7em);
  }

  font-weight: map-get(react-md.$rmd-typography-font-weights, bold);
  transform: translateX(-0.8em);
}
