@import '~sass-utils';

%monospace {
  font-family: 'Source Code Pro', monospace;
}

code,
pre {
  @extend %monospace;

  * {
    @extend %monospace;
  }
}

pre {
  overflow-x: auto;
}

.lang-css,
.lang-scss,
.lang-js,
[class^='lang-'] {
  color: $md-black-base;

  // scss-lint:disable SelectorFormat
  .hljs-built_in,
  .hljs-doctag,
  .hljs-meta {
    color: $md-red-900;
  }

  .hljs-selector-class,
  .hljs-attr,
  .hljs-keyword {
    color: $md-deep-orange-900;
  }

  .hljs-variable,
  .hljs-attribute,
  .hljs-class {
    color: $md-deep-purple-900;
  }

  .hljs-string {
    color: $md-green-900;
  }

  .hljs-comment {
    color: $md-text-color;
  }

}

blockquote {
  border-left: 4px solid $md-border-color;
  margin-left: 0;
  padding-left: 1.5em;

  p {
    @extend %md-secondary-text;
    margin: 0;
  }
}

.text-container {

  h1 {
    @extend %md-display-1;
  }

  h3 {
    @extend %md-headline;
  }

  h4 {
    @extend %md-title;
  }

  p {
    @extend %md-body-1;
  }
}

.markdown-page {
  background: $md-white-base;
  padding: 2em 0;
}
