@import '~react-md-scss';

%monospace {
  font-family: 'Source Code Pro', monospace;
}

code,
pre {
  @extend %monospace;
  margin: 0;

  * {
    @extend %monospace;
  }
}

pre {
  overflow-x: auto;
}

.lang-css,
.lang-scss,
.lang-js,
[class^='lang-'] {
  color: $md-black-base;

  // scss-lint:disable SelectorFormat
  .hljs-built_in,
  .hljs-doctag,
  .hljs-meta {
    color: $md-red-900;
  }

  .hljs-selector-class,
  .hljs-attr,
  .hljs-keyword {
    color: $md-deep-orange-900;
  }

  .hljs-variable,
  .hljs-attribute,
  .hljs-class {
    color: $md-deep-purple-900;
  }

  .hljs-string {
    color: $md-green-900;
  }

  .hljs-comment {
    color: get-color('text', true);
  }

}

blockquote {
  border-left: 4px solid get-color('divider', true);
  margin-left: 0;
  padding-left: 1.5em;

  p {
    color: get-color('secondary', $md-light-theme);
    margin: 0;
  }
}

// scss-lint:disable IdSelector, NestingDepth
#table-of-contents,
#table-of-contents + ul {
  border-left: 5px solid $md-deep-purple-500;
  padding-left: 40px;
}


#table-of-contents {
  margin-bottom: 0;
  padding-bottom: 14px;

  + ul,
  + ul ul {
    list-style: none;
  }

  + ul {
    margin-top: 0;

    a {
      @extend %md-subheading-2;

      color: $md-deep-purple-500;
      text-decoration: none;

      &:visited {
        color: $md-deep-purple-400;
      }
    }
  }
}

@media #{$md-mobile-media} {
  #table-of-contents + ul a {
    font-size: $md-subheading-mobile-font-size;
  }
}

@media #{$md-desktop-media} {
  #table-of-contents + ul a {
    font-size: $md-subheading-desktop-font-size;
  }
}
