@import '~react-md-scss';

%monospace {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

code,
pre {
  @extend %monospace;

  * {
    @extend %monospace;
  }
}

.example-code {
  background: rgba($md-black-base, .06);

  .code-block {
    background: transparent;
  }
}

.code-block {
  background: rgba($md-black-base, .06);
  overflow-x: auto;
  padding: $md-default-padding;
}

[class^='lang-'] {
  color: $md-black-base;

  .hljs-selector-class,
  .hljs-attr,
  .hljs-keyword,
  .hljs-subst {
    color: $md-red-800;
  }

  // scss-lint:disable SelectorFormat
  .hljs-built_in,
  .hljs-doctag,
  .hljs-meta {
    color: $md-blue-900;
  }

  .hljs-variable,
  .hljs-attribute,
  .hljs-class {
    color: $md-deep-purple-800;
  }

  .hljs-string {
    color: $md-green-700;
  }

  .hljs-comment {
    color: get-color('secondary', true);
  }
}

blockquote {
  border-left: 4px solid get-color('divider', $md-light-theme);
  margin-left: 0;
  padding-left: 1.5em;

  p {
    color: get-color('secondary', $md-light-theme);
    margin: 0;
  }
}
