@use 'react-md' as *;

.container {
  @include rmd-elevation(4);
  @include rmd-theme-dark-elevation(4, true);

  margin-top: 1rem;
  overflow: hidden;
  transition-duration: 1s;
  transition-property: max-height, max-width;
}

.table {
  border-collapse: separate;
  // make it grow to fit the entire max-height
  padding-bottom: 100%;
}
