@import '~globals';

$color-size: 14px;
$color-padding: 3px;

pre,
code {
  word-wrap: break-word;
}

blockquote {
  border-left: 4px solid get-color('divider', $md-light-theme);
  margin-left: 0;
  padding-left: 1.5em;

  p {
    color: get-color('secondary', $md-light-theme);
    margin: 0;
  }
}

.color-markdown {
  padding-left: $color-size + ($color-padding * 2);
  position: relative;

  &__preview {
    content: '';
    height: $color-size;
    left: $color-padding;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: $color-size;
  }
}

.emoji-item {
  list-style: none;
  padding-bottom: 1em;
  position: relative;

  &::before {
    font-size: $md-title-font-size;
    left: -30px;
    position: absolute;
    top: -4px;
  }

  &--sparkles::before {
    content: '\2728';
  }

  &--tada::before {
    content: '\1f389';
  }

  &--bug::before {
    content: '\1F41B';
  }
}

.markdown-container + .markdown-container {
  margin-top: 1em;
}
