@use 'react-md' as *;

.container {
  @include rmd-utils-scroll;

  height: 10rem;
  position: relative;
}

.overlay {
  @include rmd-overlay-theme(background-color, transparent);
}

.menu {
  @include rmd-elevation(4);
  @include rmd-theme(background-color, surface);

  position: fixed;
  z-index: $rmd-overlay-z-index + 1;
}
