// Material Design color palette variables
// @link https://www.google.com/design/spec/style/color.html#color-color-palette

/// @type String
/// @group colors
$md-red-50: #ffebee;

/// @type String
/// @group colors
$md-red-100: #ffcdd2;

/// @type String
/// @group colors
$md-red-200: #ef9a9a;

/// @type String
/// @group colors
$md-red-300: #e57373;

/// @type String
/// @group colors
$md-red-400: #ef5350;

/// @type String
/// @group colors
$md-red-500: #f44336;

/// @type String
/// @group colors
$md-red-600: #e53935;

/// @type String
/// @group colors
$md-red-700: #d32f2f;

/// @type String
/// @group colors
$md-red-800: #c62828;

/// @type String
/// @group colors
$md-red-900: #b71c1c;

/// @type String
/// @group colors
$md-red-a-100: #ffcdd2;

/// @type String
/// @group colors
$md-red-a-200: #ff5252;

/// @type String
/// @group colors
$md-red-a-400: #d50000;

/// @type String
/// @group colors
$md-red-a-700: #d50000;



/// @type String
/// @group colors
$md-pink-50: #fce4ec;

/// @type String
/// @group colors
$md-pink-100: #f8bbd0;

/// @type String
/// @group colors
$md-pink-200: #f48fb1;

/// @type String
/// @group colors
$md-pink-300: #f06292;

/// @type String
/// @group colors
$md-pink-400: #ec407a;

/// @type String
/// @group colors
$md-pink-500: #e91e63;

/// @type String
/// @group colors
$md-pink-600: #d81b60;

/// @type String
/// @group colors
$md-pink-700: #c2185b;

/// @type String
/// @group colors
$md-pink-800: #ad1457;

/// @type String
/// @group colors
$md-pink-900: #880e4f;


/// @type String
/// @group colors
$md-pink-a-100: #ff80ab;

/// @type String
/// @group colors
$md-pink-a-200: #ff4081;

/// @type String
/// @group colors
$md-pink-a-400: #f50057;

/// @type String
/// @group colors
$md-pink-a-700: #c51162;



/// @type String
/// @group colors
$md-purple-50: #f3e5f5;

/// @type String
/// @group colors
$md-purple-100: #e1bee7;

/// @type String
/// @group colors
$md-purple-200: #ce93d8;

/// @type String
/// @group colors
$md-purple-300: #ba68c8;

/// @type String
/// @group colors
$md-purple-400: #ab47bc;

/// @type String
/// @group colors
$md-purple-500: #9c27b0;

/// @type String
/// @group colors
$md-purple-600: #8e24aa;

/// @type String
/// @group colors
$md-purple-700: #7b1fa2;

/// @type String
/// @group colors
$md-purple-800: #6a1b9a;

/// @type String
/// @group colors
$md-purple-900: #4a148c;


/// @type String
/// @group colors
$md-purple-a-100: #ea80fc;

/// @type String
/// @group colors
$md-purple-a-200: #e040fb;

/// @type String
/// @group colors
$md-purple-a-400: #d500f9;

/// @type String
/// @group colors
$md-purple-a-700: #a0f;



/// @type String
/// @group colors
$md-deep-purple-50: #ede7f6;

/// @type String
/// @group colors
$md-deep-purple-100: #d1c4e9;

/// @type String
/// @group colors
$md-deep-purple-200: #b39ddb;

/// @type String
/// @group colors
$md-deep-purple-300: #9575cd;

/// @type String
/// @group colors
$md-deep-purple-400: #7e57c2;

/// @type String
/// @group colors
$md-deep-purple-500: #673ab7;

/// @type String
/// @group colors
$md-deep-purple-600: #5e35b1;

/// @type String
/// @group colors
$md-deep-purple-700: #512da8;

/// @type String
/// @group colors
$md-deep-purple-800: #4527a0;

/// @type String
/// @group colors
$md-deep-purple-900: #311b92;


/// @type String
/// @group colors
$md-deep-purple-a-100: #b388ff;

/// @type String
/// @group colors
$md-deep-purple-a-200: #7c4dff;

/// @type String
/// @group colors
$md-deep-purple-a-400: #651fff;

/// @type String
/// @group colors
$md-deep-purple-a-700: #6200ea;



/// @type String
/// @group colors
$md-indigo-50: #e8eaf6;

/// @type String
/// @group colors
$md-indigo-100: #c5cae9;

/// @type String
/// @group colors
$md-indigo-200: #9fa8da;

/// @type String
/// @group colors
$md-indigo-300: #7986cb;

/// @type String
/// @group colors
$md-indigo-400: #5c6bc0;

/// @type String
/// @group colors
$md-indigo-500: #3f51b5;

/// @type String
/// @group colors
$md-indigo-600: #3949ab;

/// @type String
/// @group colors
$md-indigo-700: #303f9f;

/// @type String
/// @group colors
$md-indigo-800: #283593;

/// @type String
/// @group colors
$md-indigo-900: #1a237e;


/// @type String
/// @group colors
$md-indigo-a-100: #8c9eff;

/// @type String
/// @group colors
$md-indigo-a-200: #536dfe;

/// @type String
/// @group colors
$md-indigo-a-400: #3d5afe;

/// @type String
/// @group colors
$md-indigo-a-700: #304ffe;


/// @type String
/// @group colors
$md-blue-50: #e3f2fd;

/// @type String
/// @group colors
$md-blue-100: #bbdefb;

/// @type String
/// @group colors
$md-blue-200: #90caf9;

/// @type String
/// @group colors
$md-blue-300: #64b5f6;

/// @type String
/// @group colors
$md-blue-400: #42a5f5;

/// @type String
/// @group colors
$md-blue-500: #2196f3;

/// @type String
/// @group colors
$md-blue-600: #1e88e5;

/// @type String
/// @group colors
$md-blue-700: #1976d2;

/// @type String
/// @group colors
$md-blue-800: #1565c0;

/// @type String
/// @group colors
$md-blue-900: #0d47a1;


/// @type String
/// @group colors
$md-blue-a-100: #82b1ff;

/// @type String
/// @group colors
$md-blue-a-200: #448aff;

/// @type String
/// @group colors
$md-blue-a-400: #2979ff;

/// @type String
/// @group colors
$md-blue-a-700: #2962ff;



/// @type String
/// @group colors
$md-light-blue-50: #e1f4fe;

/// @type String
/// @group colors
$md-light-blue-100: #b3e5fc;

/// @type String
/// @group colors
$md-light-blue-200: #81d4fa;

/// @type String
/// @group colors
$md-light-blue-300: #4fc3f7;

/// @type String
/// @group colors
$md-light-blue-400: #29b6f6;

/// @type String
/// @group colors
$md-light-blue-500: #03a9f4;

/// @type String
/// @group colors
$md-light-blue-600: #039be5;

/// @type String
/// @group colors
$md-light-blue-700: #0288d1;

/// @type String
/// @group colors
$md-light-blue-800: #0277bd;

/// @type String
/// @group colors
$md-light-blue-900: #01579b;


/// @type String
/// @group colors
$md-light-blue-a-100: #80d8ff;

/// @type String
/// @group colors
$md-light-blue-a-200: #40c4ff;

/// @type String
/// @group colors
$md-light-blue-a-400: #00b0ff;

/// @type String
/// @group colors
$md-light-blue-a-700: #0091ea;



/// @type String
/// @group colors
$md-cyan-50: #e0f7fa;

/// @type String
/// @group colors
$md-cyan-100: #b2ebf2;

/// @type String
/// @group colors
$md-cyan-200: #80deea;

/// @type String
/// @group colors
$md-cyan-300: #4dd0e1;

/// @type String
/// @group colors
$md-cyan-400: #23c6da;

/// @type String
/// @group colors
$md-cyan-500: #00bcd4;

/// @type String
/// @group colors
$md-cyan-600: #00acc1;

/// @type String
/// @group colors
$md-cyan-700: #0097a7;

/// @type String
/// @group colors
$md-cyan-800: #00838f;

/// @type String
/// @group colors
$md-cyan-900: #006064;


/// @type String
/// @group colors
$md-cyan-a-100: #84ffff;

/// @type String
/// @group colors
$md-cyan-a-200: #18ffff;

/// @type String
/// @group colors
$md-cyan-a-400: #00e5ff;

/// @type String
/// @group colors
$md-cyan-a-700: #00b8d4;



/// @type String
/// @group colors
$md-teal-50: #e0f2f1;

/// @type String
/// @group colors
$md-teal-100: #b2dfdb;

/// @type String
/// @group colors
$md-teal-200: #80cbc4;

/// @type String
/// @group colors
$md-teal-300: #4db6ac;

/// @type String
/// @group colors
$md-teal-400: #26a69a;

/// @type String
/// @group colors
$md-teal-500: #009688;

/// @type String
/// @group colors
$md-teal-600: #00897b;

/// @type String
/// @group colors
$md-teal-700: #00796b;

/// @type String
/// @group colors
$md-teal-800: #00695c;

/// @type String
/// @group colors
$md-teal-900: #004d40;


/// @type String
/// @group colors
$md-teal-a-100: #a7ffeb;

/// @type String
/// @group colors
$md-teal-a-200: #64ffda;

/// @type String
/// @group colors
$md-teal-a-400: #1de9b6;

/// @type String
/// @group colors
$md-teal-a-700: #00bfa5;



/// @type String
/// @group colors
$md-green-50: #e8f5e9;

/// @type String
/// @group colors
$md-green-100: #c8e6c9;

/// @type String
/// @group colors
$md-green-200: #a5d6a7;

/// @type String
/// @group colors
$md-green-300: #81c784;

/// @type String
/// @group colors
$md-green-400: #66bb6a;

/// @type String
/// @group colors
$md-green-500: #4caf50;

/// @type String
/// @group colors
$md-green-600: #43a047;

/// @type String
/// @group colors
$md-green-700: #388e3c;

/// @type String
/// @group colors
$md-green-800: #2e7d32;

/// @type String
/// @group colors
$md-green-900: #1b5e20;


/// @type String
/// @group colors
$md-green-a-100: #b9f6ca;

/// @type String
/// @group colors
$md-green-a-200: #69f0ae;

/// @type String
/// @group colors
$md-green-a-400: #00e676;

/// @type String
/// @group colors
$md-green-a-700: #00c853;



/// @type String
/// @group colors
$md-light-green-50: #f1f8e9;

/// @type String
/// @group colors
$md-light-green-100: #dcedc8;

/// @type String
/// @group colors
$md-light-green-200: #c5e1a5;

/// @type String
/// @group colors
$md-light-green-300: #aed581;

/// @type String
/// @group colors
$md-light-green-400: #9ccc65;

/// @type String
/// @group colors
$md-light-green-500: #8bc34a;

/// @type String
/// @group colors
$md-light-green-600: #7cb342;

/// @type String
/// @group colors
$md-light-green-700: #689f38;

/// @type String
/// @group colors
$md-light-green-800: #55bb2f;

/// @type String
/// @group colors
$md-light-green-900: #33691e;


/// @type String
/// @group colors
$md-light-green-a-100: #ccff90;

/// @type String
/// @group colors
$md-light-green-a-200: #b2ff59;

/// @type String
/// @group colors
$md-light-green-a-400: #76ff03;

/// @type String
/// @group colors
$md-light-green-a-700: #64dd17;



/// @type String
/// @group colors
$md-lime-50: #f9fbe7;

/// @type String
/// @group colors
$md-lime-100: #f0f4c3;

/// @type String
/// @group colors
$md-lime-200: #e6ee9c;

/// @type String
/// @group colors
$md-lime-300: #dce775;

/// @type String
/// @group colors
$md-lime-400: #d4e157;

/// @type String
/// @group colors
$md-lime-500: #cddc39;

/// @type String
/// @group colors
$md-lime-600: #c0ca33;

/// @type String
/// @group colors
$md-lime-700: #afb42b;

/// @type String
/// @group colors
$md-lime-800: #9e9d24;

/// @type String
/// @group colors
$md-lime-900: #827717;


/// @type String
/// @group colors
$md-lime-a-100: #f4ff81;

/// @type String
/// @group colors
$md-lime-a-200: #eeff41;

/// @type String
/// @group colors
$md-lime-a-400: #c6ff00;

/// @type String
/// @group colors
$md-lime-a-700: #aeea00;



/// @type String
/// @group colors
$md-yellow-50: #fffde7;

/// @type String
/// @group colors
$md-yellow-100: #fff9c4;

/// @type String
/// @group colors
$md-yellow-200: #fff59d;

/// @type String
/// @group colors
$md-yellow-300: #fff176;

/// @type String
/// @group colors
$md-yellow-400: #ffee58;

/// @type String
/// @group colors
$md-yellow-500: #ffeb3b;

/// @type String
/// @group colors
$md-yellow-600: #fdd835;

/// @type String
/// @group colors
$md-yellow-700: #fbc02d;

/// @type String
/// @group colors
$md-yellow-800: #f9a825;

/// @type String
/// @group colors
$md-yellow-900: #f57f17;


/// @type String
/// @group colors
$md-yellow-a-100: #ffff8d;

/// @type String
/// @group colors
$md-yellow-a-200: #ff0;

/// @type String
/// @group colors
$md-yellow-a-400: #ffea00;

/// @type String
/// @group colors
$md-yellow-a-700: #ffd600;



/// @type String
/// @group colors
$md-amber-50: #fff8e1;

/// @type String
/// @group colors
$md-amber-100: #ffecb3;

/// @type String
/// @group colors
$md-amber-200: #ffe082;

/// @type String
/// @group colors
$md-amber-300: #ffd54f;

/// @type String
/// @group colors
$md-amber-400: #ffca28;

/// @type String
/// @group colors
$md-amber-500: #ffc107;

/// @type String
/// @group colors
$md-amber-600: #ffb300;

/// @type String
/// @group colors
$md-amber-700: #ffa000;

/// @type String
/// @group colors
$md-amber-800: #ff8f00;

/// @type String
/// @group colors
$md-amber-900: #ff6f00;


/// @type String
/// @group colors
$md-amber-a-100: #ffe57f;

/// @type String
/// @group colors
$md-amber-a-200: #ffd740;

/// @type String
/// @group colors
$md-amber-a-400: #ffc400;

/// @type String
/// @group colors
$md-amber-a-700: #ffab00;



/// @type String
/// @group colors
$md-orange-50: #fff3e0;

/// @type String
/// @group colors
$md-orange-100: #fff0b2;

/// @type String
/// @group colors
$md-orange-200: #ffcc80;

/// @type String
/// @group colors
$md-orange-300: #ffb74d;

/// @type String
/// @group colors
$md-orange-400: #ffa726;

/// @type String
/// @group colors
$md-orange-500: #ff9800;

/// @type String
/// @group colors
$md-orange-600: #fb8c00;

/// @type String
/// @group colors
$md-orange-700: #f57c00;

/// @type String
/// @group colors
$md-orange-800: #ef6c00;

/// @type String
/// @group colors
$md-orange-900: #e65100;


/// @type String
/// @group colors
$md-orange-a-100: #ffd180;

/// @type String
/// @group colors
$md-orange-a-200: #ffab40;

/// @type String
/// @group colors
$md-orange-a-400: #ff9100;

/// @type String
/// @group colors
$md-orange-a-700: #ff6d00;



/// @type String
/// @group colors
$md-deep-orange-50: #fbe9e7;

/// @type String
/// @group colors
$md-deep-orange-100: #ffccbc;

/// @type String
/// @group colors
$md-deep-orange-200: #ffab91;

/// @type String
/// @group colors
$md-deep-orange-300: #ff8a65;

/// @type String
/// @group colors
$md-deep-orange-400: #ff7043;

/// @type String
/// @group colors
$md-deep-orange-500: #ff5722;

/// @type String
/// @group colors
$md-deep-orange-600: #f4511e;

/// @type String
/// @group colors
$md-deep-orange-700: #e64a19;

/// @type String
/// @group colors
$md-deep-orange-800: #d84315;

/// @type String
/// @group colors
$md-deep-orange-900: #bf360c;


/// @type String
/// @group colors
$md-deep-orange-a-100: #ff9e80;

/// @type String
/// @group colors
$md-deep-orange-a-200: #ff6e40;

/// @type String
/// @group colors
$md-deep-orange-a-400: #ff3d00;

/// @type String
/// @group colors
$md-deep-orange-a-700: #dd2c00;



/// @type String
/// @group colors
$md-brown-50: #efebe9;

/// @type String
/// @group colors
$md-brown-100: #d7ccc8;

/// @type String
/// @group colors
$md-brown-200: #bcaaa4;

/// @type String
/// @group colors
$md-brown-300: #a1887f;

/// @type String
/// @group colors
$md-brown-400: #8d6e63;

/// @type String
/// @group colors
$md-brown-500: #795548;

/// @type String
/// @group colors
$md-brown-600: #6d4c41;

/// @type String
/// @group colors
$md-brown-700: #5d4039;

/// @type String
/// @group colors
$md-brown-800: #4e342e;

/// @type String
/// @group colors
$md-brown-900: #3e2723;



/// @type String
/// @group colors
$md-grey-50: #fafafa;

/// @type String
/// @group colors
$md-grey-100: #f5f5f5;

/// @type String
/// @group colors
$md-grey-200: #eee;

/// @type String
/// @group colors
$md-grey-300: #e0e0e0;

/// @type String
/// @group colors
$md-grey-400: #bdbdbd;

/// @type String
/// @group colors
$md-grey-500: #9e9e9e;

/// @type String
/// @group colors
$md-grey-600: #757575;

/// @type String
/// @group colors
$md-grey-700: #616161;

/// @type String
/// @group colors
$md-grey-800: #424242;

/// @type String
/// @group colors
$md-grey-900: #212121;



/// @type String
/// @group colors
$md-blue-grey-50: #eceff1;

/// @type String
/// @group colors
$md-blue-grey-100: #cfd8dc;

/// @type String
/// @group colors
$md-blue-grey-200: #b0bec5;

/// @type String
/// @group colors
$md-blue-grey-300: #90a4ae;

/// @type String
/// @group colors
$md-blue-grey-400: #78909c;

/// @type String
/// @group colors
$md-blue-grey-500: #607d8b;

/// @type String
/// @group colors
$md-blue-grey-600: #546e7a;

/// @type String
/// @group colors
$md-blue-grey-700: #455a64;

/// @type String
/// @group colors
$md-blue-grey-800: #37474f;

/// @type String
/// @group colors
$md-blue-grey-900: #263238;





/// @type String
/// @group colors
$md-black-base: #000;

/// @type String
/// @group colors
$md-white-base: #fff;


/// @type String
/// @group theme
$md-light-theme-text-color: rgba($md-black-base, .77);

/// @type String
/// @group theme
$md-light-theme-secondary-text-color: rgba($md-black-base, .54);

/// @type String
/// @group theme
$md-light-theme-icon-text-color: $md-light-theme-secondary-text-color;

/// @type String
/// @group theme
$md-light-theme-disabled-text-color: rgba($md-black-base, .38);

/// @type String
/// @group theme
$md-light-theme-hint-text-color: $md-light-theme-disabled-text-color;

/// @type String
/// @group theme
$md-light-theme-divider-color: rgba($md-black-base, .12);


/// @type String
/// @group theme
$md-light-theme-status-bar-color: $md-grey-300;

/// @type String
/// @group theme
$md-light-theme-app-bar-color: $md-grey-100;

/// @type String
/// @group theme
$md-light-theme-background-color: $md-grey-50;

/// @type String
/// @group theme
$md-light-theme-card-color: $md-white-base;



/// @type String
/// @group theme
$md-dark-theme-text-color: $md-white-base;

/// @type String
/// @group theme
$md-dark-theme-secondary-text-color: rgba($md-white-base, .7);

/// @type String
/// @group theme
$md-dark-theme-icon-text-color: $md-dark-theme-secondary-text-color;

/// @type String
/// @group theme
$md-dark-theme-disabled-text-color: rgba($md-white-base, .3);

/// @type String
/// @group theme
$md-dark-theme-hint-text-color: $md-dark-theme-disabled-text-color;

/// @type String
/// @group theme
$md-dark-theme-divider-color: rgba($md-white-base, .12);


/// @type String
/// @group theme
$md-dark-theme-status-bar-color: $md-black-base;

/// @type String
/// @group theme
$md-dark-theme-app-bar-color: $md-grey-900;

/// @type String
/// @group theme
$md-dark-theme-background-color: #303030;

/// @type String
/// @group theme
$md-dark-theme-card-color: $md-grey-800;
