%hidden {
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
  z-index: -1;
}

%icon-separator {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;

  > .text {
    flex-grow: 1;

    &:first-child {
      padding-right: $md-default-padding;
    }

    &:last-child {
      padding-left: $md-default-padding;
    }
  }

  > .md-icon {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

%circle {
  border-radius: 50%;
}

%full-height {
  min-height: 100%;
}

%full-width {
  width: 100%;
}

%flex-equal-size {
  flex-basis: 0;
  flex-grow: 1;
}

%button-unstyled {
  background: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

%list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}




%md-text {
  color: if($md-light-theme, $md-text-color, $md-text-color-alt);
}

%md-secondary-text {
  color: if($md-light-theme, $md-secondary-text-color, $md-secondary-text-color-alt);
}

%md-hint-text,
%md-disabled-text {
  color: if($md-light-theme, $md-disabled-color, $md-disabled-color-alt);
}

%md-tracking--10 {
  letter-spacing: -.1px;
}

%md-tracking--5 {
  letter-spacing: -.05px;
}

%md-tracking-0 {
  letter-spacing: 0;
}

%md-tracking-5 {
  letter-spacing: .5px;
}

%md-tracking-10 {
  letter-spacing: .1px;
}

%md-tracking-20 {
  letter-spacing: .2px;
}
