%hidden {
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
  z-index: -1;
}

%icon-separator {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;

  > .text {
    flex-grow: 1;

    &:first-child {
      padding-right: $md-default-padding;
    }

    &:last-child {
      padding-left: $md-default-padding;
    }
  }

  > .md-icon {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

%circle {
  border-radius: 50%;
}

%full-height {
  min-height: 100%;
}

%full-width {
  width: 100%;
}

%flex-equal-size {
  flex-basis: 0;
  flex-grow: 1;
}

%button-unstyled {
  background: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

%list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
