* {
  box-sizing: border-box;
  font-family: $md-font;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  background: $md-app-bar-color;
  font-size: #{$md-font-size-base}px;
}

.md-display-4,
.md-display-3,
.md-display-2,
.md-display-1,
.md-headline,
.md-title {
  margin: 0;
}


.md-display-4 {
  font-size: #{112 / $md-font-size-base}em;
  font-weight: $md-font-light;
}


.md-display-3,
.md-display-2,
.md-display-1,
.md-headline {
  font-weight: $md-font-regular;
}

.md-display-3 {
  font-size: #{56 / $md-font-size-base}em;
}

.md-display-2 {
  font-size: #{45 / $md-font-size-base}em;
  //line-height: #{48 / $md-font-size-base};
}

.md-display-1 {
  font-size: #{34 / $md-font-size-base}em;
  //line-height: #{40 / $md-font-size-base};
}

.md-headline {
  font-size: #{24 / $md-font-size-base}em;
  //line-height: #{32 / $md-font-size-base};
}

.md-title {
  font-size: #{20 / $md-font-size-base}em;
  font-weight: $md-font-medium;
  //line-height: #{24 / $md-font-size-base};
}

caption,
.md-caption {
  font-size: #{12 / $md-font-size-base}em;
}

p,
.md-body-1 {
  font-size: #{14 / $md-font-size-base}em;
  font-weight: $md-font-regular;
  line-height: #{20 / $md-font-size-base};
}

.md-body-2 {
  font-size: #{14 / $md-font-size-base}em;
  font-weight: $md-font-medium;
  line-height: #{24 / $md-font-size-base};
}

.md-subheading-1,
.md-subheading-2 {
  font-size: #{16 / $md-font-size-base}em;
}

p,
.md-headline,
.md-title,
[class^='md-subheading'],
[class^='md-body'] {
  color: $md-text-color;
}
