
%hidden {
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}


.tab-enter,
.tab-enter * {
  opacity: .01;

  &.tab-enter-active,
  &.tab-enter-active * {
    opacity: 1;
    transition: opacity $md-transition-time;
  }
}

.icon-separator,
%icon-separator {
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .md-icon + *,
  * + .md-icon {
    padding-left: .5em;
  }
}

.flipped {
  transform: rotateZ(180deg);
  transition: transform $md-transition-time;
}

%circle {
  border-radius: 50%;
}

%full-height {
  min-height: 100%;
}

%full-width {
  width: 100%;
}
