* {
  box-sizing: border-box;
}

.hidden {
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}


.tab-enter,
.tab-enter * {
  opacity: .01;

  &.tab-enter-active,
  &.tab-enter-active * {
    opacity: 1;
    transition: opacity $md-transition-time;
  }
}

