$include-md-icons: true !default;
$include-md-font: true !default;

/// The primary color
/// @group Color
$md-primary-color: indigo !default;
/// The primary color lighter hue
/// @group Color
$md-primary-color-hue-light: 3 !default;
/// The primary color darker hue
/// @group Color
$md-primary-color-hue-bold: 7 !default;

/// The secondary color
/// @group Color
$md-secondary-color: pink !default;
/// The secondary color accent hue
/// @group Color
$md-secondary-color-hue: 2 !default;

/// @group Color
$black-base: #000;
/// @group Color
$white-base: #fff;

/// The text color for light backgrounds
/// @link https://www.google.com/design/spec/style/color.html#color-ui-color-application
/// @group Color
$md-text-color: rgba($black-base, .77);
/// The Secondary text color on light backgrounds
/// @group Color
$md-secondary-text-color: rgba($black-base, .54);
/// The color for icons on light backgrounds
/// @alias md-secondary-text-color
/// @group Color
$md-icon-color: $md-secondary-text-color;
/// The color for disabled text on light backgrounds
/// @group Color
$md-disabled-color: rgba($black-base, .38);
/// The hint text color on light backgrounds
/// @alias md-disabled-color
/// @group Color
$md-hint-text-color: $md-disabled-color;
/// The divider color on light backgrounds
/// @group Color
$md-divider-color: rgba($black-base, .12);

/// The text color for dark backgrounds
/// @group Color
$md-text-color-alt: $white-base;

/// The secondary text color for dark backgrounds
/// @group Color
$md-secondary-text-color-alt: rgba($white-base, .70);
/// The icon color for dark backgrounds
/// @alias md-secondary-text-color-alt
/// @group Color
$md-icon-color-alt: $md-secondary-text-color-alt;
/// The disabled text color on dark backgrounds
/// @group Color
$md-disabled-color-alt: rgba($white-base, .30);
/// The hint text color on dark backgrounds
/// @alias md-disabled-color-alt
/// @group Color
$md-hint-text-color-alt: $md-disabled-color-alt;
/// The divider color on dark backgrounds
/// @group Color
$md-divider-color-alt: rgba($white-base, .12);

/// The status bar color for light backgrounds
/// @group Color
$md-status-bar-color: #e0e0e0;
/// The app bar color for light backgrounds
/// @group Color
$md-app-bar-color: #f5f5f5;
/// The main content background color on light backgrounds
/// @group Color
$md-background-color: #fafafa;
/// The card background color on light backgrounds
/// @group Color
$md-card-color: $white-base;

/// The default border color on light backgrounds
/// @group Color
$md-border-color: rgba($black-base, .1);

/// The default transition time
/// @group transitions
$md-transition-time: .15s !default;
/// The default bouncy transition
/// @group transitions
$md-transition: cubic-bezier(.5, 1.8, .9, .8) !default;

/// The font family for the application
/// @group typography
$md-font-family: Roboto !default;
/// The font used for the application
/// @group typography
$md-font: '#{$md-font-family}', sans-serif !default;
/// The base font size
/// @group typography
$md-font-size-base: 14;
/// The light text weight
/// @group typography
$md-font-light: 300;
/// The regular text weight
/// @group typography
$md-font-regular: 400;
/// The medium text weight
/// @group typography
$md-font-medium: 500;
/// The bold text weight
/// @group typography
$md-font-bold: 700;

/// A list of all the text weights
/// @group typography
$md-font-weights: ($md-font-light $md-font-regular $md-font-medium $md-font-bold);

// =============================================
// Buttons
/// The default color base for buttons
/// @link https://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons
/// @group buttons
$md-btn-color-base: #999;
/// @group buttons
$md-btn-hover-color: rgba($md-btn-color-base, .2);
/// @group buttons
$md-btn-pressed-color: rgba($md-btn-color-base, .4);

/// @link https://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons
/// @group buttons
$md-btn-min-height: 48px;
/// @group buttons
$md-btn-height: 36px;
/// @group buttons
$md-btn-padding: ($md-btn-min-height - $md-btn-height) / 2;
/// @group buttons-flat
$md-btn-flat-min-width: 88px;

/// @group buttons-raised
$md-btn-raised-min-width: 64px;

/// @group buttons-fab
$md-btn-fab-size: 56px;
/// @group buttons-fab
$md-btn-fab-size-mini: 40px;

/// The default ripple transition time for buttons
/// @group buttons
$md-btn-ripple-transition-time: $md-transition-time * 3 !default;

/// The font icon size
/// @group font-icon
$md-font-icon-size: 24px !default;
/// The font icon button size
/// @group buttons
/// @see md-font-icon-size
$md-font-icon-btn-size: $md-font-icon-size * 2;


/// The default padding used across the board
$md-default-padding: 16px;

// =============================================
// Tabs
/// The tab height
/// @link https://www.google.com/design/spec/components/tabs.html#tabs-specs
/// @group tabs
$md-tab-height: 48px;
/// @group tabs
$md-tab-max-width: 246px;
/// @group tabs
$md-tab-min-width: 160px;
/// @group tabs
$md-tab-padding: 12px;
/// @group tabs
$md-tab-slide-height: 2px;
/// @group tabs
$md-tab-slide-transition-time: $md-transition-time * 2 !default;

// =============================================
// Cards
/// The default card padding
/// @link https://www.google.com/design/spec/components/cards.html
/// @group cards
$md-card-padding: $md-default-padding;
/// @group cards
$md-card-padding-extra: 24px;
/// @group cards
$md-card-title-size: 24em / $md-font-size-base;
/// @group cards
$md-card-title-size-small: 16em / $md-font-size-base;


// =============================================
// Avatars
/// The default avatar colors
/// @type {List}
/// @group avatars
$md-avatar-colors: (
  (pink 6 false green 1 true)
  (purple 6 false yellow 3 true)
  (amber 6 false light-blue 4 true)
) !default;


// =============================================
// Selection Controls
/// @link https://www.google.com/design/spec/components/selection-controls.html
/// @group selection-controls
$md-control-container-size: $md-tab-height !default;

/// @group selection-controls
$md-control-switch-background: rgba($black-base, .26) !default;
/// @group selection-controls
$md-control-switch-ball-size: $md-font-icon-size !default;
/// @group selection-controls
$md-control-switch-height: $md-default-padding !default;
/// @group selection-controls
$md-control-switch-radius: $md-control-switch-height / 2 !default;

/// @group selection-controls
$md-control-switch-offset: $md-control-switch-height / 4;
/// @group selection-controls
$md-control-switch-width: $md-control-container-size + $md-control-switch-height - $md-control-switch-offset !default;


// =============================================
// App Bar
/// @group app-bar
$md-app-bar-height: 65px !default;


// =============================================
// Sidebar
$md-sidebar-open-width: 256px !default;
