@import 'colors';

$md-light-theme: true !default;

$md-primary-color: $md-indigo-500 !default;
$md-secondary-color: $md-pink-a-200 !default;

$md-text-color: if($md-light-theme, $md-light-theme-text-color, $md-dark-theme-text-color);
$md-secondary-text-color: if($md-light-theme, $md-light-theme-secondary-text-color, $md-dark-theme-secondary-text-color);
/// @alias md-secondary-text-color
$md-icon-color: $md-secondary-text-color;
$md-disabled-color: if($md-light-theme, $md-light-theme-disabled-text-color, $md-dark-theme-disabled-text-color);
/// @alias md-disabled-color
$md-hint-text-color: $md-disabled-color;
$md-divider-color: if($md-light-theme, $md-light-theme-divider-color, $md-dark-theme-divider-color);
$md-background-color: if($md-light-theme, $md-light-theme-background-color, $md-dark-theme-background-color);
$md-border-color: if($md-light-theme, rgba($md-black-base, .1), rgba($md-white-base, .12));


/// The default transition time
/// @group transitions
$md-transition-time: .15s !default;
/// The default bouncy transition
/// @group transitions
$md-transition-bounce: cubic-bezier(.5, 1.8, .9, .8) !default;

$md-height: 48px;

// Z Indexes
/// @group overlay
$md-overlay-z-index: 3 !default;
/// @group dropdown
$md-dropdown-z-index: 4 !default;
/// @group sidebar
$md-sidebar-z-index: 5 !default;
/// @group sidebar
$md-sidebar-fixed-z-index: 8 !default;
/// @group toolbar
$md-toolbar-z-index: 6 !default;
/// @group snackbar
$md-snackbar-z-index: 6 !default;

$md-dialog-z-index: 26 !default;




// =============================================
// Typography
/// The font family for the application
/// @group typography
$md-font-family: Roboto !default;
/// The font used for the application
/// @group typography
$md-font: '#{$md-font-family}', sans-serif !default;
/// The base font size
/// @group typography
$md-font-size-base: 14;
/// The light text weight
/// @group typography
$md-font-light: 300;
/// The regular text weight
/// @group typography
$md-font-regular: 400;
/// The medium text weight
/// @group typography
$md-font-medium: 500;
/// The bold text weight
/// @group typography
$md-font-bold: 700;
/// A list of all the text weights
/// @group typography
$md-font-weights: ($md-font-light $md-font-regular $md-font-medium $md-font-bold);



$md-display-4-font-size: 112px;
$md-display-4-line-height: 128px;

$md-display-3-font-size: 56px;
$md-display-3-line-height: 84px;

$md-display-2-font-size: 45px;
$md-display-2-line-height: 48px;

$md-display-1-font-size: 34px;
$md-display-1-line-height: 40px;

$md-headline-font-size: 24px;
$md-headline-line-height: 32px;

$md-title-font-size: 20px;
$md-title-line-height: 28px;

$md-subheading-mobile-font-size: 16px;
$md-subheading-desktop-font-size: 15px;
$md-subheading-2-line-height: 28px;
$md-subheading-1-line-height: 24px;

$md-body-mobile-font-size: 14px;
$md-body-desktop-font-size: 13px;
$md-body-2-line-height: 24px;
$md-body-1-line-height: 20px;

$md-caption-font-size: 12px;
$md-line-height: 20 / $md-font-size-base;


// =============================================
// Buttons
/// The default color base for buttons
/// @link https://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons
/// @group buttons
$md-btn-color-base: #999;
/// @group buttons
$md-btn-hover-color: rgba($md-btn-color-base, .2);
/// @group buttons
$md-btn-pressed-color: rgba($md-btn-color-base, .4);

/// @link https://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons
/// @group buttons
$md-btn-min-height: $md-height;
/// @group buttons
$md-btn-height: 36px;
/// @group buttons
$md-btn-padding: ($md-btn-min-height - $md-btn-height) / 2;
/// @group buttons-flat
$md-btn-flat-min-width: 88px;

/// @group buttons-raised
$md-btn-raised-min-width: 64px;

/// @group buttons-fab
$md-btn-fab-size: 56px;
/// @group buttons-fab
$md-btn-fab-size-mini: 40px;


/// The font icon size
/// @group font-icon
$md-font-icon-size: 24px !default;

$md-icon-btn-size: $md-font-icon-size * 2;
$md-icon-btn-padding: $md-icon-btn-size / 4;


/// The default padding used across the board
$md-default-padding: 16px;

/// The default ink animation time
$md-ink-animation-time: .6s !default;
$md-ink-transition-func: linear !default;


// =============================================
// Tabs
$md-tab-height: $md-height;
$md-tab-height-icon: 72px;
$md-tab-max-width: 264px;

$md-tab-mobile-min-width: 72px;
$md-tab-mobile-font-size: 14px;

$md-tab-desktop-font-size: 13px;
$md-tab-desktop-padding: 24px;
$md-tab-desktop-min-width: 160px;

$md-tab-indicator-height: 2px;
$md-tab-icon-padding: 10px;
$md-tab-with-icon-padding-bottom: 16px;
$md-tab-padding: 12px;
$md-tab-single-line-padding-bottom: 20px;
$md-tab-multiline-font-size: 12px;

$md-tab-indicator-transition-time: $md-transition-time * 2 !default;

// =============================================
// Cards
/// The default card padding
/// @link https://www.google.com/design/spec/components/cards.html
/// @group cards
$md-card-padding: $md-default-padding;
/// @group cards
$md-card-padding-extra: 24px;
/// @group cards
$md-card-title-size: 24px;
/// @group cards
$md-card-title-size-small: 14px;
$md-card-actions-padding: 8px;
$md-card-color: $md-white-base;


// =============================================
// Avatars
/// The default size for avatars
/// @type String
$md-avatar-size: 40px;
/// The default avatar colors
/// @type List
/// @group avatars
$md-avatar-colors: (
  ($md-pink-500 $md-green-a-100 color-1)
  ($md-purple-500 $md-yellow-300 color-2)
  ($md-amber-500 $md-light-blue-a-400 color-3)
) !default;


// =============================================
// Selection Controls
$md-switch-light-theme-track-color: rgba($md-black-base, .26);
$md-switch-light-theme-disabled-color: rgba($md-black-base, .12);
$md-switch-dark-theme-track-color: rgba($md-white-base, .3);
$md-switch-dark-theme-disabled-color: rgba($md-white-base, .1);
/// @link https://www.google.com/design/spec/components/selection-controls.html
/// @group selection-controls
$md-switch-height: $md-tab-height !default;

/// @group selection-controls
$md-switch-ball-size: $md-font-icon-size !default;
/// @group selection-controls
$md-switch-bar-height: $md-default-padding !default;
/// @group selection-controls
$md-switch-radius: $md-switch-bar-height / 2 !default;

/// @group selection-controls
$md-switch-offset: $md-switch-bar-height / 4;
/// @group selection-controls
$md-switch-width: $md-switch-height + $md-switch-bar-height - $md-switch-offset !default;


// =============================================
// Toolbar
/// @group toolbar
$md-toolbar-height: 64px !default;
$md-toolbar-mobile-margin: 12px;
$md-toolbar-deskop-margin: 12px;


// =============================================
// Sidebar
$md-sidebar-open-width: 256px !default;


// =============================================
// Snackbar
/// @group snackbar
$md-snackbar-bg-color: #323232;
/// @group snackbar
$md-snackbar-height: $md-height;
/// @group snackbar
$md-snackbar-multiline-height: 80px;
/// The left and right padding for the snackbar
/// @group snackbar
$md-snackbar-lr-padding: 24px;
/// The top and bottom badding for the snackbar
/// @group snackbar
$md-snackbar-tb-padding: 14px;
/// @group snackbar
$md-snackbar-action-left-margin: 48px;
/// @group snackbar
$md-snackbar-desktop-min-width: 288px;
/// @group snackbar
$md-snackbar-desktop-max-width: 568px;
/// @group snackbar
$md-snackbar-desktop-border-radius: 2px;



// =============================================
// Text Fields
$md-text-field-mobile-height: 72px;
$md-text-field-mobile-sl-height: $md-height;
$md-text-field-mobile-padding: 16px;
$md-text-field-mobile-font-size: 16px;
$md-text-field-mobile-divider-padding: 8px;

$md-text-field-desktop-height: 60px;
$md-text-field-desktop-sl-height: 40px;
$md-text-field-desktop-padding: 12px;
$md-text-field-desktop-font-size: 13px;
$md-text-field-desktop-divider-padding: 4px;

$md-text-field-icon-margin: 16px !default;
$md-text-field-divider-height: 2px !default;
$md-text-field-title-font-size: 34px !default;
$md-text-field-info-width: 256px !default;
$md-text-field-info-font-size: 12px;
$md-text-field-floating-label-top: 35px; // No idea why
$md-text-field-active-font-size: 12px;


// =============================================
// Progress
$md-linear-progress-opacity: .3 !default;
$md-linear-progress-height: 4px !default;
$md-linear-progress-color: blue !default;
$md-linear-progress-anim-time: 2.1s !default;
$md-linear-progress-long-transition-func: cubic-bezier(.65, .815, .735, .395) !default;
$md-linear-progress-short-transition-func: cubic-bezier(.165, .84, .44, 1) !default;
$md-linear-progress-short-delay: 1.15s !default;

$md-circular-progress-color-1: blue !default;
$md-circular-progress-color-1-hue: 6 !default;
$md-circular-progress-color-2: yellow !default;
$md-circular-progress-color-2-hue: 6 !default;
$md-circular-progress-color-3: red !default;
$md-circular-progress-color-3-hue: 6 !default;
$md-circular-progress-color-4: green !default;
$md-circular-progress-color-4-hue: 6 !default;
$md-circular-progress-duration: 1.4s !default;
$md-circular-progress-transition-func: ease-in-out !default;
$md-circular-progress-stroke-dashoffset: 187 !default;
$md-circular-progress-determinate-dasharray: 187px !default;


// =============================================
// Select Fields
$md-select-field-padding-left: 24px;


// =============================================
// Lists
$md-list-tile-left-padding: 72px;
$md-tile-left-padding: $md-list-tile-left-padding - $md-default-padding;
$md-list-tile-extra-margin: $md-default-padding / 2;
$md-list-primary-text-font-size: 16px;

// =============================================
// Dropdowns
/// Sets the max height of the dropdown to show 5 and 1/3 items
/// @group dropdown
$md-dropdown-max-height: $md-height * 5 + $md-list-tile-extra-margin * 2 + $md-height / 3 !default;

// =============================================
// Chips
$md-chip-height: 32px;
$md-chip-border-radius: $md-chip-height / 2;
$md-chip-font-size: 13px;
$md-chip-color: rmd-gba($md-black-base, .87);
$md-chip-remove-icon-color: rgba($md-black-base, .54);
$md-chip-remove-icon-size: 24px;
$md-chip-remove-icon-margin: 4px;


// =============================================
// Dialogs
$md-dialog-padding: 24px;
$md-dialog-title-padding-bottom: 20px;
$md-dialog-flat-btn-min-width: 64px;
$md-dialog-flat-btn-lr-padding: 8px;
$md-dialog-content-text-color: $md-secondary-text-color;
$md-dialog-overlay-color: rgba($md-black-base, .45);
$md-dialog-transition-time: $md-transition-time * 2 !default;
$md-dialog-simple-min-width: 56px * 5;
$md-dialog-min-page-margin: 24px 40px;
$md-dialog-translate-distance: -30px !default;



// =============================================
// Date Pickers
$md-pickers-portrait-content-height: 340px !default;
$md-pickers-portrait-width: 320px !default;
$md-pickers-portrait-header-height: 110px !default;
$md-pickers-landscape-header-width: 180px !default;
$md-pickers-landscape-content-height: 280px !default;
$md-pickers-landscape-width: 560px !default;

$md-date-picker-portrait-date-size: 44px !default;
$md-date-picker-portrait-ball-size: 36px !default;
$md-date-picker-landscape-date-size: 35px !default;
$md-date-picker-landscape-ball-size: 32px !default;

$md-clock-portrait-size: $md-pickers-portrait-width - $md-dialog-padding * 2 !default;
$md-clock-landscape-size: $md-pickers-landscape-content-height - $md-dialog-padding - $md-dialog-padding / 2 !default;

$md-pickers-portrait-height: 380px !default;
$md-pickers-landscape-height: 340px !default;

$md-date-picker-year-font-size: 16px !default;
$md-date-picker-calendar-date-font-size: 13px !default;
$md-date-picker-transition-time: $md-transition-time * 2 !default;
$md-date-picker-date-padding: 12px !default;
$md-date-picker-circle-size: 36px !default;

$md-year-picker-font-size: 16px !default;
$md-year-picker-focus-font-size: 20px !default;
$md-year-picker-active-font-size: 24px !default;


// =============================================
// Sliders
$md-slider-ball-size: 14px;

$md-slider-light-theme-off-color: rgba($md-black-base, .26);
$md-slider-light-theme-focus-off-color: rgba($md-black-base, .38);
$md-slider-light-theme-disabled-color: rgba($md-black-base, .26);

$md-slider-dark-theme-off-color: rgba($md-white-base, .3);


// =============================================
// Tooltips
$md-tooltip-mobile-offset: 24px;
$md-tooltip-mobile-font-size: 14px;
$md-tooltip-mobile-lr-padding: 16px;
$md-tooltip-mobile-height: 32px;

$md-tooltip-desktop-offset: 14px;
$md-tooltip-desktop-font-size: 10px;
$md-tooltip-desktop-lr-padding: 8px;
$md-tooltip-desktop-height: 22px;
