$include-md-icons: true !default;
$include-md-font: true !default;

/// The primary color
/// @group Color
$md-primary-color: indigo !default;
/// The primary color lighter hue
/// @group Color
$md-primary-color-hue-light: 3 !default;
/// The primary color darker hue
/// @group Color
$md-primary-color-hue-bold: 7 !default;

/// The secondary color
/// @group Color
$md-secondary-color: pink !default;
/// The secondary color accent hue
/// @group Color
$md-secondary-color-hue: 2 !default;

/// @group Color
$black-base: #000;
/// @group Color
$white-base: #fff;

/// The text color for light backgrounds
/// @link https://www.google.com/design/spec/style/color.html#color-ui-color-application
/// @group Color
$md-text-color: rgba($black-base, .77);
/// The Secondary text color on light backgrounds
/// @group Color
$md-secondary-text-color: rgba($black-base, .54);
/// The color for icons on light backgrounds
/// @alias md-secondary-text-color
/// @group Color
$md-icon-color: $md-secondary-text-color;
/// The color for disabled text on light backgrounds
/// @group Color
$md-disabled-color: rgba($black-base, .38);
/// The hint text color on light backgrounds
/// @alias md-disabled-color
/// @group Color
$md-hint-text-color: $md-disabled-color;
/// The divider color on light backgrounds
/// @group Color
$md-divider-color: rgba($black-base, .12);

/// The text color for dark backgrounds
/// @group Color
$md-text-color-alt: $white-base;

/// The secondary text color for dark backgrounds
/// @group Color
$md-secondary-text-color-alt: rgba($white-base, .70);
/// The icon color for dark backgrounds
/// @alias md-secondary-text-color-alt
/// @group Color
$md-icon-color-alt: $md-secondary-text-color-alt;
/// The disabled text color on dark backgrounds
/// @group Color
$md-disabled-color-alt: rgba($white-base, .30);
/// The hint text color on dark backgrounds
/// @alias md-disabled-color-alt
/// @group Color
$md-hint-text-color-alt: $md-disabled-color-alt;
/// The divider color on dark backgrounds
/// @group Color
$md-divider-color-alt: rgba($white-base, .12);

/// The status bar color for light backgrounds
/// @group Color
$md-status-bar-color: #e0e0e0;
/// The app bar color for light backgrounds
/// @group Color
$md-app-bar-color: #f5f5f5;
/// The main content background color on light backgrounds
/// @group Color
$md-background-color: #fafafa;
/// The card background color on light backgrounds
/// @group Color
$md-card-color: $white-base;

/// The default border color on light backgrounds
/// @group Color
$md-border-color: rgba($black-base, .1);

/// The default transition time
/// @group transitions
$md-transition-time: .15s !default;
/// The default bouncy transition
/// @group transitions
$md-transition-bounce: cubic-bezier(.5, 1.8, .9, .8) !default;

/// The font family for the application
/// @group typography
$md-font-family: Roboto !default;
/// The font used for the application
/// @group typography
$md-font: '#{$md-font-family}', sans-serif !default;
/// The base font size
/// @group typography
$md-font-size-base: 14;
/// The light text weight
/// @group typography
$md-font-light: 300;
/// The regular text weight
/// @group typography
$md-font-regular: 400;
/// The medium text weight
/// @group typography
$md-font-medium: 500;
/// The bold text weight
/// @group typography
$md-font-bold: 700;

/// A list of all the text weights
/// @group typography
$md-font-weights: ($md-font-light $md-font-regular $md-font-medium $md-font-bold);

$md-height: 48px;

// Z Indexes
/// @group overlay
$md-overlay-z-index: 3 !default;
/// @group dropdown
$md-dropdown-z-index: 4 !default;
/// @group sidebar
$md-sidebar-z-index: 5 !default;
/// @group app-bar
$md-app-bar-z-index: 6 !default;
/// @group snackbar
$md-snackbar-z-index: 6 !default;


// =============================================
// Buttons
/// The default color base for buttons
/// @link https://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons
/// @group buttons
$md-btn-color-base: #999;
/// @group buttons
$md-btn-hover-color: rgba($md-btn-color-base, .2);
/// @group buttons
$md-btn-pressed-color: rgba($md-btn-color-base, .4);

/// @link https://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons
/// @group buttons
$md-btn-min-height: $md-height;
/// @group buttons
$md-btn-height: 36px;
/// @group buttons
$md-btn-padding: ($md-btn-min-height - $md-btn-height) / 2;
/// @group buttons-flat
$md-btn-flat-min-width: 88px;

/// @group buttons-raised
$md-btn-raised-min-width: 64px;

/// @group buttons-fab
$md-btn-fab-size: 56px;
/// @group buttons-fab
$md-btn-fab-size-mini: 40px;


/// The font icon size
/// @group font-icon
$md-font-icon-size: 24px !default;
/// The font icon button size
/// @group buttons
/// @see md-font-icon-size
$md-font-icon-btn-size: $md-font-icon-size * 2;


/// The default padding used across the board
$md-default-padding: 16px;

/// The default ink animation time
$md-ink-animation-time: .6s !default;
$md-ink-transition-func: linear !default;


// =============================================
// Tabs
/// The tab height
/// @link https://www.google.com/design/spec/components/tabs.html#tabs-specs
/// @group tabs
$md-tab-height: $md-height;
$md-tab-with-icon-height: 72px;
$md-tab-icon-padding-bottom: 10px;
/// @group tabs
$md-tab-max-width: 246px;
/// @group tabs
$md-tab-min-width: 160px;
/// @group tabs
$md-tab-padding: 12px;
/// @group tabs
$md-tab-slide-height: 2px;
/// @group tabs
$md-tab-slide-transition-time: $md-transition-time * 2 !default;

// =============================================
// Cards
/// The default card padding
/// @link https://www.google.com/design/spec/components/cards.html
/// @group cards
$md-card-padding: $md-default-padding;
/// @group cards
$md-card-padding-extra: 24px;
/// @group cards
$md-card-title-size: 24em / $md-font-size-base;
/// @group cards
$md-card-title-size-small: 16em / $md-font-size-base;


// =============================================
// Avatars
/// The default avatar colors
/// @type {List}
/// @group avatars
$md-avatar-colors: (
  (pink 6 false green 1 true)
  (purple 6 false yellow 3 true)
  (amber 6 false light-blue 4 true)
) !default;


// =============================================
// Selection Controls
/// @link https://www.google.com/design/spec/components/selection-controls.html
/// @group selection-controls
$md-switch-height: $md-tab-height !default;

/// @group selection-controls
$md-switch-background: rgba($black-base, .26) !default;
/// @group selection-controls
$md-switch-ball-size: $md-font-icon-size !default;
/// @group selection-controls
$md-switch-bar-height: $md-default-padding !default;
/// @group selection-controls
$md-switch-radius: $md-switch-bar-height / 2 !default;

/// @group selection-controls
$md-switch-offset: $md-switch-bar-height / 4;
/// @group selection-controls
$md-switch-width: $md-switch-height + $md-switch-bar-height - $md-switch-offset !default;


// =============================================
// App Bar
/// @group app-bar
$md-app-bar-height: 65px !default;


// =============================================
// Sidebar
$md-sidebar-open-width: 256px !default;


// =============================================
// Snackbar
/// @group snackbar
$md-snackbar-bg-color: #323232;
/// @group snackbar
$md-snackbar-height: $md-height;
/// @group snackbar
$md-snackbar-multiline-height: 80px;
/// The left and right padding for the snackbar
/// @group snackbar
$md-snackbar-lr-padding: 24px;
/// The top and bottom badding for the snackbar
/// @group snackbar
$md-snackbar-tb-padding: 14px;
/// @group snackbar
$md-snackbar-action-left-margin: 48px;
/// @group snackbar
$md-snackbar-desktop-min-width: 288px;
/// @group snackbar
$md-snackbar-desktop-max-width: 568px;
/// @group snackbar
$md-snackbar-desktop-border-radius: 2px;



// =============================================
// Text Fields
$md-text-field-height: 72px;
$md-text-field-sl-height: $md-height;
$md-text-field-padding: 16px;
$md-text-field-divider-padding: 8px;
$md-text-field-font-size: 16px;
$md-text-field-active-font-size: 12px;
$md-text-field-icon-font-size: $md-font-icon-size;
$md-text-field-icon-divider-left: $md-text-field-icon-font-size + (($md-text-field-sl-height - $md-text-field-icon-font-size) / 2) + ($md-text-field-sl-height - $md-text-field-icon-font-size);

$md-text-field-dense-height: 60px;
$md-text-field-dense-sl-height: 40px;
$md-text-field-dense-padding: 12px;
$md-text-field-dense-divider-padding: 4px;
$md-text-field-dense-font-size: 13px;
$md-text-field-dense-icon-font-size: 20px;
$md-text-field-dense-icon-divider-left: $md-text-field-dense-icon-font-size + (($md-text-field-dense-sl-height - $md-text-field-dense-icon-font-size) / 2) + ($md-text-field-dense-sl-height - $md-text-field-dense-icon-font-size);

$md-text-field-divider-height: 2px !default;
$md-text-field-info-font-size: 12px;


// =============================================
// Progress
$md-linear-progress-opacity: .3 !default;
$md-linear-progress-height: 4px !default;
$md-linear-progress-color: blue !default;
$md-linear-progress-anim-time: 2.1s !default;
$md-linear-progress-long-transition-func: cubic-bezier(.65, .815, .735, .395) !default;
$md-linear-progress-short-transition-func: cubic-bezier(.165, .84, .44, 1) !default;
$md-linear-progress-short-delay: 1.15s !default;

$md-circular-progress-color-1: blue !default;
$md-circular-progress-color-1-hue: 6 !default;
$md-circular-progress-color-2: yellow !default;
$md-circular-progress-color-2-hue: 6 !default;
$md-circular-progress-color-3: red !default;
$md-circular-progress-color-3-hue: 6 !default;
$md-circular-progress-color-4: green !default;
$md-circular-progress-color-4-hue: 6 !default;
$md-circular-progress-duration: 1.4s !default;
$md-circular-progress-transition-func: ease-in-out !default;
$md-circular-progress-stroke-dashoffset: 187 !default;
$md-circular-progress-determinate-dasharray: 187px !default;


// =============================================
// Select Fields
$md-select-field-padding-left: 24px;


// =============================================
// Lists
$md-list-tile-left-padding: 72px;
$md-tile-left-padding: $md-list-tile-left-padding - $md-default-padding;
$md-list-tile-extra-margin: $md-default-padding / 2;
$md-list-primary-text-font-size: 16px;

// =============================================
// Dropdowns
/// Sets the max height of the dropdown to show 5 and 1/3 items
/// @group dropdown
$md-dropdown-max-height: $md-height * 5 + $md-list-tile-extra-margin * 2 + $md-height / 3 !default;

