@use "everything" as *;
@use "sass:math";

$vertical-inset: 0.5rem;
$inset: $vertical-inset 0;
$border-radius: 0.5rem;

.tabs {
  @include interaction-set-var(ripple-inset, $inset);
  @include interaction-set-var(ripple-border-radius, $border-radius);
  @include interaction-set-var(surface-inset, $inset);
  @include interaction-set-var(surface-border-radius, $border-radius);
}

.tab {
  min-width: 0;

  &::after {
    transform: translateY(math.div(-$vertical-inset, 2));
  }
}
