// sass-lint:disable class-name-format
$rmd-theme-dark-elevation: true;

@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.grid {
  background-color: $rmd-theme-light-background;

  + .grid {
    margin-top: 1rem;
  }

  @include rmd-utils-optional-css-modules($rmd-theme-dark-class, true) {
    background-color: $rmd-theme-dark-background;
  }
}

.item {
  @include rmd-elevation(2);
  @include rmd-theme-dark-elevation(2, true);
  @include rmd-theme(background-color, surface);
  @include rmd-theme(color, text-primary-on-background);

  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 10rem;
  text-align: center;
}

.smallGrid {
  .item {
    min-height: 3rem;
  }
}
