// sass-lint:disable class-name-format
@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.grid {
  background-color: $rmd-theme-light-background;

  + .grid {
    margin-top: 1rem;
  }

  :global .dark-theme :local & {
    background-color: #121212;
  }
}

.item {
  @include rmd-elevation(2);
  @include rmd-theme(background-color, surface);
  @include rmd-theme(color, text-primary-on-background);

  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 10rem;
  text-align: center;

  :global .dark-theme :local & {
    background-color: rgba($rmd-white-base, 0.05);
    color: $rmd-white-base;
  }
}

.smallGrid {
  .item {
    min-height: 3rem;
  }
}
