@import '~@react-md/theme/dist/mixins';
@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/typography/dist/mixins';

.simple-resize {
  @include rmd-elevation(4);

  overflow: hidden;
  transition-duration: 1s;
  transition-property: max-height, max-width;

  &__toggle {
    margin-bottom: 1rem;
  }

  &__table {
    // make it grow to fit the entire max-height
    padding-bottom: 100%;
    width: 100%;
  }

  &__th {
    @include rmd-typography(subtitle-2);
    @include rmd-theme(color, text-secondary-on-background);

    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
  }

  &__td {
    width: 100%;
  }
}
