@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/theme/dist/mixins';

.container {
  margin-top: 1rem;
}

// Why did we wrap the `GridList` component in another div that applies the static height
// along with scroll functionality instead of just on the `GridList` component itself?
//
// If it was on the `GridList` component itself, the grid cells would have additional
// vertical spacing between each row until the height is reached which looks weird.
.restricted {
  @include rmd-utils-scroll;

  height: 20rem;
}
