/// Themes the bottom navigation component for light or dark themes when it is un-colored.
/// The background color will either be the `$md-light-theme-card-color` or the
/// `$md-dark-theme-card-color` depending on the `$light-theme` param.
///
/// @example scss - Example Basic Usage SASS
///   @include md-theme-bottom-navigations-default($md-red-500);
///
/// @example scss - Example Basic Usage CSS Output
///   .md-bottom-navigation.default {
///     background: #fff;
///   }
///
///   .md-bottom-nav.default {
///     color: rgba(0, 0, 0, .87);
///   }
///
///   .md-bottom-nav.default.active {
///     color: #f44336;
///   }
///
/// @param {Color} $primary [$md-primary-color] - The primary color to style with.
/// @param {Bool} $light-theme [$md-light-theme] - Boolean if it should be themed for the light-theme.
/// @group bottom-navigations
@mixin md-theme-bottom-navigations-default($primary: $md-primary-color, $light-theme: $md-light-theme) {
  .md-bottom-navigation.default {
    background: if($light-theme, $md-light-theme-card-color, $md-dark-theme-card-color);
  }

  .md-bottom-nav.default {
    color: if($light-theme, $md-light-theme-text-color, $md-dark-theme-text-color);

    &.active {
      color: $primary;
    }
  }
}

/// Themes the bottom navigation's background color with the given colors.
///
/// @example scss - Example Basic Usage SASS
///   @include md-theme-bottom-navigations-colored($md-red-500, $md-white-base, rgba($md-red-500, .3));
///
/// @example scss - Example Basic Usage CSS Output
///   .md-bottom-navigation.colored {
///     background: #f44336;
///   }
///
///   .md-bottom-nav.colored {
///     color: #fff;
///   }
///
///   .md-bottom-nav.colored .md-ink {
///     color: rgba(#f44336, .3);
///   }
///
/// @param {Color} $bg-color [$md-primary-color] - The background color to use.
/// @param {Color} $text-color [$md-white-base] - The inactive text color to use.
/// @param {Color} $ink-color [rgba($md-white-base, .2)] - The ink color to use for the bottom nav.
/// @group bottom-navigations
@mixin md-theme-bottom-navigations-colored($bg-color: $md-primary-color, $text-color: $md-white-base, $ink-color: rgba($md-white-base, .2)) {
  .md-bottom-navigation.colored {
    background: $bg-color;
  }

  .md-bottom-nav.colored {
    color: $text-color;

    .md-ink {
      background: $ink-color;
    }
  }
}

/// Themes both the default and the colored versions of the Bottom Navigation component.
///
/// @see md-theme-bottom-navigations-default
/// @see md-theme-bottom-navigations-colored
/// @param {Color} $primary [$md-primary-color] - The primary color to theme with.
/// @param {Color} $text-color [$md-white-base] - The text color to use for the colored bottom navigations.
/// @param {Color} $ink-color [rgba($md-white-base, .2)] - The ink color to use for colored bottom navigations.
/// @param {Bool} $light-theme [$md-light-theme] - Boolean if the default bottom navigation should be styled to the light theme.
/// @group bottom-navigations
@mixin md-theme-bottom-navigations($primary: $md-primary-color, $text-color: $md-white-base, $ink-color: rgba($md-white-base, .2), $light-theme: $md-light-theme) {
  @include md-theme-bottom-navigations-default($primary, $light-theme);
  @include md-theme-bottom-navigations-colored($primary, $text-color, $ink-color);
}
