/// Themes the material design buttons with the given color
///
/// @example scss - Example Basic Usage SASS
///   .md-primary {
///     @include md-theme-buttons(get-md-color(indigo));
///   }
///
/// @example scss - Example Basic Usage CSS Output
///   .md-primary.md-raised-btn,
///   .md-primary.md-floating-btn {
///     background: #3f51b5;
///     color: #fff;
///   }
///
///   .md-primary.md-raised-btn:hover,
///   .md-primary.md-floating-btn:hover {
///     background: rgba(63, 81, 181, 0.95);
///   }
///
///   .md-primary.md-raised-btn .md-ink,
///   .md-primary.md-floating-btn .md-ink {
///     background: rgba(255, 255, 255, 0.05);
///   }
///
///   .md-primary.md-flat-btn {
///     color: #ef51b5;
///   }
///
///   .md-primary.md-flat-btn:hover {
///     background: rgba(63, 81, 181, 0.15);
///   }
///
///   .md-primary.md-flat-btn .md-ink {
///     background: rgba(63, 81, 181, 0.22);
///   }
///
/// @param {Color} $color - The background color to use for raised and floating buttons
///                         and the text color to use for flat buttons.
/// @param {Color} $text-color [$white-base] - The text color for raised and floating buttons.
/// @param {Color} $hover-color [rgba($color, .95)] - The hover color for raised and floating buttons.
///        If this value is set to null, it will use the default listed.
/// @param {Color} $ink-color [rgba($white-base, .05)] - The ink color for raised and floating buttons.
///        If this value is set to null, it will use the default listed.
/// @param {Color} $flat-hover-color [rgba($color, .15)] - The hover color for flat buttons.
///        If this value is set to null, it will use the default listed.
/// @param {Color} $flat-ink-color [rgba($color, .22)] - The ink color for flat buttons.
///        If this value is set to null, it will use the default listed.
@mixin md-theme-buttons($color, $text-color: $white-base, $hover-color: null, $ink-color: null, $flat-hover-color: null, $flat-ink-color: null) {
  $hover-color: if($hover-color == null, rgba($color, .95), $hover-color);
  $ink-color: if($ink-color == null, rgba($white-base, .05), $ink-color);
  $flat-hover-color: if($flat-hover-color == null, rgba($color, .15), $flat-hover-color);
  $flat-ink-color: if($flat-ink-color == null, rgba($color, .22), $flat-ink-color);

  &.md-raised-btn,
  &.md-floating-btn {
    background: $color;
    color: $text-color;

    &:hover {
      background: $hover-color;
    }

    .md-ink {
      background: $ink-color;
    }
  }

  &.md-flat-btn {
    color: $color;

    &:hover {
      background: $flat-hover-color;
    }

    .md-ink {
      background: $flat-ink-color;
    }
  }
}

/// Make a material design default button
/// This will generate the style for a flat, raised, and fab button
///
/// @group buttons
/// @param {String} $color - The text color to use
/// @param {String} $hover-focus-bg-color - The hover and focus color for the button
/// @param {String} $active-bg-color - The color to use when active
/// @param {String} $md-ink-bg-color - The md-ink background color
/// @param {String} $raised-border-color [null] - The raised border color. If this value is set,
///   raised and floating buttons will get a background of the white base and the raised buttonm
///   with get a border with the border color
@mixin make-md-btn-default($color, $hover-focus-bg-color, $active-bg-color, $md-ink-bg-color, $raised-border-color: null) {
  .md-btn-default {
    color: $color;

    &:hover,
    &:focus {
      background: $hover-focus-bg-color;
    }

    &:active {
      background: $active-bg-color;
    }

    .md-ink {
      background: $md-ink-bg-color;
    }
  }

  @if $raised-border-color != null {
    .md-btn-raised,
    .md-btn-floating {
      background: $white-base;
    }

    .md-btn-raised {
      border: 1px solid $raised-border-color;
    }
  }
}

/// Make a material design button type
///
/// @group buttons
/// @param {String} $type - The button type to make.
/// @param {String} $color - The color to use for the button.
/// @param {Number} $hover-hue - The hue for the hover color.
/// @param {Number} $md-ink-hue [null] - This is used to generate the flat button.
/// @param {Number} $hue [6] - The color's hue for the button
/// @param {String} $hover-color [$color] - The hover color for the button
/// @param {String} $md-ink-color [$color] - The md-ink's color. It gets an opacity of .3 applied to it
@mixin make-md-btn($type, $color, $hover-hue, $md-ink-hue: null, $hue: 6, $hover-color: $color, $md-ink-color: $color) {
  $secondary: $type == 'secondary';

  .md-btn-#{$type} {
    @if $md-ink-hue != null {
      &.md-btn-flat {
        color: get-md-color($color, $hue, $secondary);

        &:hover,
        &:focus {
          background: rgba(get-md-color($hover-color, $hover-hue, $secondary), .4);
        }

        .md-ink {
          background: rgba(get-md-color($md-ink-color, $md-ink-hue, $secondary), .3);
        }
      }
    } @else {
      &:not(.md-btn-flat) {
        background: get-md-color($color, $hue, $secondary);

        &:hover,
        &:focus {
          background: get-md-color($hover-color, $hover-hue, $secondary);
        }
      }
    }
  }
}

