/// Themes the material design buttons with the given color
///
/// @example scss - Example Basic Usage SASS
///   .md-primary {
///     @include md-theme-buttons($md-primary-color);
///   }
///
/// @example scss - Example Basic Usage CSS Output
///   .md-primary.md-raised-btn,
///   .md-primary.md-floating-btn {
///     background: #3f51b5;
///     color: #fff;
///   }
///
///   .md-primary.md-raised-btn:hover,
///   .md-primary.md-floating-btn:hover {
///     background: rgba(63, 81, 181, 0.95);
///   }
///
///   .md-primary.md-raised-btn .md-ink,
///   .md-primary.md-floating-btn .md-ink {
///     background: rgba(255, 255, 255, 0.05);
///   }
///
///   .md-primary.md-flat-btn {
///     color: #ef51b5;
///   }
///
///   .md-primary.md-flat-btn:hover {
///     background: rgba(63, 81, 181, 0.15);
///   }
///
///   .md-primary.md-flat-btn .md-ink {
///     background: rgba(63, 81, 181, 0.22);
///   }
///
/// @param {Color} $color - The background color to use for raised and floating buttons
///                         and the text color to use for flat buttons.
/// @param {Color} $text-color [$md-white-base] - The text color for raised and floating buttons.
/// @param {Color} $hover-color [rgba($color, .95)] - The hover color for raised and floating buttons.
///        If this value is set to null, it will use the default listed.
/// @param {Color} $ink-color [rgba($md-white-base, .05)] - The ink color for raised and floating buttons.
///        If this value is set to null, it will use the default listed.
/// @param {Color} $flat-hover-color [rgba($color, .15)] - The hover color for flat buttons.
///        If this value is set to null, it will use the default listed.
/// @param {Color} $flat-ink-color [rgba($color, .22)] - The ink color for flat buttons.
///        If this value is set to null, it will use the default listed.
@mixin md-theme-buttons($color, $text-color: $md-white-base, $hover-color: null, $ink-color: null, $flat-hover-color: null, $flat-ink-color: null) {
  $hover-color: if($hover-color == null, rgba($color, .95), $hover-color);
  $ink-color: if($ink-color == null, rgba($md-white-base, .05), $ink-color);
  $flat-hover-color: if($flat-hover-color == null, rgba($color, .15), $flat-hover-color);
  $flat-ink-color: if($flat-ink-color == null, rgba($color, .22), $flat-ink-color);

  &.md-raised-btn:not([disabled]),
  &.md-floating-btn:not([disabled]) {
    background: $color;
    color: $text-color;

    &:hover {
      background: $hover-color;
    }

    .md-ink {
      background: $ink-color;
    }
  }

  &.md-flat-btn:not([disabled]) {
    color: $color;

    &:hover {
      background: $flat-hover-color;
    }

    .md-ink {
      background: $flat-ink-color;
    }
  }
}

