/// Themes the list components with the given colors.
///
/// @param {String} $color - The primary color to use
/// @param {Boolean} $light-theme [$md-light-theme] - Boolean if it should be styled for
///           the light theme or the dark theme.
@mixin md-theme-lists($color, $light-theme: $md-light-theme) {
  .md-list {
    .md-subheader {
      color: if($light-theme, $md-light-theme-secondary-text-color, $md-dark-theme-secondary-text-color);

      &.md-primary-subheader {
        color: $color;
      }
    }
  }

  .md-list-tile {
    &.active,
    &.active .md-icon {
      color: $color;
    }
  }

  .md-list-tile-secondary-text {
    color: if($light-theme, $md-light-theme-secondary-text-color, $md-dark-theme-secondary-text-color);
  }
}

@mixin md-lists-mobile() {
  .md-list {
    padding-bottom: $md-list-mobile-top-padding;
    padding-top: $md-list-mobile-top-padding;
  }

  .md-menu .md-list {
    top: -$md-list-mobile-top-padding;
  }


  .md-list-tile,
  .md-list-item.primary-action,
  .md-list-item.secondary-action {
    height: $md-list-mobile-height;

    &.avatar-height {
      height: $md-list-mobile-avatar-height;
    }

    &.two-lines {
      height: $md-list-mobile-2-line-height;
    }

    &.three-lines {
      height: $md-list-mobile-3-line-height;

      .md-tile-secondary-text {
        // Allows two lines of text
        height: $md-line-height * $md-list-mobile-font-size * 2;
      }
    }
  }

  .md-tile-primary-text {
    font-size: $md-list-mobile-font-size;
  }

  .md-tile-secondary-text {
    font-size: $md-list-mobile-secondary-text-font-size;
  }
}

@mixin md-lists-desktop() {
  .md-list {
    padding-bottom: $md-list-desktop-top-padding;
    padding-top: $md-list-desktop-top-padding;
  }

  .md-menu .md-list {
    top: -$md-list-desktop-top-padding;
  }

  .md-list-tile,
  .md-list-item.primary-action,
  .md-list-item.secondary-action {
    height: $md-list-desktop-height;

    &.avatar-height {
      height: $md-list-desktop-avatar-height;
    }

    &.two-lines {
      height: $md-list-desktop-2-line-height;
    }

    &.three-lines {
      height: $md-list-desktop-3-line-height;

      .md-tile-secondary-text {
        // Allows two lines of text
        height: $md-line-height * $md-list-desktop-font-size * 2;
      }
    }
  }

  .md-tile-primary-text,
  .md-tile-secondary-text {
    font-size: $md-list-desktop-font-size;
  }
}

@mixin md-list-nested-offset($depth, $increment) {
  $selector: '+ .md-list .md-list-tile';
  $full-selector: '';
  $multiplier: 1;
  @for $i from 1 through $depth {
    $full-selector: '#{$full-selector} #{$selector}';

    .md-list-tile #{$full-selector} {
      padding-left: $md-list-tile-left-padding * $multiplier;
    }

    $multiplier: $multiplier + $increment;
  }
}
