@mixin md-navigation-drawer-media($height) {
  .md-navigation-drawer-content,
  .md-navigation-drawer.mini:not(.active) {
    padding-top: $height;
  }

  .md-drawer-header,
  .md-navigation-drawer-toolbar {
    height: $height;

    .md-title {
      line-height: $height;
    }
  }

  .md-navigation-drawer-btn {
    margin-bottom: ($height - $md-icon-btn-size) / 2;
    margin-top: ($height - $md-icon-btn-size) / 2;
  }
}

@mixin md-navigation-drawer-mobile-portait() {
  @include md-navigation-drawer-media($md-toolbar-mobile-portrait-height);
}

@mixin md-navigation-drawer-mobile-landscape() {
  @include md-navigation-drawer-media($md-toolbar-mobile-landscape-height);
}

@mixin md-navigation-drawer-mobile() {
  .md-navigation-drawer {
    left: $md-navigation-drawer-mobile-left;
    width: $md-navigation-drawer-mobile-width;

    &.active {
      @include md-box-shadow(3);

      z-index: $md-navigation-drawer-temporary-z-index;
    }
  }

  .md-navigation-drawer-content .md-navigation-drawer-overlay {
    z-index: $md-navigation-drawer-z-index + 1;
  }
}

@mixin md-navigation-drawer-desktop() {
  @include md-navigation-drawer-media($md-toolbar-desktop-height);

  .md-navigation-drawer {
    left: -$md-navigation-drawer-desktop-width;
    width: $md-navigation-drawer-desktop-width;

    &.floating {
      box-shadow: none;
    }
  }

  .md-navigation-drawer-toolbar {
    &.full-height,
    &.clipped,
    &.floating {
      .md-navigation-drawer-btn {
        display: none;
        visibility: hidden;
      }
    }

    &.full-height,
    &.mini.active,
    &.persistent.active {
      left: $md-navigation-drawer-desktop-width;
    }
  }

  .md-navigation-drawer-content {
    &:not(.temporary) {
      &.active {
        padding-left: $md-navigation-drawer-desktop-width;
        width: 100%;
      }

      .md-navigation-drawer-overlay {
        display: none;
        visibility: hidden;
      }
    }
  }
}

/// Themes the navigation drawers with the given color
///
/// @example scss - Basic Usage SASS
///   @include md-theme-navigation-drawers($md-indigo-500);
///
/// @param primary - the primary color to use
/// @param light-theme [$md-light-theme] - Boolean if it is currently the light theme.
@mixin md-theme-navigation-drawers($primary, $light-theme: $md-light-theme) {
  .md-navigation-drawer {
    background: if($light-theme, $md-white-base, $md-dark-theme-background-color);

    &.floating {
      background: if($light-theme, $md-light-theme-background-color, $md-dark-theme-background-color);
    }
  }

  .md-navigation-drawer-toolbar {
    background: $primary;
  }
}
