/// Styles the navigation drawer component to use a specific toolbar height at a
/// media screen size.
///
/// @access private
/// @param {String} $height - The current height of the toolbar for this media size
/// @group navigation-drawers
@mixin md-navigation-drawer-media($height) {
  .md-navigation-drawer-content {
    padding-top: $height;
  }

  .md-navigation-drawer {
    &.clipped,
    &.floating,
    &.mini:not(.active) {
      max-height: calc(100vh - #{$height});
    }

    &.mini:not(.active) {
      top: $height;
    }

    &.clipped,
    &.floating {
      margin-top: $height;
    }
  }

  .md-drawer-header,
  .md-navigation-drawer-toolbar {
    height: $height;

    .md-title {
      line-height: $height;
    }
  }

  .md-icon-btn {
    margin-bottom: ($height - $md-icon-btn-size) / 2;
    margin-top: ($height - $md-icon-btn-size) / 2;
  }
}

/// Styles the navigation drawer component for a portait mobile device
///
/// @group navigation-drawers
@mixin md-navigation-drawer-mobile-portrait() {
  @include md-navigation-drawer-media($md-toolbar-mobile-portrait-height);
}

/// Styles the navigation drawer component for a landscape mobile device
///
/// @group navigation-drawers
@mixin md-navigation-drawer-mobile-landscape() {
  @include md-navigation-drawer-media($md-toolbar-mobile-landscape-height);
}

/// Styles the navigation drawer component for a landscape tablet device
///
/// @group navigation-drawers
@mixin md-navigation-drawer-tablet-landscape() {
  @include md-navigation-drawer-landscape-devices();
}

/// Styles the navigation drawer component for a mobile device. This updates
/// the drawer so it will always be temporary and updates the width.
///
/// @group navigation-drawers
@mixin md-navigation-drawer-mobile() {
  .md-navigation-drawer {
    @include md-box-shadow(3);

    max-width: $md-navigation-drawer-mobile-max-width;
    width: $md-navigation-drawer-mobile-width;
    z-index: $md-navigation-drawer-temporary-z-index;
  }

  .drawer-enter,
  .drawer-leave.drawer-leave-active {
    left: $md-navigation-drawer-mobile-left;
  }
}


/// Styles the navigation drawer component for larger screened landscape
/// devices. This should be used for landscape tablets and desktop screens.
///
/// @access private
/// @group navigation-drawers
@mixin md-navigation-drawer-landscape-devices() {
  .md-navigation-drawer {
    max-width: $md-navigation-drawer-desktop-max-width;
    width: $md-navigation-drawer-desktop-width;

    &.floating {
      box-shadow: none;
    }

    &.floating,
    &.clipped {
      z-index: $md-navigation-drawer-z-index - 5;
    }

    &.mini.active {
      width: $md-navigation-drawer-desktop-width;
    }
  }

  .md-navigation-drawer-toolbar {
    &.full-height,
    &.mini.active,
    &.persistent.active {
      left: $md-navigation-drawer-desktop-width;
      width: calc(100vw - #{$md-navigation-drawer-desktop-width});
    }
  }

  .md-navigation-drawer-content.active {
    padding-left: $md-navigation-drawer-desktop-width;
    width: 100%;
  }

  .drawer-enter,
  .drawer-leave.drawer-leave-active {
    left: -$md-navigation-drawer-desktop-width;
  }
}

/// Styles the navigation drawer component for desktop displays.
///
/// @group navigation-drawers
@mixin md-navigation-drawer-desktop() {
  @include md-navigation-drawer-media($md-toolbar-desktop-height);
  @include md-navigation-drawer-landscape-devices();
}

/// Themes the navigation drawers with the given color
///
/// @example scss - Basic Usage SASS
///   @include md-theme-navigation-drawers($md-indigo-500);
///
/// @param primary - the primary color to use
/// @param light-theme [$md-light-theme] - Boolean if it is currently the light theme.
@mixin md-theme-navigation-drawers($primary, $light-theme: $md-light-theme) {
  .md-navigation-drawer {
    background: if($light-theme, $md-white-base, $md-dark-theme-background-color);

    &.floating {
      background: if($light-theme, $md-light-theme-background-color, $md-dark-theme-background-color);
    }
  }

  .md-navigation-drawer-toolbar {
    background: $primary;
  }
}
