@mixin md-date-picker-portrait() {
  width: 320px;

  .md-display-1 {
    display: inline-block;

    + .md-display-1 {
      margin-left: 10px;
    }
  }

  .md-date-picker-controls {
    padding: 0 6px;
  }
}

@mixin md-date-picker-landscape() {
  display: flex;
  width: 560px;

  .md-date-picker-header {
    width: 200px;
  }

  .md-date-picker-controls {
    padding: 0 12px;
  }

  .md-calendar-container {
    flex-grow: 1;
  }
}

@mixin md-date-picker-mobile() {
  .md-date-picker:not(.landscape) {
    @include md-date-picker-portrait();
  }
}

@mixin md-date-picker-desktop() {
  .md-date-picker:not(.portrait) {
    @include md-date-picker-landscape();
  }
}
