@mixin md-pickers-portrait() {
  width: $md-pickers-portrait-width;

  &.date-picker {

    .md-display-1 {
      display: inline-block;
    }
  }

  .md-picker-header {
    height: $md-pickers-portrait-header-height;
  }

  .md-time-periods {
    display: inline-block;
    padding-left: 1em;
    padding-right: $md-dialog-padding;
  }

  .md-picker-content {
    height: $md-pickers-portrait-content-height;
  }

  .md-display-3 {
    font-size: 4.8em;
    line-height: 1;
  }

  .md-dows {
    padding-bottom: $md-dialog-padding / 2;
  }

  .md-calendar-date-placeholder,
  .md-calendar-date {
    height: $md-date-picker-portrait-date-size;
  }

  .md-calendar-date:after {
    height: $md-date-picker-portrait-ball-size;
    width: $md-date-picker-portrait-ball-size;
  }

  .md-clock-face {
    height: $md-clock-portrait-size;
    width: $md-clock-portrait-size;
  }

  .md-clock-hand {
    width: ($md-clock-portrait-size - $md-clock-padding - $md-clock-time-size) / 2;

    &.inner-hour {
      width: ($md-clock-portrait-size - $md-clock-padding - $md-clock-time-size * 3) / 2;
    }
  }
}

@mixin md-pickers-landscape() {
  display: flex;
  width: $md-pickers-landscape-width;

  .md-picker-header {
    width: $md-pickers-landscape-header-width;
  }

  .md-picker-content {
    height: $md-pickers-landscape-content-height;
    width: $md-pickers-landscape-width - $md-pickers-landscape-header-width;
  }

  .md-calendar-date-placeholder,
  .md-calendar-date {
    height: $md-date-picker-landscape-date-size;
  }

  .md-calendar-date:after {
    height: $md-date-picker-landscape-ball-size;
    width: $md-date-picker-landscape-ball-size;
  }


  &.time-picker .md-picker-header {
    padding-top: $md-pickers-landscape-content-height / 3;
  }

  .md-clock-face {
    height: $md-clock-landscape-size;
    width: $md-clock-landscape-size;
  }

  .md-clock-hand {
    width: ($md-clock-landscape-size - $md-clock-padding - $md-clock-time-size) / 2;

    &.inner-hour {
      width: ($md-clock-landscape-size - $md-clock-padding - $md-clock-time-size * 3) / 2;
    }
  }

  .md-time-periods {
    margin-left: auto;
    margin-right: 2.5em;
    width: 35px;
  }

  .md-display-3 {
    font-size: 3.25em;
  }
}


@mixin md-date-picker-mobile() {
  .md-picker:not(.landscape) {
    @include md-pickers-portrait();
  }
}

@mixin md-date-picker-desktop() {
  .md-picker:not(.portrait) {
    @include md-pickers-landscape();
  }
}

/// Themes a date picker with the given colors
///
/// @example scss - Basic Usage SASS
///   .my-primary-theme {
///     @inlude md-theme-date-pickers($md-indigo-500, $md-indigo-400);
///   }
///
/// @example scss - Basic Usage Output SCSS
///   .my-primary-theme {
///     .md-date-picker-header,
///     .md-calendar-date.active:after {
///       background: #3f51b5;
///     }
///
///     .md-calendar-date.today,
///     .md-year.active {
///        color: #3f51b5;
///     }
///
///     .md-date-picker-date,
///     .md-date-picker-year {
///       color: rgba(255, 255, 255, 0.7);
///     }
///
///     .md-date-picker-date.active,
///     .md-date-picker-year.active,
///     .md-calendar-date:not([disabled]):hover,
///     .md-calendar-date:not([disabled]):focus,
///     .md-calendar-date:not([disabled]).active {
///       color: #fff;
///     }
///
///     .md-calendar-date:focus:not(.active):after,
///     .md-calendar-date:hover:not(.active):after,
///       background: #7986cb;
///     }
///
///     .md-year:focus:not(.active) {
///       color: #7986cb;
///     }
///
/// @param {Color} $primary - The primary color to use.
/// @param {Color} $hover-color - The hover color to use.
/// @param {Boolean} $light-theme [$md-light-theme] - Boolean if it is the light theme
@mixin md-theme-date-pickers($primary, $hover-color, $light-theme: $md-light-theme) {
  .md-picker.inline {
    background: if($light-theme, $md-light-theme-card-color, $md-dark-theme-card-color);
  }

  .md-picker-header,
  .md-date-picker-header,
  .md-calendar-date.active:after,
  .md-clock-hand,
  .md-clock-hand:before,
  .md-clock-hand:after {
    background: $primary;
  }

  .md-calendar-date.today,
  .md-year.active {
    color: $primary;
  }

  .md-calendar-date:after {
    background: $hover-color;
  }

  .md-year:focus:not(.active) {
    color: $hover-color;
  }

  .md-clock-face {
    background: if($light-theme, $md-grey-300, $md-grey-800);
  }

  .md-clock-hand.invisible-minute:after {
    background: $md-white-base;
    border: $md-clock-hand-ball-border-size solid $primary;
  }

  .md-clock-time {
    color: if($light-theme, $md-black-base, $md-white-base);

    &.active {
      color: if($light-theme, $md-white-base, $md-black-base);
    }
  }
}
