/// Themes the progress bars with the two colors.
///
/// @example scss - Basic Usage SASS
///   @include md-theme-progress($md-blue-500, $md-blue-300);
///
/// @example scss - Basic Usage CSS Output
///   .md-linear-progress-container {
///     background: #2196f3;
///   }
///
///   .md-linear-progress {
///     background: #64b5f6;
///   }
///
///   .md-circular-progress-path {
///     stroke: #2196f3;
///   }
///
/// @param {String} $color - The background color and the svg stroke color
/// @param {String} $inactive-color - The color to use for the linear progress
///        bar. This will be the color of the bar before it that width has been reached.
@mixin md-theme-progress($color, $inactive-color) {
  .md-linear-progress-container {
    background: $inactive-color;
  }

  .md-linear-progress {
    background: $color;
  }

  .md-circular-progress-path {
    stroke: $color;
  }
}
