/// Makes a positioned text field
///
/// @param {String} $font-size - The font size for the select field
/// @param {String} $height - the height of the select field
/// @param {String} $padding - The overall padding that should be used. It will be divided by 2
/// @param {String} $divider-bottom - The bottom position of the divider in the select field
@mixin make-positioned-select-field($font-size, $height, $padding, $divider-bottom) {
  .md-form .md-select-field,
  .md-select-field.text-field-positioned {
    font-size: $font-size;
    height: $height;
    padding-bottom: $padding / 2;
    padding-top: $padding / 2;

    .md-divider {
      bottom: $divider-bottom;
    }
  }
}

/// Adds additional css to the select field for mobile devices
///
/// @example scss - Example Usage SASS
///   @media only screen and (min-width: 0px) and (max-width: 599px) {
///     @include md-select-field-mobile();
///   }
@mixin md-select-field-mobile() {
  @include make-positioned-select-field(
    $md-text-field-mobile-font-size,
    $md-text-field-mobile-sl-height,
    $md-text-field-mobile-padding,
    $md-text-field-mobile-divider-padding
  );
}

/// Adds additional css to the select field for desktop
///
/// @example scss - Example Usage SASS
///   @media only screen and (min-width: 600px) {
///     @include md-select-field-desktop();
///   }
@mixin md-select-field-desktop() {
  @include make-positioned-select-field(
    $md-text-field-desktop-font-size,
    $md-text-field-desktop-sl-height,
    $md-text-field-desktop-padding,
    $md-text-field-desktop-divider-padding
  );
}
