/// Adds additional css to the select field for mobile devices
///
/// @example scss - Example Usage SASS
///   @media only screen and (min-width: 0px) and (max-width: 599px) {
///     @include md-select-field-mobile();
///   }
///
/// @group select-fields
@mixin md-select-field-mobile() {
  .md-menu.md-select-field-menu:not(.md-transition-below) {
    top: $md-select-field-mobile-top;

    &.single-line {
      top: -$md-list-mobile-top-padding;
    }
  }
}

/// Adds additional css to the select field for desktop
///
/// @example scss - Example Usage SASS
///   @media only screen and (min-width: 600px) {
///     @include md-select-field-desktop();
///   }
///
/// @group select-fields
@mixin md-select-field-desktop() {
  .md-menu.md-select-field-menu:not(.md-transition-below) {
    top: $md-select-field-desktop-top;

    &.single-line {
      top: -$md-list-desktop-top-padding;
    }
  }
}
