/// Themes the selection controls to use the given color
///
/// Note: If this is the dark theme, the $color param should be a -200 suffix.
///
/// @param {String} $color - The color to style with
/// @param {Boolean} $light-theme [$md-light-theme] - If it should be styled using the light theme
/// @group selection-controls
@mixin md-theme-selection-controls($color, $light-theme: $md-light-theme) {
  .md-radio,
  .md-checkbox {
    &.active {
      color: $color;
    }
  }

  .md-control-container.disabled {
    .label {
      color: if($light-theme, $md-light-theme-disabled-text-color, $md-dark-theme-disabled-text-color);
    }

    .md-switch {
      background: if($light-theme, $md-switch-light-theme-disabled-color, $md-switch-dark-theme-disabled-color);

      &::before {
        background: if($light-theme, $md-grey-400, $md-grey-800);
      }
    }
  }

  .md-control-input:checked + .md-switch {
    background: rgba($color, .5);
  }

  .md-control-input:checked +.md-switch::before {
    background: $color;
    border-color: $color;
  }

  .md-switch {
    background: if($light-theme, $md-switch-light-theme-track-color, $md-switch-dark-theme-track-color);

    &::before {
      background: if($light-theme, $md-grey-50, $md-grey-400);
    }
  }
}
