/// Makes a positioned text field
///
/// @param {String} $font-size - The font size for the select field
/// @param {String} $height - the height of the select field
/// @param {String} $padding - The overall padding that should be used. It will be divided by 2
/// @param {String} $divider-bottom - The bottom position of the divider in the select field
@mixin make-positioned-select-field($font-size, $height, $padding, $divider-bottom) {
  .md-form .md-select-field,
  .md-select-field.text-field-positioned {
    font-size: $font-size;
    height: $height;
    padding-bottom: $padding / 2;
    padding-top: $padding / 2;

    .md-divider {
      bottom: $divider-bottom;
    }
  }
}
