/// Updates the sidebar to be styled for mobile devices.
///
/// @group sidebars
@mixin md-sidebar-mobile() {
  .md-sidebar {
    max-width: $md-sidebar-mobile-max-width;

    &.active {
      width: calc(100vw - 56px);
    }
  }

  .md-sidebar,
  .md-sidebar-container.responsive {
    height: 100vh;
    position: fixed;
  }

  .md-toolbar-container.fixed ~ .md-sidebar-container.responsive {
    padding-top: 0;
  }

  .md-sidebar-container.responsive {
    z-index: $md-sidebar-fixed-z-index;
  }
}

/// Updates the sidebar to be styled for desktop screens.
///
/// @group sidebars
@mixin md-sidebar-desktop() {
  .md-sidebar-container.responsive {
    position: fixed;

    .md-overlay {
      display: none;
      visibility: hidden;
    }
  }

  .md-toolbar-container ~ .md-sidebar-container .md-sidebar {
    margin-top: $md-toolbar-height;
    max-height: calc(100vh - #{$md-toolbar-height});
  }

  .md-sidebar {
    &.md-sidebar-left {
      max-width: $md-sidebar-desktop-max-width;
    }

    &.active {
      width: $md-sidebar-open-width;
    }
  }
}
