/// Themes the sliders to the given colors.
///
/// @param {String} $color - The primary color to use
/// @param {String} $ink-color - The ink color to use for sliders. Defaults to
///         using the primary color with a 16% opacity.
/// @param {String} $ball-zeroed-color - The color for the slider ball when the
///         value is the current minimum. It defaults to the background color
///         of the current theme.
/// @param {Boolean} $light-theme [$md-light-theme] - Boolean if the sliders should
///         be styled to the light or dark theme.
/// @group sliders
//@mixin md-theme-sliders($color, $ink-color: null, $ball-zeroed-color: null, $light-theme: $md-light-theme) {
//  @if $ink-color == null {
//    $ink-color: rgba($color, .16);
//  }
//
//  @if $ball-zeroed-color == null {
//    $ball-zeroed-color: if($light-theme, $md-white-base, $md-dark-theme-background-color);
//  }
//
//  $off-color: if($light-theme, $md-slider-light-theme-off-color, $md-slider-dark-theme-off-color);
//  $focus-off-color: if($light-theme, $md-slider-light-theme-focus-off-color, $md-slider-dark-theme-off-color);
//  $disabled-color: if($light-theme, $md-slider-light-theme-disabled-color, $md-slider-dark-theme-off-color);
//
//  .md-slider-track::before {
//    background: $off-color;
//  }
//
//  .md-slider-thumb.valued,
//  .md-slider-track .md-track-fill {
//    background: $color;
//  }
//
//  .md-discrete-slider-thumb.zeroed {
//    background: if($light-theme, $md-black-base, $md-white-base);
//
//    &.active {
//      background: $md-grey-400;
//
//      &::after {
//        border-top-color: $md-grey-400;
//      }
//    }
//  }
//
//  .md-discrete-slider-thumb.active::after {
//    border-top-color: $color;
//  }
//
//  .md-slider-thumb {
//    background: $ball-zeroed-color;
//    color: $off-color;
//
//    &.zeroed {
//      border-color: $off-color;
//    }
//
//    &.valued .md-ink {
//      background: $ink-color;
//    }
//  }
//}
