@mixin make-text-field-with-font-size($name, $font-size, $media-font-size, $fl-height, $sl-height) {
  .#{$name} {
    .md-floating-label,
    .md-text-field {
      font-size: $font-size;
    }

    .md-text-field {
      height: $fl-height + ($font-size - $media-font-size);

      &.single-line {
        height: $sl-height + ($font-size - $media-font-size);
      }
    }
  }
}

/// Creates a text field
///
/// @param {Number} $fl-height - The height of the text field with a floating label.
/// @param {Number} $sl-height - The height of the text field without a floating label (single line).
/// @param {String} $font-size - The font size for the text field.
/// @param {String} $padding - The padding to be used on the text field and the label.
/// @param {String} $divider-padding - The padding to use for the text-field-divider at the bottom of the text field.
@mixin make-text-field($fl-height, $sl-height, $font-size, $padding, $divider-padding) {
  @include make-text-field-with-font-size(md-title-text-field, $md-text-field-title-font-size, $font-size, $fl-height, $sl-height);

  .md-text-field,
  .md-floating-label {
    font-size: $font-size;
  }

  .md-text-field {
    height: $fl-height;
    padding-bottom: $padding;

    &.single-line {
      height: $sl-height;
      padding-top: $padding;
    }

    &.multi-line {
      margin-bottom: $padding;
    }

    &.full-width {
      padding: $padding + 4;

      &:not(.multi-line) {
        height: $fl-height - $padding;
      }
    }
  }

  .md-floating-label.active {
    top: $padding;
  }

  .md-text-divider {
    bottom: $divider-padding;

    &.icon-offset {
      $offset: $sl-height + $md-text-field-icon-margin;

      left: $offset;
      width: calc(100% - #{$offset});
    }
  }

  .md-text-field-icon {
    padding: ($sl-height - $md-font-icon-size) / 2;

    &.with-floating-label {
      vertical-align: bottom;
    }
  }
}

/// Generates css for a text field on mobile devices
///
/// @example scss - Example Basic Usage SASS
///   @media only screen and (min-width: 0px) and (max-width: 599px) {
///     @include md-text-field-mobile();
///   }
@mixin md-text-field-mobile() {
  @include make-text-field(
    $md-text-field-mobile-height,
    $md-text-field-mobile-sl-height,
    $md-text-field-mobile-font-size,
    $md-text-field-mobile-padding,
    $md-text-field-mobile-divider-padding
  );
}

/// Generates css for a text field on desktop
///
/// @example scss - Example Basic Usage SASS
///   @media only screen and (min-width: 600px) {
///     @include md-text-field-desktop();
///   }
@mixin md-text-field-desktop() {
  @include make-text-field(
    $md-text-field-desktop-height,
    $md-text-field-desktop-sl-height,
    $md-text-field-desktop-font-size,
    $md-text-field-desktop-padding,
    $md-text-field-desktop-divider-padding
  );
}

/// Themes the text fields for the given color. This theme mixin does not use the "&." syntax.
///
/// @example scss - Example Usage SASS
///   @include md-theme-text-fields(get-md-color($md-primary-color));
///
/// @example scss - Example Usage CSS Output
///  .md-text-field-label,
///  .md-text-field-icon,
///  .md-text-field-message {
///    color: rgba(0, 0, 0, 0.54);
///  }
///
///  .md-floating-label.error,
///  .md-text-field-message.error,
///  .md-text-field-icon.error {
///    color: #f44336;
///  }
///
///  .md-text-field-icon.active,
///  .md-text-field-label.focus:not(.error) {
///    color: #3f51b5;
///  }
///
///  .md-text-field-divider:after {
///    background: #3f51b5;
///  }
///
///  .md-text-field-divider.error:after {
///    background: #f44336;
///  }
///
/// @param {Color} $color [get-md-color($md-primary-color)] - The color to use for the active colors
///        on the underline and icons.
/// @param {Color} $hint-color [$md-secondary-text-color] - The color for inactive text field labels and icons
///        and the hint text underneath the text fields.
/// @param {Color} $error-color [get-md-color(red)] - The error color to use for the text field
///        underlines, icons, floating labels and error message text when there is an error.
@mixin md-theme-text-fields($color: get-md-color($md-primary-color), $hint-color: $md-secondary-text-color, $error-color: get-md-color(red)) {
  .md-floating-label,
  .md-text-field-message,
  .md-text-field-icon {
    color: $hint-color;

    &.error {
      color: $error-color;
    }
  }

  .md-text-field-icon.active,
  .md-floating-label.active:not(.error) {
    color: $color;
  }

  .md-text-divider {
    &:after {
      background: $color;
    }

    &.error:after {
      background: $error-color;
    }
  }
}
