/// Creates a text field
///
/// @param {Number} $fl-height - The height of the text field with a floating label.
/// @param {Number} $nl-height - The height of the text field without a floating label (single line).
/// @param {String} $font-size - The font size for the text field.
/// @param {String} $padding - The padding to be used on the text field and the label.
/// @param {String} $divider-bottom - The distance the divider is from the bottom of the text field container.
/// @param {String} $icon-font-size - The font size for the single line text field with an icon
/// @param {String} $icon-divider-left - The left position for the text field divider when there is an icon.
@mixin make-text-field($fl-height, $nl-height, $font-size, $padding, $divider-bottom, $icon-font-size, $icon-divider-left) {
  .md-text-field-container {
    .md-icon {
      $left: $icon-font-size + (($nl-height - $icon-font-size) / 2) + ($nl-height - $icon-font-size);
      font-size: $icon-font-size;
      padding: ($nl-height - $icon-font-size) / 2;
      padding-right: $nl-height - $icon-font-size;

      ~ .md-text-field,
      ~ .md-text-field-divider {
        width: calc(100% - #{$left});
      }

      ~ .md-text-field-divider {
        left: $left;
      }
    }
  }

  .md-text-field-container.single-line {
    .md-text-field-label-container {
      height: $fl-height;
    }

    .md-text-field-label.active {
      bottom: $fl-height - $font-size - $padding;
    }

    .md-text-field-divider {
      bottom: $divider-bottom;
    }

    .md-text-field,
    .md-text-field-label {
      bottom: $padding;
    }


    &.no-label {
      .md-text-field-label-container {
        height: $nl-height;
      }

      .md-text-field-label.active {
        bottom: $nl-height - $font-size - $padding;
      }
    }
  }

  .md-text-field,
  .md-text-field-label {
    font-size: $font-size;
  }

  .md-text-field-container.multi-line {

    .md-text-field-label {
      display: block;
      padding-bottom: $padding / 2;
    }

    .md-text-field {
      transition: height $md-transition-time;
    }

    .md-text-field-divider {
      margin-bottom: $padding / 2 - 1;
      margin-top: $padding / 2 - 1;
    }
  }

  .md-text-field-container.full-width {
    .md-text-field {
      padding: $padding;
    }
  }
}

/// Generates css for a text field on mobile devices
///
/// @example scss - Example Basic Usage SASS
///   @media only screen and (min-width: 0px) and (max-width: 599px) {
///     @include md-text-field-mobile();
///   }
@mixin md-text-field-mobile() {
  @include make-text-field(
    $md-text-field-mobile-height,
    $md-text-field-mobile-sl-height,
    $md-text-field-mobile-font-size,
    $md-text-field-mobile-padding,
    $md-text-field-mobile-divider-padding,
    $md-text-field-mobile-icon-font-size,
    $md-text-field-mobile-icon-divider-left
  );
}

/// Generates css for a text field on desktop
///
/// @example scss - Example Basic Usage SASS
///   @media only screen and (min-width: 600px) {
///     @include md-text-field-desktop();
///   }
@mixin md-text-field-desktop() {
  @include make-text-field(
    $md-text-field-desktop-height,
    $md-text-field-desktop-sl-height,
    $md-text-field-desktop-font-size,
    $md-text-field-desktop-padding,
    $md-text-field-desktop-divider-padding,
    $md-text-field-desktop-icon-font-size,
    $md-text-field-desktop-icon-divider-left
  );
}

/// Themes the text fields for the given color. This theme mixin does not use the "&." syntax.
///
/// @example scss - Example Usage SASS
///   @include md-theme-text-fields(get-md-color($md-primary-color));
///
/// @example scss - Example Usage CSS Output
///  .md-text-field-label.error,
///  .md-text-field-info.error,
///  .md-text-field-container .md-icon.error {
///    color: #f44336;
///  }
///
///  .md-text-field-divider.error:after {
///    background: #f44336;
///  }
///
///  .md-text-field-label,
///  .md-text-field-container .md-icon.hint,
///  .md-text-field-info {
///    color: rgba(0, 0, 0, 0.54);
///  }
///
///  .md-text-field-container .md-icon.active,
///  .md-text-field-label.focus:not(.error) {
///    color: #3f51b5;
///  }
///
///  .md-text-field-divider:after {
///    background: #3f51b5;
///  }
///
/// @param {Color} $color [get-md-color($md-primary-color)] - The color to use for the active colors
///        on the underline and icons.
/// @param {Color} $hint-color [$md-secondary-text-color] - The color for inactive text field labels and icons
///        and the hint text underneath the text fields.
/// @param {Color} $error-color [get-md-color(red)] - The error color to use for the text field
///        underlines, icons, floating labels and error message text when there is an error.
@mixin md-theme-text-fields($color: get-md-color($md-primary-color), $hint-color: $md-secondary-text-color, $error-color: get-md-color(red)) {
  .md-text-field-label.error,
  .md-text-field-info.error,
  .md-text-field-container .md-icon.error {
    color: $error-color;
  }

  .md-text-field-divider.error:after {
    background: $error-color;
  }

  .md-text-field-label,
  .md-text-field-container .md-icon.hint,
  .md-text-field-info {
    color: $hint-color;
  }

  .md-text-field-container .md-icon.active,
  .md-text-field-label.focus:not(.error) {
    color: $color;
  }

  .md-text-field-divider:after {
    background: $color;
  }
}
