/// Themes most of the components with the given colors.
/// Avatars are excluded from this mixin.
///
/// @param {Color} $primary [$md-primary-color] - The primary color to theme with
/// @param {Color} $primary-hue-1 [$md-primary-color-hue-1] - A hue color to use
///       for date pickers
/// @param {Color} $secondary [$md-secondary-color] - The secondary color to use
/// @param {Color} $secondary-hue-1 [$md-secondary-color-hue-1] - A hue color to use
///       for the progress bar at an inactive state.
/// @group colors
@mixin md-theme-most($primary: $md-primary-color, $primary-hue-1: $md-primary-color-hue-1, $secondary: $md-secondary-color, $secondary-hue-1: $md-secondary-color-hue-1) {
  @include md-theme-bottom-navigations($primary);
  @include md-theme-navigation-drawers($primary);
  @include md-theme-snackbars($primary);
  @include md-theme-pickers($primary, $primary-hue-1);
  @include md-theme-progress($secondary, $secondary-hue-1);

  .md-primary {
    @include md-theme-toolbars($primary, $md-white-base);
    @include md-theme-tabs($primary, $secondary);
  }
}
