/// Themes the app bar to the given colors
///
/// @example scss- Example Basic Usage SASS
///   .md-primary {
///     @include md-theme-toolbar($md-primary-color);
///   }
///
/// @example scss - Example Basic Usage CSS Output
///   .md-primary.md-toolbar {
///     background: #3f51b5;
///     color: #fff;
///    }
///
/// @param {Color} $color - The background colro for the app bar
/// @param {Color} $text-color - The text color to use in the app bar
/// @group toolbars
@mixin md-theme-toolbars($color, $text-color) {
  &.md-toolbar {
    background: $color;
    color: $text-color;
  }
}

/// Adds additional css to the app bar for mobile devices
///
/// @example scss - Example Usage SASS
///   @media only screen and (min-width: 0px) and (max-width: 599px) {
///     @include md-toolbar-mobile();
///   }
///
/// @group toolbars
@mixin md-toolbar-mobile() {
  .md-toolbar {
    .action-left,
    .action-area {
      margin-left: $md-toolbar-mobile-margin;
      margin-right: $md-toolbar-mobile-margin;
    }
  }
}

/// Adds additional css to the app bar for desktop
///
/// @example scss - Example Usage SASS
///   @media only screen and (min-width: 600px) {
///     @include md-toolbar-desktop();
///   }
///
/// @group toolbars
@mixin md-toolbar-desktop() {
  .md-toolbar {
    .action-left,
    .action-area {
      margin-left: $md-toolbar-deskop-margin;
      margin-right: $md-toolbar-deskop-margin;
    }
  }
}
