/// Additional styling for tooltips on mobile devices.
///
/// @group tooltips
@mixin md-tooltips-mobile() {
  .md-tooltip {
    height: $md-tooltip-mobile-height;
    padding-left: $md-tooltip-mobile-lr-padding;
    padding-right: $md-tooltip-mobile-lr-padding;
  }

  .md-tooltip-text {
    font-size: $md-tooltip-mobile-font-size;
    line-height: $md-tooltip-mobile-height;
  }
}

/// Additional styling for tooltips on desktop screens.
///
/// @group tooltips
@mixin md-tooltips-desktop() {
  .md-tooltip {
    height: $md-tooltip-desktop-height;
    padding-left: $md-tooltip-desktop-lr-padding;
    padding-right: $md-tooltip-desktop-lr-padding;
  }

  .md-tooltip-text {
    font-size: $md-tooltip-desktop-font-size;
    line-height: $md-tooltip-desktop-height;
  }
}
