/// Themes the app bar to the given colors
///
/// @example scss- Example Basic Usage SASS
///   .md-primary {
///     @include md-theme-toolbar($md-primary-color);
///   }
///
/// @example scss - Example Basic Usage CSS Output
///   .md-primary.md-toolbar {
///     background: #3f51b5;
///     color: #fff;
///    }
///
/// @param {Color} $color - The background colro for the app bar
/// @param {Color} $text-color - The text color to use in the app bar
/// @group toolbars
@mixin md-theme-toolbars($color, $text-color) {
  &.md-toolbar {
    background: $color;
    color: $text-color;
  }
}

@mixin md-toolbar-mobile-landscape() {
  .md-toolbar,
  .md-toolbar .md-text-field:not(.multi-line) {
    height: $md-toolbar-mobile-landscape-height;
  }

  .md-toolbar .md-text-field:not(.multi-line) {
    line-height: $md-toolbar-mobile-landscape-height;
  }
}

@mixin md-toolbar-mobile-portait() {
  .md-toolbar,
  .md-toolbar .md-text-field:not(.multi-line) {
    height: $md-toolbar-mobile-portrait-height;
  }

  .md-toolbar .md-text-field:not(.multi-line) {
    line-height: $md-toolbar-mobile-portrait-height;
  }
}

/// Adds additional css to the app bar for desktop
///
/// @group toolbars
@mixin md-toolbar-desktop() {
  .md-toolbar,
  .md-toolbar .md-text-field:not(.multi-line) {
    height: $md-toolbar-desktop-height;
  }

  .md-toolbar .md-text-field:not(.multi-line) {
    line-height: $md-toolbar-desktop-height;
  }
}
