@import '~react-md-scss';
@import '~sass-utils';

@mixin create-theme($name, $primary, $primary-hue, $secondary, $secondary-hue, $light-theme: $md-light-theme) {
  @if not $light-theme {
    @include react-md-theme-everything(
      $primary,
      $secondary,
      $md-linear-progress-swatch,
      $md-text-field-error-color,
      false,
      $name
    );
  }


  .#{$name} {
    @if $light-theme {
      @include md-theme-most(
        $primary,
        $primary-hue,
        $secondary,
        $secondary-hue
      );

      @include react-md-theme-everything($primary, $secondary);
    }

    .banner {
      background: $primary;
    }

    // scss-lint:disable IdSelector
    #table-of-contents,
    #table-of-contents + ul {
      border-left-color: $primary;
    }

    .phone-size-container .md-toolbar--fixed::before {
      background: $primary;
    }
  }
}

@include create-theme('theme-1', $md-light-blue-500, $md-light-blue-300, $md-deep-orange-a-200, $md-deep-orange-a-100);
@include create-theme('theme-2', $md-purple-500, $md-purple-300, $md-light-green-a-700, $md-light-green-a-200);
@include create-theme('theme-3', $md-blue-500, $md-blue-300, $md-amber-a-200, $md-amber-a-100);
@include create-theme('theme-4', $md-cyan-500, $md-cyan-300, $md-yellow-a-700, $md-yellow-a-200);
@include create-theme('theme-5', $md-orange-500, $md-orange-300, $md-deep-purple-a-200, $md-deep-purple-a-100);
@include create-theme('theme-dark', $md-light-blue-500, $md-light-blue-300, $md-deep-orange-a-200, $md-deep-orange-a-100, false);

.theme-switcher {
  height: $md-toolbar-desktop-height;
}

@media only screen and (orientation: portrait) and (max-width: 599px) {
  .theme-switcher {
    height: $md-toolbar-mobile-portrait-height;
  }
}

@media only screen and (orientation: landscape) and (max-width: 599px) {
  .theme-switcher {
    height: $md-toolbar-mobile-landscape-height;
  }
}
