node_modules
/coverage

/.next/
/out/

/.pnp
.pnp.js

/prev
/public
/examples

*.cjs
packages/material-icons/*.mjs
packages/material-icons/*.cjs
packages/material-icons/src/**
packages/codemod/transforms/**/__testfixtures__

/packages/*/esm
/packages/*/dist
/packages/*/types

svgo.config.js
