{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
      "node": true,
      "browser": true
  },
  "rules": {
    // Want to use the *hidden* functions for different documentation
    "no-underscore-dangle": 0,

    // I like classnames to be quoted
    "quote-props": 0,
    "no-else-return": 0,

    "max-len": [2, 120],

    "no-mixed-operators": 0,
    "global-require": 0,

    "prefer-spread": 0,

    "no-param-reassign": 0,

    "import/imports-first": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/newline-after-import": 0,
    "import/no-named-as-default": 0,

    // Jest does not work on stateless functions.
    "react/prefer-stateless-function": 0,
    "react/no-find-dom-node": 0,
    "react/no-string-refs": 0,

    // Can't use .jsx if I want to support non-webpack builds.
    "react/jsx-filename-extension": 0
  }
}
