packages/material-icons/src
packages/documentation/src/constants/sandboxes
packages/documentation/src/components/SassDocPage
packages/codemod/transforms/**/__tests__
packages/codemod/transforms/**/__testfixtures__

# this is needed to fix a config extension error for "@ljharb" in the qs library
packages/*/node_modules

/examples
/testSetup
/packages/*/es
/packages/*/lib
/packages/*/bin
/packages/*/types
/packages/*/dist
/packages/dev-utils/typedoc
