node_modules
/coverage

/.next/
/out/

/.pnp
.pnp.js

/prev
/public

*.cjs
packges/material-icons/**/*.ts
packges/material-icons/**/*.tsx
packges/material-icons/**/*.mjs
packges/material-icons/**/*.cjs

svgo.config.js
