# Caches and modules
.jest-cache
.sass-cache
node_modules

# Compiled files
/packages/*/es
/packages/*/lib
/packages/*/dist
/packages/*/types
/packages/dev-utils/bin
/packages/material-icons/bin
/packages/material-icons/temp
.next

# Testing
coverage

# Others
.DS_STORE
*.log
