# Caches and modules
.jest-cache
.sass-cache
node_modules

# Compiled files
/packages/*/es
/packages/*/lib
/packages/*/dist
/packages/*/types

!/packages/generator/src/typedoc/lib
/packages/examples/**/*.css

# misc
/packages/examples/build
/packages/examples/.env.local
/packages/examples/.env.development.local
/packages/examples/.env.test.local
/packages/examples/.env.production.local

# Testing
coverage

# Others
.DS_STORE
*.log
