node_modules
.next
public/docs
/prev

# also ignore coverage in subdirectories
coverage/

pnpm*.yaml

CHANGELOG.md
**/CHANGELOG.md

# these will be handled automatically with the material icons script
packages/material-icons/**/*.ts
packages/material-icons/**/*.tsx
packages/material-icons/**/*.mjs
packages/material-icons/*.d.ts
packages/material-icons/*.js
packages/codemod/bin/

packages/codemod/transforms/**/__testfixtures__

generating.json
material-metadata.json
