{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "baseUrl": ".",
    "paths": {
      "@react-md/alert": ["./packages/alert/src/index.ts"],
      "@react-md/app-bar": ["./packages/app-bar/src/index.ts"],
      "@react-md/autocomplete": ["./packages/autocomplete/src/index.ts"],
      "@react-md/avatar": ["./packages/avatar/src/index.ts"],
      "@react-md/badge": ["./packages/badge/src/index.ts"],
      "@react-md/button": ["./packages/button/src/index.ts"],
      "@react-md/card": ["./packages/card/src/index.ts"],
      "@react-md/chip": ["./packages/chip/src/index.ts"],
      "@react-md/dialog": ["./packages/dialog/src/index.ts"],
      "@react-md/divider": ["./packages/divider/src/index.ts"],
      "@react-md/elevation": ["./packages/elevation/src/index.ts"],
      "@react-md/expansion-panel": ["./packages/expansion-panel/src/index.ts"],
      "@react-md/form": ["./packages/form/src/index.ts"],
      "@react-md/icon": ["./packages/icon/src/index.ts"],
      "@react-md/layout": ["./packages/layout/src/index.ts"],
      "@react-md/link": ["./packages/link/src/index.ts"],
      "@react-md/list": ["./packages/list/src/index.ts"],
      "@react-md/material-icons": ["./packages/material-icons/src/index.ts"],
      "@react-md/media": ["./packages/media/src/index.ts"],
      "@react-md/menu": ["./packages/menu/src/index.ts"],
      "@react-md/overlay": ["./packages/overlay/src/index.ts"],
      "@react-md/portal": ["./packages/portal/src/index.ts"],
      "@react-md/progress": ["./packages/progress/src/index.ts"],
      "@react-md/react-md": ["./packages/react-md/src/index.ts"],
      "@react-md/sheet": ["./packages/sheet/src/index.ts"],
      "@react-md/states": ["./packages/states/src/index.ts"],
      "@react-md/table": ["./packages/table/src/index.ts"],
      "@react-md/tabs": ["./packages/tabs/src/index.ts"],
      "@react-md/theme": ["./packages/theme/src/index.ts"],
      "@react-md/tooltip": ["./packages/tooltip/src/index.ts"],
      "@react-md/transition": ["./packages/transition/src/index.ts"],
      "@react-md/tree": ["./packages/tree/src/index.ts"],
      "@react-md/typography": ["./packages/typography/src/index.ts"],
      "@react-md/utils": ["./packages/utils/src/index.ts"]
    }
  }
}
