language: node_js
before_install:
  - rvm install 2.2
  - gem install sass scss_lint
node_js:
  - "4"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
       ubuntu-toolchain-r-test
    packages:
      - g++-4.8
sudo: false
cache:
  directories:
    - node_modules
    - .jest-cache
script:
  - npm run lint
  - npm test
