@forward "./packages/core/src/core" with (
  $color-scheme: system,
  // $color-scheme: light,
  // $color-scheme: dark,
  $interaction-mode: ripple,
  // $interaction-mode: press,
  // $interaction-mode: both,
  // $disable-higher-contrast-interactions: true
  $disable-higher-contrast-interactions: false
);
@forward "./packages/icon/src/icon" as icon-* with (
  $disable-font-icons: true
);
@forward "./packages/progress/src/progress" as progress-*;
@forward "./packages/button/src/button" as button-*;
@forward "./packages/app-bar/src/app-bar" as app-bar-*;
