////
/// @group transitions
/// @link https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
////

/// The transition function for objects that may return to the screen at any time.
/// @type Number
/// @group transitions
$md-transition-sharp: cubic-bezier(.4, 0, .6, 1) !default;

/// The transition function for growing and shrinking material, among other property changes. This
/// is the most common and applied to every element by default.
/// @type Number
$md-transition-standard: cubic-bezier(.4, 0, .2, 1) !default;

/// The transition function for objects that enter the screen at full velocity from off-screen
/// and slowly decelerate to a resting point.
/// @type Number
$md-transition-acceleration: cubic-bezier(.4, 0, 1, 1) !default;

/// The transition function for objects that leave the screen at full velocity.
/// @type Number
$md-transition-deceleration: cubic-bezier(0, 0, .2, 1) !default;



/// A placeholder for getting the sharp transition. The transition function for objects
/// that may return to the screen at any time.
%md-transition--sharp {
  transition-timing-function: $md-transition-sharp;
}

/// A placeholder for getting the standard (and default) transition. The transition function
/// for growing and shrinking material, among other property changes.
%md-transition--standard {
  transition-timing-function: $md-transition-standard;
}

/// A placeholder for getting the acceleration transition. The transition function for objects
/// that enter the screen at full velocity from off-screen and slowly decelerate to a resting point.
%md-transition--acceleration {
  transition-timing-function: $md-transition-acceleration;
}

/// A placeholder for getting the deceleration transition. The transition function for objects that
/// leave the screen at full velocity.
%md-transition--decceleration, // remove in next major release
%md-transition--deceleration {
  transition-timing-function: $md-transition-deceleration;
}

/// Includes some class names for adding the different transitions for
/// material design.
///
/// @example scss - Example Usage SCSS
///   @include react-md-transitions;
///
/// @example markdown - ClassNames Created
///   - `md-transition--acceleration`
///   - `md-transition--deceleration`
///   - `md-transition--sharp`
///   - `md-transition--standard`
///
@mixin react-md-transitions {
  .md-transition {
    &--sharp {
      @extend %md-transition--sharp;
    }

    &--standard {
      @extend %md-transition--standard;
    }

    &--acceleration {
      @extend %md-transition--acceleration;
    }

    &--decceleration, // remove in next major release
    &--deceleration {
      @extend %md-transition--deceleration;
    }
  }
}
