////
/// @group accessibility
////

/// Boolean if iOS should allow scroll momentum in places where manual scrolling
/// is enabled.
/// @type Boolean
$md-enable-ios-scroll-momentum: true !default;

/// Creates the _accessible_ styles and class names.
///
/// This will create the following class names:
/// - `.md-fake-btn`
/// - `.md-no-scroll`
/// - `.md-pointer--hover`
/// - `.md-pointer--none`
/// - `.md-content-jump`
///
/// @example scss - Example Usage SCSS
///   @include react-md-accessibility;
@mixin react-md-accessibility {
  .md-fake-btn {
    background: transparent;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  // Need to add one additional level of precidence for some dialogs,
  // but don't want to use !important
  .md-no-scroll.md-no-scroll {
    overflow: hidden;
    position: fixed;
  }

  .md-pointer--hover:hover {
    cursor: pointer;
  }

  .md-pointer--none {
    pointer-events: none;
  }

  .md-content-jump {
    left: -1000px;
    position: absolute;
    top: -1000px;

    &:active,
    &:focus {
      left: 0;
      top: 0;
    }
  }
}

/// A simple mixin that will add scroll momentum to a class ONLY if the momentum is
/// enabled via the mixin or the `$md-enable-ios-scroll-momentum` variable.
///
/// @param {Boolean} enable-momentum [$md-enable-ios-scroll-momentum] - Boolean if the momentum
///     should be added
@mixin md-ios-scroll-momentum($enable-momentum: $md-enable-ios-scroll-momentum) {
  @if $enable-momentum {
    -webkit-overflow-scrolling: touch;
  }
}
