////
/// @group accessibility
////

/// The left position of the content jump link when it has gained keyboard focus. This is
/// for the link that appears in the navigation drawer that skips to the main content.
/// @type Number
$md-content-jump-left-active: 0 !default;

/// The left position of the content jump link when it does not have keyboard focus. This is
/// for the link that appears in the navigation drawer that skips to the main content.
/// @type Number
$md-content-jump-left-inactive: -1000px !default;

/// The top position of the content jump link when it has gained keyboard focus. This is
/// for the link that appears in the navigation drawer that skips to the main content.
/// @type Number
$md-content-jump-top-active: $md-content-jump-left-active !default;

/// The top position of the content jump link when it does not have keyboard focus. This is
/// for the link that appears in the navigation drawer that skips to the main content.
/// @type Number
$md-content-jump-top-inactive: $md-content-jump-left-inactive !default;

/// Creates the _accessible_ styles and class names.
///
/// This will create the following class names:
/// - `.md-fake-btn`
/// - `.md-no-scroll`
/// - `.md-pointer--hover`
/// - `.md-pointer--none`
/// - `.md-content-jump`
///
/// @example scss - Example Usage SCSS
///   @include react-md-accessibility;
@mixin react-md-accessibility {
  .md-fake-btn {
    background: transparent;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  .md-no-scroll {
    overflow-y: hidden;
    position: fixed;
  }

  .md-pointer--hover:hover {
    cursor: pointer;
  }

  .md-pointer--none {
    pointer-events: none;
  }

  .md-content-jump {
    left: $md-content-jump-left-inactive;
    position: absolute;
    top: $md-content-jump-top-inactive;

    &:active,
    &:focus {
      left: $md-content-jump-left-active;
      top: $md-content-jump-top-active;
    }
  }
}
