.md-app-bar,
.md-app-bar-left {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.md-app-bar {
  height: $md-app-bar-height;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 4;

  ~ * {
    padding-top: $md-app-bar-height;
  }
}

.md-app-bar-title {
  color: $white-base;
  display: inline-block;
  font-size: $md-font-icon-size;
  font-weight: $md-font-regular;
  margin: 0;
}

.md-app-bar-left,
.md-app-bar-right {
  .md-btn-icon {
    padding-left: $md-default-padding;
    padding-right: $md-default-padding;
    width: $md-font-icon-size + $md-default-padding * 2;
  }
}
