////
/// @group avatars
////


/// The default size for an avatar
/// @type Number
$md-avatar-size: 40px;

/// The default background color for an avatar.
/// @type Color
$md-avatar-default-background: $md-grey-400 !default;

/// The default text color for an avatar.
/// @type Color
$md-avatar-default-color: $md-white-base !default;

/// A map of avatar color suffixes to use. Each key will be used
/// as an avatar suffix name, and the value will be a list of two
/// colors where the first item is the background color and the
/// second item is the text color.
///
/// @type Map
$md-avatar-colors: (
  'red': $md-red-400 $md-red-100,
  'pink': $md-pink-400 $md-pink-100,
  'purple': $md-purple-300 $md-purple-100,
  'deep-purple': $md-deep-purple-400 $md-deep-purple-100,
  'indigo': $md-indigo-400 $md-indigo-100,
  'blue': $md-blue-400 $md-blue-100,
  'light-blue': $md-light-blue-400 $md-light-blue-100,
  'cyan': $md-cyan-400 $md-cyan-100,
  'teal': $md-teal-400 $md-teal-100,
  'green': $md-green-400 $md-green-100,
  'light-green': $md-light-green-400 $md-light-green-100,
  'lime': $md-lime-400 $md-lime-100,
  'yellow': $md-yellow-400 $md-yellow-100,
  'amber': $md-amber-400 $md-amber-100,
  'orange': $md-orange-300 $md-orange-100,
  'deep-orange': $md-deep-orange-400 $md-deep-orange-100,
  'brown': $md-brown-400 $md-brown-100,
  'blue-grey': $md-blue-grey-400 $md-blue-grey-100,
) !default;

/// Includes the css for the Avatars.
/// @param {Boolean} $light-theme [$md-light-theme] - Boolean if using the light theme.
/// @param {Boolean} $include-suffixes [true] - Boolean if the avatar color suffixes
///     should be included.
@mixin react-md-avatars($light-theme: $md-light-theme, $include-suffixes: true) {
  .md-avatar {
    border: 1px solid if($md-light-theme, $md-light-theme-divider-color, $md-dark-theme-divider-color);
    border-radius: 50%;
    height: $md-avatar-size;
    overflow: hidden;
    text-align: center;
    width: $md-avatar-size;

    .md-icon {
      color: inherit;
    }

    &--icon-sized {
      height: $md-font-icon-size;
      width: $md-font-icon-size;
    }
  }

  .md-avatar-img {
    height: 100%;
    width: auto;
  }

  .md-avatar-content {
    align-items: center;
    display: flex;
    font-size: $md-font-icon-size;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  @include react-md-theme-avatar($md-avatar-default-background, $md-avatar-default-color, default);

  @if $include-suffixes {
    @each $suffix, $colors in $md-avatar-colors {
      @include react-md-theme-avatar(nth($colors, 1), nth($colors, 2), $suffix);
    }
  }
}

/// This will only update the base avatar's border color if the `$light-theme` is different than
/// `$md-light-theme`. If you want to add different colors, you should use the `react-md-theme-avatar`
/// mixin.
///
/// @see {mixin} react-md-theme-avatar
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if using the light theme.
/// @group avatars, themes
@mixin react-md-theme-avatars($light-theme: $md-light-theme) {
  @if $light-theme != $md-light-theme {
    .md-avatar {
      border-color: get-color('divider', $light-theme);
    }
  }
}

/// Creates a single _theme_ for the Avatar. It simply creates a
/// class name with the new background and text color with the given
/// suffix.
///
/// @example scss - Simple Example SCSS
///   @include react-md-theme-avatars(#000, #fff, black);
///
/// @example scss - Simple Example CSS Output
///   .md-avatar--black {
///     background: #000;
///     color: #fff;
///   }
///
/// @param {Color} bg-color - The background color to use.
/// @param {Color} text-color - The text color to use.
/// @param {String} suffix - The class name suffix to use.
/// @group avatars, themes
@mixin react-md-theme-avatar($bg-color, $text-color, $suffix) {
  .md-avatar--#{$suffix} {
    background: $bg-color;
    color: $text-color;
  }
}
