////
/// @group bottom-navigations
////


/// The default ink color to use for a shifting bottom navigation.
/// @type Color
$md-bottom-navigation-shifting-ink-color: rgba($md-white-base, .12) !default;

/// The transition time it takes for the bottom navigation to slide out of view when
/// it is dynamic. It is also the transition time for switching the background color.
/// @type Number
$md-bottom-navigation-transition-time: $md-transition-time * 2 !default;

/// Boolean if the shifting bottom navigation style should be included by default.
/// @type Boolean
$md-bottom-navigation-include-shifting: true !default;

/// Boolean if the dynamic bottom navigation style should be included by default.
/// @type Boolean
$md-bottom-navigation-include-dynamic: true !default;

/// The z-index to use for bottom navigations
/// @type Number
/// @group bottom-navigations, z-indexes
$md-bottom-navigation-z-index: 11 !default;

/// The height for the bottom navigation bar.
/// @type Number
$md-bottom-navigation-height: 56px;

/// The max width for a tab on the bottom navigation.
/// @type Number
$md-bottom-navigation-max-width: 168px;

/// The top padding for a bottom navgation's tab when active.
/// @type Number
$md-bottom-navigation-top-padding-active: 6px;

/// The top padding for a bottom navgation's tab when inactive.
/// @type Number
$md-bottom-navigation-top-padding-inactive: 8px;

/// The bottom padding for a bottom navigation's tab.
/// @type Number
$md-bottom-navigation-bottom-padding: 10px;

/// The left and right padding to apply to a bottom navigation's tab.
/// @type Number
$md-bottom-navigation-lr-padding: 12px;

$md-bottom-navigation-active-font-size: 14px;
$md-bottom-navigation-inactive-font-size: 12px;

/// The min width for a fixed bottom navgation's tab.
/// @type Number
$md-bottom-navigation-fixed-min-width: 80px;

/// The min width for a shifting bottom navigation's tab.
/// @type Number
$md-bottom-navigation-shifting-active-min-width: 96px;

/// The min width for an inactive shifting bottom navigation's tab.
/// @type Number
$md-bottom-navigation-shifting-inactive-min-width: 56px;

/// The max width for an inactive shifting bottom navigation's tab.
/// @type Number
$md-bottom-navigation-shifting-inactive-max-width: 96px;


/// Creates the styles for bottom navigations. If both the `include-shifting` and `include-dynamic`
/// params are false, no styles will be created.
///
/// @example markdown - Utility Classes
///   The bottom navigations have a utility class name to offset any content to prevent it from underlapping the
///   bottom navigations. Just apply the `md-bottom-navigation-offset` class name to whatever element or component
///   to add padding bottom equal to the height of the bottom navigation.
///
///   ```js
///   <div>
///     <main className="md-bottom-navigation-offset">Some Content</main>
///     <BottomNavigation {...props} />
///   </div>
///   ```
///
/// @param {Boolean} include-shifting [$md-bottom-navigation-include-shifting] - Boolean if the styles
///     for a shifting bottom navigation should be included.
/// @param {Boolean} include-dynamic [$md-bottom-navigation-include-dynamic] - Boolean if the styles
///     for a dynamic bottom navigation should be included.
@mixin react-md-bottom-navigations($include-shifting: $md-bottom-navigation-include-shifting, $include-dynamic: $md-bottom-navigation-include-dynamic) {
  @if $include-shifting or $include-dynamic {
    .md-bottom-navigation {
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: $md-bottom-navigation-z-index;

      @if $include-shifting {
        &--shifting {
          transition-duration: $md-bottom-navigation-transition-time;
          transition-property: background;
        }
      }

      @if $include-dynamic {
        &--dynamic {
          transform: translate3d(0, 0, 0);
          transition-duration: $md-bottom-navigation-transition-time;
          transition-property: background, transform;

          &-inactive {
            transform: translate3d(0, 100%, 0);
          }
        }
      }
    }

    .md-bottom-navigation-offset {
      padding-bottom: $md-bottom-navigation-height;
    }

    @include react-md-bottom-navigations-nav($include-shifting);
  }
}

/// Creates the styles for a tab in the bottom navigation nav item (link). This should
/// normally be used within the `react-md-bottom-navigations` mixin.
///
/// @param {Boolean} include-shifting [$md-bottom-navigation-include-shifting] - Boolean if the styles
///     for a shifting bottom navigation should be included.
@mixin react-md-bottom-navigations-nav($include-shifting: $md-bottom-navigation-include-shifting) {
  .md-bottom-nav {
    display: block;
    flex-grow: 1;
    font-size: $md-bottom-navigation-inactive-font-size;
    height: $md-bottom-navigation-height;
    max-width: $md-bottom-navigation-max-width;
    padding: $md-bottom-navigation-top-padding-inactive $md-bottom-navigation-lr-padding $md-bottom-navigation-bottom-padding;
    text-align: center;
    text-decoration: none;
    user-select: none;

    &--active {
      flex-shrink: 0;
      font-size: $md-bottom-navigation-active-font-size;
      padding-top: $md-bottom-navigation-top-padding-active;
    }

    &--fixed {
      min-width: $md-bottom-navigation-fixed-min-width;
    }

    @if $include-shifting {
      &--shifting {
        min-width: $md-bottom-navigation-shifting-active-min-width;
        position: initial;
        transition-duration: $md-transition-time;
        transition-property: max-width;

        &-inactive {
          max-width: $md-bottom-navigation-shifting-inactive-max-width;
          min-width: $md-bottom-navigation-shifting-inactive-min-width;
          padding-top: 16px;
        }

        .md-ink-container {
          overflow: visible;
        }

        .md-ink {
          background: $md-bottom-navigation-shifting-ink-color;
        }
      }
    }

    &-label {
      transition-duration: $md-transition-time;
      transition-property: color, font-size;

      @if $include-shifting {
        &--shifting-inactive {
          max-width: $md-bottom-navigation-shifting-inactive-min-width - $md-bottom-navigation-lr-padding * 2;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .md-icon {
      @extend %md-block-centered;
    }

    // scss-lint:disable QualifyingElement
    // don't know why links render incorrectly
    a.md-bottom-nav {
      .md-icon {
        margin-top: ($md-bottom-navigation-height - $md-font-icon-size - 16px) / 2;
      }
    }
  }
}

/// Styles a bottom navigation that is colored to update the `.md-background--primary` color to a new color. It also will
/// optionally update the label's color and the ink's color if they do not equal the defaults. This is mostly used when
/// you want to update the navigation drawer's color when a new tab is clicked.
///
/// @example scss - Example Usage SCSS
///   .another-theme {
///     @inclue react-md-theme-bottom-navigations-color($md-deep-purple-500);
///   }
///
/// @example javascript - Example Usage React Components
///   <div className={cn({ 'another-theme': themeTabActive })}>
///     <BottomNavigation
///       links={[{ label: 'Woop', }, { label: 'Theme Tab', }, { label: 'Noop' }]}
///       onNavChange={activeTabIndex => this.setState({ themeTabActive: activeTabIndex === 1 })}
///     />
///   </div>
///
/// @param {Color} bg-color - The background color to force for the `.md-background--primary` of the bottom navigation.
/// @param {Color} label-color [$md-white-base] - The color to style the label. If this is equal to `$md-white-base`, the styles
///     will not be created.
/// @param {Color} ink-color [$md-bottom-navigation-shifting-ink-color] - The ink color to use for this theme. If it equals the
///     `$md-bottom-navigation-shifting-ink-color`, the styles will not be included.
/// @group bottom-navigations, themes
@mixin react-md-theme-bottom-navigations-colored($bg-color, $label-color: $md-white-base, $ink-color: $md-bottom-navigation-shifting-ink-color) {
  .md-bottom-navigation.md-background--primary {
    background: $bg-color;
  }

  @if $label-color != $md-white-base {
    .md-bottom-nav-label {
      color: $label-color;
    }
  }

  @if $ink-color != $md-bottom-navigation-shifting-ink-color {
    .md-bottom-navigation .md-ink {
      background: $ink-color;
    }
  }
}
