.md-icon {
  font-size: $md-font-icon-size;
}

.md-btn {
  border: 0;
  font-size: 14px;
  font-weight: 500;
  height: $md-btn-height;
  outline: none;
  overflow: hidden;
  padding: $md-btn-padding 1em;
  position: relative;
  text-transform: uppercase;
  transition: box-shadow $md-transition-time, background $md-transition-time, transform $md-transition-time;

  &[disabled] {
    background: $md-btn-hover-color;
    color: $color-disabled;
  }
}

.md-btn-icon {
  background: transparent;
  color: inherit;
  font-size: 0;
  height: $md-font-icon-btn-size;
  padding: $md-font-icon-btn-size / 4;
  text-decoration: none;
  width: $md-font-icon-btn-size;

  .ripple {
    left: 0;
    top: 0;
  }
}

.md-btn-primary:not(.md-btn-flat),
.md-btn-secondary:not(.md-btn-flat) {
  color: $white-base;

  .ripple {
    background: rgba($white-base, .3);
  }
}

.md-btn-flat {
  background: transparent;
  min-width: $md-btn-flat-min-width;
}

.md-btn-raised {
  @include md-box-shadow(1);

  border-radius: 2px;
  min-width: $md-btn-raised-min-width;

  &:active {
    @include md-box-shadow(2);
  }
}

.md-btn-floating {
  @include md-box-shadow(2);

  border-radius: 50%;
  height: $md-btn-fab-size;
  width: $md-btn-fab-size;

  &.mini {
    height: $md-btn-fab-size-mini;
    width: $md-btn-fab-size-mini;
  }

  &:active {
    @include md-box-shadow(3);
  }

  .material-icons {
    display: block;
  }
}

/// Make a material design default button
/// This will generate the style for a flat, raised, and fab button
///
/// @group buttons
/// @param {String} $color - The text color to use
/// @param {String} $hover-focus-bg-color - The hover and focus color for the button
/// @param {String} $active-bg-color - The color to use when active
/// @param {String} $ripple-bg-color - The ripple background color
/// @param {String} $raised-border-color [null] - The raised border color. If this value is set,
///   raised and floating buttons will get a background of the white base and the raised buttonm
///   with get a border with the border color
@mixin make-md-btn-default($color, $hover-focus-bg-color, $active-bg-color, $ripple-bg-color, $raised-border-color: null) {
  .md-btn-default {
    color: $color;

    &:hover,
    &:focus {
      background: $hover-focus-bg-color;
    }

    &:active {
      background: $active-bg-color;
    }

    @if $raised-border-color != null {
      &.md-btn-raised,
      &.md-btn-floating {
        background: $white-base;
      }

      &.md-btn-raised {
        border: 1px solid $raised-border-color;
      }
    }

    .ripple {
      background: $ripple-bg-color;
    }
  }
}

/// Make a material design button type
///
/// @group buttons
/// @param {String} $type - The button type to make.
/// @param {String} $color - The color to use for the button.
/// @param {Number} $hover-hue - The hue for the hover color.
/// @param {Number} $ripple-hue [null] - This is used to generate the flat button.
/// @param {Number} $hue [6] - The color's hue for the button
/// @param {String} $hover-color [$color] - The hover color for the button
/// @param {String} $ripple-color [$color] - The ripple's color. It gets an opacity of .3 applied to it
@mixin make-md-btn($type, $color, $hover-hue, $ripple-hue: null, $hue: 6, $hover-color: $color, $ripple-color: $color) {
  $secondary: $type == 'secondary';

  .md-btn-#{$type} {
    @if $ripple-hue != null {
      &.md-btn-flat {
        color: get-md-color($color, $hue, $secondary);

        &:hover,
        &:focus {
          background: get-md-color($hover-color, $hover-hue, $secondary);
        }

        .ripple {
          background: rgba(get-md-color($ripple-color, $ripple-hue, $secondary), .3);
        }
      }
    } @else {
      &:not(.md-btn-flat) {
        background: get-md-color($color, $hue, $secondary);

        &:hover,
        &:focus {
          background: get-md-color($hover-color, $hover-hue, $secondary);
        }
      }
    }
  }
}

@include make-md-btn-default($md-text-color, $md-btn-hover-color, $md-btn-pressed-color, $md-btn-pressed-color, $color-border);
@include make-md-btn(primary, $md-primary-color, 2, 4);
@include make-md-btn(primary, $md-primary-color, 5);
@include make-md-btn(secondary, $md-secondary-color, 1, 2, 4);
@include make-md-btn(secondary, $md-secondary-color, 1, null, 2);
