.md-btn {
  @extend %button-unstyled;

  display: inline-block;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition-duration: $md-transition-time * 2;
  transition-property: box-shadow, background, transform;
  vertical-align: top;

  &[disabled] {
    color: $md-disabled-color;

    &:not(.md-icon-btn) {
      background: $md-btn-hover-color;
    }
  }

  .md-icon {
    color: inherit;
    // fix so all font libraries appear inline with each other
    vertical-align: top;
  }
}

// scss-lint:disable QualifyingElement
a.md-btn {
  color: $md-icon-color;
  text-decoration: none;
}

.md-flat-btn,
.md-raised-btn {
  height: $md-btn-height;
  padding: $md-btn-padding $md-default-padding;
}

.md-raised-btn,
.md-floating-btn,
.md-flat-btn {
  &:hover {
    background: $md-btn-hover-color;
  }
}


.md-icon-btn {
  border-radius: 50%;
  font-size: $md-font-icon-size;
  height: $md-icon-btn-size;
  padding: $md-icon-btn-padding;
  text-decoration: none;
  width: $md-icon-btn-size;

  &[disabled] .md-icon {
    color: $md-disabled-color;
  }
}

.md-flat-btn {
  background: transparent;
  min-width: $md-btn-flat-min-width;
}


.md-raised-btn {
  border-radius: 2px;
  min-width: $md-btn-raised-min-width;

  &:not([disabled]) {
    @include md-box-shadow(1);

    &:active {
      @include md-box-shadow(4);
    }
  }
}
