.md-btn {
  border: 0;
  font-size: 14px;
  font-weight: 500;
  height: $md-btn-height;
  outline: none;
  overflow: hidden;
  padding: $md-btn-padding 1em;
  position: relative;
  text-transform: uppercase;
  transition: box-shadow $md-transition-time, background $md-transition-time;

  &[disabled] {
    background: $md-btn-hover-color;
    color: $color-disabled;
  }
}

.md-btn-default {
  background: $color-background;
  color: $color-text;

  &:hover,
  &:focus {
    background: $md-btn-hover-color;
  }

  &:active {
    background: $md-btn-pressed-color;
  }

  &.md-btn-raised {
    border: 1px solid $color-border;
  }

  .ripple {
    background: $md-btn-pressed-color;
  }
}

.md-btn-primary,
.md-btn-secondary {
  color: $white-base;

  .ripple {
    background: rgba($white-base, .3);
  }
}

.md-btn-primary:not(.md-btn-flat) {
  background: get-md-color($color-primary);

  &:hover,
  &:focus {
    background: get-md-color($color-primary, 4);
  }
}

.md-btn-secondary:not(.md-btn-flat) {
  background: get-md-color($color-secondary, 2, true);

  &:hover,
  &:focus {
    background: get-md-color($color-secondary, 1, true);
  }
}

.md-btn-flat {
  background: transparent;
  min-width: $md-btn-flat-min-width;

  &.md-btn-primary {
    color: get-md-color($color-primary);

    &:hover {
      background: get-md-color($color-primary, 2);
    }

    .ripple {
      background: rgba(get-md-color($color-primary, 3), .3);
    }
  }

  &.md-btn-secondary {
    color: get-md-color($color-secondary, 4, true);

    &:hover {
      background: get-md-color($color-secondary, 1, true);
    }

    .ripple {
      background: rgba(get-md-color($color-secondary, 3), .3);
    }
  }
}

.md-btn-raised {
  @include md-box-shadow(1);

  border-radius: 2px;
  min-width: $md-btn-raised-min-width;

  &:active {
    @include md-box-shadow(2);
  }
}

.md-btn-floating {
  @include md-box-shadow(3);

  border-radius: 50%;
  height: $md-btn-floating-action-size;
  width: $md-btn-floating-action-size;

  &.mini {
    height: $md-btn-floating-action-size-mini;
    width: $md-btn-floating-action-size-mini;
  }

  &:active {
    @include md-box-shadow(4);
  }

  .material-icons {
    display: block;
  }
}

.ripple {
  border-radius: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: transform $md-btn-ripple-transition-time linear,
    opacity $md-btn-ripple-transition-time linear;

  &.active {
    transform: scale(1.5);
  }

  &.leave {
    opacity: 0;
  }
}

.icon-separator {
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .material-icons + *,
  * + .material-icons {
    padding-left: .5em;
  }
}
