.md-icon {
  font-size: 24px;
}

.md-btn {
  border: 0;
  font-size: 14px;
  font-weight: 500;
  height: $md-btn-height;
  outline: none;
  overflow: hidden;
  padding: $md-btn-padding 1em;
  position: relative;
  text-transform: uppercase;
  transition: box-shadow $md-transition-time, background $md-transition-time, transform $md-transition-time;

  &[disabled] {
    background: $md-btn-hover-color;
    color: $color-disabled;
  }
}

.md-btn-icon {
  background: transparent;
  font-size: 0;
  height: $md-font-icon-btn-size;
  padding: $md-font-icon-btn-size / 4;
  width: $md-font-icon-btn-size;

  .ripple {
    left: 0;
    top: 0;
  }
}

.md-btn-primary:not(.md-btn-flat),
.md-btn-secondary:not(.md-btn-flat) {
  color: $white-base;

  .ripple {
    background: rgba($white-base, .3);
  }
}

.md-btn-flat {
  background: transparent;
  min-width: $md-btn-flat-min-width;
}

.md-btn-raised {
  @include md-box-shadow(1);

  border-radius: 2px;
  min-width: $md-btn-raised-min-width;

  &:active {
    @include md-box-shadow(2);
  }
}

.md-btn-floating {
  @include md-box-shadow(2);

  border-radius: 50%;
  height: $md-btn-floating-action-size;
  width: $md-btn-floating-action-size;

  &.mini {
    height: $md-btn-floating-action-size-mini;
    width: $md-btn-floating-action-size-mini;
  }

  &:active {
    @include md-box-shadow(3);
  }

  .material-icons {
    display: block;
  }
}

@mixin make-md-btn-default($color, $hover-focus-bg-color, $active-bg-color, $ripple-bg-color, $raised-border-color: null) {
  .md-btn-default {
    color: $color;

    &:hover,
    &:focus {
      background: $hover-focus-bg-color;
    }

    &:active {
      background: $active-bg-color;
    }

    @if $raised-border-color != null {
      &.md-btn-raised,
      &.md-btn-floating {
        background: $white-base;
      }

      &.md-btn-raised {
        border: 1px solid $raised-border-color;
      }
    }

    .ripple {
      background: $ripple-bg-color;
    }
  }
}

@mixin make-md-btn($type, $color, $hover-hue, $ripple-hue: null, $hue: 6, $hover-color: $color, $ripple-color: $color) {
  $secondary: $type == 'secondary';

  .md-btn-#{$type} {
    @if $ripple-hue != null {
      &.md-btn-flat {
        color: get-md-color($color, $hue, $secondary);

        &:hover,
        &:focus {
          background: get-md-color($hover-color, $hover-hue, $secondary);
        }

        .ripple {
          background: rgba(get-md-color($ripple-color, $ripple-hue, $secondary), .3);
        }
      }
    } @else {
      &:not(.md-btn-flat) {
        background: get-md-color($color, $hue, $secondary);

        &:hover,
        &:focus {
          background: get-md-color($hover-color, $hover-hue, $secondary);
        }
      }
    }
  }
}

@include make-md-btn-default($color-text, $md-btn-hover-color, $md-btn-pressed-color, $md-btn-pressed-color, $color-border);
@include make-md-btn(primary, $color-primary, 2, 4);
@include make-md-btn(primary, $color-primary, 5);
@include make-md-btn(secondary, $color-secondary, 1, 2, 4);
@include make-md-btn(secondary, $color-secondary, 1, null, 2);
