.md-icon {
  font-size: $md-font-icon-size;
}

.md-btn {
  border: 0;
  font-size: 14px;
  font-weight: 500;
  height: $md-btn-height;
  outline: none;
  overflow: hidden;
  padding: $md-btn-padding 1em;
  position: relative;
  text-transform: uppercase;
  transition-duration: $md-transition-time;
  transition-property: box-shadow, background, transform;

  &[disabled] {
    color: $md-disabled-color;

    &:not(.md-btn-icon) {
      background: $md-btn-hover-color;
    }
  }
}

.md-btn-icon {
  background: transparent;
  border-radius: 50%;
  color: inherit;
  font-size: $md-font-icon-size;
  height: $md-font-icon-btn-size;
  padding: $md-font-icon-btn-size / 4;
  text-decoration: none;
  width: $md-font-icon-btn-size;
}

.md-btn-primary:not(.md-btn-flat),
.md-btn-secondary:not(.md-btn-flat) {
  color: $white-base;

  .md-ink {
    background: rgba($white-base, .1);
  }
}

.md-btn-flat {
  background: transparent;
  min-width: $md-btn-flat-min-width;
}

.md-btn-raised {
  @include md-box-shadow(1);

  border-radius: 2px;
  min-width: $md-btn-raised-min-width;

  &:active {
    @include md-box-shadow(2);
  }
}

.md-btn-floating {
  @include md-box-shadow(2);

  border-radius: 50%;
  height: $md-btn-fab-size;
  width: $md-btn-fab-size;

  &.mini {
    height: $md-btn-fab-size-mini;
    width: $md-btn-fab-size-mini;
  }

  &:active {
    @include md-box-shadow(3);
  }

  &[disabled] {
    background: none;
    box-shadow: none;
  }

  .md-icon {
    display: block;
  }

  &.fixed {
    bottom: $md-default-padding;
    position: fixed;
    right: $md-default-padding;
    transition-duration: $md-transition-time * 2;
    transition-property: box-shadow, background, transform, bottom;

    &.snackbar-adjust {
      bottom: $md-default-padding + $md-snackbar-height;
    }

    &.snackbar-multiline-adjust {
      bottom: $md-default-padding + $md-snackbar-multiline-height;
    }
  }
}

@include make-md-btn-default($md-text-color, $md-btn-hover-color, $md-btn-pressed-color, $md-btn-pressed-color, $md-border-color);
@include make-md-btn(primary, $md-primary-color, 2, 4);
@include make-md-btn(primary, $md-primary-color, 5);
@include make-md-btn(secondary, $md-secondary-color, 1, 2, 4);
@include make-md-btn(secondary, $md-secondary-color, 1, null, 2);
