.md-icon {
  font-size: $md-font-icon-size;
}

.md-btn {
  @extend %button-unstyled;

  font-size: 14px;
  font-weight: 500;
  height: $md-btn-height;
  overflow: hidden;
  padding: $md-btn-padding 1em;
  position: relative;
  text-transform: uppercase;
  transition-duration: $md-transition-time;
  transition-property: box-shadow, background, transform;

  &[disabled] {
    color: $md-disabled-color;

    &:not(.md-icon-btn) {
      background: $md-btn-hover-color;
    }
  }
}

.md-raised-btn,
.md-floating-btn,
.md-flat-btn {
  &:hover {
    background: $md-btn-hover-color;
  }
}


.md-icon-btn {
  background: transparent;
  border-radius: 50%;
  color: inherit;
  font-size: $md-font-icon-size;
  height: $md-icon-btn-size;
  padding: $md-icon-btn-padding;
  text-decoration: none;
  width: $md-icon-btn-size;

  .md-icon {
    font-size: inherit;
  }
}

.md-flat-btn {
  background: transparent;
  min-width: $md-btn-flat-min-width;
}


.md-raised-btn {
  @include md-box-shadow(1);

  border-radius: 2px;
  min-width: $md-btn-raised-min-width;

  &:active {
    @include md-box-shadow(4);
  }
}

.md-floating-btn {
  @include md-box-shadow(2);

  border-radius: 50%;
  height: $md-btn-fab-size;
  width: $md-btn-fab-size;

  &.mini {
    height: $md-btn-fab-size-mini;
    width: $md-btn-fab-size-mini;
  }

  &:active {
    @include md-box-shadow(4);
  }

  &[disabled] {
    background: none;
    box-shadow: none;
  }

  .md-icon {
    display: block;
  }

  &.fixed {
    bottom: $md-default-padding;
    position: fixed;
    right: $md-default-padding;
    transition-duration: $md-transition-time * 2;
    transition-property: box-shadow, background, transform, bottom;

    // scss-lint:disable NestingDepth
    &.snackbar-adjust {
      bottom: $md-default-padding + $md-snackbar-height;
    }

    &.snackbar-multiline-adjust {
      bottom: $md-default-padding + $md-snackbar-multiline-height;
    }
  }
}

.fab-container {
  position: relative;

  .md-floating-btn {
    bottom: -$md-btn-fab-size / 2;
    position: absolute;

    &.mini {
      bottom: -$md-btn-fab-size-mini / 2;
    }
  }

  &.fab-right .md-floating-btn {
    right: $md-default-padding;
  }

  &.fab-left .md-floating-btn {
    left: $md-default-padding;
  }

  + * {
    // 4px as box shadow size-ish
    margin-top: $md-btn-fab-size / 2 + 4px;
  }
}
