@media only screen and (max-width: 726px) {
  .md-card {
    width: 100%;
  }
}

.md-card {
  @include md-box-shadow(2);

  background: $color-card;
  display: inline-block;
}

.md-card-text {
  padding: $md-card-padding;

  p,
  .md-body-1,
  .md-body-2 {
    margin: 0;

    &:nth-child(n+2) {
      margin-bottom: .5em;
      margin-top: .5em;
    }
  }

  &:last-child {
    padding-bottom: $md-card-padding-extra;
  }
}

.md-card-title {
  align-items: center;
  display: flex;
  padding: $md-card-padding;

  &.title-large {
    padding-top: $md-card-padding-extra;

    .title {
      font-size: $md-card-title-size-small;
    }
  }

  &:last-child {
    padding-bottom: $md-card-padding-extra;
  }

  .md-avatar {
    height: $md-card-title-size * 2;
    margin-right: $md-card-padding;
    width: $md-card-title-size * 2;
  }

  .titles {
    display: inline-block;
  }

  .title {
    font-size: $md-card-title-size;
  }

  // scss-lint:disable PlaceholderInExtend
  .subtitle {
    @extend .md-subheading-1;

    color: $color-text-secondary;
    font-weight: $md-font-regular;
  }
}

.md-card-actions {
  padding: $md-card-padding / 2;

  > .md-btn {
    margin: 0 $md-card-padding / 2;
  }
}

.md-card-actions-stacked {
  > .md-btn {
    display: block;
    margin: 0;

    &:nth-child(n+2) {
      margin-top: $md-card-padding / 2;
    }
  }
}

.md-media-16-9 {
  @include aspect-ratio();
}

.md-media-1-1 {
  @include aspect-ratio(img, 1, 1);
}

.md-card-media {
  position: relative;
}

.md-card-media-overlay {
  background: rgba($black-base, .54);
  bottom: 0;
  position: absolute;
  width: 100%;

  .title {
    color: $white-base;
  }

  .subtitle {
    color: rgba($white-base, .7);
  }

  .md-btn {
    color: $white-base;
  }
}

.md-card-expander {
  float: right;
  padding: 8px;
}

.md-card-expander,
.md-card-expander .ripple {
  height: $md-btn-height;
  width: $md-btn-height;
}
