.md-card-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 4px;

  .md-card {
    margin: 4px;
  }

  &.equal-width {
    @extend %flex-equal-size;
  }
}

.md-card {
  @include md-box-shadow(1);

  background: $md-card-color;
  display: inline-block;
  width: 100%;

  &.raise {
    transition: box-shadow $md-transition-time * 2;

    &:hover {
      @include md-box-shadow(4);
    }
  }

}

.md-table-card {
  .md-card-title {
    height: $md-data-table-header-height;
    padding-left: $md-data-table-padding;
  }
}

.md-card-text {
  color: $md-secondary-text-color;
  padding: $md-card-padding;

  > p {
    margin-top: 0;
  }

  > p,
  > .md-body-1,
  > .md-body-2 {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    padding-bottom: $md-card-padding-extra;
  }
}

.md-card-title {
  align-items: center;
  display: flex;
  padding: $md-card-padding;

  &.title-large {
    padding-top: $md-card-padding-extra;

    .md-headline {
      font-size: $md-card-title-size-small;
    }
  }

  &:last-child {
    padding-bottom: $md-card-padding-extra;
  }

  .md-avatar {
    height: $md-card-title-size * 2;
    margin-right: $md-card-padding;
    width: $md-card-title-size * 2;
  }

  .titles {
    display: inline-block;
  }

  .md-headline {
    font-weight: $md-font-medium;
    margin: 0;
  }

  .md-subheader {
    color: $md-secondary-text-color;
    font-size: $md-card-title-size-small;
    font-weight: $md-font-regular;
    height: initial;
    margin: 0;
    padding: 0;
  }
}

.md-card-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $md-card-actions-padding;

  .action-area .md-icon-btn {
    color: $md-secondary-text-color;
  }

  &.centered {
    justify-content: center;
  }
}

.card-expander {
  justify-content: space-between;
}

.md-card-expander {
  $size: $md-icon-btn-size - $md-card-padding / 2;
  height: $size;
  padding: $md-icon-btn-padding - ($md-icon-btn-size - $size) / 2;
  width: $size;
}


.md-card-actions-stacked {
  > .md-btn {
    display: block;
    margin: 0;

    &:nth-child(n+2) {
      margin-top: $md-card-padding / 2;
    }
  }
}

.md-media-16-9 {
  @include aspect-ratio();
}

.md-media-1-1 {
  @include aspect-ratio(img, 1, 1);
}

.md-card-media {
  overflow: hidden;
  position: relative;
}

.md-card-media-overlay {
  background: rgba($md-black-base, .54);
  bottom: 0;
  position: absolute;
  width: 100%;

  .md-headline {
    color: $md-white-base;
  }

  .md-subheader {
    color: $md-dark-theme-secondary-text-color;
  }

  .md-btn {
    color: $md-white-base;
  }

  .md-ink {
    background: rgba($md-white-base, .2);
  }
}
