////
/// @group chips
////

/// Boolean if the remove icon styling should be included for chips.
/// @type Boolean
$md-chip-include-remove: true !default;

/// Boolean if the chip avatar styling should be included for chips.
/// @type Boolean
$md-chip-include-avatar: true !default;

/// Boolean if the chip contact styling should be included for chips.
/// @type Boolean
$md-chip-include-contact: true !default;

/// A chip's text color for when using the light theme.
/// @type Color
$md-chip-light-theme-color: rgba($md-black-base, .87);

/// A chip's background color when using the light theme.
/// @type Color
$md-chip-light-theme-bg-color: $md-grey-300;

/// The dark theme text color of a chip. This is configurable because it is not actually
/// specified in the docs.
/// @type Color
$md-chip-dark-theme-color: get-color('secondary', false) !default;

/// The dark theme background color of a chip. This is configurable because it is not actually
/// specified in the docs.
/// @type Color
$md-chip-dark-theme-bg-color: $md-grey-600 !default;

/// The height for a chip.
/// @type Number
$md-chip-height: 32px;

/// The font size for a chip.
/// @type Number
$md-chip-font-size: 13px;


/// The remove icon color for a chip.
/// @type Number
$md-chip-icon-color: rgba($md-black-base, .54);

/// The default padding to apply to a chip.
/// type Number
$md-chip-default-padding: 12px;

/// The padding between an avatar and the chip's text.
/// @type Number
$md-chip-avatar-left-padding: 8px;

/// The amount of padding to use around the remove icon on a chip.
/// @type Number
$md-chip-icon-padding: 4px;

/// The font size for a contact chip.
/// @type Number
$md-chip-contact-font-size: 14px;

/// Includes the styles for chips. The remove, avatar, and contact styles can be excluded.
/// If the `$include-contact` param is true, the avatar styles will always be included even
/// if `$include-avatar` is false.
///
/// @example scss - Example Usage SCSS
///   include react-md-chips;
///
/// @param {Boolean} include-remove [$md-chip-include-remove] - Boolean if the remove styles
///     should be included.
/// @param {Boolean} include-avatar [$md-chip-include-avatar] - Boolean if the avatar styles
///     should be included.
/// @param {Boolean} include-contact [$md-chip-include-contact] - Boolean if the contact styles
///     should be included.
@mixin react-md-chips($light-theme: $md-light-theme, $include-remove: $md-chip-include-remove, $include-avatar: $md-chip-include-avatar, $include-contact: $md-chip-include-contact) {
  .md-chip {
    align-items: center;
    background: if($light-theme, $md-chip-light-theme-bg-color, $md-chip-dark-theme-bg-color);
    border: 0;
    border-radius: $md-chip-height / 2;
    display: inline-flex;
    height: $md-chip-height;
    padding-left: $md-chip-default-padding;
    padding-right: $md-chip-default-padding;
    position: relative;
    transition-duration: $md-transition-time;
    transition-property: box-shadow, background;
    vertical-align: top;
    white-space: nowrap;

    &:focus {
      @include md-box-shadow(1);
      outline: none;
    }
  }

  .md-chip--hover.md-chip--hover {
    background: $md-grey-700;
  }

  .md-chip-text {
    color: if($light-theme, $md-chip-light-theme-color, $md-chip-dark-theme-color);
    font-size: $md-chip-font-size;
    transition-duration: $md-transition-time;
    transition-property: color;
  }

  @if $include-avatar or $include-contact {
    @include react-md-chips-avatar;
  }

  @if $include-remove {
    @include react-md-chips-remove;
  }

  @if $include-contact {
    @include react-md-chips-contact;
  }

  // has to go last so it has higher precidence.
  .md-chip-text--hover {
    color: $md-white-base;
  }
}

/// Includes the styles for the avatars in chips.
///
/// @example scss - Example Usage SCSS
///   @include react-md-chips-avatar;
@mixin react-md-chips-avatar {
  .md-chip .md-avatar {
    border: 0;
    height: $md-chip-height;
    left: 0;
    position: absolute;
    top: 0;
    width: $md-chip-height;
  }

  .md-chip--avatar {
    padding-left: $md-chip-height + $md-chip-avatar-left-padding;
  }
}


/// Includes the styles for the remove icons in chips.
///
/// @example scss - Example Usage SCSS
///   @include react-md-chips-remove;
@mixin react-md-chips-remove {
  .md-chip-icon {
    color: $md-chip-icon-color;
    margin-left: $md-chip-icon-padding;
    margin-right: $md-chip-icon-padding;
    position: absolute;
    right: 0;
    top: ($md-chip-height - $md-font-icon-size) / 2;
    z-index: 1;
  }

  .md-chip-icon--rotate {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  .md-chip--remove {
    padding-right: $md-font-icon-size + ($md-chip-icon-padding * 2);
  }
}


/// Includes the styles for the contact chips.
///
/// @example scss - Example Usage SCSS
///   @include react-md-chips-contact;
@mixin react-md-chips-contact {
  .md-chip-text--contact {
    font-size: $md-chip-contact-font-size;
  }
}

/// Updates the styles for chips based on the theme. If the `light-theme` equals the `md-light-theme`,
/// no styles will be included.
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if styling for the light theme.
/// @group chips, themes
@mixin react-md-theme-chips($light-theme: $md-light-theme) {
  @if $light-theme != $md-light-theme {
    .md-chip {
      background: if($light-theme, $md-chip-light-theme-bg-color, $md-chip-dark-theme-bg-color);
    }

    .md-chip-text {
      color: if($light-theme, $md-chip-light-theme-color, $md-chip-dark-theme-color);
    }
  }
}
