$md-chip-bg-color: $md-grey-300;

.md-chip-container {
  background: $md-chip-bg-color;
  border-radius: $md-chip-border-radius;
  display: inline-block;
  height: $md-chip-height;
  transition: box-shadow $md-transition-time;
  vertical-align: top;

  .md-avatar {
    height: $md-chip-height;
    width: $md-chip-height;

    + .md-chip {
      padding-left: 8px;
    }
  }

  &.focus {
    @include md-box-shadow(1);
  }
}

.md-chip,
.md-chip-remove {
  @extend %button-unstyled;

  vertical-align: top;
}

.md-chip {
  color: $md-chip-color;
  font-size: $md-chip-font-size;
  padding: 8px 12px;

  &.with-remove {
    padding-right: 0;
  }
}

.md-chip-remove {
  color: $md-chip-remove-icon-color;
  height: $md-chip-remove-icon-size;
  margin: $md-chip-remove-icon-margin;
  padding: 0;
  width: $md-chip-remove-icon-size;
}
