%md-data-table-padding {
  padding-right: $md-data-table-padding;
}

%md-data-table-adjusted-padding {
  padding-right: $md-data-table-min-padding;
}

%md-data-table-item {
  @extend %md-data-table-padding;

  position: relative;
  text-align: left;
  white-space: nowrap;

  &.grow {
    width: 100%;
  }

  &.numeric {
    text-align: right;
  }

  &.adjusted {
    @extend %md-data-table-adjusted-padding;
  }
}

%md-table-border-bottom {
  border-bottom: 1px solid $md-border-color;
}

.md-data-table-container {
  overflow-x: auto;

  .md-data-table {
    @extend %full-width;
  }
}

.md-data-table {
  border-collapse: collapse;
  max-width: 100%;

  &.full-width {
    @extend %full-width;
  }
}

tbody .md-table-row {
  transition: background $md-transition-time;

  &.active {
    background: $md-data-table-selected-color;
  }

  &:hover {
    background: $md-data-table-hover-color;
  }

  &:not(:last-child) {
    @extend %md-table-border-bottom;
  }
}

thead .md-table-row {
  @extend %md-table-border-bottom;
}

.md-table-row {
  .md-table-header,
  .md-table-data {
    &:first-child {
      padding-left: $md-data-table-padding;
    }
  }
}

.md-table-header {
  @extend %md-tracking-10;
  @extend %md-data-table-item;

  color: $md-data-table-header-color;
  font-size: $md-data-table-header-font-size;
  font-weight: $md-font-medium;
  height: $md-data-table-header-height;
}

.md-table-data {
  @extend %md-tracking-10;
  @extend %md-data-table-item;

  color: $md-data-table-content-color;
  font-size: $md-data-table-content-font-size;
  font-weight: $md-font-regular;
  height: $md-height;
}

.md-table-checkbox {
  color: $md-icon-color;

  .md-checkbox {
    $margin: $md-data-table-padding - $md-icon-btn-padding;

    margin-left: $margin;
    margin-right: $margin;
  }

  .md-icon {
    font-size: $md-data-table-checkbox-font-size;
    padding: ($md-font-icon-size - $md-data-table-checkbox-font-size) / 2;

    transition: color $md-transition-time;

    &.active {
      color: $md-secondary-color;
    }
  }
}
