%md-data-table-padding {
  padding-right: $md-data-table-padding;
}

%md-data-table-adjusted-padding {
  padding-right: $md-data-table-min-padding;
}

%md-data-table-item {
  @extend %md-data-table-padding;

  position: relative;
  text-align: left;
  white-space: nowrap;

  &.grow {
    width: 100%;
  }

  &.numeric {
    text-align: right;
  }

  &.adjusted {
    @extend %md-data-table-adjusted-padding;
  }
}

%md-table-border-bottom {
  border-bottom: 1px solid $md-border-color;
}

.md-data-table-container {
  overflow-x: auto;

  .md-data-table {
    @extend %full-width;
  }
}

.md-data-table {
  border-collapse: collapse;
  max-width: 100%;

  &.full-width {
    @extend %full-width;
  }
}

tbody .md-table-row {
  transition: background $md-transition-time;

  &.active {
    background: $md-data-table-selected-color;
  }

  &:hover {
    background: $md-data-table-hover-color;
  }

  &:not(:last-child) {
    @extend %md-table-border-bottom;
  }
}

thead .md-table-row {
  @extend %md-table-border-bottom;
}

.md-table-row {
  .md-table-header,
  .md-table-data {
    &:first-child {
      padding-left: $md-data-table-padding;
    }
  }
}

.md-table-header {
  @extend %md-tracking-10;
  @extend %md-data-table-item;

  color: $md-data-table-header-color;
  font-size: $md-data-table-header-font-size;
  font-weight: $md-font-medium;
  height: $md-data-table-header-height;

  &.sortable {
    color: $md-text-color;

    &:hover {
      cursor: pointer;
    }

    &:not(:hover) .md-icon {
      color: $md-text-color;
    }
  }

  $padding: ($md-font-icon-size - $md-data-table-sort-icon-font-size) / 2;

  .md-icon {
    font-size: $md-data-table-sort-icon-font-size;
    padding: $padding;
    transition-duration: $md-transition-time;
    transition-property: color, transform;
  }

  .inline-top {
    display: inline-block;
    padding: $padding;
    vertical-align: top;
  }
}

.md-table-data {
  @extend %md-tracking-10;
  @extend %md-data-table-item;

  color: $md-data-table-content-color;
  font-size: $md-data-table-content-font-size;
  font-weight: $md-font-regular;
  height: $md-height;
}

.md-table-checkbox {
  color: $md-icon-color;

  .md-checkbox {
    $margin: $md-data-table-padding - $md-icon-btn-padding;

    margin-left: $margin;
    margin-right: $margin;
  }

  .md-icon {
    font-size: $md-data-table-checkbox-font-size;
    padding: ($md-font-icon-size - $md-data-table-checkbox-font-size) / 2;

    transition: color $md-transition-time;

    &.active {
      color: $md-secondary-color;
    }
  }
}

.md-edit-dialog-column {
  padding-right: 0;
}

.md-edit-dialog {
  min-width: $md-edit-dialog-min-width;
  transition-duration: $md-edit-dialog-transition-time;
  transition-property: background, box-shadow, padding, top;

  &.active,
  &.animating {
    position: absolute;
    z-index: $md-edit-dialog-z-index;
  }

  &.animating {
    top: ($md-height - $md-text-field-desktop-sl-height) / 2;
  }

  &:not(.active) .md-text-divider {
    height: 0;
  }

  &.active {
    @include md-box-shadow(1);

    background: $md-background-color;
    padding: $md-data-table-padding;
    padding-bottom: 0;
    top: 0;
  }

  .md-text-field-container {
    @extend %full-width;

    padding: 0;
  }

  .md-text-field {
    @extend %full-width;

    &:hover {
      cursor: pointer;
    }

    &.active:hover {
      cursor: initial;
    }
  }

  .md-title {
    margin: 0;
  }

  .md-dialog-footer {
    margin-right: -$md-data-table-padding;
  }
}
