.md-data-table {
  font-size: 13px;
  text-align: left;
  width: 100%;

  &.striped {
    tr {
      border-bottom: 1px solid $md-border-color;
    }
  }

  .md-data-table-header {
    color: rgba($md-black-base, .82);
    font-size: #{20 / $md-font-size-base}em;
    height: 64px;
  }

  td,
  th {
    padding-left: 24px;
  }

  td:last-child,
  th:last-child {
    padding-right: 24px;
  }

  th {
    color: rgba($md-black-base, .54);
    font-size: 12px;
    height: 56px;
  }

  td {
    color: rgba($md-black-base, .87);
    height: 48px;
  }

  tbody tr {
    transition: background $md-transition-time;

    &:hover {
      background: $md-divider-color;
    }
  }
}
