.md-date-picker-container {
  position: relative;
}

.md-date-picker {
  &.portrait {
    @include md-date-picker-portrait();
  }

  &.landscape {
    @include md-date-picker-landscape();
  }

  &.inline {
    @include md-box-shadow(3);

    background: $white-base;
    left: 50px;
    position: absolute;
    z-index: 24;
  }
}

//.md-date-picker-header {
//  flex-shrink: 0;
//  padding: $md-dialog-padding;
//  padding-bottom: $md-dialog-padding / 2;
//  padding-right: $md-height;
//
//  .md-subtitle {
//    color: inherit;
//    font-size: $md-date-picker-year-font-size;
//    font-weight: normal;
//    margin: 0;
//    padding: 0;
//  }
//
//  .md-display-1 {
//    font-weight: 500;
//    line-height: 1;
//  }
//}
//
//.md-date-picker-date,
//.md-date-picker-year {
//  @extend %button-unstyled;
//
//  padding: 0;
//  text-align: left;
//}
//
//.md-date-picker-date {
//  display: block;
//}
//


//.md-date-picker-controls {
//  align-items: center;
//  display: flex;
//  justify-content: space-between;
//}
//
//.md-date-picker-calendar {
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//}
//
//.md-dows,
//.md-calendar-month {
//  flex-wrap: wrap;
//  font-size: $md-date-picker-calendar-date-font-size;
//  padding: 0 $md-date-picker-date-padding;
//  text-align: center;
//
//  > * {
//    width: calc(100% / 7);
//  }
//}
//
//.md-dows {
//  display: flex;
//
//  .dow {
//    color: $md-secondary-text-color;
//    margin: 0;
//  }
//}
//
//.md-calendar-date,
//.md-calendar-date-placeholder {
//  padding: $md-date-picker-date-padding 0;
//}
//
//.md-calendar-date {
//  @extend %button-unstyled;
//
//  color: $md-text-color;
//  position: relative;
//  transition: color $md-date-picker-transition-time;
//
//  .date {
//    position: relative;
//    z-index: 1;
//  }
//
//  &[disabled] {
//    color: $md-disabled-color;
//  }
//
//  &.today {
//    font-weight: bold;
//  }
//
//  &:not([disabled]) {
//    &:hover,
//    &:focus,
//    &.active {
//      //scss-lint:disable NestingDepth
//      &:after {
//        transform: translateX(-50%) translateY(-50%) scale(1);
//      }
//    }
//  }
//
//  &:after {
//    border-radius: 50%;
//    content: '';
//    display: block;
//    height: $md-date-picker-circle-size;
//    left: 50%;
//    position: absolute;
//    top: 50%;
//    transform: translateX(-50%) translateY(-50%) scale(0);
//    transition: transform $md-date-picker-transition-time $md-transition-bounce;
//    width: $md-date-picker-circle-size;
//    z-index: 0;
//  }
//}
//
//.swipe-container {
//  display: block;
//  flex-grow: 1;
//  overflow: hidden;
//  white-space: nowrap;
//}
//
//.md-calendar-month {
//  display: inline-flex;
//}
//
//.md-month-right-enter {
//  transform: translate3d(100%, 0, 0);
//
//  &.md-month-right-enter-active {
//    transform: translate3d(0, 0, 0);
//    transition: transform $md-date-picker-transition-time;
//  }
//}
//
//.md-month-right-leave {
//  transform: translate3d(-100%, 0, 0);
//
//  &.md-month-right-leave-active {
//    transform: translate3d(-200%, 0, 0);
//    transition: transform $md-date-picker-transition-time;
//  }
//}
//
//.md-month-left-enter {
//  transform: translate3d(-100%, 0, 0);
//
//  &.md-month-left-enter-active {
//    transform: translate3d(0, 0, 0);
//    transition: transform .3s;
//  }
//}
//
//.md-month-left-leave {
//  transform: translate3d(-100%, 0, 0);
//
//  &.md-month-left-leave-active {
//    transform: translate3d(0, 0, 0);
//    transition: transform $md-date-picker-transition-time;
//  }
//}
//
//.md-date-picker-calendar > header,
//.md-date-picker-footer {
//  flex-shrink: 0;
//}
//
//.md-date-picker-footer {
//  align-items: flex-end;
//}
//
//.md-year-picker {
//  width: 100%;
//}
//
//.md-year {
//  @extend %button-unstyled;
//
//  display: block;
//  font-size: $md-year-picker-font-size;
//  padding: 12px;
//  text-align: center;
//  transition-duration: $md-transition-time;
//  transition-property: color, font-size;
//  width: 100%;
//
//  &.active {
//    font-size: $md-year-picker-active-font-size;
//    font-weight: bold;
//  }
//
//  &:focus:not(.active) {
//    font-size: $md-year-picker-font-size;
//  }
//}
//
//.md-years {
//  list-style: none;
//  margin: 0;
//  overflow-y: auto;
//  padding: 0;
//}
