.md-dialog-container {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;

  &.open {
    visibility: visible;
    z-index: $md-dialog-z-index;
  }

  &.dialog-centered {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $md-dialog-min-page-margin;
  }

  .md-overlay {
    background: $md-dialog-overlay-color;
    z-index: -1;
  }

  .md-overlay-leave.md-overlay-leave-active {
    transition-duration: $md-dialog-transition-time;
  }
}

.md-dialog {
  @include md-box-shadow(5);

  background: $md-white-base;

  &.simple {
    min-width: $md-dialog-simple-min-width;
  }

  &.dialog-centered {

    .md-title {
      padding: $md-dialog-padding;
      padding-bottom: $md-dialog-title-padding-bottom;
    }
  }

  &.full-page {
    height: 100vh;

    .md-title {
      font-size: 20px;
    }
  }

  .md-flat-btn {
    min-width: $md-dialog-flat-btn-min-width;
    padding-left: $md-dialog-flat-btn-lr-padding;
    padding-right: $md-dialog-flat-btn-lr-padding;

    + .md-flat-btn {
      margin-left: $md-dialog-flat-btn-lr-padding;
    }
  }

  .md-title,
  p {
    margin: 0;
  }

  .md-title {
    margin-bottom: 0;
    white-space: initial;
  }
}

.md-dialog-footer {
  display: flex;
  justify-content: flex-end;
  padding: $md-dialog-flat-btn-lr-padding;
  padding-left: $md-dialog-padding;

  &.stacked {
    align-items: flex-end;
    flex-direction: column;

    .md-btn {
      height: $md-height;
    }
  }
}

.md-dialog-content {
  color: $md-dialog-content-text-color;
  overflow: auto;
  padding: $md-dialog-padding;
  padding-top: 0;

  p {
    color: inherit;
  }

  &.simple {
    padding: 0;
  }

  .md-list {
    color: $md-text-color;
    padding-bottom: 8px;
  }

  .md-list-tile {
    display: block;
    height: initial;
    padding-bottom: 16px;
    padding-left: $md-dialog-padding;
    padding-right: $md-dialog-padding;

    &:first-child {
      margin-top: 0;
    }
  }

  .md-tile-primary-text {
    white-space: initial;
  }
}

.md-dialog-enter.md-dialog-enter-active,
.md-dialog-leave.md-dialog-leave-active {
  transition: transform $md-dialog-transition-time, opacity $md-transition-time;
}

.full-page {
  &.md-dialog-enter,
  &.md-dialog-leave.md-dialog-leave-active {
    transform: scale(0);
  }

  &.md-dialog-enter.md-dialog-enter-active,
  &.md-dialog-leave {
    transform: scale(1);
  }
}

.dialog-centered {
  &.md-dialog-enter,
  &.md-dialog-leave.md-dialog-leave-active {
    opacity: 0;
    transform: translate3d(0, $md-dialog-translate-distance, 0);
  }

  &.md-dialog-enter.md-dialog-enter-active,
  &.md-dialog-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hide-overflow {
  overflow: hidden;
}
