%md-divider,
.md-divider {
  background: $md-divider-color;
  border: 0;
  content: '';
  display: block;
  margin: 0;

  &:not(.vertical) {
    height: 1px;
    width: 100%;
  }

  &.vertical {
    height: 100%;
    width: 1px;

    &.inset {
      height: $md-height - 8px;
    }
  }
}
