////
/// @group dividers
////


/// Boolean if the base classes for divider borders should be included.
/// @type Boolean
$md-divider-include-borders: true !default;

/// The height for a Divider
/// @type Number
$md-divider-height: 1px;

/// Includes the Divider styles
///
/// @example scss - Example Usage SCSS
///   @include react-md-dividers;
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if using the light theme.
@mixin react-md-dividers($light-theme: $md-light-theme, $include-borders: $md-divider-include-borders) {
  .md-divider {
    background: get-color('divider', $light-theme);
    border: 0;
    content: '';
    display: block;
    height: $md-divider-height;
    margin: 0;
  }

  .md-divider--vertical {
    height: 100%;
    width: $md-divider-height;
  }

  .md-divider--inset {
    margin-left: $md-list-left-padding;
  }

  @if $include-borders {
    @include react-md-divider-borders($light-theme);
  }
}

/// Includes the styles and class names for creating a divider through
/// the border property. This will create the following class names:
///
/// - md-divider-border
///   - the base class that applies the color and border style.
/// - md-divider-border--top
///   - only includes a border above the element.
/// - md-divider-border--right
///   - only includes a border to the right of the element.
/// - md-divider-border--bottom
///   - only includes a border below the element.
/// - md-divider-border--left
///   - only includes a border to the left of the element.
///
/// @example scss - Example Usage SCSS
///   @include react-md-divider-borders;
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if the borders should
///     be styled for the light theme.
/// @see {Mixin} react-md-theme-divider-borders
@mixin react-md-divider-borders($light-theme: $md-light-theme) {
  .md-divider-border {
    border-color: get-color('divider', $light-theme);
    border-style: solid;
    border-width: 0;
  }

  .md-divider-border--top {
    border-top-width: 1px;
  }

  .md-divider-border--right {
    border-right-width: 1px;
  }

  .md-divider-border--bottom {
    border-bottom-width: 1px;
  }

  .md-divider-border--left {
    border-left-width: 1px;
  }
}

/// Updates the background color of dividers ONLY if the `$light-theme` does
/// not equal the `$md-light-theme`.
///
/// @example scss - Example Usage SCS
///   @include react-md-theme-dividers;
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if using the light theme.
/// @group dividers, themes
@mixin react-md-theme-dividers($light-theme: $md-light-theme, $include-borders: $md-divider-include-borders) {
  @if $light-theme != $md-light-theme {
    .md-divider {
      background: get-color('divider', $light-theme);
    }
  }

  @if $include-borders {
    @include react-md-theme-divider-borders($light-theme);
  }
}

/// Themes only the divider borders if the `$light-theme` does not equal the `$md-light-theme`.
///
/// @example scss - Example Usage SCSS
///   @include react-md-theme-divider-borders(!$md-light-theme);
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if using the light theme.
/// @group dividers, themes
@mixin react-md-theme-divider-borders($light-theme: $md-light-theme) {
  @if $light-theme != $md-light-theme {
    .md-divider-border {
      border-color: get-color('divider', $light-theme);
    }
  }
}
