////
/// @group expansion-panels
////

$md-expansion-panel-opened-margin: $md-default-padding !default;

/// The font size for the unexpanded panel's labels.
///
/// @type String
/// @group expansion-panels
$md-expansion-panel-font-size: 15px;

/// The font size for the exexpanded panel's secondary labels.
///
/// @type String
/// @group expansion-panels
$md-expansion-panel-secondary-font-size: 12px;

/// The default left/right padding for an expansion panel.
///
/// @type String
/// @group expansion-panels
$md-expansion-panel-padding: 24px;

/// The height of the panel's header when expanded.
///
/// @type String
/// @group expansion-panels
$md-expansion-panel-expanded-height: 64px;


/// Includes the styles for expansion panels.
///
/// @example scss- Example Usage SCSS
///   @include react-md-expansion-panels;
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if using the light theme.
@mixin react-md-expansion-panels($light-theme: $md-light-theme) {
  .md-expansion-panel-list {
    @extend %md-list-unstyled;
  }

  .md-expansion-panel {
    background: get-color('card', $light-theme);
    transition-duration: $md-transition-time;
    transition-property: margin;

    &--expanded {
      &:not(:first-child) {
        margin-top: $md-expansion-panel-opened-margin;
      }

      &:not(:last-child) {
        margin-bottom: $md-expansion-panel-opened-margin;
      }
    }
  }

  .md-panel-column:not(:last-child) {
    padding-right: $md-default-padding;
  }

  .md-panel-header {
    align-items: center;
    display: flex;
    font-size: $md-expansion-panel-font-size;
    height: $md-height;
    justify-content: space-between;
    padding-left: $md-expansion-panel-padding;
    padding-right: $md-expansion-panel-padding;
    transition-duration: $md-transition-time;
    transition-property: background, height;

    &--expanded {
      height: $md-expansion-panel-expanded-height;
    }

    &--focused {
      background: $md-grey-200;
    }
  }

  .md-panel-content {
    padding: 0 $md-expansion-panel-padding $md-default-padding;
  }

  .md-panel-secondary-label {
    color: get-color('secondary', $light-theme);
    font-size: $md-expansion-panel-secondary-font-size;
  }
}

/// Updates the styles for expansion panels based on the `light-theme` param.
/// If `light-theme` equals `md-light-theme`, no styles will be created.
///
/// @example scss- Example Usage SCSS
///   @include react-md-expansion-panels;
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if using the light theme.
/// @group expansion-panels, themes
@mixin react-md-theme-expansion-panels($light-theme: $md-light-theme) {
  @if $light-theme != $md-light-theme {
    .md-expansion-panel {
      background: get-color('card', $light-theme);
    }

    .md-panel-secondary-label {
      color: get-color('secondary', $light-theme);
    }
  }
}
