%md-fab-fixed {
  bottom: $md-default-padding;
  position: fixed;
  right: $md-default-padding;
  transition-duration: $md-transition-time * 2;
  transition-property: box-shadow, background, transform, bottom;
  z-index: $md-fab-z-index;

  &.snackbar-adjust {
    bottom: $md-default-padding + $md-snackbar-height;
  }

  &.snackbar-multiline-adjust {
    bottom: $md-default-padding + $md-snackbar-multiline-height;
  }
}

.md-floating-btn {
  @include md-box-shadow(2);

  height: $md-btn-fab-size;
  width: $md-btn-fab-size;

  &.md-speed-dial-fab,
  &.mini {
    height: $md-btn-fab-size-mini;
    padding: ($md-btn-fab-size - $md-btn-fab-size-mini) / 2;
    width: $md-btn-fab-size-mini;
  }

  &:active {
    @include md-box-shadow(4);
  }

  &[disabled] {
    background: none;
    box-shadow: none;
  }

  .md-icon {
    display: block;
  }

  &.fixed {
    @extend %md-fab-fixed;
  }
}

.md-speed-dial {
  @extend %md-fab-fixed;

  > .md-floating-btn {
    z-index: 1;
  }
}

.md-speed-dial-fab {
  background: $md-white-base;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
}

.md-speed-dial-enter {
  top: 0;
}

.md-speed-dial-leave {
  opacity: 1;

  &.md-speed-dial-leave-active {
    opacity: 0;
  }
}

.md-speed-dial-enter.md-speed-dial-enter-active,
.md-speed-dial-leave.md-speed-dial-leave-active {
  transition-duration: $md-transition-time;
  transition-property: opacity, top;
}

@for $i from 1 through 5 {
  .md-speed-dial-fab:nth-of-type(#{$i}):not(.md-speed-dial-enter),
  .md-speed-dial-enter:nth-of-type(#{$i}).md-speed-dial-enter-active {
    top: -($md-btn-fab-size-mini * $i + ($i * 20));
  }

  .md-speed-dial-enter:nth-of-type(#{$i}).md-speed-dial-enter-active {
    transition-delay: #{.02 * ($i - 1)}s;
  }
}


.md-fab-rotate-right-enter {
  transform: rotate3d(0, 0, 1, -90deg);
}

.md-fab-rotate-left-enter {
  transform: rotate3d(0, 0, 1, 90deg);
}

.md-fab-rotate-left-enter.md-fab-rotate-left-enter-active,
.md-fab-rotate-right-enter.md-fab-rotate-right-enter-active {
  transform: rotate3d(0, 0, 1, 0deg);
  transition: transform $md-transition-time;
}

.md-fab-container {
  position: relative;

  .md-floating-btn {
    bottom: -$md-btn-fab-size / 2;
    position: absolute;

    &.mini {
      bottom: -$md-btn-fab-size-mini / 2;
    }
  }

  &.fab-right .md-floating-btn {
    right: $md-default-padding;
  }

  &.fab-left .md-floating-btn {
    left: $md-default-padding;
  }

  + * {
    // 4px as box shadow size-ish
    margin-top: $md-btn-fab-size / 2 + 4px;
  }
}
