////
/// @group inks
////


/// Boolean if the ink should pulse by default. This is basically what will happen
/// while the inked item has focus.
/// @type Boolean
$md-ink-include-pulse: false !default;

/// The transition time for an ink to fully appear.
/// @type Number
$md-ink-enter-transition-time: .45s !default;

/// The transition time for an ink to fully disappear.
/// @type Number
$md-ink-leave-transition-time: .3s !default;

/// The animation time for the ink's pulsing.
/// @type Number
$md-ink-pulse-time: 1.5s !default;

/// This is the scale that an ink should take once it has been fully
/// created. It gets applied into `scale`.
/// @type Number
$md-ink-expanded-scale: 1 !default;

/// The border radius for ink.
/// @type Number
$md-ink-border-radius: 50% !default;

/// Creates the styles for material design ink.
///
/// @example scss - Example Usage SCSS
///   @include react-md-inks;
///
/// @param {Boolean} $light-theme [$md-light-theme] - Boolean if the ink should be styled
///     for the light theme.
/// @param {Boolean} $pulse [$md-ink-include-pulse] - Boolean if the pulse effect should be included.
@mixin react-md-inks($light-theme: $md-light-theme, $pulse: $md-ink-include-pulse) {
  .md-ink-container {
    border-radius: inherit;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .md-ink-container--2x {
    height: 200%;
    left: -50%;
    top: -50%;
    width: 200%;
  }

  .md-ink {
    background: get-color('divider', $light-theme);
    border-radius: $md-ink-border-radius;
    display: block;
    opacity: 1;
    position: absolute;
    transform: scale(0);
    z-index: -1;
  }

  .md-ink--active {
    transition-duration: $md-ink-enter-transition-time;
    transition-property: opacity, transform;
    transition-timing-function: $md-transition-acceleration;
  }

  .md-ink--expanded {
    transform: scale($md-ink-expanded-scale);
  }

  @if $pulse {
    .md-ink--pulsing {
      animation-duration: $md-ink-pulse-time;
      animation-iteration-count: infinite;
      animation-name: md-ink-pulse;
      animation-timing-function: $md-transition-standard;
    }

    @keyframes md-ink-pulse {
      0% {
        transform: scale($md-ink-expanded-scale);
      }

      66% {
        transform: scale(.85);
      }

      100% {
        transform: scale($md-ink-expanded-scale);
      }
    }
  }

  .md-ink--leaving {
    opacity: 0;
    transition-duration: .3s;
    transition-timing-function: $md-transition-deceleration;
  }

}

/// Themes the ink color for the given theme ONLY if the `$light-theme` does not equal the
/// `$md-light-theme`.
///
/// @example scss - Example Usage SCSS
///   @include react-md-theme-inks(!$md-light-theme);
///
/// @param {Boolean} light-theme [$md-light-theme] - Boolean if styling to the light theme.
/// @group inks, themes
@mixin react-md-theme-inks($light-theme: $md-light-theme) {
  @if $light-theme != $md-light-theme {
    .md-ink {
      background: get-color('divider', $light-theme);
    }
  }
}
