.md-ink-container {
  border-radius: inherit;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.md-ink {
  background: $md-divider-color;
  border-radius: 50%;
  display: block;
  opacity: 1;
  position: absolute;
  transform: scale(0);
  z-index: -1;

  &.active {
    transform: scale(2.5);
    transition: opacity .6s, transform .6s;

    &.leaving {
      opacity: 0;
    }
  }
}
