$md-list-tile-left-padding: 72px;
$md-tile-left-padding: $md-list-tile-left-padding - $md-default-padding;
$md-list-tile-extra-margin: $md-default-padding / 2;

.md-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &.md-text-list {
    .md-divider.inset {
      margin-left: $md-default-padding;
    }
  }

  .md-divider.inset {
    margin-left: $md-list-tile-left-padding;
  }

  .md-subheader {
    color: $color-text-secondary;
    font-family: $md-font;
    font-weight: $md-font-medium;
    height: 48px;
    margin: 0;

    &.alt {
      color: get-md-color($color-primary);
    }
  }

  a {
    color: $color-text;
    text-decoration: none;
  }
}

%md-tile-extra-margin-top {
  margin-top: $md-list-tile-extra-margin;
}

%md-tile-extra-margin-bottom {
  margin-bottom: $md-list-tile-extra-margin;
}

.md-divider + .md-list-tile {
  @extend %md-tile-extra-margin-top;
}

.md-list-tile {
  align-items: center;
  display: flex;
  height: 48px;
  padding: $md-default-padding;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: background $md-transition-time;

  &.active {
    color: get-md-color($color-primary);
  }

  &:hover {
    cursor: pointer;
    background-color: $color-divider;
  }

  &:first-child {
    @extend %md-tile-extra-margin-top;
  }

  &:last-child,
  &.extra-mb {
    @extend %md-tile-extra-margin-bottom;
  }

  &.md-list-avatar {
    height: 56px;
  }

  &.md-list-3-lines {
    height: 88px;
  }

  .ripple {
    background: rgba($black-base, .15);
  }

  > *:not(.md-tile-content) {
    flex-shrink: 0;
  }
}

.md-tile-content {
  overflow: hidden;
  padding-left: $md-tile-left-padding;

  &.icon-left {
    padding-left: $md-tile-left-padding - $md-font-icon-size;
  }
}

.md-tile-primary-text,
.md-tile-secondary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-tile-primary-text {
  display: block;
  font-size: 16px;
}

.md-tile-secondary-text {
  color: $color-text-secondary;
  font-size: #{$md-font-size-base}px;
}
