.md-list {
  @extend %list-unstyled;

  user-select: none;

  .md-divider.inset {
    margin-left: $md-list-tile-left-padding;
    width: calc(100% - #{$md-list-tile-left-padding});
  }

  a {
    text-decoration: none;
  }

  .md-icon {
    color: $md-icon-color;
  }

  .extra-mb {
    margin-bottom: $md-list-tile-extra-margin;
  }
}

.md-divider + li {
  margin-top: $md-list-tile-extra-margin;
}

.md-list-item {
  &:hover {
    cursor: pointer;
  }

  &.primary-action,
  &.secondary-action {
    padding-left: $md-default-padding;
    padding-right: $md-default-padding;

    .md-control-container {
      height: inherit;
    }

    .md-switch-container {
      margin-left: auto;
    }
  }

  &.primary-action {
    padding-left: 0;
  }

  &.secondary-action {
    padding-right: 0;

    .md-control-container {
      margin-left: auto;
    }
  }
}

.md-list-tile {
  align-items: center;
  color: $md-text-color;
  display: flex;
  overflow: hidden;
  padding-left: $md-default-padding;
  padding-right: $md-default-padding;
  position: relative;
  transition: background $md-transition-time;

  &:hover {
    background: if($md-light-theme, $md-light-theme-divider-color, $md-dark-theme-divider-color);
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    color: $md-disabled-color;
  }

  &.secondary-action {
    padding-right: 0;
  }

  .md-ink {
    background: rgba($md-black-base, .15);
  }

  > *:not(.md-tile-content) {
    flex-shrink: 0;
  }
}

.md-tile-content {
  flex-grow: 1;
  overflow: hidden;

  &.icon-offset {
    margin-left: $md-toolbar-title-keyline - $md-default-padding - $md-font-icon-size;
  }

  &.avatar-offset {
    margin-left: $md-toolbar-title-keyline - $md-default-padding - $md-avatar-size;
  }
}

.md-tile-primary-text,
.md-tile-secondary-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.three-lines .md-tile-secondary-text {
  // scss-lint:disable PropertySortOrder
  white-space: normal;

  // fallback for non webkit browsers
  display: block;

  // Magic with webkit-line clamp
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.md-list-expander {
  transition: transform $md-transition-time;

  &.active {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

@include md-list-nested-offset($md-list-max-nested-items, $md-list-nested-increment);
