.md-list {
  list-style: none;
  margin: 0;
  padding-left: 0;

  .md-icon {
    color: $md-icon-color;
    transition: color $md-transition-time;
  }

  &.md-text-list {
    .md-divider.inset {
      margin-left: $md-default-padding;
    }
  }

  .md-divider.inset {
    margin-left: $md-list-tile-left-padding;
  }

  .md-subheader {
    font-size: #{$md-font-size-base}px;
    font-weight: $md-font-medium;
    height: 48px;
    margin: 0;
    padding: $md-default-padding;
  }

  a {
    text-decoration: none;
  }

  &.avatar-icon-mix .md-avatar {
    height: $md-font-icon-size;
    margin-right: $md-avatar-size - $md-font-icon-size;
    width: $md-font-icon-size;
  }

  .md-icon-btn {
    height: $md-font-icon-size;
    padding: 0;
    width: $md-font-icon-size;
  }
}

.md-divider + .md-list-tile {
  margin-top: $md-list-tile-extra-margin;
}

.md-list-item,
.md-list-tile {
  padding-left: $md-default-padding;
  padding-right: $md-default-padding;
}

.no-left-icon-adjust .md-list-tile {
  padding-left: $md-toolbar-title-keyline;
}

.md-list-tile {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: background $md-transition-time;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.md-list-avatar ~ .md-divider.inset {
    margin-left: $md-toolbar-title-keyline;
  }

  .md-ink {
    background: rgba($md-black-base, .15);
  }

  > *:not(.md-tile-content) {
    flex-shrink: 0;
  }

  &.three-lines .md-tile-content {

    + .md-icon {
      align-self: flex-start;
      padding-top: $md-default-padding;
    }

    + .md-icon-btn {
      align-self: flex-start;
    }
  }
}

.md-tile-content {
  flex-grow: 1;
  overflow: hidden;

  &.icon-left {
    padding-left: $md-list-tile-left-padding - $md-default-padding - $md-font-icon-size;
  }

  &.icon-right {
    padding-right: $md-default-padding;
  }

  &.avatar-left {
    padding-left: $md-list-tile-left-padding - $md-default-padding - $md-avatar-size;
  }
}

.md-tile-primary-text,
.md-tile-secondary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-tile-primary-text {
  display: block;
}

.md-list-expander {
  transition: transform $md-transition-time;

  &.active {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

@include md-list-nested-offset($md-list-max-nested-items, $md-list-nested-increment);
