.md-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &.md-text-list {
    .md-divider.inset {
      margin-left: $md-default-padding;
    }
  }

  .md-divider.inset {
    margin-left: $md-list-tile-left-padding;
  }

  .md-subheader {
    color: $md-secondary-text-color;
    font-family: $md-font;
    font-size: #{$md-font-size-base}px;
    font-weight: $md-font-medium;
    height: 48px;
    margin: 0;
    padding: $md-default-padding;

    &.md-primary-subheader {
      color: get-md-color($md-primary-color);
    }
  }

  a {
    color: $md-text-color;
    text-decoration: none;
  }
}

%md-tile-extra-margin-top {
  margin-top: $md-list-tile-extra-margin;
}

%md-tile-extra-margin-bottom {
  margin-bottom: $md-list-tile-extra-margin;
}

.md-divider + .md-list-tile {
  @extend %md-tile-extra-margin-top;
}

.md-list-item,
.md-list-tile {
  padding-left: $md-default-padding;
  padding-right: $md-default-padding;
}

.md-list-tile {
  align-items: center;
  display: flex;
  height: $md-height;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: $md-default-padding;

  position: relative;
  transition: background $md-transition-time;

  &.active {
    color: get-md-color($md-primary-color);
  }

  &:focus,
  &:hover {
    background-color: $md-divider-color;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    @extend %md-tile-extra-margin-top;
  }

  &:last-child,
  &.extra-mb {
    @extend %md-tile-extra-margin-bottom;
  }

  &.md-list-avatar {
    height: 56px;

    ~ .md-divider.inset {
      margin-left: 40px + $md-default-padding + ($md-tile-left-padding - $md-font-icon-size);
    }
  }

  &.md-list-3-lines {
    height: 88px;
  }

  .ripple {
    background: rgba($black-base, .15);
  }

  > *:not(.md-tile-content) {
    flex-shrink: 0;
  }
}

.md-tile-content {
  flex-grow: 1;
  overflow: hidden;
  padding-left: $md-tile-left-padding;

  &.icon-left {
    padding-left: $md-tile-left-padding - $md-font-icon-size;
  }

  &.icon-right {
    padding-right: $md-default-padding;
  }
}

.md-tile-primary-text,
.md-tile-secondary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-tile-primary-text {
  display: block;
  font-size: 16px;
}

.md-tile-secondary-text {
  color: $md-secondary-text-color;
  font-size: #{$md-font-size-base}px;
}
