.md-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  padding-top: 8px;

  &.md-text-list {
    .md-divider.inset {
      margin-left: $md-default-padding;
    }
  }

  .md-divider.inset {
    margin-left: $md-list-tile-left-padding;
  }

  .md-subheader {
    font-size: #{$md-font-size-base}px;
    font-weight: $md-font-medium;
    height: 48px;
    margin: 0;
    padding: $md-default-padding;
  }

  a {
    text-decoration: none;
  }

  &.avatar-icon-mix .md-avatar {
    height: $md-font-icon-size;
    margin-right: $md-avatar-size - $md-font-icon-size;
    width: $md-font-icon-size;
  }
}

.md-divider + .md-list-tile {
  margin-top: $md-list-tile-extra-margin;
}

.md-list-item,
.md-list-tile {
  padding-left: $md-default-padding;
  padding-right: $md-default-padding;
}

.no-left-icon-adjust .md-list-tile {
  padding-left: $md-toolbar-title-keyline;
}

.md-list-tile {
  align-items: center;
  display: flex;
  height: $md-height;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: $md-default-padding;
  position: relative;
  transition: background $md-transition-time;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.md-list-avatar {
    height: 56px;

    ~ .md-divider.inset {
      margin-left: $md-toolbar-title-keyline;
    }
  }

  .md-icon {
    width: $md-avatar-size;
  }

  &.md-list-3-lines {
    height: 88px;
  }

  .md-ink {
    background: rgba($md-black-base, .15);
  }

  > *:not(.md-tile-content) {
    flex-shrink: 0;
  }
}

.md-tile-content {
  flex-grow: 1;
  overflow: hidden;

  &.icon-left {
    padding-left: $md-default-padding;
  }

  &.icon-right {
    padding-right: $md-default-padding;
  }
}

.md-tile-primary-text,
.md-tile-secondary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-tile-primary-text {
  display: block;
  font-size: $md-list-primary-text-font-size;
}

.md-tile-secondary-text {
  font-size: #{$md-font-size-base}px;
}
