.md-menu-container {
  display: inline-block;
  position: relative;

  &.full-width {
    width: 100%;
  }
}

.md-menu {
  @include md-box-shadow(2);

  background: $md-white-base;
  position: absolute;
  top: 0;
  z-index: 28;

  &.below {
    border-top: 1px solid $md-border-color;
    top: 100%;
    transform-origin: 0 0;
  }

  &.cascading {
    padding-bottom: 16px;
    padding-top: 16px;

    .md-list-tile {
      height: 32px;
      padding-left: 24px;
      padding-right: 24px;

      // scss-lint:disable NestingDepth
      &.secondary-action {
        padding-right: 24 - $md-default-padding;
      }
    }

    .md-tile-primary-text {
      font-size: 15px;
    }
  }

  .md-menu-container {
    position: absolute;
  }

  .md-list-item {
    position: relative;

    .md-list {
      @include md-box-shadow(3);

      background: if($md-light-theme, $md-white-base, $md-dark-theme-background-color);
      left: 100%;
      position: absolute;
      z-index: 3;
    }
  }
}

.md-transition-tr {
  right: 0;
  transform-origin: 100% 0;
}

.md-transition-tl {
  transform-origin: 0 0;
}

.md-transition-br {
  right: 0;
  transform-origin: 100% 100%;
}

.md-transition-bl {
  transform-origin: 0 100%;
}

.md-transition-below {
  top: 100%;
  transform-origin: 50% 0;
  width: 100%;

  &.md-menu-enter {
    transform: scaleY(0);

    &.md-menu-enter-active {
      transform: scaleY(1);
    }
  }

  &.md-menu-leave {
    transform: scaleY(1);

    &.md-menu-leave-active {
      transform: scaleY(0);
    }
  }
}

.md-menu-enter {
  transform: scale(0);

  &.md-menu-enter-active {
    transform: scale(1);
    transition: transform $md-transition-time;
  }
}

.md-menu-leave {
  transform: scale(1);

  &.md-menu-leave-active {
    transform: scale(0);
    transition: transform $md-transition-time;
  }
}

.md-toolbar-container + .md-menu-container {
  display: block;

  .md-menu {
    width: 100%;
  }
}
