.md-navigation-drawer {
  @include md-box-shadow(1);

  height: 100vh;
  overflow-y: auto;
  position: fixed;
  transition-duration: $md-transition-time;
  transition-property: box-shadow, left, width;
  z-index: $md-navigation-drawer-z-index;

  &.active,
  &.mini {
    left: 0;
  }

  &.mini:not(.active) {
    width: $md-navigation-drawer-mini-width;

    .md-list-tile {
      justify-content: center;
    }
  }

  &.temporary.active {
    @include md-box-shadow(3);

    z-index: $md-navigation-drawer-temporary-z-index;
  }
}

.md-navigation-drawer-content {
  &.mini {
    padding-left: $md-navigation-drawer-mini-width;
    position: relative;
  }
}

.md-navigation-drawer-toolbar,
.md-drawer-header {

  .md-title {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
}

.md-drawer-header {
  .md-icon-btn + .md-title {
    padding-left: 12px;
  }

  .md-title {
    color: $md-secondary-text-color;
    padding-left: $md-default-padding;
  }
}

.md-navigation-drawer-toolbar {
  @include md-box-shadow(1);

  color: $md-white-base;
  left: 0;
  position: fixed;
  top: 0;
  transition-duration: $md-transition-time;
  transition-property: box-shadow, left, width;
  width: 100%;
  z-index: $md-navigation-drawer-z-index;

  .md-title {
    color: inherit;
    padding-left: $md-default-padding;
  }

  .md-text-field {
    font-size: $md-title-font-size;
  }
}

.md-navigation-drawer-btn {
  margin-left: $md-toolbar-action-margin;
  margin-right: $md-toolbar-action-margin;

  &.hidden {
    @extend %invisible;
  }
}

.md-navigation-drawer-toggle {
  float: right;
}

.md-navigation-drawer-overlay {
  // scss-lint:disable PlaceholderInExtend
  @extend .md-overlay;
}
