////
/// @group navigation-drawers
////
@import 'drawers';
@import 'toolbars';

/// Boolean if the navigation drawer's content should use the `height` attribute instead of
/// the `max-height`. When this is true, only the content will be scrollable instead of the
/// entire window.
/// @type Boolean
$md-navigation-drawer-enforce-height: false !default;

/// Boolean if the `height`/`max-height` should use `vh` instead of `%`. It is recommended to set
/// this to `false` instead of using `vh` because of the different calculations on devices.
///
/// If this is disabled, it is recommended to also add the following styles:
/// ```scss
/// html,
/// body,
/// #app, // the entry point for the react app
/// div[react-root] {
///   height: 100%;
/// }
/// ```
/// This will allow for better height calculations throughout the app and not relying on the buggy `vh`.
///
/// @see md-navigation-drawer-enforce-height
/// @type Boolean
$md-navigation-drawer-use-view-height: true !default;

/// Boolean if the cross-fade transition should be included. This is used when the content
/// changes.
/// @type Boolean
$md-navigation-drawer-include-cross-fade: true !default;

/// A margin-left that should also get applied to the navigation drawer's title when being
/// positioned next to a permanent or persistent open drawer.
/// @type Number
$md-navigation-drawer-title-offset: 20px !default;

/// The transition time for the cross-fade transition.
/// @type Number
$md-cross-fade-transition-time: $md-transition-time * 2 !default;

/// The distance that the new content should move during the cross-fade transition.
/// @type Number
$md-cross-fade-distance: 16px !default;

/// Includes the styles for navigation drawers. This really depends on the styles for toolbars and drawers.
///
/// @example scss - Example Usage SCSS
///   @include react-md-navigation-drawers;
///
/// @see react-md-drawers
/// @see react-md-toolbars
/// @param {Boolean} include-media [$md-media-included] - Boolean if the media queries should be included.
/// @param {Boolean} include-cross-fade [$md-navigation-drawer-include-cross-fade] - Boolean if the cross
///   fade transition should be included.
@mixin react-md-navigation-drawers($include-media: $md-media-included, $include-cross-fade: $md-navigation-drawer-include-cross-fade, $enforce-height: $md-navigation-drawer-enforce-height) {
  @if $include-media {
    @include react-md-navigation-drawers-media($enforce-height);
  }

  .md-toolbar {
    &.md-toolbar--over-drawer {
      z-index: $md-drawer-z-index + 2;
    }
  }

  .md-title--drawer-active.md-title--drawer-active {
    transition-duration: $md-drawer-transition-time;
    transition-property: margin-left;
  }

  .md-navigation-drawer-content {
    // main does not display block in IE11. Would normally rely on normalize.css for this
    display: block;

    @if $md-toolbar-height != null {
      @include react-md-navigation-drawer-height($md-toolbar-height);
    }

    &:focus {
      outline-style: none;
    }

    @if $md-navigation-drawer-enforce-height {
      @include md-ios-scroll-momentum;

      overflow-y: auto;
    }

    &--inactive {
      margin-left: 0;
    }

    &--active {
      transition-duration: $md-drawer-transition-time;
      transition-property: margin-left;
    }

    @if $md-toolbar-prominent-height != null {
      &--prominent-offset {
        @include react-md-navigation-drawer-height($md-toolbar-prominent-height)
      }
    }
  }

  .md-title.md-title--permanent-offset {
    margin-left: $md-drawer-tablet-width + $md-navigation-drawer-title-offset;
  }

  @if $include-cross-fade {
    .md-cross-fade-enter {
      opacity: .01;
      transform: translate3d(0, $md-cross-fade-distance, 0);

      &.md-cross-fade-enter-active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-duration: $md-cross-fade-transition-time;
        transition-property: transform, opacity;
      }
    }
  }
}

/// Includes the styles for the navigation drawer content on mobile devices.
/// This should be used within a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-mobile-media} {
///     @include react-md-navigation-drawers-portrait;
///   }
///
/// @param {Boolean} enforce-height [$md-navigation-drawer-enforce-height] - Boolean if the drawer's content
///     height should be strictly enforced. This will use the `height` attribute instead of the `max-height`.
/// @group navigation-drawers, media-queries
@mixin react-md-navigation-drawers-mobile($enforce-height: $md-navigation-drawer-enforce-height) {
  .md-navigation-drawer-content {
    @include react-md-navigation-drawer-height($md-toolbar-mobile-portrait-height, $enforce-height);
  }
}


/// Includes the styles for the navigation drawer content on mobile landscape devices.
/// This should be used within a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-mobile-landscape-media} {
///     @include react-md-navigation-drawers-mobile-landscape;
///   }
///
/// @param {Boolean} enforce-height [$md-navigation-drawer-enforce-height] - Boolean if the drawer's content
///     height should be strictly enforced. This will use the `height` attribute instead of the `max-height`.
/// @group navigation-drawers, media-queries
@mixin react-md-navigation-drawers-mobile-landscape($enforce-height: $md-navigation-drawer-enforce-height) {
  @if $md-toolbar-height == null {
    .md-navigation-drawer-content {
      @include react-md-navigation-drawer-height($md-toolbar-mobile-landscape-height, $enforce-height);
    }
  }

  @if $md-toolbar-prominent-height == null and $md-toolbar-mobile-prominent-height != null {
    .md-navigation-drawer-content--prominent-offset {
      @include react-md-navigation-drawer-height($md-toolbar-mobile-prominent-height, $enforce-height);
    }
  }
}


/// Includes the styles for the navigation drawer content on tablets.
/// This should be used within a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-tablet-media} {
///     @include react-md-navigation-drawers-tablet;
///   }
///
/// @param {Boolean} enforce-height [$md-navigation-drawer-enforce-height] - Boolean if the drawer's content
///     height should be strictly enforced. This will use the `height` attribute instead of the `max-height`.
/// @group navigation-drawers, media-queries
@mixin react-md-navigation-drawers-tablet($enforce-height: $md-navigation-drawer-enforce-height) {
  @if $md-toolbar-height == null {
    .md-navigation-drawer-content {
      @include react-md-navigation-drawer-height($md-toolbar-tablet-height, $enforce-height);
    }
  }

  @if $md-toolbar-prominent-height == null and $md-toolbar-tablet-prominent-height != null {
    .md-navigation-drawer-content {
      @include react-md-navigation-drawer-height($md-toolbar-tablet-prominent-height, $enforce-height);
    }
  }

  .md-title.md-title--persistent-offset {
    margin-left: $md-drawer-tablet-width - $md-btn-icon-size - $md-btn-icon-padding + $md-navigation-drawer-title-offset;
  }
}


/// Includes the styles for the navigation drawer content on desktop screens.
/// This should be used within a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-desktop-media} {
///     @include react-md-navigation-drawers-desktop;
///   }
///
/// @param {Boolean} enforce-height [$md-navigation-drawer-enforce-height] - Boolean if the drawer's content
///     height should be strictly enforced. This will use the `height` attribute instead of the `max-height`.
/// @param {Boolean} include-dense-icons [$md-font-icon-include-dense] - Boolean if the dense font icons
///     should be included.
/// @group navigation-drawers, media-queries
@mixin react-md-navigation-drawers-desktop($enforce-height: $md-navigation-drawer-enforce-height, $include-dense-icons: $md-font-icon-include-dense) {
  @if $md-toolbar-height == null and $md-toolbar-desktop-height != null {
    .md-navigation-drawer-content {
      @include react-md-navigation-drawer-height($md-toolbar-desktop-height, $enforce-height);
    }
  }

  @if $md-toolbar-prominent-height == null and $md-toolbar-desktop-prominent-height != null {
    .md-navigation-drawer-content {
      @include react-md-navigation-drawer-height($md-toolbar-desktop-prominent-height, $enforce-height);
    }
  }

  @if $include-dense-icons or $md-drawer-tablet-width != $md-drawer-desktop-width {
    .md-title.md-title--persistent-offset {
      margin-left: $md-drawer-desktop-width - if($include-dense-icons, $md-btn-icon-dense-size, $md-btn-icon-size) - if($include-dense-icons, $md-btn-icon-dense-padding, $md-btn-icon-padding) + $md-navigation-drawer-title-offset;
    }
  }
}

/// Includes the media queries and styles for navigation drawers.
///
/// @example scss - Example Usage SCSS
///   @include react-md-navigation-drawers-media;
///
/// @param {Boolean} enforce-height [$md-navigation-drawer-enforce-height] - Boolean if the drawer's content
///     height should be strictly enforced. This will use the `height` attribute instead of the `max-height`.
/// @param {Boolean} include-dense-icons [$md-font-icon-include-dense] - Boolean if the dense font icons
///     should be included.
/// @group navigation-drawers, media-queries
@mixin react-md-navigation-drawers-media($enforce-height: $md-navigation-drawer-enforce-height, $include-dense-icons: $md-font-icon-include-dense) {
  $defaults-not-set: $md-toolbar-height == null or $md-toolbar-prominent-height == null;
  @if $defaults-not-set {
    @media #{$md-mobile-media} {
      @include react-md-navigation-drawers-mobile($enforce-height);
    }

    @media #{$md-mobile-landscape-media} {
      @include react-md-navigation-drawers-mobile-landscape($enforce-height);
    }

    @media #{$md-tablet-media} {
      @include react-md-navigation-drawers-tablet($enforce-height);
    }
  }

  @if $defaults-not-set or $include-dense-icons or $md-drawer-tablet-width != $md-drawer-desktop-width {
    @media #{$md-desktop-media} {
      @include react-md-navigation-drawers-desktop($enforce-height, $include-dense-icons);
    }
  }
}

/// This is mostly an internal mixin for either setting the height or min-height for the navigation drawer's content.
///
/// @param {Number} toolbar-height - The current toolbar height.
/// @param {Boolean} enforce-height [$md-navigation-drawer-enforce-height] - Boolean if the height should be enforced
///     instead of setting the min-height.
/// @param {Boolean} use-vh [$md-navigation-drawer-use-view-height] - Boolean if the height should use `vh` instead of `%`.
@mixin react-md-navigation-drawer-height($toolbar-height, $enforce-height: $md-navigation-drawer-enforce-height, $use-vh: $md-navigation-drawer-use-view-height) {
  $height: calc(#{'100' + if($use-vh, 'vh', '%')} - #{$toolbar-height});

  @if $enforce-height {
    height: $height;
  } @else {
    min-height: $height;
  }
}
