////
/// @group overlays
////

/// The z-index to use for overlays.
/// @type Number
$md-overlay-z-index: 15 !default;

/// The default color for overlays.
/// @type Color
$md-overlay-color: rgba($md-black-base, .4) !default;

/// Creates the styles for overlays
@mixin react-md-overlays {
  .md-overlay {
    background: $md-overlay-color;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition-duration: $md-transition-time;
    transition-property: opacity;
    width: 100vw;
    z-index: $md-overlay-z-index;
  }

  .md-overlay--active {
    opacity: 1;
  }
}
