%paper {
  background: $md-card-color;
  border-radius: 2px;
}


/// Makes paper at the specific z-depth
///
/// @example scss - Basic Usage Sass
///    .paper-2 {
///      @include make-paper(2);
///    }
///
/// If the depth is 0, a hover effect will be added to raise the card to z-depth of 3.
///
/// @param {Number} z-depth [1] - The zDepth for the card
@mixin make-paper($z-depth: 1) {
  @extend %paper;
  @include md-box-shadow($z-depth);

  @if $z-depth == 0 {
    transition: box-shadow $md-transition-time * 3;

    &:hover {
      @include md-box-shadow(3);
    }
  }
}

@for $i from 0 through 5 {
  .paper-#{$i} {
    @include make-paper($i)
  }
}
