.md-picker-container {
  position: relative;

  .md-text-field:hover,
  .md-text-field-label-container:hover {
    cursor: pointer;
  }
}

.md-picker-control.active,
.md-date-picker-date.active,
.md-date-picker-year.active,
.md-calendar-date:not([disabled]):hover,
.md-calendar-date:not([disabled]):focus,
.md-calendar-date:not([disabled]).active {
  color: $md-dark-theme-text-color;
}

.md-picker-control,
.md-date-picker-date,
.md-date-picker-year {
  color: $md-dark-theme-secondary-text-color;
}

.md-picker {
  &.inline {
    @include md-box-shadow(3);

    position: absolute;
    z-index: 24;

    &.with-icon {
      left: 50px;
    }
  }

  &.portrait {
    @include md-pickers-portrait();
  }

  &.landscape {
    @include md-pickers-landscape();
  }

  &.date-picker {
    .md-picker-control {
      display: block;
    }
  }

  &.time-picker {
    .md-picker-header {
      text-align: right;
    }

    .md-picker-control {
      padding: 0;
    }
  }
}

.md-time-periods {

  .md-picker-control {
    display: block;
  }
}

.md-picker-header {
  padding: $md-dialog-padding;
}

.md-picker-control {
  @extend %button-unstyled;

  .md-subtitle {
    font-size: 16em / $md-font-size-base;
    font-weight: $md-font-medium;
    margin: 0;
    padding: 0;
  }

  .md-display-1,
  .md-display-3 {
    color: inherit;
    margin-bottom: 0;
  }

  .md-display-1 {
    font-weight: 500;
    text-align: left;
  }
}




.md-picker-content-container {
  overflow: hidden;
}


.md-picker-content.clock {
  padding: $md-dialog-padding;
  padding-bottom: $md-dialog-padding / 2;
}

.md-clock-face {
  border-radius: 50%;
  margin: auto;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.md-clock-hand {
  height: 2px;
  position: absolute;
  transform-origin: 0 0;
  transition-duration: $md-transition-time;
  transition-property: transform, width;
  z-index: 4;

  &:before,
  &:after {
    border-radius: 50%;
    content: '';
    position: absolute;
  }

  // center ball
  &:before {
    height: $md-clock-hand-ball-size;
    left: -$md-clock-hand-ball-size / 2;
    // no idea why
    top: -2px;
    width: $md-clock-hand-ball-size;
  }

  &:after {
    height: $md-clock-time-size;
    right: -$md-clock-time-size / 2 + $md-clock-padding / 2;
    top: -$md-clock-time-size / 2;
    transition-duration: $md-transition-time;
    transition-property: transform, background, border;
    width: $md-clock-time-size;
  }

  &.invisible-minute:after {
    transform: scale($md-clock-hand-ball-scale);
  }
}

// Prevents the event.target to be anything other than the .md-clock-face
.md-clock-time,
.md-clock-hand {
  pointer-events: none;
  user-select: none;
}

.md-clock-time {
  display: table;
  height: $md-clock-time-size;
  position: absolute;
  transition: color $md-transition-time;
  width: $md-clock-time-size;
  z-index: 8;
}

.md-clock-time-value {
  display: table-cell;
  font-size: $md-clock-time-font-size;
  text-align: center;
  vertical-align: middle;
}



.md-calendar {
  position: relative;
}

.md-calendar-controls {
  .md-subtitle {
    color: $md-text-color;
    line-height: $md-font-icon-size;
    margin: 0;
    padding: $md-dialog-padding / 2;
    text-align: center;
  }

  .md-icon-btn {
    color: $md-text-color;
    position: absolute;
    top: 0;

    &:first-of-type {
      left: 12px;
    }

    &:last-of-type {
      right: 12px;
    }
  }
}

.md-calendar-month,
.md-dows {
  padding-left: $md-dialog-padding / 2;
  padding-right: $md-dialog-padding / 2;
}

.md-dows {
  .dow {
    color: $md-hint-text-color;
  }
}

.md-dows .dow,
.md-calendar-date-placeholder,
.md-calendar-date {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: top;
  width: calc(100% / 7);
}

.md-dows .dow,
.md-calendar-date {
  font-size: 13px;
}

.md-calendar-date {
  @extend %button-unstyled;

  color: $md-text-color;
  position: relative;
  transition: color $md-transition-time;

  .date {
    position: relative;
    z-index: 1;
  }

  &[disabled] {
    color: $md-disabled-color;
  }

  &.active,
  &.today {
    font-weight: $md-font-bold;
  }

  &:not([disabled]) {
    &:hover,
    &:focus,
    &.active {
      //scss-lint:disable NestingDepth
      &:after {
        transform: translateX(-50%) translateY(-50%) scale(1);
      }
    }
  }

  &:after {
    border-radius: 50%;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    transition: transform $md-date-picker-transition-time $md-transition-bounce;
    z-index: 0;
  }
}

.md-year-picker {
  overflow-y: auto;
}

.md-years {
  list-style: none;
  margin: 0;
  padding: 0;
}

.md-year {
  @extend %button-unstyled;

  display: block;
  font-size: $md-year-picker-font-size;
  padding: 12px;
  text-align: center;
  transition-duration: $md-transition-time;
  transition-property: color, font-size;
  width: 100%;

  &.active {
    font-size: $md-year-picker-active-font-size;
    font-weight: bold;
  }

  &:focus:not(.active) {
    font-size: $md-year-picker-focus-font-size;
  }
}
