.md-picker {

  &.portrait {
    @include md-pickers-portrait();
  }

  &.landscape {
    @include md-pickers-landscape();
  }

  &.date-picker {
    .md-picker-control {
      display: block;
    }
  }

  &.time-picker {
    .md-picker-header {
      text-align: right;
    }

    .md-picker-control {
      padding: 0;
    }
  }
}

.md-time-periods {

  .md-picker-control {
    display: block;
  }
}

.md-picker-header {
  background: get-md-color($md-primary-color);
  padding: $md-dialog-padding;
}

.md-picker-control {
  @extend %button-unstyled;

  color: rgba($white-base, .7);

  &.active {
    color: $white-base;
  }

  .md-subtitle {
    font-size: 16em / $md-font-size-base;
    font-weight: $md-font-medium;
    margin: 0;
    padding: 0;
  }

  .md-display-1 {
    font-weight: 500;
    text-align: left;
  }
}






.md-picker-content.clock {
  padding: $md-dialog-padding;
  padding-bottom: $md-dialog-padding / 2;
}

.md-clock {
  $md-clock-size: $md-pickers-landscape-height - $md-dialog-padding - 52px;
  background: get-md-color(grey, 4);
  border-radius: 50%;
  content: '';
  margin: auto;
}




.md-calendar {
  position: relative;
}

.md-calendar-controls {
  .md-subtitle {
    color: $md-text-color;
    line-height: $md-font-icon-size;
    margin: 0;
    padding: $md-dialog-padding / 2;
    text-align: center;
  }

  .md-icon-btn {
    color: $md-text-color;
    position: absolute;
    top: 0;

    &:first-of-type {
      left: 12px;
    }

    &:last-of-type {
      right: 12px;
    }
  }
}

.md-calendar-month,
.md-dows {
  padding-left: $md-dialog-padding / 2;
  padding-right: $md-dialog-padding / 2;
}

.md-dows {
  .dow {
    color: $md-hint-text-color;
  }
}

.md-dows .dow,
.md-calendar-date-placeholder,
.md-calendar-date {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: top;
  width: calc(100% / 7);
}

.md-dows .dow,
.md-calendar-date {
  font-size: 13px;
}

.md-calendar-date {
  @extend %button-unstyled;

  color: $md-text-color;
  position: relative;
  transition: color $md-transition-time;

  .date {
    position: relative;
    z-index: 1;
  }

  &[disabled] {
    color: $md-disabled-color;
  }

  &.active,
  &.today {
    font-weight: $md-font-bold;
  }

  &:not([disabled]) {
    &:hover,
    &:focus,
    &.active {
      //scss-lint:disable NestingDepth
      &:after {
        transform: translateX(-50%) translateY(-50%) scale(1);
      }
    }
  }

  &:after {
    border-radius: 50%;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    transition: transform $md-date-picker-transition-time $md-transition-bounce;
    z-index: 0;
  }
}

.md-year-picker {
  overflow-y: auto;
}

.md-years {
  list-style: none;
  margin: 0;
  padding: 0;
}

.md-year {
  @extend %button-unstyled;

  display: block;
  font-size: $md-year-picker-font-size;
  padding: 12px;
  text-align: center;
  transition-duration: $md-transition-time;
  transition-property: color, font-size;
  width: 100%;

  &.active {
    font-size: $md-year-picker-active-font-size;
    font-weight: bold;
  }

  &:focus:not(.active) {
    font-size: $md-year-picker-focus-font-size;
  }
}
