.md-date-picker {
  &.portrait {
    @include md-date-picker-portrait();
  }

  &.landscape {
    @include md-date-picker-landscape();
  }

}

.md-date-picker-header {
  background: get-md-color($md-primary-color);
  flex-shrink: 0;
  padding: $md-dialog-padding;
  padding-bottom: $md-dialog-padding / 2;
  padding-right: $md-height;

  .md-subtitle {
    color: inherit;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  .md-display-1 {
    font-weight: 500;
    line-height: 1;
  }
}

.md-date-picker-date,
.md-date-picker-year {
  @extend %button-unstyled;

  color: rgba($white-base, .7);
  padding: 0;
  text-align: left;

  &.active {
    color: $white-base;
  }
}

.md-date-picker-date {
  display: block;
}



.md-date-picker-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.md-date-picker-calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 380px;
}

.md-dows,
.md-calendar-month {
  flex-wrap: wrap;
  font-size: 13px;
  padding: 0 12px;
  text-align: center;

  > * {
    width: calc(100% / 7);
  }
}

.md-dows {
  display: flex;

  .dow {
    color: $md-secondary-text-color;
    margin: 0;
  }
}

.md-calendar-date,
.md-calendar-date-placeholder {
  padding: 12px 0;
}

.md-calendar-date {
  @extend %button-unstyled;

  color: $md-text-color;
  position: relative;
  transition: color $md-transition-time * 2;

  .date {
    position: relative;
    z-index: 1;
  }

  &.today {
    color: get-md-color($md-primary-color);
    font-weight: bold;
  }

  &:hover,
  &:focus,
  &.active {
    color: $white-base;

    &:after {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }

  &.active:after {
    background: get-md-color($md-primary-color);
  }

  &:focus:not(.active):after,
  &:hover:not(.active):after {
    background: get-md-color($md-primary-color, 5);
  }

  &:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 36px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    transition: transform $md-transition-time * 2 $md-transition-bounce;
    width: 36px;
    z-index: 0;
  }
}

.swipe-container {
  display: block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}

.md-calendar-month {
  display: inline-flex;
}

.md-month-right-enter {
  transform: translate3d(100%, 0, 0);

  &.md-month-right-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
  }
}

.md-month-right-leave {
  transform: translate3d(-100%, 0, 0);

  &.md-month-right-leave-active {
    transform: translate3d(-200%, 0, 0);
    transition: transform .3s;
  }
}

.md-month-left-enter {
  transform: translate3d(-100%, 0, 0);

  &.md-month-left-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
  }
}

.md-month-left-leave {
  transform: translate3d(-100%, 0, 0);

  &.md-month-left-leave-active {
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
  }
}

.md-date-picker-calendar > header,
.md-date-picker-footer {
  flex-shrink: 0;
}

.md-date-picker-footer {
  align-items: flex-end;
}

.md-year-picker {
  width: 100%;
}

.md-year {
  @extend %button-unstyled;

  display: block;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  transition-duration: $md-transition-time;
  transition-property: color, font-size;
  width: 100%;

  &.active {
    color: get-md-color($md-primary-color);
    font-size: 26px;
    font-weight: bold;
  }

  &:focus:not(.active) {
    color: get-md-color($md-primary-color, 4);
    font-size: 20px;
  }
}

.md-years {
  list-style: none;
  margin: 0;
  max-height: 380px - 52;
  overflow-y: auto;
  padding: 0;
}
