////
/// @group progress
////

/// Boolean if the circular progress bars should be included.
/// @type Boolean
$md-progress-include-circular: true !default;

/// Boolean if the linear progress bars should be included.
/// @type Boolean
$md-progress-include-linear: true !default;

/// The top and bottom margin to apply to the circular and linear progress.
/// @type Number
$md-progress-margin: 1em !default;

/// The duration for one cycle of the circular progress animation.
/// @type Number
$md-progress-duration: 2.4s !default;

/// The initial stroke-dasharray for the indeterminate progress.
/// I have no idea how this stuff works.. So change have fun changing that.
///
/// @type Number
$md-circular-progress-stroke-dasharray: 187px !default;

/// The linear progress's bar height.
/// @type Number
$md-linear-progress-height: 3px !default;

/// The amount of time the animation should delay for linear progress bars.
/// @type Number
$md-linear-progress-delay: 1.15s !default;

/// The default swatch to use for the default linear progress bar background.
/// This should be either: 100, 200, 400, or 700.
/// @type Number
$md-linear-progress-swatch: 100 !default;

/// An optional fallback color to use for the linear progress's background. This is only
/// required when the `$md-secondary-color` is not a valid material design color.
/// @type Color
/// @see get-swatch
/// @group progress, themes
$md-linear-progress-fallback-color: null !default;



/// Includes the styles for progress bars if either `$include-circular` and/or `$include-linear`
/// are `true`.
///
/// Progress bars are always styled with the `secondary-color`. When using a `linear` progress bar,
/// the default background will be a swatch that is lighter than the `secondary-color`.
///
///
/// @param {Color} secondary-color [$md-secondary-color] - The secondary color to theme progress
///     bars with.
/// @param {Number} linear-swatch [$md-linear-progress-swatch] - The swatch number to use for
///     a linear progress bar's default background. This should be either 100, 200, 400, or 700.
/// @param {Boolean} include-circular [$md-progress-include-circular] - Boolean if the circular
///     progress styles should be included.
/// @param {Boolean} include-linear [$md-progress-include-linear] - Boolean if the linear
///     progress styles should be included.
@mixin react-md-progress($secondary-color: $md-secondary-color, $linear-swatch: $md-linear-progress-swatch, $include-circular: $md-progress-include-circular, $include-linear: $md-progress-include-linear) {
  @if $include-circular or $include-linear {
    .md-progress {
      display: block;
      margin-bottom: $md-progress-margin;
      margin-top: $md-progress-margin;
    }
  }

  @if $include-circular {
    @include react-md-progress-circular($secondary-color);
  }

  @if $include-linear {
    @include react-md-progress-linear($secondary-color);
  }
}

/// Creates the styles for a circular progress bar.
///
/// @example scss - Example Usage SCSS
///   @include react-md-progress-circular;
///
/// @param {Color} secondary-color [$md-secondary-color] - The secondary color to theme with.
@mixin react-md-progress-circular($secondary-color: $md-secondary-color) {
  .md-progress--circular-determinate {
    transition-duration: $md-transition-time;
    transition-property: transform;
  }

  .md-progress--circular-indeterminate {
    animation-duration: $md-progress-duration;
    animation-iteration-count: infinite;
    animation-name: md-circular-progress;
    animation-timing-function: linear;
  }

  .md-circular-progress-path {
    fill: none;
    stroke: $secondary-color;
    stroke-dasharray: $md-circular-progress-stroke-dasharray;
  }

  .md-circular-progress-path--animated {
    animation-duration: $md-progress-duration;
    animation-iteration-count: infinite;
    animation-name: md-circular-progress-dash;
    animation-timing-function: ease-ine-out;
    stroke-dashoffset: 0;
  }

  @keyframes md-circular-progress {
    0% { transform: rotate(0deg); }

    50% { transform: rotate(135deg); }

    75% { transform: rotate(450deg); }

    100% { transform: rotate(720deg); }
  }

  @keyframes md-circular-progress-dash {
    0% {
      stroke-dashoffset: $md-circular-progress-stroke-dasharray;
    }

    50% {
      stroke-dashoffset: $md-circular-progress-stroke-dasharray / 4;
    }

    100% {
      stroke-dashoffset: $md-circular-progress-stroke-dasharray;
    }
  }
}

/// Creates the styles for a linear progress bar.
///
/// @example scss - Example Usage SCSS
///   @include react-md-progress-linear;
///
/// @param {Color} secondary-color [$md-secondary-color] - The secondary color to theme with.
/// @param {Number} swatch [$md-linear-progress-swatch] - The swatch to use for the unmoving
///     background.
/// @param {Color} fallback-color [$md-linear-progress] - An optional fallback color to use when the secondary color
///     is not a valid material design color.
@mixin react-md-progress-linear($secondary-color: $md-secondary-color, $swatch: $md-linear-progress-swatch, $fallback-color: $md-linear-progress-fallback-color) {
  .md-progress--linear {
    background: get-swatch($secondary-color, $swatch, true, $fallback-color, md-linear-progress-fallback-color);
    height: $md-linear-progress-height;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .md-progress--linear-active {
    background: $secondary-color;
  }

  .md-progress--linear-determinate {
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .md-progress--linear-indeterminate {
    &::before,
    &::after {
      background: inherit;
      bottom: 0;
      content: '';
      position: absolute;
      top: 0;
      will-change: left, right;
      z-index: 1;
    }

    &::before {
      animation-duration: $md-progress-duration;
      animation-iteration-count: infinite;
      animation-name: md-linear-indeterminate;
      animation-timing-function: $md-transition-standard;
    }

    &::after {
      animation-delay: $md-linear-progress-delay;
      animation-duration: $md-progress-duration;
      animation-iteration-count: infinite;
      animation-name: md-linear-indeterminate-short;
      animation-timing-function: $md-transition-acceleration;
    }
  }

  .md-progress--linear-query {
    &::before,
    &::after {
      animation-direction: reverse;
    }
  }


  @keyframes md-linear-indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes md-linear-indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }
}

/// Updates the theme for progress bars.
///
/// @example scss - Example Usage SCSS
///   @include react-md-theme-progress($md-deep-orange-a-700, 200);
///
/// @param {Color} secondary-color [$md-secondary-color] - The secondary color to theme progress
///     bars with.
/// @param {Number} linear-swatch [$md-linear-progress-swatch] - The swatch number to use for
///     a linear progress bar's default background. This should be either 100, 200, 400, or 700.
/// @param {Boolean} include-circular [$md-progress-include-circular] - Boolean if the circular
///     progress styles should be included.
/// @param {Boolean} include-linear [$md-progress-include-linear] - Boolean if the linear
///     progress styles should be included.
/// @param {Color} fallback-color [$md-linear-progress] - An optional fallback color to use when the secondary color
///     is not a valid material design color.
/// @group progress, themes
@mixin react-md-theme-progress($secondary-color: $md-secondary-color, $linear-swatch: $md-linear-progress-swatch, $include-circular: $md-progress-include-circular, $include-linear: $md-progress-include-linear, $fallback-color: $md-linear-progress-fallback-color) {
  @if $include-circular {
    @include react-md-theme-progress-circular($secondary-color);
  }

  @if $include-linear {
    @include react-md-theme-progress-linear($secondary-color, $linear-swatch, $fallback-color);
  }
}

/// Themes the circular progress bars only when the `$secondary-color` does not equal
/// the `$md-secondary-color`.
///
/// @example scss - Example Usage SCSS
///   @include react-md-theme-progress-circular($md-orange-a-700);
///
/// @param {Color} secondary-color [$md-secondary-color] - The secondary color to theme progress
///     bars with.
/// @group progress, themes
@mixin react-md-theme-progress-circular($secondary-color: $md-secondary-color) {
  @if $secondary-color != $md-secondary-color {
    .md-circular-progress-path {
      stroke: $secondary-color;
    }
  }
}

/// Themes only the linear progress bars when the `$secondary-color` does not equal
/// the `$md-secondary-color` OR the `$swatch` does not equal the `$md-linear-progress-swatch`.
///
/// @example scss - Example Usage SCSS
///   @include react-md-theme-progress-linear($md-orange-a-700, 200);
///
/// @param {Color} secondary-color [$md-secondary-color] - The secondary color to theme progress
///     bars with.
/// @param {Number} swatch [$md-linear-progress-swatch] - The swatch number to use for
///     a linear progress bar's default background. This should be either 100, 200, 400, or 700.
/// @param {Color} fallback-color [$md-linear-progress] - An optional fallback color to use when the secondary color
///     is not a valid material design color.
/// @group progress, themes
@mixin react-md-theme-progress-linear($secondary-color: $md-secondary-color, $swatch: $md-linear-progress-swatch, $fallback-color: $md-linear-progress-fallback-color) {
  @if $secondary-color != $md-secondary-color {
    .md-progress--linear-active {
      background: $secondary-color;
    }
  }

  @if $secondary-color != $md-secondary-color or $swatch != $md-linear-progress-swatch or $md-linear-progress-fallback-color != $fallback-color {
    .md-progress--linear {
      background: get-swatch($secondary-color, $swatch, true, $fallback-color, md-linear-progress-fallback-color);
    }
  }
}
