.md-control-container {
  align-items: center;
  display: flex;

  &:not(.disabled) {
    cursor: pointer;
  }

  &.inline {
    display: inline-flex;
  }

  .label {
    cursor: inherit;
  }

  &.disabled {
    .label {
      cursor: default;
    }
  }
}

.md-control-input {
  @extend %hidden;

  &:checked + .md-switch {
    &::before {
      left: $md-switch-width - $md-switch-bar-height - $md-switch-ball-size;
    }

    .md-ink {
      left: $md-switch-bar-height / 2;
    }
  }
}


.md-checkbox,
.md-radio {
  border-radius: 50%;
  height: $md-icon-btn-size;
  overflow: hidden;
  padding: $md-icon-btn-padding;
  position: relative;
  transition: color $md-transition-time;
  width: $md-icon-btn-size;

  &.disabled {
    color: $md-disabled-color;
  }
}


.md-switch {
  @include absolute-center(true, true);

  border-radius: $md-switch-radius;
  display: inline-block;
  height: $md-switch-bar-height;
  position: relative;
  width: $md-switch-height - $md-switch-bar-height / 2;

  &::before {
    @extend %circle;

    box-shadow: 0 2px #{$md-switch-bar-height / 2} rgba($md-black-base, .2);
    content: '';
    height: $md-switch-ball-size;
    left: -$md-switch-offset;
    position: absolute;
    top: -$md-switch-offset;
    transition: background $md-transition-time, background $md-transition-time, left $md-transition-time;
    width: $md-switch-ball-size;
  }

  .md-ink {
    height: $md-height;
    left: -$md-switch-bar-height;
    top: -$md-switch-bar-height;
    transition: left $md-transition-time;
    width: $md-height;

    &.active {
      transform: scale(1.25);
      transition: transform $md-ink-animation-time, opacity $md-ink-animation-time, left $md-transition-time;
    }
  }
}

.md-switch-container {
  height: $md-switch-height;
  margin-right: $md-btn-padding;
  position: relative;
  width: $md-switch-width;
}
