@import '../helpers/all';

.md-control-container {
  align-items: center;
  display: flex;

  &:not(.disabled) {
    cursor: pointer;
  }

  &.inline {
    display: inline-flex;
  }

  .label {
    cursor: inherit;
    height: $md-height;
    line-height: 20 / $md-font-size-base;
    padding: ($md-height - 20px) / 2 0;
  }

  &.disabled {
    .label {
      color: $md-disabled-color;
      cursor: default;
    }

    .md-switch:before {
      background: $md-status-bar-color;
    }
  }
}

.md-control-input {
  @extend %hidden;

  &:checked + .md-switch {
    &:before {
      background: get-md-color($md-primary-color);
      border-color: get-md-color($md-primary-color);
      color: $white-base;
      left: $md-switch-width - $md-switch-bar-height - $md-switch-ball-size;
    }

    .md-ink {
      left: $md-switch-bar-height / 2;
    }
  }
}


.md-checkbox,
.md-radio {
  transition: color $md-transition-time;

  &.active {
    color: get-md-color($md-primary-color);
  }
}


.md-switch {
  @include absolute-center(true, true);

  background: $md-switch-background;
  border-radius: $md-switch-radius;
  display: inline-block;
  height: $md-switch-bar-height;
  position: relative;
  width: $md-switch-height - $md-switch-bar-height / 2;

  &:before {
    @extend %circle;

    background: $md-background-color;
    box-shadow: 0 2px #{$md-switch-bar-height / 2} rgba($black-base, .2);
    content: '';
    height: $md-switch-ball-size;
    left: -$md-switch-offset;
    position: absolute;
    top: -$md-switch-offset;
    transition: background $md-transition-time, background $md-transition-time, left $md-transition-time;
    width: $md-switch-ball-size;
  }

  .md-ink {
    height: $md-height;
    left: -$md-switch-bar-height;
    top: -$md-switch-bar-height;
    transition: left $md-transition-time;
    width: $md-height;

    &.active {
      transform: scale(1.25);
      transition: transform $md-ink-animation-time, opacity $md-ink-animation-time, left $md-transition-time;
    }
  }
}

.md-switch-container {
  height: $md-switch-height;
  margin-right: $md-btn-padding;
  position: relative;
  width: $md-switch-width;
}
