.md-selection-control-container {
  align-items: center;
  display: flex;

  .label {
    &:not(.disabled) {
      cursor: pointer;
    }

    &.disabled {
      color: $md-disabled-color;
    }
  }
}

.md-checkbox,
.md-radio {
  transition: color $md-transition-time;

  &.active {
    color: get-md-color($md-primary-color);
  }
}


.md-control-container {
  height: $md-control-container-size;
  position: relative;
  width: $md-control-container-size;
}

.stacked .md-control-label {
  display: flex;
}

.md-control-input {
  height: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;

  &:checked {
    + .md-radio,
    + .md-switch:before {
      background: get-md-color($md-primary-color);
      border-color: get-md-color($md-primary-color);
      color: $white-base;
    }

    + .md-radio {
      box-shadow: inset 0 0 0 2px $white-base;
    }

    + .md-switch:before {
      left: $md-control-switch-width - $md-control-switch-height - $md-control-switch-ball-size;
    }
  }
}

.md-control-label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  user-select: none;

  &.disabled {
    .label {
      color: $md-disabled-color;
    }

    .md-control {
      border-color: $md-status-bar-color;
    }

    .md-switch:before {
      background: $md-status-bar-color;
    }
  }
}

.md-control {
  @include absolute-center(true, true);

  position: absolute;
}

.md-radio {
  @extend %circle;
  border: 2px solid rgba($black-base, .54);
  padding: #{$md-font-size-base / 2}px;
  transition: background $md-transition-time, color $md-transition-time, border $md-transition-time;
}


.md-switch-label {

  .md-control-container {
    width: $md-control-switch-width;
  }
}

.md-switch {
  background: $md-control-switch-background;
  border-radius: $md-control-switch-radius;
  display: inline-block;
  height: $md-control-switch-height;
  position: relative;
  width: $md-control-container-size - $md-control-switch-height / 2;

  &:before {
    @extend %circle;

    background: $md-background-color;
    box-shadow: 0 2px #{$md-control-switch-height / 2} rgba($black-base, .2);
    content: '';
    height: $md-control-switch-ball-size;
    left: -$md-control-switch-offset;
    position: absolute;
    top: -$md-control-switch-offset;
    transition: background $md-transition-time, background $md-transition-time, left $md-transition-time;
    width: $md-control-switch-ball-size;
  }
}
