////
/// @group select-fields
////

$md-select-field-drop-distance: 6px !default;
$md-select-field-drop-transition-time: $md-transition-time * 2 !default;
$md-select-field-left-padding: 24px;
$md-select-field-right-padding: 16px;

/// Creates the styles for select fields.
///
/// @example scss - Example Usage SCSS
///   @include react-md-select-fields;
@mixin react-md-select-fields($include-media: $md-media-included) {
  .md-select-field {
    cursor: inherit;
    display: flex;
    flex-wrap: wrap;
    user-select: none;

    .md-divider {
      width: 100%;
    }
  }

  .md-select-field-menu--stretch .md-list {
    min-width: 100%;
  }

  .md-select-field--btn.md-select-field--btn {
    padding-bottom: $md-default-padding;
    padding-left: $md-select-field-left-padding;
    padding-right: $md-select-field-right-padding;
    padding-top: $md-default-padding;
  }

  @include react-md-select-fields-drop-transition;

  @if $include-media {
    @include react-md-select-fields-media;
  }
}

@mixin react-md-select-fields-mobile {
  .md-select-field--btn {
    height: $md-text-field-mobile-height;
  }

  .md-select-field--text-field {
    height: 18px;
  }
}

@mixin react-md-select-fields-desktop {
  .md-select-field--btn {
    height: $md-text-field-desktop-height;
  }

  .md-select-field--text-field {
    height: 15px;
  }
}

@mixin react-md-select-fields-media {
  @media #{$md-mobile-media} {
    @include react-md-select-fields-mobile;
  }

  @media #{$md-desktop-media} {
    @include react-md-select-fields-desktop;
  }
}

@mixin react-md-select-fields-drop-transition {
  .md-drop-enter {
    transform: translate3d(0, -$md-select-field-drop-distance, 0);

    &.md-drop-enter-active {
      transform: translate3d(0, 0, 0);
      transition-duration: $md-select-field-drop-transition-time;
      transition-property: transform;
    }
  }
}
