.md-sidebar-container {
  @extend %full-height;

  display: inline-block;
  left: 0;
  top: 0;
  z-index: $md-sidebar-z-index;

  &.responsive {
    display: flex;
  }

  &.fixed,
  &.fixed .md-sidebar {
    height: 100vh;
    position: fixed;
  }

  &.fixed {
    z-index: $md-sidebar-fixed-z-index;
  }

  &.md-sidebar-left .md-sidebar {
    left: 0;
  }

  &.md-sidebar-right .md-sidebar {
    right: 0;
  }
}

.md-sidebar {
  @include make-paper(2);

  min-height: 100%;
  overflow-y: hidden;
  transition: width $md-transition-time;
  width: 0;
  z-index: $md-sidebar-z-index;

  &.active {
    overflow-y: auto;
  }
}

.md-sidebar-relative {
  padding-left: $md-sidebar-open-width;
}

.md-sidebar-relative-right {
  padding-right: $md-sidebar-open-width;
}
