@mixin make-sidebar-fixed() {
  height: 100vh;
  position: fixed;
}

@mixin make-sidebar-responsive($min-width, $width: $md-sidebar-open-width, $fixed: false) {
  @media screen and (min-width: $min-width) {
    .md-sidebar-container.md-sidebar-responsive {
      @if $fixed == true {
        @include make-sidebar-fixed();

      } @else {
        height: initial;
        min-height: 100vh;
        position: initial;

        .md-overlay {
          display: none;
        }
      }

      .md-sidebar.active {
        width: $width;
      }
    }
  }
}

@include make-sidebar-responsive(0, calc(100vw - #{$md-font-icon-btn-size}), true);
@include make-sidebar-responsive(600px);

.md-sidebar-container {
  @extend %full-height;

  display: inline-block;
  z-index: $md-sidebar-z-index;

  &.md-sidebar-responsive {
    display: flex;
  }

  &.fixed {
    @include make-sidebar-fixed();
  }
}

.md-sidebar {
  @include make-paper(2);

  overflow: hidden;
  transition: width $md-transition-time;
  width: 0;
  z-index: $md-sidebar-z-index;

  &.active {
    width: $md-sidebar-open-width;
  }

  .md-avatar {
    height: $md-font-icon-size;
    width: $md-font-icon-size;
  }
}

