.md-slider-track-container {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.md-slider {
  @extend %hidden;
}

.md-slider-track {
  display: block;
  height: $md-height;
  padding-top: $md-height - 10px;
  position: relative;
  width: 100%;

  &:before,
  .md-track-fill {
    height: 2px;
    left: 0;
    position: absolute;
  }

  &:before {
    background: rgba($black-base, .26);
    content: '';
    right: 0;
  }

  .md-track-fill {
    background: get-md-color($md-primary-color);

    &.discrete,
    &:not(.dragging) {
      transition: width $md-transition-time;
    }
  }
}

.md-slider-thumb {
  @extend %button-unstyled;

  background: $white-base;
  border-radius: 50%;
  color: $md-secondary-text-color;
  height: 14px;
  left: -$md-slider-ball-size / 2;
  position: absolute;
  top: $md-height - 10 - $md-slider-ball-size / 2;
  transition-duration: $md-transition-time;
  transition-property: transform, background, color, top;
  width: 14px;
  z-index: 3;

  &.discrete,
  &:not(.dragging) {
    transition-property: transform, background, color, top, left;
  }

  &:not(.valued) {
    border: 2px solid $md-secondary-text-color;
  }

  &.valued {
    background: get-md-color($md-primary-color);

    .md-ink {
      background: rgba(get-md-color($md-primary-color), .16);
    }
  }

  &.active {
    transform: scale(1.5);
  }

  &.discrete {
    border: 0;

    &:not(.valued) {
      background: rgb(189, 189, 189);
    }

    &:after {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid transparent;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 10px;
      transition-duration: $md-transition-time;
      transition-property: top, border-top-color;
      width: 0;
    }

    &.active {
      top: $md-slider-ball-size / 2;
      transform: scale(2);

      &:not(.valued):after {
        border-top-color: rgb(189, 189, 189);
      }

      &:after {
        border-top-color: get-md-color($md-primary-color);
      }
    }
  }
}

.md-thumb-control {
  @extend %button-unstyled;

  color: $white-base;
  font-size: 8px;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.md-slider-discrete-value {
  left: 50%;

  position: absolute;
  top: -1px;
  transform: translateX(-50%) scale(.4);
}
