.md-snackbar {
  align-items: center;
  background: $md-snackbar-bg-color;
  bottom: 0;
  display: flex;
  height: $md-snackbar-height;
  justify-content: space-between;
  padding: $md-snackbar-tb-padding $md-snackbar-lr-padding;
  position: fixed;
  z-index: $md-snackbar-z-index;

  &.multiline {
    height: $md-snackbar-multiline-height;
  }

  p {
    color: $md-white-base;
    margin: 0;
  }

  .md-flat-btn {
    min-width: initial;
    overflow: visible;
    padding: 0;
  }
}

.snackbar-enter-active:not(:only-child),
.snackbar-enter-active:not(:only-child) * {
  transition-delay: $md-transition-time * 3;
}

.snackbar-enter-active,
.snackbar-leave-active {
  transform-origin: 0 100%;
  transition: transform $md-transition-time * 2;
}

.snackbar-enter {
  * {
    opacity: .01;
  }

  &.snackbar-enter-active {
    * {
      opacity: 1;
      transition: opacity $md-transition-time * 3 ease;
    }
  }
}
