////
/// @group snackbars
////

/// The z-index to use for snackbars.
/// @type Number
/// @see md-btn-fixed-z-index
/// @see md-drawer-z-index
/// @see md-dialog-full-page-z-index
/// @see md-dialog-overlay-z-index
/// @see md-menu-z-index
/// @see md-overlay-z-index
/// @see md-picker-inline-z-index
/// @see md-toolbar-z-index
/// @group snackbars, z-indexes
$md-snackbar-z-index: 10 !default;

/// The default transiiton time for the snackbar to appear and disappear
$md-snackbar-transition-time: $md-transition-time * 2 !default;

/// The background color for the snackbar.
/// @type Color
$md-snackbar-color: #323232 !default;

/// The horizontal padding in a snackbar.
/// @type Number
$md-snackbar-horizontal-padding: 24px;

/// The vertical padding for a single line snackbar.
/// @type Number
$md-snackbar-vertical-padding: 14px;

/// The vertical padding for a multi-line snackbar.
/// @type Number
$md-snackbar-vertical-multiline-padding: 24px;

/// The margin between the snackbar's text and action on mobile devices.
/// @type Number
$md-snackbar-mobile-button-left-margin: 24px;

/// The height of a single line snackbar on mobile devices.
/// @type Number
$md-snackbar-mobile-height: 48px;

/// The height of a multi-line snackbar on mobile devices.
/// @type Number
$md-snackbar-mobile-multiline-height: 80px;

/// The border radius for snackbars on desktop screens.
/// @type Number
$md-snackbar-desktop-border-radius: 2px;

/// The margin between a snackbar's text and action on desktop screens.
/// @type Number
$md-snackbar-desktop-button-left-margin: 48px;

/// The min width for a snackbar on desktop screens.
/// @type Number
$md-snackbar-desktop-min-width: 288px;

/// The max width for a snackbar on desktop screens.
/// @type Number
$md-snackbar-desktop-max-width: 568px;


/// Creates the styles for snackbars
///
/// @param {Boolean} include-media [$md-media-included] - BOolean if the media queries should
///   be included by default.
@mixin react-md-snackbars($include-media: $md-media-included) {
  .md-snackbar-container {
    position: absolute;
  }

  .md-snackbar {
    align-items: center;
    background: $md-snackbar-color;
    bottom: 0;
    display: flex;
    height: $md-snackbar-mobile-height;
    justify-content: space-between;
    position: fixed;
    transform-origin: 0 100%;
    z-index: $md-snackbar-z-index;
  }

  .md-snackbar--multiline {
    height: $md-snackbar-mobile-multiline-height;
  }

  .md-snackbar--toast {
    color: $md-white-base;
    margin-bottom: 0;
    padding-left: $md-snackbar-horizontal-padding;
    padding-right: $md-snackbar-horizontal-padding;
  }

  .md-snackbar-enter-active,
  .md-snackbar-leave-active {
    transition-duration: $md-snackbar-transition-time;
    transition-property: transform;

    * {
      transition-duration: $md-snackbar-transition-time;
      transition-property: opacity;
    }
  }

  .md-snackbar-enter.md-snackbar-enter-active {
    transition-timing-function: $md-transition-deceleration;
  }

  .md-snackbar-leave.md-snackbar-leave-active {
    transition-timing-function: $md-transition-acceleration;
  }

  .md-snackbar-enter,
  .md-snackbar-leave.md-snackbar-leave-active {
    * {
      opacity: 0;
    }
  }

  .md-snackbar-enter.md-snackbar-enter-active,
  .md-snackbar-leave {
    * {
      opacity: 1;
    }
  }

  .md-btn--snackbar {
    padding-left: $md-snackbar-horizontal-padding;
    padding-right: $md-snackbar-horizontal-padding;
  }

  @if $include-media {
    @include react-md-snackbars-media;
  }
}

/// Creates the styles for snackbars on mobile devices. This should _normally_ be used
/// in a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-mobile-media} {
///     @include react-md-snackbars-mobile;
///   }
///
/// @group snackbars, media-queries
@mixin react-md-snackbars-mobile {
  .md-snackbar {
    left: 0;
    right: 0;
  }

  .md-snackbar-enter,
  .md-snackbar-leave.md-snackbar-leave-active {
    transform: translate3d(0, 100%, 0);
  }

  .md-snackbar-enter.md-snackbar-enter-active,
  .md-snackbar-leave {
    transform: translate3d(0, 0, 0);
  }

  .md-snackbar--action {
    padding-right: 0;
  }

  .md-btn--snackbar-floating {
    transition: bottom $md-snackbar-transition-time, background $md-transition-time, box-shadow $md-transition-time, color $md-transition-time;
    will-change: bottom;
  }

  .md-btn--snackbar-floating-adjust {
    bottom: $md-btn-mobile-floating-margin + $md-snackbar-mobile-height;
  }

  .md-btn--snackbar-floating-multiline-adjust {
    bottom: $md-btn-mobile-floating-margin + $md-snackbar-mobile-multiline-height;
  }
}

/// Creates the styles for snackbars on desktop screens. This should _normally_ be used
/// in a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-desktop-media} {
///     @include react-md-snackbars-desktop;
///   }
///
/// @group snackbars, media-queries
@mixin react-md-snackbars-desktop {
  .md-snackbar {
    border-radius: $md-snackbar-desktop-border-radius;
    left: 50%;
    max-width: $md-snackbar-desktop-max-width;
    min-width: $md-snackbar-desktop-min-width;
    right: initial;
    transform: translate3d(-50%, 0, 0);
  }

  .md-snackbar-enter,
  .md-snackbar-leave.md-snackbar-leave-active {
    transform: translate3d(-50%, 100%, 0);
  }

  .md-snackbar-enter.md-snackbar-enter-active,
  .md-snackbar-leave {
    transform: translate3d(-50%, 0, 0);
  }

  .md-snackbar--action {
    padding-right: $md-snackbar-horizontal-padding;
  }

  .md-btn--snackbar-floating-adjust {
    bottom: $md-btn-desktop-floating-margin;
  }

  .md-btn--snackbar-floating-multiline-adjust {
    bottom: $md-btn-desktop-floating-margin;
  }
}

/// Creates the media queries and styles for snackbars on both mobile devices and
/// desktop screens.
///
/// @example scss - Example Usage SCSS
///   @include react-md-snackbars-media;
///
/// @group snackbars, media-queries
@mixin react-md-snackbars-media {
  @media #{$md-mobile-media} {
    @include react-md-snackbars-mobile;
  }

  @media #{$md-tablet-media} {
    @include react-md-snackbars-desktop;
  }
}
