@mixin make-md-tabs($name, $color, $slide-color, $slide-hue, $hue: 6, $slide-secondary: true) {
  .md-tabs-#{$name} {
    background: get-md-color($md-primary-color, $hue);

    .slide {
      background: get-md-color($slide-color, $slide-hue, $slide-secondary);
    }

    .md-tab.active .md-tab-label {
      color: $white-base;
    }

    .md-tab-label {
      color: rgba($white-base, .7);
    }
  }
}

.md-tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  .slide {
    background: get-md-color($md-primary-color);
    bottom: 0;
    content: '';
    display: block;
    height: $md-tab-slide-height;
    left: 0;
    position: absolute;
    transition: left $md-tab-slide-transition-time ease-out, width $md-tab-slide-transition-time ease;
  }
}

.md-tab {
  height: $md-tab-height;
  max-width: $md-tab-max-width;
  min-width: $md-tab-min-width;
  padding-left: $md-tab-padding;
  padding-right: $md-tab-padding;

  &.wrapped {
    .md-tab-label {
      font-size: #{12 / $md-font-size-base}em;
    }
  }

  &.active {
    .md-tab-label {
      color: get-md-color($md-primary-color);
    }
  }
}

.md-tab-label {
  align-items: center;
  background: transparent;
  color: $color-text-secondary;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: $md-font-medium;
  height: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: color $md-transition-time;
  user-select: none; // prevent accidental select when changing tabs
  width: 100%;
}

@include make-md-tabs(primary, $md-primary-color, $color-secondary, 2);
