////
/// @group tabs
////

@import 'toolbars';

/// Boolean if the styles for tabs with a label and an icon should be included.
/// @type Boolean
$md-tab-include-icons: true !default;

/// Boolean if the styles for wrapping a toolbar and tabs together should be included.
/// @type Boolean
/// @see react-md-tabbed-toolbars
$md-tab-include-toolbars: true !default;

/// Boolean if the styles for offsetting content from a prominent toolbar and tabs
/// should be included.
/// @type Boolean
$md-tab-include-prominent-toolbars: $md-toolbar-include-prominent !default;

/// Boolean if the styles for a pagination tab overflow on desktop screens should
/// be included.
/// @type Boolean
$md-tab-include-pagination-overflow: true !default;

/// Boolean if the styles for a menu tab overflow on desktop screens should be included.
/// @type Boolean
$md-tab-include-menu-overflow: true !default;

/// Boolean if the mobile swipeable styles should be included.
/// @type Boolean
$md-tab-include-swipeable: true !default;

/// The height for a tab with only a label or only an icon.
/// @type Number
$md-tab-height: 48px;

/// The height for a tab with a label and an icon.
/// @type Number
$md-tab-icon-height: 72px;

/// The absolute maximum width for a tab. A tab's width is either the view's width - 56px
/// or this value; whichever is smaller.
/// @type Number
$md-tab-max-width: 264px;

/// The height for the active tab indicator.
/// @type Number
$md-tab-indicator-height: 2px;

/// The font size for a tab that spans multiple lines.
/// @type Number
$md-tab-multiline-font-size: 12px;

/// The left and right padding for a tab.
/// @type Number
$md-tab-padding: 12px;

/// The bottom padding for a tab that only spans one line.
/// @type Number
$md-tab-single-line-padding-bottom: 20px;

/// The padding bottom for a tab that has both a label and an icon.
/// @type Number
$md-tab-icon-padding-bottom: 16px;

/// The min width for a tab on mobile devices.
/// @type Number
$md-tab-mobile-min-width: 72px;

/// The font size for a tab on mobile devices.
/// @type Number
$md-tab-mobile-font-size: 14px;

/// The font size for a tab on desktop screens.
/// @type Number
$md-tab-desktop-font-size: 13px;

/// The min width for a tab on desktop screens.
/// @type Number
$md-tab-desktop-min-width: 160px;

/// The left and right padding for a tab on desktop screens.
/// @type Number
$md-tab-desktop-padding: 24px;



/// Includes the stiles for tabs.
///
/// @example scss - Example Usage SCSS
///   @include react-md-tabs;
///
/// @param {Color} secondary-color [$md-secondary-color] - The app's secondary color. This is used
///   to style the active tab indicator.
/// @param {Boolean} include-media [$md-media-included] - Boolean if the media queries should be included
///   with this mixin.
/// @param {Boolean} include-icons [$md-tab-include-icons] - Boolean if the styles for a tab with a label
///   and an icon should be included.
/// @param {Boolean} include-toolbars [$md-tab-include-toolbars] - Boolean if the styles for a simple container
///   holding a toolbar and tabs should be included.
/// @param {Boolean} include-prominent-toolbars [$md-tab-include-prominent-toolbars] - Boolean if the styles
///   for the simple container holding a toolbar and tabs should include the prominent toolbar styles.
/// @param {Boolean} include-pagination-overflow [$md-tab-include-pagination-overflow] - Boolean if the styles
///   for desktop pagination overflow should be included.
/// @param {Boolean} include-menu-overflow [$md-tab-include-menu-overflow] - Boolean if the styles for a drop down menu
///   tab overflow on desktop screens should be included.
/// @param {Boolean} include-swipeable [$md-tab-include-swipeable] - Boolean if the styles for swiping the tab
///   content on mobile devices should be included.
@mixin react-md-tabs(
  $secondary-color: $md-secondary-color,
  $include-media: $md-media-included,
  $include-icons: $md-tab-include-icons,
  $include-toolbars: $md-tab-include-toolbars,
  $include-prominent-toolbars: $md-tab-include-prominent-toolbars,
  $include-pagination-overflow: $md-tab-include-pagination-overflow,
  $include-menu-overflow: $md-tab-include-menu-overflow,
  $include-swipeable: $md-tab-include-swipeable
) {
  .md-tabs {
    @extend %md-list-unstyled;

    display: flex;
    position: relative;

    &.md-background--primary {
      .md-ink {
        background: rgba($md-white-base, .12);
      }
    }

    &--centered {
      justify-content: center;

      .md-tab {
        flex-grow: initial;
      }
    }

    @if $include-pagination-overflow {
      &--pagination {
        .md-tab {
          flex-grow: 0;
        }
      }
    }
  }

  @include react-md-tabs-tab($include-icons);
  @include react-md-tabs-indicator($secondary-color);
  @include react-md-tabs-overflow($include-pagination-overflow, $include-menu-overflow);

  @if $include-icons {
    @include react-md-tabs-icon;
  }

  @if $include-toolbars {
    @include react-md-tabbed-toolbars;
  }

  @if $include-swipeable {
    @include react-md-tabs-swipeable;
  }


  @if $include-media {
    @include react-md-tabs-media($include-icons, $include-toolbars, $include-prominent-toolbars, $include-swipeable);
  }
}

/// Updates the theme for tabs only if the `$secondary-color` does not equal the `$md-secondary-color`.
/// This really changes the color of the tab indicator.
///
/// @example scss - Example Usage SCSS
///   .theme-a-red {
///     @include react-md-theme-tabs($md-red-a-200);
///   }
///
/// @param {Color} secondary-color [$md-secondary-color] - The secondary app color to theme with.
/// @group tabs, themes
@mixin react-md-theme-tabs($secondary-color: $md-secondary-color) {
  @if $secondary-color != $md-secondary-color {
    .md-tab-indicator {
      background: $secondary-color;
    }
  }
}

/// Includes the styles for a tab only. This should probably not be used since it
/// is included in the `react-md-tabs` mixin.
///
/// @see react-md-tabs
/// @param {Boolean} include-icons [$md-tab-include-icons] - Boolean if the styles for a tab
///     with a label and icon should be included.
@mixin react-md-tabs-tab($include-icons: $md-tab-include-icons) {
  .md-tab {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    height: $md-tab-height;
    justify-content: flex-end;
    overflow: hidden;
    padding-bottom: $md-tab-single-line-padding-bottom;
    padding-left: $md-tab-padding;
    padding-right: $md-tab-padding;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &--multiline {
      font-size: $md-tab-multiline-font-size;
      padding-bottom: $md-tab-padding;
    }

    @if $include-icons {
      &--icon {
        height: $md-tab-icon-height;
        padding-bottom: $md-tab-icon-padding-bottom;
      }
    }

    &--inactive {
      color: get-color('secondary', false);
    }
  }
}

/// Includes the styles for the tab indicator only. This should probably
/// not be used since it is included in the `react-md-tabs` mixin.
///
/// @see react-md-tabs
/// @param {Color} secondary-color [$md-secondary-color] - The app's secondary color
///     to theme with.
@mixin react-md-tabs-indicator($secondary-color: $md-secondary-color) {
  .md-tab-indicator {
    background: $secondary-color;
    bottom: 0;
    content: '';
    height: $md-tab-indicator-height;
    left: 0;
    position: absolute;
  }
}

/// Includes the styles for toolbars that have tabs as well.
@mixin react-md-tabbed-toolbars {
  .md-tab-toolbar {
    width: 100%;
  }
}

/// Includes the styles for desktop tab overflow.
///
/// @param {Boolean} include-pagination-overflow [$md-tab-include-pagination-overflow] - Boolean if the styles
///   for desktop pagination overflow should be included.
/// @param {Boolean} include-menu-overflow [$md-tab-include-menu-overflow] - Boolean if the styles for a drop down menu
///   tab overflow on desktop screens should be included.
@mixin react-md-tabs-overflow($include-pagination-overflow: $md-tab-include-pagination-overflow, $include-menu-overflow: $md-tab-include-menu-overflow) {
  @if $include-pagination-overflow {
    .md-btn--tab-overflow {
      bottom: 2px;
      position: absolute;

      &--icon {
        bottom: 8px;
      }

      &-left {
        left: 6px;
        z-index: 3;
      }

      &-right {
        right: 12px;
      }
    }
  }

  @if $include-menu-overflow {
    .md-menu--tab {
      margin-right: 100%;

      .md-list--menu {
        width: 100%;
      }

      .md-icon {
        color: inherit;
      }

      .md-tab {
        padding-top: 12px;
      }
    }
  }
}

/// Includes the styles for the swipeable views as well as some offset classes for
/// positioning the tabs content.
@mixin react-md-tabs-swipeable {
  .md-tabs-fixed-container {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $md-toolbar-z-index;
  }

  .md-tabs-content {
    &--offset {
      margin-top: $md-tab-height;

      &-icon {
        margin-top: $md-tab-icon-height;
      }
    }
  }
}

/// Includes the styles for an icon in the tabs.
@mixin react-md-tabs-icon {
  .md-icon--tab {
    color: inherit;
    margin-bottom: 10px;
  }
}

/// Includes the styles for tabs on mobile devices.
/// @group tabs, media-queries
@mixin react-md-tabs-mobile {
  .md-toolbar ~ .md-tabs {
    // No idea why :/
    margin-top: -1px;
  }

  .md-tabs {
    overflow-x: auto;
  }

  .md-tab {
    max-width: calc(100vw - 56px);
    min-width: $md-tab-mobile-min-width;
  }

  .md-tab-label {
    font-size: $md-tab-mobile-font-size;
    font-weight: $md-font-medium;
    line-height: $md-tab-mobile-font-size;
  }
}

/// Includes the styles for tabs on mobile devices that are portrait.
/// This really only adds styles for offsetting the tabs content when there is
/// a toolbar. No styles will be included if the `$include-toolbars` or `$include-swipeable`
/// params are `false`.
///
/// This mixin will define some offset class names to position the tabs content.
/// - `.md-tabs-content--offset-toolbar`
/// - `.md-tabs-content--offset-toolbar-icon`
/// - `.md-tabs-content--offset-toolbar-prominent`
///
/// @param {Boolean} include-icons [$md-tab-include-icons] - Boolean if the styles for offsetting the
///     tabs content when there is a tab with both a label and an icon.
/// @param {Boolean} include-toolbars [$md-tab-include-toolbars] - Boolean if the styles for offsetting
///     the tabs content when there is a `.md-tabs-container` containing both a toolbar and tabs.
/// @param {Boolean} include-prominent-toolbars [$md-tabinclude-prominent-toolbars] - Boolean if the styles
///   for offsetting the tabs content when there is a `.md-tabs-container` containing both a prominent toolbar
///   and tabs.
/// @param {Boolean} include-swipeable [$md-tab-include-swipeable] - Boolean if the tab's content is swipeable.
/// @group tabs, media-queries
@mixin react-md-tabs-mobile-portrait(
  $include-icons: $md-tab-include-icons,
  $include-toolbars: $md-tab-include-toolbars,
  $include-prominent-toolbars: $md-tab-include-prominent-toolbars,
  $include-swipeable: $md-tab-include-swipeable
) {
  @if $include-toolbars and $include-swipeable {
    .md-tabs-content--offset-toolbar {
      margin-top: $md-tab-height + $md-toolbar-mobile-portrait-height;

      @if $include-icons {
        &-icon {
          margin-top: $md-tab-icon-height + $md-toolbar-mobile-portrait-height;
        }
      }

      @if $include-prominent-toolbars {
        &-prominent {
          margin-top: $md-tab-height + $md-toolbar-mobile-prominent-height;
        }
      }
    }
  }
}

/// Includes the styles for tabs on mobile devices that are landscape.
/// This really only adds styles for offsetting the tabs content when there is
/// a toolbar. No styles will be included if the `$include-toolbars` or `$include-swipeable`
/// params are `false`.
///
/// This mixin will define some offset class names to position the tabs content.
/// - `.md-tabs-content--offset-toolbar`
/// - `.md-tabs-content--offset-toolbar-icon`
///
/// @param {Boolean} include-icons [$md-tab-include-icons] - Boolean if the styles for offsetting the
///     tabs content when there is a tab with both a label and an icon.
/// @param {Boolean} include-toolbars [$md-tab-include-toolbars] - Boolean if the styles for offsetting
///     the tabs content when there is a `.md-tabs-container` containing both a toolbar and tabs.
/// @param {Boolean} include-swipeable [$md-tab-include-swipeable] - Boolean if the tab's content is swipeable.
/// @group tabs, media-queries
@mixin react-md-tabs-mobile-landscape(
  $include-icons: $md-tab-include-icons,
  $include-toolbars: $md-tab-include-toolbars,
  $include-swipeable: $md-tab-include-swipeable
) {
  @if $include-toolbars and $include-swipeable {
    .md-tabs-content--offset-toolbar {
      margin-top: $md-tab-height + $md-toolbar-mobile-landscape-height;

      @if $include-icons {
        &-icon {
          margin-top: $md-tab-icon-height + $md-toolbar-mobile-landscape-height;
        }
      }
    }
  }
}

/// Includes the styles for tabs on tablet devices. This really only adds styles for offsetting
/// the tabs content when there is a toolbar. No styles will be included if the `$include-toolbars`
/// or `$include-swipeable` params are `false`.
///
/// This mixin will define some offset class names to position the tabs content.
/// - `.md-tabs-content--offset-toolbar`
/// - `.md-tabs-content--offset-toolbar-icon`
///
/// @param {Boolean} include-icons [$md-tab-include-icons] - Boolean if the styles for offsetting the
///     tabs content when there is a tab with both a label and an icon.
/// @param {Boolean} include-toolbars [$md-tab-include-toolbars] - Boolean if the styles for offsetting
///     the tabs content when there is a `.md-tabs-container` containing both a toolbar and tabs.
/// @param {Boolean} include-swipeable [$md-tab-include-swipeable] - Boolean if the tab's content is swipeable.
/// @group tabs, media-queries
@mixin react-md-tabs-tablet(
  $include-icons: $md-tab-include-icons,
  $include-toolbars: $md-tab-include-toolbars,
  $include-swipeable: $md-tab-include-swipeable
) {
  @if $include-toolbars and $include-swipeable {
    .md-tabs-content--offset-toolbar {
      margin-top: $md-tab-height + $md-toolbar-tablet-height;

      @if $include-icons {
        &-icon {
          margin-top: $md-tab-icon-height + $md-toolbar-tablet-height;
        }
      }
    }
  }
}

/// Includes the styles for tabs on desktop screens.
/// @group tabs, media-queries
@mixin react-md-tabs-desktop {
  .md-toolbar ~ .md-tabs {
    margin-top: 0;
  }

  .md-tabs {
    overflow: visible;
  }

  .md-tab {
    max-width: $md-tab-max-width;
    min-width: $md-tab-desktop-min-width;
    padding-left: $md-tab-desktop-padding;
    padding-right: $md-tab-desktop-padding;
  }

  .md-tab-label {
    font-size: $md-tab-desktop-font-size;
    line-height: $md-tab-desktop-font-size;
  }
}

/// Creates all the styles for tabs at different media sizes.
///
/// @param {Boolean} include-icons [$md-tab-include-icons] - Boolean if the styles for a tab with a label
///   and an icon should be included.
/// @param {Boolean} include-toolbars [$md-tab-include-toolbars] - Boolean if the styles for a simple container
///   holding a toolbar and tabs should be included.
/// @param {Boolean} include-prominent-toolbars [$md-tab-include-prominent-toolbars] - Boolean if the styles
///   for the simple container holding a toolbar and tabs should include the prominent toolbar styles.
/// @param {Boolean} include-swipeable [$md-tab-include-swipeable] - Boolean if the styles for swiping the tab
///   content on mobile devices should be included.
/// @group tabs, media-queries
@mixin react-md-tabs-media($include-icons: $md-tab-include-icons, $include-toolbars: $md-tab-include-toolbars, $include-prominent-toolbars: $md-tab-include-prominent-toolbars, $include-swipeable: $md-tab-include-swipeable) {
  @media #{$md-mobile-media} {
    @include react-md-tabs-mobile;
  }

  @if $include-toolbars and $include-swipeable {
    @media #{$md-mobile-portrait-media} {
      @include react-md-tabs-mobile-portrait($include-icons, $include-toolbars, $include-prominent-toolbars, $include-swipeable);
    }

    @media #{$md-mobile-landscape-media} {
      @include react-md-tabs-mobile-landscape($include-icons, $include-toolbars, $include-swipeable);
    }

    @media #{$md-tablet-media} {
      @include react-md-tabs-tablet($include-icons, $include-toolbars, $include-swipeable);
    }
  }

  @media #{$md-desktop-media} {
    @include react-md-tabs-desktop;
  }
}
