.md-tabs-scroll-container {
  overflow: hidden;
}

.md-tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  &.fixed-width {
    .md-tab {
      @extend %flex-equal-size;
    }
  }

  &.tabs-centered {
    justify-content: center;
  }

  &.tabs-scrollable {
    margin-right: $md-icon-btn-size + $md-default-padding;
  }
}

.md-tab-indicator {
  background: get-md-color($md-primary-color);
  bottom: 0;
  content: '';
  display: block;
  height: $md-tab-indicator-height;
  left: 0;
  position: absolute;
  transition-duration: $md-tab-indicator-transition-time;
  transition-property: left, width;
}

.md-tab {
  color: $md-secondary-text-color;
  flex-shrink: 0;
  font-weight: $md-font-medium;
  text-align: center;
  text-transform: uppercase;
  transition: color $md-transition-time;

  &.active {
    color: get-md-color($md-primary-color);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}


.md-tab-label {
  align-items: center;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  height: $md-tab-height;
  justify-content: center;
  max-width: $md-tab-max-width;
  padding: $md-tab-padding;

  &.multiline {
    font-size: $md-tab-multiline-font-size;
  }

  &:not(.multiline) {
    padding-bottom: $md-tab-single-line-padding-bottom;
  }


  &.with-icon {
    height: $md-tab-height-icon;
    padding-bottom: $md-tab-with-icon-padding-bottom;

    .md-icon {
      margin-bottom: $md-tab-icon-padding;
    }
  }
}

.md-tab-control {
  @extend %hidden;
}
