@media only screen and (min-width: 0px) {
  .md-text-field-label-container {
    height: $md-text-field-height;

    &.single-line {
      height: $md-text-field-sl-height;

      .md-text-field-label.active {
        bottom: $md-text-field-sl-height - $md-text-field-dense-font-size - $md-text-field-dense-padding;
      }
    }
  }

  .md-text-field,
  .md-text-field-label {
    bottom: $md-text-field-padding;
    font-size: $md-text-field-font-size;
  }

  .md-text-field-label.active {
    bottom: $md-text-field-height - $md-text-field-padding - $md-text-field-font-size;
  }
}

@media only screen and (min-width: 600px) {
  .md-text-field-label-container {
    height: $md-text-field-dense-height;

    &.single-line {
      height: $md-text-field-sl-dense-height;

      .md-text-field-label.active {
        bottom: $md-text-field-sl-dense-height - $md-text-field-dense-font-size - $md-text-field-dense-padding;
      }
    }
  }

  .md-text-field,
  .md-text-field-label {
    bottom: $md-text-field-dense-padding;
    font-size: $md-text-field-dense-font-size;
  }

  .md-text-field-label.active {
    bottom: $md-text-field-dense-height - $md-text-field-dense-font-size - $md-text-field-dense-padding;
  }

  .md-text-field-divider {
    bottom: $md-text-field-dense-divider-padding;
  }
}

.md-text-field-label.error,
.md-text-field-info.error {
  color: get-md-color(red);
}

.md-text-field-container {
  @extend %full-width;
}

.md-text-field-label-container {
  display: block;
  position: relative;
  @extend %full-width;
}

.md-text-field-label {
  @extend %full-width;

  color: $md-hint-text-color;
  cursor: text;
  position: absolute;
  transition: bottom $md-transition-time, font-size $md-transition-time, color $md-transition-time;

  &.active {
    font-size: $md-text-field-active-font-size;
  }

  &.focus:not(.error) {
    color: get-md-color($md-primary-color);
  }
}

.md-text-field {
  @extend %full-width;

  background: none;
  border: 0;
  color: $md-text-color;
  position: absolute;

  &:focus {
    outline: none;
  }
}


.md-text-field-divider {
  @extend %full-width;

  background: $md-border-color;
  height: 1px;
  position: absolute;

  &.from-left:after {
    left: 0;
  }

  &.from-right:after {
    right: 0;
  }

  &.from-center:after {
    margin: auto;
  }

  &:after {
    background: get-md-color($md-primary-color);
    content: '';
    display: block;
    height: $md-text-field-divider-height;
    transition: width $md-transition-time;
    visibility: hidden;
    width: 0;
  }

  &.active:after {
    @extend %full-width;

    visibility: visible;
  }

  &.error:after {
    background: get-md-color(red);
  }
}

.md-text-field-info {
  font-size: $md-text-field-info-font-size;
}

.md-text-field-count {
  float: right;
}
