@import '../helpers/all';

// scss-lint:disable SpaceAfterComma
@media only screen and (min-width: 0px) {
  @include make-text-field(
    $md-text-field-height,
    $md-text-field-sl-height,
    $md-text-field-font-size,
    $md-text-field-padding,
    $md-text-field-divider-padding,
    $md-text-field-icon-font-size,
    $md-text-field-icon-divider-left
  );
}

@media only screen and (min-width: 600px) {
  @include make-text-field(
    $md-text-field-dense-height,
    $md-text-field-dense-sl-height,
    $md-text-field-dense-font-size,
    $md-text-field-dense-padding,
    $md-text-field-dense-divider-padding,
    $md-text-field-dense-icon-font-size,
    $md-text-field-dense-icon-divider-left
  );
}

.md-text-field-label.error,
.md-text-field-info.error,
.md-text-field-container .md-icon.error {
  color: get-md-color(red);
}

.md-text-field-container {
  @extend %full-width;

  &.single-line {
    .md-text-field,
    .md-text-field-label,
    .md-text-field-divider {
      position: absolute;
    }

    .md-text-field-label.active {
      font-size: $md-text-field-active-font-size;
    }
  }

  &.multi-line .md-text-field-label {
    font-size: $md-text-field-active-font-size;
  }

  .md-icon {
    color: inherit;
    transition: color $md-transition-time;

    &.active {
      color: get-md-color($md-primary-color);
    }

    &.hint {
      color: $md-secondary-text-color;
    }
  }
}

.md-text-field-label-container {
  @extend %full-width;

  display: block;
  position: relative;
}

.md-text-field-label {
  @extend %full-width;

  color: $md-hint-text-color;
  cursor: text;
  transition: bottom $md-transition-time, font-size $md-transition-time, color $md-transition-time;

  &.focus:not(.error) {
    color: get-md-color($md-primary-color);
  }
}

.md-text-field {
  @extend %full-width;

  background: none;
  border: 0;
  color: $md-text-color;
  resize: none;

  &:focus {
    outline: none;
  }
}


.md-text-field-divider {
  @extend %full-width;

  background: $md-border-color;
  height: 1px;

  &.from-left:after {
    left: 0;
  }

  &.from-right:after {
    right: 0;
  }

  &.from-center:after {
    margin: auto;
  }

  &:after {
    background: get-md-color($md-primary-color);
    content: '';
    display: block;
    height: $md-text-field-divider-height;
    transition: width $md-transition-time;
    visibility: hidden;
    width: 0;
  }

  &.active:after {
    @extend %full-width;

    visibility: visible;
  }

  &.error:after {
    background: get-md-color(red);
  }
}

.md-text-field-info {
  display: flex;
  font-size: $md-text-field-info-font-size;
  justify-content: space-between;

  &.count-only {
    justify-content: flex-end;
  }
}

.md-text-field-count {
  display: block;
  flex-shrink: 0;
}
