.md-text-field-container {
  @include md-theme-placeholders($md-secondary-text-color);

  display: inline-block;
  vertical-align: top;

  &.full-width {
    align-items: center;
    display: flex;

    &.multi-line {
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-end;

      // scss-lint:disable NestingDepth
      .md-text-field-message {
        width: 100%;
      }
    }

    .md-text-field-label {
      flex-grow: 1;
    }

    .md-text-field-message {
      flex-shrink: 0;
    }
  }

  &.with-message {
    width: $md-text-field-info-width;

    .md-text-field {
      width: 100%;
    }
  }
}

.md-text-field-label {
  display: block;
  position: relative;
  white-space: nowrap;
}

.md-text-field:not(.multi-line),
.md-floating-label {
  line-height: 1;
}

.md-text-field {
  background: none;
  border: 0;
  display: inline-block;
  padding-top: $md-text-field-floating-label-top;
  vertical-align: top;

  &:focus {
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 50px $md-white-base inset;
  }

  &.multi-line {
    margin-top: $md-text-field-floating-label-top;
    padding-bottom: 0;
    padding-top: 0;
    resize: none;
    transition-duration: $md-transition-time;
    transition-property: height;
    width: 100%;
  }

  &.full-width {
    width: 100%;
  }
}

.md-text-divider,
.md-floating-label {
  position: absolute;
}

.md-floating-label,
.md-text-field-icon {
  color: $md-hint-text-color;
}

.md-floating-label {
  cursor: text;
  pointer-events: none;
  top: $md-text-field-floating-label-top;
  transition-duration: $md-transition-time;
  transition-property: font-size, color, top;

  &.active {
    font-size: $md-text-field-active-font-size;
  }
}

.md-text-divider {
  @extend %full-width;

  background: $md-border-color;
  height: 1px;

  &.from-left::after {
    left: 0;
  }

  &.from-right::after {
    margin-left: auto;
    right: 0;
  }

  &.from-center::after {
    margin: auto;
  }

  &::after {
    content: '';
    display: block;
    height: $md-text-field-divider-height;
    transition: width $md-transition-time;
    width: 0;
  }

  &.active::after {
    width: 100%;
  }
}

.md-text-field-icon {
  margin-right: $md-text-field-icon-margin;
  transition-duration: $md-transition-time;
  transition-property: color;
}

.md-text-field-message {
  display: flex;
  font-size: $md-text-field-info-font-size;
  justify-content: space-between;

  &.count-only {
    justify-content: flex-end;
  }
}

.md-text-field-counter {
  display: block;
  flex-shrink: 0;
  padding-left: $md-default-padding;
}

.md-toolbar,
.md-navigation-drawer-toolbar {
  @include md-theme-placeholders($md-dark-theme-secondary-text-color);

  .md-text-field {
    color: inherit;
    font-size: $md-title-font-size;
  }
}

.md-text-field-ind {
  color: $md-icon-color;
}
