.md-tooltip-container {
  display: inline-block;
  position: relative;
}

.md-tooltip {
  background: $md-grey-700;
  opacity: 0;
  position: absolute;
  transition-duration: $md-transition-time;
  transition-property: opacity, transform;
  z-index: 22;

  &.active {
    opacity: .9;
    transform: none;
  }
}

.md-tooltip-top {
  transform: translateY(10px) scaleY(0);
  transform-origin: 50% 100%;
}

.md-tooltip-right {
  transform: translateX(-10px) scaleX(0);
  transform-origin: 0 50%;
}

.md-tooltip-bottom {
  transform: translateY(-10px) scaleY(0);
  transform-origin: 50% 0;
}

.md-tooltip-left {
  transform: translateX(10px) scaleX(0);
  transform-origin: 100% 50%;
}

.md-tooltip-text {
  color: $md-white-base;
  display: block;
  font-weight: $md-font-medium;
  white-space: nowrap;
}
