////
/// @group tooltips
////

/// The font size for tooltips on mobile devices.
/// @type Number
$md-tooltip-mobile-font-size: 14px !default;

/// The height of the tooltip on mobile devices.
/// @type Number
$md-tooltip-mobile-tile-height: 32px !default;

/// The left and right padding for a tooltip on mobile devices.
/// @type Number
$md-tooltip-mobile-lr-padding: 16px !default;

/// The top and bottom padding for tooltips on mobile devices.
/// @type Number
$md-tooltip-mobile-tb-padding: ($md-tooltip-mobile-tile-height - $md-tooltip-mobile-font-size) / 2 !default;

/// The margin between a tooltip and its corresponding element on mobile devices.
/// @type Number
$md-tooltip-mobile-top-margin: 24px !default;

/// The font size for tooltip son desktop screens.
/// @type Number
$md-tooltip-desktop-font-size: 10px !default;

/// The height for tooltips on desktop screens.
/// @type Number
$md-tooltip-desktop-tile-height: 22px !default;

/// The left and right padding for tooltips on desktop screens.
/// @type Number
$md-tooltip-desktop-lr-padding: 8px !default;

/// The top and bottom padding for tooltips on desktop screens.
/// @type Number
$md-tooltip-desktop-tb-padding: ($md-tooltip-desktop-tile-height - $md-tooltip-desktop-font-size) / 2 !default;

/// The margin between a tooltip and its corresponding element on desktop screens.
/// @type Number
$md-tooltip-desktop-top-margin: 14px !default;

/// The background color for tooltips.
/// @type Color
$md-tooltip-color: $md-grey-700 !default;

/// The overall opacity to apply to tooltips.
/// @type Number
$md-tooltip-opacity: .9 !default;

/// Creates the styles for tooltips.
///
/// @example scss - Example Usage SCSS
///   @include react-md-tooltips;
///
/// @param {Boolean} media-included [$md-media-included] - Boolean if the
///     media queries should be included.
@mixin react-md-tooltips($media-included: $md-media-included) {
  @if $media-included {
    @include react-md-tooltips-media;
  }

  .md-tooltip-container {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 1;
  }

  .md-tooltip {
    background: $md-tooltip-color;
    color: $md-white-base;
    display: block;
    font-weight: $md-font-medium;
    opacity: $md-tooltip-opacity;
    outline-style: none;
    position: absolute;
    white-space: nowrap;

    &--active {
      transition-duration: $md-transition-time;
      transition-property: opacity, transform;
    }

    &--enter,
    &--leave-active {
      opacity: 0;
    }

    &--enter-active {
      opacity: $md-tooltip-opacity;
      transition-timing-function: $md-transition-deceleration;
    }

    &--leave-active {
      transition-timing-function: $md-transition-acceleration;
    }

    &--horizontal {
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    &--vertical {
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }

    &--top-active {
      transform: translate3d(-50%, -100%, 0);
    }

    &--right-active {
      transform: translate3d(100%, -50%, 0);
    }

    &--bottom-active {
      transform: translate3d(-50%, 100%, 0);
    }

    &--left-active {
      transform: translate3d(-100%, -50%, 0);
    }
  }
}

/// Creates the styles for tooltips on mobile devices. This should _normally_
/// be used in a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-mobile-media} {
///     @include react-md-tooltips-mobile;
///   }
/// @group tooltips, media-queries
@mixin react-md-tooltips-mobile {
  .md-tooltip {
    font-size: $md-tooltip-mobile-font-size;
    padding: $md-tooltip-mobile-tb-padding $md-tooltip-mobile-lr-padding;

    &--top {
      top: -$md-tooltip-mobile-top-margin;
    }

    &--right {
      right: -$md-tooltip-mobile-top-margin;
    }

    &--bottom {
      bottom: -$md-tooltip-mobile-top-margin;
    }

    &--left {
      left: -$md-tooltip-mobile-top-margin;
    }
  }
}

/// Creates the styles for tooltips on desktop screens. This should _normally_
/// be used in a media query.
///
/// @example scss - Example Usage SCSS
///   @media #{$md-desktop-media} {
///     @include react-md-tooltips-desktop;
///   }
/// @group tooltips, media-queries
@mixin react-md-tooltips-desktop {
  .md-tooltip {
    font-size: $md-tooltip-desktop-font-size;
    padding: $md-tooltip-desktop-tb-padding $md-tooltip-desktop-lr-padding;

    &--top {
      top: -$md-tooltip-desktop-top-margin;
    }

    &--right {
      right: -$md-tooltip-desktop-top-margin;
    }

    &--bottom {
      bottom: -$md-tooltip-desktop-top-margin;
    }

    &--left {
      left: -$md-tooltip-desktop-top-margin;
    }
  }
}

/// Includes the media queries for tooltips on mobile devices and desktop
/// screens.
///
/// @example scss - Example Usage SCSS
///   @include react-md-tooltips-media;
/// @group tooltips, media-queries
@mixin react-md-tooltips-media {
  @media #{$md-mobile-media} {
    @include react-md-tooltips-mobile;
  }

  @media #{$md-desktop-media} {
    @include react-md-tooltips-desktop;
  }
}
