.md-toolbar-container {
  &:not(.with-tabs) {
    position: fixed;
    width: 100%;
    z-index: $md-toolbar-z-index;

    .md-toolbar {
      @include md-box-shadow(3);
    }

    ~ *:not(.fixed) {
      padding-top: $md-toolbar-height;
    }
  }
}

.md-toolbar {
  align-items: center;
  display: flex;
  height: $md-toolbar-height;

  .md-title {
    color: inherit;
    font-size: $md-toolbar-title-font-size;
    line-height: $md-toolbar-height;
  }

  .action-area {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
