.md-toolbar-container {
  display: block;

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: $md-toolbar-z-index;

    .md-toolbar {
      @include md-box-shadow(3);
    }

    ~ *:not(.fixed) {
      padding-top: $md-toolbar-height;
    }
  }
}

.md-toolbar {
  @include md-box-shadow(1);

  align-items: center;
  display: flex;
  height: $md-toolbar-height;

  .md-title {
    color: inherit;
    font-weight: $md-font-medium;
    line-height: $md-toolbar-height;
    margin: 0;
  }

  .action-area {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
