%md-toolbar-fixed-relative,
.md-toolbar-fixed-relative {
  padding-top: $md-toolbar-height;
}

.md-toolbar-container {
  display: block;

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: $md-toolbar-z-index;

    .md-toolbar {
      @include md-box-shadow(3);
    }

    ~ *:not(.fixed) {
      @extend %md-toolbar-fixed-relative;
    }
  }

  .md-icon-btn {
    color: inherit;
  }
}

%md-toolbar-item {
  margin-left: $md-toolbar-action-margin;
  margin-right: $md-toolbar-action-margin;
}

.md-toolbar {
  @include md-box-shadow(1);

  align-items: center;
  display: flex;

  .md-title {
    color: inherit;
    font-weight: $md-font-medium;
    line-height: $md-toolbar-height;
    margin: 0;
  }

  .action-area {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .md-icon-btn {
    flex-shrink: 0;
  }

  .action-left,
  .action-area,
  .action-right {
    @extend %md-toolbar-item;
  }
}

.md-toolbar-item {
  @extend %md-toolbar-item;
}
