@use "everything";

$padding: calc(
  everything.tree-get-var(depth) * 1.25rem +
    everything.$list-item-horizontal-padding
);

.list {
  list-style: none;
  padding: 0;
}

.item {
  @include everything.auto-rtl(padding-left, $padding, 0);
}

.item ~ .subheader {
  margin-top: 0.75em;
}

.button {
  @include everything.interaction-surface($css-modules: true);

  background-color: transparent;
  border: 0;
  display: flex;
  font: inherit;
  justify-content: space-between;
  letter-spacing: inherit;
  width: 100%;
}

.link {
  @include everything.interaction-surface($css-modules: true);

  color: currentcolor;
  display: flex;
  letter-spacing: inherit;
  width: 100%;

  &::after {
    @include everything.pseudo-element;
    @include everything.interaction-use-var(
      background-color,
      selected-background-color
    );

    opacity: 0;
  }
}

.active {
  &::after {
    opacity: 1;
  }
}
