@import '~@react-md/list/dist/mixins';
@import '~@react-md/typography/dist/mixins';

.icon-spacing-button {
  margin: 1rem;
  vertical-align: top;
}

.icon-spacing-container {
  @include rmd-list-unstyled;

  li {
    @include rmd-typography(subtitle-1);

    align-items: center;
    display: flex;
    margin: 1rem auto;
  }
}
