@import '~react-md-scss';

.sassdoc {
  margin-bottom: 6em;

  .code-block {
    background: transparent;
    margin: 0;
  }
}

.stop-pre-margins {
  .code-block {
    padding: 0;
  }

  .lang-scss {
    margin: 0;
  }
}

.expandable-source {
  margin-bottom: $md-default-padding;
  overflow: hidden;

  &.expandable-source {
    padding-bottom: $md-default-padding;
  }
}

.sassdoc-link {
  color: $md-light-blue-500;
  display: inline-block;
  text-decoration: none;
  transition: color $md-transition-time;

  &:hover {
    color: get-color('text', true);
  }
}

.sassdoc-color {
  @include md-box-shadow(1);

  display: inline-block;
  height: 32px;
  width: 32px;
}

.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sassdoc-returns {
  align-items: center;
  display: flex;

  > * {
    &:first-child {
      padding-right: .5em;
    }

    &:last-child {
      padding-left: .5em;
    }
  }

  * {
    margin: 0;
  }
}

.sassdoc-examples {
  margin: 0;
  padding: 0;

  .md-cell {
    margin-left: 0;
    margin-right: 0;
  }
}

.sassdoc-section-end {
  margin-bottom: 1em;
}
