@use "everything" as *;

.container {
  @include icon-set-var(size, 4rem);
  @include interaction-outline();

  min-height: 30vh;
  position: relative;
}

.dragging {
  @include interaction-focus-styles($disable-background: true);
}

.dragover {
  @include interaction-set-var(focus-color, theme-get-var(success-color));
}

.invisible {
  opacity: 0;
}

.progress {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
