@import '~@react-md/theme/dist/scss/mixins';
@import '~@react-md/sizing/dist/scss/mixins';
@import '~@react-md/utils/dist/scss/functions';
@import '~@react-md/list/dist/scss/mixins';
@import '~@react-md/elevation/dist/scss/mixins';

$list-horizontal-margin: 0.5rem;
$total-list-horizontal-margin: $list-horizontal-margin * 2;

.color-palette {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;

  &__list {
    @include rmd-list-unstyled;
    @include rmd-elevation(2);
    @include rmd-theme(background-color, surface);
    @include rmd-sizing-tablet-media {
      width: calc(50% - #{$total-list-horizontal-margin});
    }
    @include rmd-sizing-large-desktop-media {
      width: calc((100% / 3) - #{$total-list-horizontal-margin});
    }

    margin: 1rem $list-horizontal-margin;
    width: calc(100% - #{$total-list-horizontal-margin});
  }

  &__primary-color {
    margin: 0 0 1em;
    width: 100%;
  }

  &__color {
    color: $rmd-black-base;
    display: flex;
    font-weight: map-get($rmd-typography-font-weights, bold);
    justify-content: space-between;
    padding: 1rem;

    &--primary {
      flex-wrap: wrap;
    }

    &--secondary {
      margin-top: 0.5rem;
    }

    @each $name, $color in $rmd-theme-color-map {
      $name: str-replace($name, 'rmd-', '');

      &--#{$name} {
        background-color: $color;

        @if rmd-theme-tone($color, 4.5) == dark {
          color: $rmd-white-base;
        }
      }
    }
  }
}
