@use "sass:color";
@use "sass:map";
@use "../utils";
@use "../box-shadows";
@use "../theme/a11y";
@use "../theme/colors";
@use "../theme/theme";
@use "../typography/typography";
@use "../transition/transition";
@use "../interaction/interaction";
@use "../icon/icon";
@use "../avatar/avatar";
@use "../progress/progress";

$disable-everything: false !default;
$disable-icon: false !default;
$disable-avatar: false !default;
$disable-progress: false !default;
$disable-content: false !default;
$disable-solid-theme: $disable-everything !default;
$disable-solid-raisable: false !default;
$disable-outline-theme: $disable-everything !default;
$disable-outline-raisable: false !default;
$disable-left-addon: false !default;
$disable-right-addon: false !default;
$disable-selected-theme: false !default;
$disable-selected-icon-transition: false !default;

$gap: icon.$spacing !default;
$height: 2rem !default;
$border-radius: 1rem !default;
$icon-size: 1.125rem !default;
$avatar-size: 1.5rem !default;
$progress-size: $icon-size !default;
$progress-width: 12 !default;
$typography: map.merge(
  typography.$base-font-styles,
  typography.$body-2-styles
) !default;
$horizontal-padding: 0.75rem !default;
$vertical-padding: 0 !default;
$addon-left-padding: 0.25rem !default;
$addon-right-padding: 0.5rem !default;

$selected-transition-duration: transition.$linear-duration;
$selected-transition-timing-function: transition.$linear-timing-function !default;
$theme-background-color: theme.get-swatch(
  theme.$primary-color,
  300,
  false,
  color.adjust(theme.$primary-color, $lightness: -20%)
) !default;
$theme-color: a11y.contrast-color($theme-background-color) !default;

$solid-light-background-color: colors.$grey-300 !default;
$solid-light-disabled-background-color: colors.$grey-100 !default;
$solid-light-color: a11y.contrast-color($solid-light-background-color) !default;
$solid-dark-background-color: if(
  theme.$disable-dark-elevation,
  colors.$grey-900,
  map.get(theme.$dark-elevation-colors, 12)
) !default;
$solid-dark-disabled-background-color: color.adjust(
  colors.$grey-900,
  $lightness: 2%
) !default;
$solid-dark-color: a11y.contrast-color($solid-dark-background-color) !default;
$solid-background-color: theme.get-default-color(
  $solid-light-background-color,
  $solid-dark-background-color
) !default;
$solid-disabled-background-color: theme.get-default-color(
  $solid-light-disabled-background-color,
  $solid-dark-disabled-background-color
) !default;
$solid-color: theme.get-default-color(
  $solid-light-color,
  $solid-dark-color
) !default;
$solid-raisable-box-shadow-z-value: 4 !default;
$solid-raisable-transition-duration: transition.$linear-duration !default;

$outline-width: 0.0625rem !default;
$outline-light-color: colors.$grey-300 !default;
$outline-light-background-color: theme.$light-theme-surface-color !default;
$outline-light-text-color: a11y.contrast-color(
  $outline-light-background-color
) !default;
$outline-dark-color: $outline-light-color !default;
$outline-dark-background-color: if(
  theme.$disable-dark-elevation,
  theme.$dark-theme-surface-color,
  map.get(theme.$dark-elevation-colors, 8)
) !default;
$outline-dark-text-color: a11y.contrast-color(
  $outline-dark-background-color
) !default;

$outline-color: theme.get-default-color(
  $outline-light-color,
  $outline-dark-color
) !default;
$outline-background-color: theme.get-default-color(
  $outline-light-background-color,
  $outline-dark-background-color
) !default;
$outline-text-color: theme.get-default-color(
  $outline-light-text-color,
  $outline-dark-text-color
) !default;
$outline-raisable-box-shadow-z-value: 8 !default;
$outline-raisable-transition-duration: transition.$linear-duration !default;

$variables: (
  solid-background-color,
  solid-disabled-background-color,
  solid-color,
  theme-background-color,
  theme-color,
  outline-color,
  outline-width,
  outline-background-color,
  outline-text-color
);

@function get-var($name, $fallback: null) {
  $var: utils.get-var-name($variables, $name, "chip");
  @if $fallback {
    @return var(#{$var}, #{$fallback});
  }

  @return var(#{$var});
}

@mixin set-var($name, $value) {
  @if $value {
    #{utils.get-var-name($variables, $name, "chip")}: #{$value};
  }
}

@mixin use-var($property, $name: $property, $fallback: null) {
  #{$property}: get-var($name, $fallback);
}

@mixin use-light-theme {
  @if not $disable-solid-theme {
    @include set-var(solid-background-color, $solid-light-background-color);
    @include set-var(solid-color, $solid-light-color);
  }

  @if not $disable-outline-theme {
    @if $outline-light-color != $outline-dark-color {
      @include set-var(outline-color, $outline-light-color);
    }
    @include set-var(outline-background-color, $outline-light-background-color);
    @include set-var(outline-text-color, $outline-light-text-color);
  }
}

@mixin use-dark-theme {
  @if not $disable-solid-theme {
    @include set-var(solid-background-color, $solid-dark-background-color);
    @include set-var(solid-color, $solid-dark-color);
  }

  @if not $disable-outline-theme {
    @if $outline-light-color != $outline-dark-color {
      @include set-var(outline-color, $outline-dark-color);
    }
    @include set-var(outline-background-color, $outline-dark-background-color);
    @include set-var(outline-text-color, $outline-dark-text-color);
  }
}

@mixin variables {
  @if not $disable-everything {
    @include set-var(solid-background-color, $solid-background-color);
    @include set-var(
      solid-disabled-background-color,
      $solid-disabled-background-color
    );
    @include set-var(solid-color, $solid-color);
    @include set-var(theme-background-color, $theme-background-color);
    @include set-var(theme-color, $theme-color);
    @include set-var(outline-color, $outline-color);
    @include set-var(outline-width, $outline-width);
    @include set-var(outline-background-color, $outline-background-color);
    @include set-var(outline-text-color, $outline-text-color);
  }
}

@mixin styles($disable-layer: false) {
  @if not $disable-everything {
    @include utils.optional-layer(chip, $disable-layer) {
      @include theme.default-system-theme {
        @include use-dark-theme;
      }

      .rmd-chip {
        @if not $disable-icon {
          @include icon.set-var(size, $icon-size);
        }

        @if not $disable-avatar {
          @include avatar.set-var(size, $avatar-size);
        }

        @if not $disable-progress {
          @include progress.set-var(circular-size, $progress-size);
          @include progress.set-var(circular-stroke-width, $progress-width);
        }

        @if not $disable-selected-icon-transition and $gap {
          @include transition.transition-set-var(max-width, icon.get-var(size));
          @include transition.transition-set-var(max-width-gap, $gap);
        }
        @include utils.map-to-styles($typography);

        align-items: center;
        border-radius: $border-radius;
        border-width: 0;
        display: inline-flex;
        flex-shrink: 0;
        gap: $gap;
        height: $height;
        justify-content: center;
        max-width: 100%;
        padding: $vertical-padding $horizontal-padding;

        @if not $disable-solid-theme {
          &--solid {
            @if not $disable-solid-raisable {
              @include box-shadows.elevation-transition(
                $start-z-value: 0,
                $end-z-value: $solid-raisable-box-shadow-z-value,
                $duration: $solid-raisable-transition-duration,
                $active-selectors: "&.rmd-chip--pressed",
                $pseudo-before: false,
                $position-relative: false
              );
            }
            @include use-var(background-color, solid-background-color);
            @include use-var(color, solid-color);
          }
        }

        @if not $disable-outline-theme {
          &--outline {
            @if not $disable-outline-raisable {
              $outline-box-shadow: inset
                0
                0
                0
                #{get-var(outline-width)}
                #{get-var(outline-color)};

              @include box-shadows.box-shadow-transition(
                $start-shadow: $outline-box-shadow,
                $end-shadow:
                  box-shadows.box-shadow($outline-raisable-box-shadow-z-value),
                $duration: $outline-raisable-transition-duration,
                $active-selectors: "&.rmd-chip--pressed",
                $pseudo-before: false,
                $position-relative: false
              );
            }
            @include use-var(background-color, outline-background-color);
            @include use-var(color, outline-text-color);
          }
        }

        @if not $disable-selected-theme {
          &--themed {
            @include use-var(background-color, theme-background-color);
            @include use-var(color, theme-color);
            @if not $disable-icon {
              @include icon.set-var(color, currentcolor);
            }
          }
        }

        &--disabled {
          @if not $disable-icon {
            @include icon.set-var(color, currentcolor);
          }
        }

        @if not $disable-solid-theme {
          &--solid-disabled {
            @include use-var(background-color, solid-disabled-background-color);
          }
        }

        @if not $disable-left-addon {
          &--left-addon {
            @include utils.auto-rtl(
              padding-left,
              $addon-left-padding,
              $horizontal-padding
            );
          }
        }

        @if not $disable-right-addon {
          &--right-addon {
            @include utils.auto-rtl(
              padding-right,
              $addon-right-padding,
              $horizontal-padding
            );
          }
        }

        @if not $disable-content {
          &__content {
            @include typography.text-overflow;

            flex: 1 1 auto;
          }
        }
      }
    }
  }
}
