@import '~react-md-scss/helpers/all';

.banner {
  align-items: center;
  background: get-md-color($md-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  padding: 2em;

  .md-title {
    max-width: 450px;
  }

  .md-btn {
    margin-top: 2em;
  }

  .md-subheading-2,
  .md-display-2 {
    color: $md-white-base;
  }

  .md-subheading-2 {
    text-align: center;
  }
}

.about {
  background: get-md-color(grey, 2);
  margin-bottom: 2em;
  padding: 1em 0;

  p {
    // scss-lint:disable PlaceholderInExtend
    @extend .md-title;
    font-size: $md-title-font-size;
  }
}

.getting-started {
  margin: 0 auto;

  .md-card {
    max-width: 355px;
    text-decoration: none;
  }
}
