@import '~globals';

@include react-md-everything;

html,
body {
  margin: 0;
}

.md-display-3,
.md-display-4,
.md-title,
h3 {
  white-space: normal;
}

.md-icon.fa {
  font-size: $md-font-icon-size;

  @media #{$md-desktop-media} {
    font-size: $md-font-icon-dense-size;
    height: $md-font-icon-dense-size;
    width: $md-font-icon-dense-size;
  }
}

.md-avatar__google-logo {
  background: $md-white-base;
}

@media #{$md-desktop-media} {
  .material-icons.md-icon {
    font-size: $md-font-icon-dense-size;
  }
}
