////
/// @group utils
////

/// Boolean if scroll momentum should be added by default for iOS. This _can_ probably
/// be removed one day when iOS natively supports scroll momentum on anything except
/// the main document.
/// @type Boolean
$rmd-utils-ios-scroll-momentum: true !default;

/// A list of the supported swappable variables for `rmd-utils-swap-position`.
/// @type List
$rmd-utils-swappable-positions: top right bottom left;

/// A list of the supported swappable variables prefixes for `rmd-utils-swap-position`.
/// @type List
$rmd-utils-swappable-position-prefixes: border margin padding;

/// Boolean if the validation for valid themes and other things should occur. It is
/// recommended to keep this enabled, but you might see a build speed perf by setting
/// this to true.
/// @type Boolean
$rmd-utils-skip-validation: false !default;

/// The max width for a phone when in portrait or landscape mode.
/// @type Number
$rmd-utils-phone-max-width: 47.9375em !default;

/// The min width for a tablet in portrait or landscape mode.
/// @type Number
$rmd-utils-tablet-min-width: 48em !default;

/// The max width for a tablet in portrait or landscape mode.
/// @type Number
$rmd-utils-tablet-max-width: 64em !default;

/// The min width for a desktop screen.
/// @type Number
$rmd-utils-desktop-min-width: 64.0625em !default;

/// The min width for a large desktop screen.
/// @type Number
$rmd-utils-large-desktop-min-width: 80em !default;
