////
/// @group utils
////

/// Boolean if scroll momentum should be added by default for iOS. This _can_
/// probably be removed one day when iOS natively supports scroll momentum on
/// anything except the main document.
/// @type Boolean
$rmd-utils-ios-scroll-momentum: true !default;

/// Boolean if the dense spec should automatically be applied based on media
/// queries once the app has reached a "desktop" size.
///
/// @type Boolean
$rmd-utils-auto-dense: false !default;

/// Boolean if the rtl fixes should be included by default. You can save a few
/// bytes in your bundle size by disabling this if you don't need to worry about
/// right-to-left languages in your app.
///
/// @type Boolean
$rmd-utils-enable-rtl: true !default;

/// The default z-index to use for temporary elements like dialogs and menus. It
/// is recommended to keep all of these the same since it makes portalling work
/// much better. If the z-indexes are different, you might need to update the
/// portal container to be a parent temporary element instead.
///
/// @type Number
$rmd-utils-temporary-element-z-index: 30 !default;

/// A list of the supported swappable variables for `rmd-utils-swap-position`.
/// @type List
$rmd-utils-swappable-positions: top right bottom left;

/// A list of the supported swappable variables prefixes for
/// `rmd-utils-swap-position`.
/// @type List
$rmd-utils-swappable-position-prefixes: border margin padding;

/// Boolean if the validation for valid themes and other things should occur. It
/// is recommended to keep this enabled, but you might see a build speed perf by
/// setting this to true.
/// @type Boolean
$rmd-utils-skip-validation: false !default;

/// Boolean if the moz focusring and inner-focus styles should be removed for
/// the `rmd-utils-hide-focus-outline` mixin by default. This is generally
/// recommended since custom focus styles will be added instead.
/// @type Boolean
$rmd-utils-fix-moz-focus: true !default;

/// The max width for a phone when in portrait or landscape mode.
/// @type Number
$rmd-utils-phone-max-width: 47.9375em !default;

/// The min width for a tablet in portrait or landscape mode.
/// @type Number
$rmd-utils-tablet-min-width: 48em !default;

/// The max width for a tablet in portrait or landscape mode.
/// @type Number
$rmd-utils-tablet-max-width: 64em !default;

/// The min width for a desktop screen.
/// @type Number
$rmd-utils-desktop-min-width: 64.0625em !default;

/// The min width for a large desktop screen.
/// @type Number
$rmd-utils-large-desktop-min-width: 80em !default;

/// The css variable that is used to track how many columns there are within the
/// `Grid` component.
/// @type String
$rmd-grid-columns-var: --rmd-grid-cols;

/// The css variable that is used to apply a gutter between each cell in the
/// `Grid` component.
/// @type String
$rmd-grid-gutter-var: --rmd-grid-gutter;

/// The css variable that is used to apply margin to cells within the grid
/// components.
/// @type String
$rmd-grid-cell-margin-var: --rmd-cell-margin;

/// The css variable that is used to apply size to cells within the `GridList`
/// component.
/// @type String
$rmd-grid-cell-size-var: --rmd-cell-size;

/// The default amount of padding to apply to the `Grid` component. This is a
/// bit different than the flex grid since the cells within this grid will not
/// have outer margin.
/// @type Number
$rmd-grid-padding: 1rem !default;

/// The default amount of margin to apply between each cell within the `Grid`
/// component.
/// @type Number
$rmd-grid-cell-margin: 1rem !default;

/// The material design grid system is a bit weird and does a 4 -> 8 -> 12
/// column layout for phone -> tablet -> desktop. This is really nice when your
/// grid only uses even numbers, but the second you add an odd number in there,
/// it breaks down and becomes confusing.
///
/// This variable is a quick way to opt-out of this grid system and have a
/// static number of columns for each media type.
/// @type Number
$rmd-grid-columns: null !default;

/// The default number of columns to render on mobile devices in the `Grid`
/// component.
/// @type Number
$rmd-grid-phone-columns: if($rmd-grid-columns, $rmd-grid-columns, 4) !default;

/// The default number of columns to render on tablet devices in the `Grid`
/// component.
/// @type Number
$rmd-grid-tablet-columns: if($rmd-grid-columns, $rmd-grid-columns, 8) !default;

/// The default number of columns to render on desktop screens in the `Grid`
/// component.
/// @type Number
$rmd-grid-desktop-columns: if(
  $rmd-grid-columns,
  $rmd-grid-columns,
  12
) !default;

/// The default number of columns to render on large desktop screens in the
/// `Grid` component.
/// @type Number
$rmd-grid-large-desktop-columns: $rmd-grid-desktop-columns !default;

/// The default amount of padding to apply to the `GridList` component.
/// @type Number
$rmd-grid-list-padding: 0.5rem !default;

/// The default amount of margin to apply to each cell within the `GridList`
/// component.
/// @type Number
$rmd-grid-list-cell-margin: 0.5rem !default;

/// The default max size that each cell can be within the `GridList` component.
/// @type Number
$rmd-grid-list-cell-max-size: 9.375rem !default;
