@import '~react-md-scss';

@mixin caret($direction, $color, $size: 8px) {
  $noops: null;
  $position: null;
  @if $direction == 'left' or $direction == 'right' {
    $noops: 'top' 'bottom';
    $position: if($direction == 'left', 'right', 'left');
  } @else {
    $noops: 'left' 'right';
    $position: if($direction == 'top', 'bottom', 'top');
  }

  border-#{nth($noops, 1)}: $size solid transparent;
  border-#{nth($noops, 2)}: $size solid transparent;
  border-#{$position}: $size solid $color;
  content: '';
  position: absolute;
}

.no-notifications-container {
  position: relative;
}

.no-notifications-icon.md-icon {
  color: get-color('icon', $md-light-theme);
  font-size: 48px;
}

.notification-image {
  flex-shrink: 0;
  width: 30%;
}

.notification-reset-btn {
  margin-bottom: 1em;
}

.no-notifications-message {
  left: 50%;
  padding: 12px;
  position: absolute;
  top: -50px;
  transform: translate3d(-50%, 0, 0);
  white-space: nowrap;

  &::after {
    @include caret(bottom, $md-grey-400);

    left: 50%;
    top: 101%;
    transform: translate3d(-50%, 0, 0);
  }
}

$dialog-height: 240px;
$dialog-title-height: 60px;

.notification-dialog {
  height: $dialog-height;
  right: 0;
  width: 340px;
  z-index: 33;

  &--empty {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .md-dialog-content {
    height: $dialog-height - $dialog-title-height;
    overflow-y: auto;
  }

  .md-title--dialog {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  &::after {
    @include caret(top, $md-white-base);
    bottom: 100%;
    right: 16px;
  }

  .md-icon {
    color: get-color('icon', $md-light-theme);
  }
}

.fade-enter {
  opacity: .01;

  &.fade-enter-active {
    opacity: 1;
    transition: opacity $md-transition-time;
  }
}

.fade-leave {
  opacity: 1;

  &.fade-leave-active {
    opacity: .01;
    transition: opacity $md-transition-time;
  }
}

.notification-card {
  align-items: flex-start;
  display: flex;
  position: relative;

  p {
    margin-bottom: 0;
    padding: $md-default-padding;
  }
}

.notification-close {
  position: absolute;
  right: 4px;
  top: 4px;

  .md-icon {
    font-size: 16px;
  }
}


@media (max-width: 360px) {
  .notification-dialog {
    width: 280px;
  }
}

@media (max-width: $md-tablet-min-width - 1) {
  .md-toolbar .md-badge {
    right: 0;
    top: 0;
  }
}
