@import '~@react-md/elevation/dist/scss/mixins';
@import '~@react-md/overlay/dist/scss/variables';
@import '~@react-md/utils/dist/scss/mixins';
@import '~@react-md/theme/dist/scss/mixins';
@import '~@react-md/overlay/dist/scss/mixins';

.portal-container {
  @include rmd-utils-scroll;

  height: 10rem;
  position: relative;
}

.portal-menu-overlay {
  @include rmd-overlay-theme(background-color, transparent);
}

.portal-menu {
  @include rmd-elevation(4);
  @include rmd-theme(background-color, surface);

  position: fixed;
  z-index: $rmd-overlay-z-index + 1;
}
