@import '~react-md-scss';

.snackbar-generator-checkbox {
  margin-left: -8px;
  margin-right: auto;
}

@media #{$md-tablet-media} {
  .snackbar-generator {
    .md-text-field-container {
      width: 50%;

      &:first-child {
        padding-right: 8px;
      }

      &:nth-child(n + 2) {
        padding-left: 8px;
      }
    }
  }
}
