@import '~@react-md/theme/dist/mixins';
@import '~@react-md/utils/dist/mixins';
@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/typography/dist/mixins';
@import '~@react-md/sheet/dist/mixins';

$phone-height: 35.5rem;
$phone-width: 20rem;

$fixed-classes: (
  rmd-app-bar--fixed: 1,
  rmd-sheet-overlay: 1,
  rmd-sheet--raised: 2,
);

.phone {
  &--emulated {
    @include rmd-elevation(4);
    @include rmd-utils-block-centered(1rem);
    @include rmd-theme(background-color, background);
    @include rmd-icon-theme-update-var(size, $rmd-icon-size);
    @include rmd-app-bar-theme-update-var(
      dense-height,
      calc(#{rmd-app-bar-theme-var(height)} + #{rmd-icon-theme-var(size)})
    );
    @include rmd-app-bar-theme-update-var(
      prominent-dense-height,
      calc(#{rmd-app-bar-theme-var(prominent-height)} + #{rmd-icon-theme-var(size)})
    );
    @include rmd-sheet-theme-update-var(touch-width, calc(100% - #{$rmd-sheet-touch-margin}));

    height: $phone-height;
    overflow: hidden;
    position: relative;
    width: $phone-width;

    @each $fixed-class, $z-index in $fixed-classes {
      .#{$fixed-class} {
        position: absolute;
        z-index: $z-index;
      }
    }

    .phone__app-bar {
      // updated the shadow to be bottom only
      box-shadow: 0 3px 2px -3px rgba($rmd-black-base, 0.2),
        0 2px 2px -2px rgba($rmd-black-base, 0.14), 0 1px 5px -1px rgba($rmd-black-base, 0.12);
    }
  }

  &__app-bar {
    flex-wrap: wrap;
  }

  &__status-bar {
    @include rmd-app-bar-theme-update-var(dense-height, rmd-icon-theme-var(size));
    background-color: rgba($rmd-black-base, 0.12);

    width: 100%;
  }

  &__icon {
    @include rmd-icon-dense-theme;

    margin: 0 $rmd-app-bar-lr-margin;

    &--first {
      @include rmd-utils-rtl-auto(margin-left, auto, $rmd-app-bar-lr-margin);
    }
  }

  &__content {
    @include rmd-utils-scroll;

    height: 100%;
  }

  &__close {
    &--floating {
      bottom: 1rem;
      margin: 0;
      position: fixed;
      right: 1rem;
      z-index: 100;
    }
  }
}
