// sass-lint:disable class-name-format
@use 'react-md';

$phone-height: 35.5rem;
$phone-width: 20rem;

$fixed-classes: (
  rmd-app-bar--fixed: 1,
  rmd-sheet-overlay: 1,
  rmd-sheet--raised: 2,
  rmd-fab: 1,
);

.phone {
  height: 100%;
}

.fabOffset {
  :global .rmd-fab--tl,
  :global .rmd-fab--tr {
    top: react-md.$rmd-app-bar-height + react-md.$rmd-button-floating-margin +
      react-md.$rmd-icon-size;
  }
}

.emulated {
  @include react-md.rmd-elevation(4);
  @include react-md.rmd-theme-dark-elevation(4, true);
  @include react-md.rmd-utils-block-centered(1rem);
  @include react-md.rmd-theme(background-color, background);
  @include react-md.rmd-icon-theme-update-var(size, react-md.$rmd-icon-size);
  @include react-md.rmd-app-bar-theme-update-var(
    height,
    react-md.$rmd-app-bar-height
  );
  @include react-md.rmd-app-bar-theme-update-var(
    dense-height,
    react-md.$rmd-app-bar-height + react-md.$rmd-icon-size
  );
  @include react-md.rmd-app-bar-theme-update-var(
    prominent-dense-height,
    react-md.$rmd-app-bar-prominent-height + react-md.$rmd-icon-size
  );
  @include react-md.rmd-sheet-theme-update-var(
    touch-width,
    calc(100% - #{react-md.$rmd-sheet-touch-margin})
  );
  @include react-md.rmd-typography-theme-update-var(
    line-width,
    react-md.$rmd-typography-mobile-max-line-length
  );

  height: $phone-height;
  overflow: hidden;
  position: relative;
  width: $phone-width;

  @each $fixed-class, $z-index in $fixed-classes {
    :global .#{$fixed-class} {
      position: absolute;
      z-index: $z-index;
    }
  }
}

.content {
  @include react-md.rmd-utils-scroll;

  height: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
