@use 'react-md' as *;

$app-bar-height: rmd-app-bar-theme-var(height);

.container {
  @include rmd-table-theme-update-var(cell-v-padding, 1rem);

  margin: 0 auto;
  max-width: 75rem;
}

.header {
  @include rmd-table-theme-update-var(sticky-header, $app-bar-height);
}

.leftHeader {
  @include rmd-table-theme-update-var(
    sticky-header,
    calc(#{$app-bar-height} + #{$rmd-table-header-cell-height})
  );
}

.mobileHeader {
  @include rmd-table-theme-update-var(
    sticky-header,
    calc(#{$app-bar-height} + #{$rmd-table-cell-height})
  );
}
