@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/table/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.library-info {
  @include rmd-table-theme-update-var(cell-v-padding, 1rem);

  margin: 0 auto;
  max-width: 75rem;

  &__header {
    @include rmd-table-theme-update-var(sticky-header, rmd-app-bar-theme-var(height));
  }

  &__row-header {
    @include rmd-table-theme-update-var(
      sticky-header,
      calc(#{rmd-app-bar-theme-var(height)} + #{$rmd-table-header-cell-height})
    );
  }

  &__pro-con {
    @include rmd-table-theme-update-var(
      sticky-header,
      calc(#{rmd-app-bar-theme-var(height)} + #{$rmd-table-cell-height})
    );
  }

  &__list {
    @include rmd-utils-rtl-auto(padding-left, 1rem);

    margin: 0;
  }
}
