// sass-lint:disable class-name-format
@use 'react-md';

$app-bar-height: react-md.rmd-app-bar-theme-var(height);

.container {
  @include react-md.rmd-table-theme-update-var(cell-v-padding, 1rem);

  margin: 0 auto;
  max-width: 75rem;
}

.header {
  @include react-md.rmd-table-theme-update-var(sticky-header, $app-bar-height);
}

.leftHeader {
  @include react-md.rmd-table-theme-update-var(
    sticky-header,
    calc(#{$app-bar-height} + #{react-md.$rmd-table-header-cell-height})
  );
}

.mobileHeader {
  @include react-md.rmd-table-theme-update-var(
    sticky-header,
    calc(#{$app-bar-height} + #{react-md.$rmd-table-cell-height})
  );
}
