@use "everything" as *;

@if $color-scheme == dark {
  @media (prefers-color-scheme: light) {
    .container {
      @include dark-theme(true);
    }
  }
} @else {
  @media (prefers-color-scheme: dark) {
    .container {
      @include dark-theme(true);
    }
  }
}
