@use 'react-md' as *;

.overlay {
  @include rmd-overlay-theme-update-var(
    background-color,
    rgba($rmd-blue-500, 0.42)
  );

  align-items: center;
  display: flex;
  justify-content: center;
}

.list {
  @include rmd-elevation(8);
  @include rmd-theme(background-color, surface);

  width: 10rem;
}
