/// @type Color
$red-50: #ffebee;

/// @type Color
$red-100: #ffcdd2;

/// @type Color
$red-200: #ef9a9a;

/// @type Color
$red-300: #e57373;

/// @type Color
$red-400: #ef5350;

/// @type Color
$red-500: #f44336;

/// @type Color
$red-600: #e53935;

/// @type Color
$red-700: #d32f2f;

/// @type Color
$red-800: #c62828;

/// @type Color
$red-900: #b71c1c;

/// @type Color
$red-a-100: #ff8a80;

/// @type Color
$red-a-200: #ff5252;

/// @type Color
$red-a-400: #ff1744;

/// @type Color
$red-a-700: #d50000;

/// @type Color
$pink-50: #fce4ec;

/// @type Color
$pink-100: #f8bbd0;

/// @type Color
$pink-200: #f48fb1;

/// @type Color
$pink-300: #f06292;

/// @type Color
$pink-400: #ec407a;

/// @type Color
$pink-500: #e91e63;

/// @type Color
$pink-600: #d81b60;

/// @type Color
$pink-700: #c2185b;

/// @type Color
$pink-800: #ad1457;

/// @type Color
$pink-900: #880e4f;

/// @type Color
$pink-a-100: #ff80ab;

/// @type Color
$pink-a-200: #ff4081;

/// @type Color
$pink-a-400: #f50057;

/// @type Color
$pink-a-700: #c51162;

/// @type Color
$purple-50: #f3e5f5;

/// @type Color
$purple-100: #e1bee7;

/// @type Color
$purple-200: #ce93d8;

/// @type Color
$purple-300: #ba68c8;

/// @type Color
$purple-400: #ab47bc;

/// @type Color
$purple-500: #9c27b0;

/// @type Color
$purple-600: #8e24aa;

/// @type Color
$purple-700: #7b1fa2;

/// @type Color
$purple-800: #6a1b9a;

/// @type Color
$purple-900: #4a148c;

/// @type Color
$purple-a-100: #ea80fc;

/// @type Color
$purple-a-200: #e040fb;

/// @type Color
$purple-a-400: #d500f9;

/// @type Color
$purple-a-700: #a0f;

/// @type Color
$deep-purple-50: #ede7f6;

/// @type Color
$deep-purple-100: #d1c4e9;

/// @type Color
$deep-purple-200: #b39ddb;

/// @type Color
$deep-purple-300: #9575cd;

/// @type Color
$deep-purple-400: #7e57c2;

/// @type Color
$deep-purple-500: #673ab7;

/// @type Color
$deep-purple-600: #5e35b1;

/// @type Color
$deep-purple-700: #512da8;

/// @type Color
$deep-purple-800: #4527a0;

/// @type Color
$deep-purple-900: #311b92;

/// @type Color
$deep-purple-a-100: #b388ff;

/// @type Color
$deep-purple-a-200: #7c4dff;

/// @type Color
$deep-purple-a-400: #651fff;

/// @type Color
$deep-purple-a-700: #6200ea;

/// @type Color
$indigo-50: #e8eaf6;

/// @type Color
$indigo-100: #c5cae9;

/// @type Color
$indigo-200: #9fa8da;

/// @type Color
$indigo-300: #7986cb;

/// @type Color
$indigo-400: #5c6bc0;

/// @type Color
$indigo-500: #3f51b5;

/// @type Color
$indigo-600: #3949ab;

/// @type Color
$indigo-700: #303f9f;

/// @type Color
$indigo-800: #283593;

/// @type Color
$indigo-900: #1a237e;

/// @type Color
$indigo-a-100: #8c9eff;

/// @type Color
$indigo-a-200: #536dfe;

/// @type Color
$indigo-a-400: #3d5afe;

/// @type Color
$indigo-a-700: #304ffe;

/// @type Color
$blue-50: #e3f2fd;

/// @type Color
$blue-100: #bbdefb;

/// @type Color
$blue-200: #90caf9;

/// @type Color
$blue-300: #64b5f6;

/// @type Color
$blue-400: #42a5f5;

/// @type Color
$blue-500: #2196f3;

/// @type Color
$blue-600: #1e88e5;

/// @type Color
$blue-700: #1976d2;

/// @type Color
$blue-800: #1565c0;

/// @type Color
$blue-900: #0d47a1;

/// @type Color
$blue-a-100: #82b1ff;

/// @type Color
$blue-a-200: #448aff;

/// @type Color
$blue-a-400: #2979ff;

/// @type Color
$blue-a-700: #2962ff;

/// @type Color
$light-blue-50: #e1f5fe;

/// @type Color
$light-blue-100: #b3e5fc;

/// @type Color
$light-blue-200: #81d4fa;

/// @type Color
$light-blue-300: #4fc3f7;

/// @type Color
$light-blue-400: #29b6f6;

/// @type Color
$light-blue-500: #03a9f4;

/// @type Color
$light-blue-600: #039be5;

/// @type Color
$light-blue-700: #0288d1;

/// @type Color
$light-blue-800: #0277bd;

/// @type Color
$light-blue-900: #01579b;

/// @type Color
$light-blue-a-100: #80d8ff;

/// @type Color
$light-blue-a-200: #40c4ff;

/// @type Color
$light-blue-a-400: #00b0ff;

/// @type Color
$light-blue-a-700: #0091ea;

/// @type Color
$cyan-50: #e0f7fa;

/// @type Color
$cyan-100: #b2ebf2;

/// @type Color
$cyan-200: #80deea;

/// @type Color
$cyan-300: #4dd0e1;

/// @type Color
$cyan-400: #26c6da;

/// @type Color
$cyan-500: #00bcd4;

/// @type Color
$cyan-600: #00acc1;

/// @type Color
$cyan-700: #0097a7;

/// @type Color
$cyan-800: #00838f;

/// @type Color
$cyan-900: #006064;

/// @type Color
$cyan-a-100: #84ffff;

/// @type Color
$cyan-a-200: #18ffff;

/// @type Color
$cyan-a-400: #00e5ff;

/// @type Color
$cyan-a-700: #00b8d4;

/// @type Color
$teal-50: #e0f2f1;

/// @type Color
$teal-100: #b2dfdb;

/// @type Color
$teal-200: #80cbc4;

/// @type Color
$teal-300: #4db6ac;

/// @type Color
$teal-400: #26a69a;

/// @type Color
$teal-500: #009688;

/// @type Color
$teal-600: #00897b;

/// @type Color
$teal-700: #00796b;

/// @type Color
$teal-800: #00695c;

/// @type Color
$teal-900: #004d40;

/// @type Color
$teal-a-100: #a7ffeb;

/// @type Color
$teal-a-200: #64ffda;

/// @type Color
$teal-a-400: #1de9b6;

/// @type Color
$teal-a-700: #00bfa5;

/// @type Color
$green-50: #e8f5e9;

/// @type Color
$green-100: #c8e6c9;

/// @type Color
$green-200: #a5d6a7;

/// @type Color
$green-300: #81c784;

/// @type Color
$green-400: #66bb6a;

/// @type Color
$green-500: #4caf50;

/// @type Color
$green-600: #43a047;

/// @type Color
$green-700: #388e3c;

/// @type Color
$green-800: #2e7d32;

/// @type Color
$green-900: #1b5e20;

/// @type Color
$green-a-100: #b9f6ca;

/// @type Color
$green-a-200: #69f0ae;

/// @type Color
$green-a-400: #00e676;

/// @type Color
$green-a-700: #00c853;

/// @type Color
$light-green-50: #f1f8e9;

/// @type Color
$light-green-100: #dcedc8;

/// @type Color
$light-green-200: #c5e1a5;

/// @type Color
$light-green-300: #aed581;

/// @type Color
$light-green-400: #9ccc65;

/// @type Color
$light-green-500: #8bc34a;

/// @type Color
$light-green-600: #7cb342;

/// @type Color
$light-green-700: #689f38;

/// @type Color
$light-green-800: #558b2f;

/// @type Color
$light-green-900: #33691e;

/// @type Color
$light-green-a-100: #ccff90;

/// @type Color
$light-green-a-200: #b2ff59;

/// @type Color
$light-green-a-400: #76ff03;

/// @type Color
$light-green-a-700: #64dd17;

/// @type Color
$lime-50: #f9fbe7;

/// @type Color
$lime-100: #f0f4c3;

/// @type Color
$lime-200: #e6ee9c;

/// @type Color
$lime-300: #dce775;

/// @type Color
$lime-400: #d4e157;

/// @type Color
$lime-500: #cddc39;

/// @type Color
$lime-600: #c0ca33;

/// @type Color
$lime-700: #afb42b;

/// @type Color
$lime-800: #9e9d24;

/// @type Color
$lime-900: #827717;

/// @type Color
$lime-a-100: #f4ff81;

/// @type Color
$lime-a-200: #eeff41;

/// @type Color
$lime-a-400: #c6ff00;

/// @type Color
$lime-a-700: #aeea00;

/// @type Color
$yellow-50: #fffde7;

/// @type Color
$yellow-100: #fff9c4;

/// @type Color
$yellow-200: #fff59d;

/// @type Color
$yellow-300: #fff176;

/// @type Color
$yellow-400: #ffee58;

/// @type Color
$yellow-500: #ffeb3b;

/// @type Color
$yellow-600: #fdd835;

/// @type Color
$yellow-700: #fbc02d;

/// @type Color
$yellow-800: #f9a825;

/// @type Color
$yellow-900: #f57f17;

/// @type Color
$yellow-a-100: #ffff8d;

/// @type Color
$yellow-a-200: #ff0;

/// @type Color
$yellow-a-400: #ffea00;

/// @type Color
$yellow-a-700: #ffd600;

/// @type Color
$amber-50: #fff8e1;

/// @type Color
$amber-100: #ffecb3;

/// @type Color
$amber-200: #ffe082;

/// @type Color
$amber-300: #ffd54f;

/// @type Color
$amber-400: #ffca28;

/// @type Color
$amber-500: #ffc107;

/// @type Color
$amber-600: #ffb300;

/// @type Color
$amber-700: #ffa000;

/// @type Color
$amber-800: #ff8f00;

/// @type Color
$amber-900: #ff6f00;

/// @type Color
$amber-a-100: #ffe57f;

/// @type Color
$amber-a-200: #ffd740;

/// @type Color
$amber-a-400: #ffc400;

/// @type Color
$amber-a-700: #ffab00;

/// @type Color
$orange-50: #fff3e0;

/// @type Color
$orange-100: #fff0b2;

/// @type Color
$orange-200: #ffcc80;

/// @type Color
$orange-300: #ffb74d;

/// @type Color
$orange-400: #ffa726;

/// @type Color
$orange-500: #ff9800;

/// @type Color
$orange-600: #fb8c00;

/// @type Color
$orange-700: #f57c00;

/// @type Color
$orange-800: #ef6c00;

/// @type Color
$orange-900: #e65100;

/// @type Color
$orange-a-100: #ffd180;

/// @type Color
$orange-a-200: #ffab40;

/// @type Color
$orange-a-400: #ff9100;

/// @type Color
$orange-a-700: #ff6d00;

/// @type Color
$deep-orange-50: #fbe9e7;

/// @type Color
$deep-orange-100: #ffccbc;

/// @type Color
$deep-orange-200: #ffab91;

/// @type Color
$deep-orange-300: #ff8a65;

/// @type Color
$deep-orange-400: #ff7043;

/// @type Color
$deep-orange-500: #ff5722;

/// @type Color
$deep-orange-600: #f4511e;

/// @type Color
$deep-orange-700: #e64a19;

/// @type Color
$deep-orange-800: #d84315;

/// @type Color
$deep-orange-900: #bf360c;

/// @type Color
$deep-orange-a-100: #ff9e80;

/// @type Color
$deep-orange-a-200: #ff6e40;

/// @type Color
$deep-orange-a-400: #ff3d00;

/// @type Color
$deep-orange-a-700: #dd2c00;

/// @type Color
$brown-50: #efebe9;

/// @type Color
$brown-100: #d7ccc8;

/// @type Color
$brown-200: #bcaaa4;

/// @type Color
$brown-300: #a1887f;

/// @type Color
$brown-400: #8d6e63;

/// @type Color
$brown-500: #795548;

/// @type Color
$brown-600: #6d4c41;

/// @type Color
$brown-700: #5d4037;

/// @type Color
$brown-800: #4e342e;

/// @type Color
$brown-900: #3e2723;

/// @type Color
$grey-50: #fafafa;

/// @type Color
$grey-100: #f5f5f5;

/// @type Color
$grey-200: #eee;

/// @type Color
$grey-300: #e0e0e0;

/// @type Color
$grey-400: #bdbdbd;

/// @type Color
$grey-500: #9e9e9e;

/// @type Color
$grey-600: #757575;

/// @type Color
$grey-700: #616161;

/// @type Color
$grey-800: #424242;

/// @type Color
$grey-900: #212121;

/// @type Color
$blue-grey-50: #eceff1;

/// @type Color
$blue-grey-100: #cfd8dc;

/// @type Color
$blue-grey-200: #b0bec5;

/// @type Color
$blue-grey-300: #90a4ae;

/// @type Color
$blue-grey-400: #78909c;

/// @type Color
$blue-grey-500: #607d8b;

/// @type Color
$blue-grey-600: #546e7a;

/// @type Color
$blue-grey-700: #455a64;

/// @type Color
$blue-grey-800: #37474f;

/// @type Color
$blue-grey-900: #263238;

/// @type Color
$black-base: #000;

/// @type Color
$white-base: #fff;

/// This is a map of all the material design base colors so that you can
/// programmatically get variables with the neat sass-map functions.
///
/// @example scss - Example Usage SCSS
///   .error-field {
///     background: map-get($color-map, red-50);
///   }
///
/// @type Map
$color-map: (
  red-50: $red-50,
  red-100: $red-100,
  red-200: $red-200,
  red-300: $red-300,
  red-400: $red-400,
  red-500: $red-500,
  red-600: $red-600,
  red-700: $red-700,
  red-800: $red-800,
  red-900: $red-900,
  red-a-100: $red-a-100,
  red-a-200: $red-a-200,
  red-a-400: $red-a-400,
  red-a-700: $red-a-700,
  pink-50: $pink-50,
  pink-100: $pink-100,
  pink-200: $pink-200,
  pink-300: $pink-300,
  pink-400: $pink-400,
  pink-500: $pink-500,
  pink-600: $pink-600,
  pink-700: $pink-700,
  pink-800: $pink-800,
  pink-900: $pink-900,
  pink-a-100: $pink-a-100,
  pink-a-200: $pink-a-200,
  pink-a-400: $pink-a-400,
  pink-a-700: $pink-a-700,
  purple-50: $purple-50,
  purple-100: $purple-100,
  purple-200: $purple-200,
  purple-300: $purple-300,
  purple-400: $purple-400,
  purple-500: $purple-500,
  purple-600: $purple-600,
  purple-700: $purple-700,
  purple-800: $purple-800,
  purple-900: $purple-900,
  purple-a-100: $purple-a-100,
  purple-a-200: $purple-a-200,
  purple-a-400: $purple-a-400,
  purple-a-700: $purple-a-700,
  deep-purple-50: $deep-purple-50,
  deep-purple-100: $deep-purple-100,
  deep-purple-200: $deep-purple-200,
  deep-purple-300: $deep-purple-300,
  deep-purple-400: $deep-purple-400,
  deep-purple-500: $deep-purple-500,
  deep-purple-600: $deep-purple-600,
  deep-purple-700: $deep-purple-700,
  deep-purple-800: $deep-purple-800,
  deep-purple-900: $deep-purple-900,
  deep-purple-a-100: $deep-purple-a-100,
  deep-purple-a-200: $deep-purple-a-200,
  deep-purple-a-400: $deep-purple-a-400,
  deep-purple-a-700: $deep-purple-a-700,
  indigo-50: $indigo-50,
  indigo-100: $indigo-100,
  indigo-200: $indigo-200,
  indigo-300: $indigo-300,
  indigo-400: $indigo-400,
  indigo-500: $indigo-500,
  indigo-600: $indigo-600,
  indigo-700: $indigo-700,
  indigo-800: $indigo-800,
  indigo-900: $indigo-900,
  indigo-a-100: $indigo-a-100,
  indigo-a-200: $indigo-a-200,
  indigo-a-400: $indigo-a-400,
  indigo-a-700: $indigo-a-700,
  blue-50: $blue-50,
  blue-100: $blue-100,
  blue-200: $blue-200,
  blue-300: $blue-300,
  blue-400: $blue-400,
  blue-500: $blue-500,
  blue-600: $blue-600,
  blue-700: $blue-700,
  blue-800: $blue-800,
  blue-900: $blue-900,
  blue-a-100: $blue-a-100,
  blue-a-200: $blue-a-200,
  blue-a-400: $blue-a-400,
  blue-a-700: $blue-a-700,
  light-blue-50: $light-blue-50,
  light-blue-100: $light-blue-100,
  light-blue-200: $light-blue-200,
  light-blue-300: $light-blue-300,
  light-blue-400: $light-blue-400,
  light-blue-500: $light-blue-500,
  light-blue-600: $light-blue-600,
  light-blue-700: $light-blue-700,
  light-blue-800: $light-blue-800,
  light-blue-900: $light-blue-900,
  light-blue-a-100: $light-blue-a-100,
  light-blue-a-200: $light-blue-a-200,
  light-blue-a-400: $light-blue-a-400,
  light-blue-a-700: $light-blue-a-700,
  cyan-50: $cyan-50,
  cyan-100: $cyan-100,
  cyan-200: $cyan-200,
  cyan-300: $cyan-300,
  cyan-400: $cyan-400,
  cyan-500: $cyan-500,
  cyan-600: $cyan-600,
  cyan-700: $cyan-700,
  cyan-800: $cyan-800,
  cyan-900: $cyan-900,
  cyan-a-100: $cyan-a-100,
  cyan-a-200: $cyan-a-200,
  cyan-a-400: $cyan-a-400,
  cyan-a-700: $cyan-a-700,
  teal-50: $teal-50,
  teal-100: $teal-100,
  teal-200: $teal-200,
  teal-300: $teal-300,
  teal-400: $teal-400,
  teal-500: $teal-500,
  teal-600: $teal-600,
  teal-700: $teal-700,
  teal-800: $teal-800,
  teal-900: $teal-900,
  teal-a-100: $teal-a-100,
  teal-a-200: $teal-a-200,
  teal-a-400: $teal-a-400,
  teal-a-700: $teal-a-700,
  green-50: $green-50,
  green-100: $green-100,
  green-200: $green-200,
  green-300: $green-300,
  green-400: $green-400,
  green-500: $green-500,
  green-600: $green-600,
  green-700: $green-700,
  green-800: $green-800,
  green-900: $green-900,
  green-a-100: $green-a-100,
  green-a-200: $green-a-200,
  green-a-400: $green-a-400,
  green-a-700: $green-a-700,
  light-green-50: $light-green-50,
  light-green-100: $light-green-100,
  light-green-200: $light-green-200,
  light-green-300: $light-green-300,
  light-green-400: $light-green-400,
  light-green-500: $light-green-500,
  light-green-600: $light-green-600,
  light-green-700: $light-green-700,
  light-green-800: $light-green-800,
  light-green-900: $light-green-900,
  light-green-a-100: $light-green-a-100,
  light-green-a-200: $light-green-a-200,
  light-green-a-400: $light-green-a-400,
  light-green-a-700: $light-green-a-700,
  lime-50: $lime-50,
  lime-100: $lime-100,
  lime-200: $lime-200,
  lime-300: $lime-300,
  lime-400: $lime-400,
  lime-500: $lime-500,
  lime-600: $lime-600,
  lime-700: $lime-700,
  lime-800: $lime-800,
  lime-900: $lime-900,
  lime-a-100: $lime-a-100,
  lime-a-200: $lime-a-200,
  lime-a-400: $lime-a-400,
  lime-a-700: $lime-a-700,
  yellow-50: $yellow-50,
  yellow-100: $yellow-100,
  yellow-200: $yellow-200,
  yellow-300: $yellow-300,
  yellow-400: $yellow-400,
  yellow-500: $yellow-500,
  yellow-600: $yellow-600,
  yellow-700: $yellow-700,
  yellow-800: $yellow-800,
  yellow-900: $yellow-900,
  yellow-a-100: $yellow-a-100,
  yellow-a-200: $yellow-a-200,
  yellow-a-400: $yellow-a-400,
  yellow-a-700: $yellow-a-700,
  amber-50: $amber-50,
  amber-100: $amber-100,
  amber-200: $amber-200,
  amber-300: $amber-300,
  amber-400: $amber-400,
  amber-500: $amber-500,
  amber-600: $amber-600,
  amber-700: $amber-700,
  amber-800: $amber-800,
  amber-900: $amber-900,
  amber-a-100: $amber-a-100,
  amber-a-200: $amber-a-200,
  amber-a-400: $amber-a-400,
  amber-a-700: $amber-a-700,
  orange-50: $orange-50,
  orange-100: $orange-100,
  orange-200: $orange-200,
  orange-300: $orange-300,
  orange-400: $orange-400,
  orange-500: $orange-500,
  orange-600: $orange-600,
  orange-700: $orange-700,
  orange-800: $orange-800,
  orange-900: $orange-900,
  orange-a-100: $orange-a-100,
  orange-a-200: $orange-a-200,
  orange-a-400: $orange-a-400,
  orange-a-700: $orange-a-700,
  deep-orange-50: $deep-orange-50,
  deep-orange-100: $deep-orange-100,
  deep-orange-200: $deep-orange-200,
  deep-orange-300: $deep-orange-300,
  deep-orange-400: $deep-orange-400,
  deep-orange-500: $deep-orange-500,
  deep-orange-600: $deep-orange-600,
  deep-orange-700: $deep-orange-700,
  deep-orange-800: $deep-orange-800,
  deep-orange-900: $deep-orange-900,
  deep-orange-a-100: $deep-orange-a-100,
  deep-orange-a-200: $deep-orange-a-200,
  deep-orange-a-400: $deep-orange-a-400,
  deep-orange-a-700: $deep-orange-a-700,
  brown-50: $brown-50,
  brown-100: $brown-100,
  brown-200: $brown-200,
  brown-300: $brown-300,
  brown-400: $brown-400,
  brown-500: $brown-500,
  brown-600: $brown-600,
  brown-700: $brown-700,
  brown-800: $brown-800,
  brown-900: $brown-900,
  grey-50: $grey-50,
  grey-100: $grey-100,
  grey-200: $grey-200,
  grey-300: $grey-300,
  grey-400: $grey-400,
  grey-500: $grey-500,
  grey-600: $grey-600,
  grey-700: $grey-700,
  grey-800: $grey-800,
  grey-900: $grey-900,
  blue-grey-50: $blue-grey-50,
  blue-grey-100: $blue-grey-100,
  blue-grey-200: $blue-grey-200,
  blue-grey-300: $blue-grey-300,
  blue-grey-400: $blue-grey-400,
  blue-grey-500: $blue-grey-500,
  blue-grey-600: $blue-grey-600,
  blue-grey-700: $blue-grey-700,
  blue-grey-800: $blue-grey-800,
  blue-grey-900: $blue-grey-900,
  black-base: $black-base,
  white-base: $white-base,
);

/// The "primary" color suffix numbers that are available for use. This is
/// really just created for the `get-swatch` mixin, but might be
/// useful since it also gets added to the scssVariables export.
/// @type List
$primary-suffixes: 50 100 200 300 400 500 600 700 800 900;

/// The "accent" color suffix numbers that are available for use. This is really
/// just created for the `get-swatch` mixin, but might be useful since
/// it also gets added to the scssVariables export.
/// @type List
$accent-suffixes: 100 200 400 700;

/// A list of all the available colors within material design. This is really
/// just created for the `get-swatch` mixin, but might be useful since
/// it also gets added to the scssVariables export.
/// @type List
$available-colors: (
  "red" "pink" "purple" "deep-purple" "indigo" "blue" "light-blue" "cyan" "teal"
    "green" "light-green" "lime" "yellow" "amber" "orange" "deep-orange" "brown"
    "grey" "blue-grey"
);
