@import '~globals';

.menus__google-docs {
  $menu-h-padding: 12px;
  $menu-v-padding: 8px;
  $toolbar-height: 80px;
  $account-font-size: 12px;

  &__toolbar.md-toolbar {
    // Set a custom toolbar height and allow for the children to wrap
    flex-wrap: wrap;
    height: $toolbar-height;
  }

  &__title {
    // Keep the title's height at the original toolbar's height
    align-self: flex-start;
    display: flex;
    margin-left: 0;
  }

  &__account {
    align-self: flex-start;
    font-size: $account-font-size;
    padding: 8px 12px;
  }

  &__menus {
    @extend %md-list-unstyled;

    bottom: 0;
    left: $md-toolbar-tablet-title-keyline - $menu-h-padding;
    position: absolute;

    $icon-padding: 8px;

    // Reduce the amount of padding on each of the tiles and add custom padding when
    // icons are displayed.
    .md-list .md-list-tile {
      padding-left: $md-menu-cascading-padding + ($icon-padding * 1.5);
    }

    .md-list-tile.menus__google-docs__menu-icon,
    .md-tile-content--left-icon,
    .md-tile-content--left-button,
    .md-list-tile.md-list-tile--control-left {
      padding-left: $icon-padding;
    }

    // Shrink the size for the CheckboxListItem
    .md-selection-control-toggle {
      flex-shrink: 0;
      height: $md-font-icon-dense-size;
      padding: 0;
      width: $md-font-icon-dense-size;
    }

    .md-selection-control-container {
      height: auto;
    }
  }

  &__menu { // This is _really__ a menu toggle button
    padding: $menu-v-padding $menu-h-padding;
  }

  &__menu__list {
    max-height: 88vh;
    overflow: auto;
  }

  &__search {
    padding-left: $md-menu-cascading-padding + $menu-h-padding;
    padding-right: $md-menu-cascading-padding;

    &.md-full-width {
      width: 240px;
    }

    .md-text-field {
      border: 1px solid get-color('divider', true);
      padding: 4px 8px;

      &:focus {
        outline-width: 5px;
      }
    }
  }

  &__unicode-icon {
    display: block;
    font-size: 16px;
    width: $md-font-icon-dense-size;
  }

  &__document-container {
    margin-top: $toolbar-height;
    min-height: calc(100% - #{$toolbar-height});
    padding-bottom: 2em;
    padding-top: 2em;

    .md-list--inline .md-tile-content--left-icon {
      padding-left: 8px;
    }
  }

  .md-text-field--google-docs-title {
    font-size: 18px;

    @include react-md-style-placeholders {
      font-style: italic;
    }
  }

  // Since ink is diabled, add a highlight effect back when buttons are focused.
  .md-btn:focus {
    background: $md-btn-light-theme-hover-color;
  }
}
