@use 'react-md' as *;

// duplicated from TableOfContents.scss
$toc-width: 15rem;
$demo-padding: 2rem;
$demo-padding-extra: 6rem;

.container {
  @include rmd-utils-tablet-media {
    @include rmd-utils-rtl-auto(margin-right, $toc-width, auto);

    padding: 0 $demo-padding-extra;

    :global .code--counted {
      width: calc(100vw - #{$demo-padding-extra * 2});
    }
  }

  @include rmd-utils-desktop-media {
    :global .code--counted {
      $offset: $rmd-sheet-static-width + $toc-width + ($demo-padding-extra * 2);

      width: calc(100vw - #{$offset});
    }
  }

  padding: 0 $demo-padding;
}
