@use 'react-md' as *;

// duplicated from TableOfContents.scss
$toc-width: 15rem;
$demo-padding: 2rem;
$demo-padding-extra: 6rem;

.container {
  @include rmd-utils-tablet-media {
    @include rmd-utils-rtl-auto(margin-right, $toc-width, auto);

    padding: 0 $demo-padding-extra;
  }

  padding: 0 $demo-padding;
}
