@use 'sass:map';
@use 'react-md' as *;

// duplicated from TableOfContents.scss
$toc-width: 15rem;
$demo-padding: 2rem;
$demo-padding-extra: 6rem;

.container {
  @include rmd-typography(subtitle-1);
  @include rmd-typography-theme(max-width, line-width);
  @include rmd-utils-tablet-media {
    [data-linenumbers] {
      width: calc(100vw - #{$demo-padding-extra * 2});
    }
  }
  @include rmd-utils-desktop-media {
    [data-linenumbers] {
      $offset: $rmd-sheet-static-width + $toc-width + ($demo-padding-extra * 2);

      width: calc(100vw - #{$offset});
    }
  }

  p {
    font: inherit;
  }

  strong {
    font-weight: map.get($rmd-typography-font-weights, bold);
  }

  em {
    font-style: italic;
  }
}
