@use 'react-md';

.container {
  @include react-md.rmd-typography(subtitle-1);
  @include react-md.rmd-typography-theme(max-width, line-width);

  p {
    font: inherit;
  }

  strong {
    font-weight: map-get(react-md.$rmd-typography-font-weights, bold);
  }

  em {
    font-style: italic;
  }
}
