@forward "overrides";

@use "@react-md/core";

@mixin light-theme($core) {
  @if $core {
    @include core.use-light-theme;
  }

  --code-color: #{core.$pink-600};
  --preview-bg: #{core.$white};
  --on-bg-color: #{core.$black};
  --logo-shadow: #{core.$black};
  --logo-outline: #{core.$grey-500};
  --phone-app-bar-bg: #{core.$grey-100};
}

@mixin dark-theme($core) {
  @if $core {
    @include core.use-dark-theme;
  }

  --code-color: #{core.$pink-400};
  --preview-bg: #{core.$dark-theme-background-color};
  --on-bg-color: #{core.$white};
  --logo-shadow: #{core.$white};
  --logo-outline: #{core.$white};
  --phone-app-bar-bg: #{core.$grey-900};
}
