@use "colors";

@forward "@react-md/core" with (
  $color-scheme: system,
  // $color-scheme: light,
  // $color-scheme: dark,
  // disabled since it makes debugging a bit easier by having all the css
  // variables in one block
  $disable-default-root-theme: true,
  $disable-default-system-theme: true,
  // $font-family: var(--roboto),
  $primary-color: colors.$teal-500,
  $secondary-color: colors.$pink-a-200,
  $icon-disable-font: true,
  $box-grids: (
    small: (
      min: 2rem,
    ),
    half-padding: (
      padding: 0.5rem,
    ),
    extra-padding: (
      padding: 2rem,
      gap: 0.5rem,
    ),
  )
);
