////
/// @group card
////

@import '~@react-md/divider/dist/functions';
@import '~@react-md/divider/dist/variables';
@import '~@react-md/theme/dist/functions';

/// The elevation to use for cards that are not raisable.
/// @type Number
$rmd-card-elevation: 2 !default;

/// The background color for a card in light themes.
///
/// @type Color
/// @since 2.7.0
$rmd-card-light-background-color: rmd-theme-var(surface) !default;

/// The background color for a card in dark themes when the
/// `$rmd-theme-dark-elevation` feature flag is also enabled.
///
/// @see $rmd-theme-dark-elevation
/// @require $rmd-theme-dark-elevation-colors
/// @type Color
/// @since 2.7.0
$rmd-card-dark-elevation-background-color: map-get(
  $rmd-theme-dark-elevation-colors,
  $rmd-card-elevation
);

/// @type Color
/// @since 2.5.4
/// @deprecated Use `$rmd-card-dark-elevation-color` instead starting with `v2.7.0`
$rmd-card-dark-elevation-bordered-background-color: $rmd-card-dark-elevation-background-color;

/// The background color for a card in dark themes.
///
/// @type Color
/// @since 2.7.0
$rmd-card-dark-background-color: if(
  $rmd-theme-dark-elevation and $rmd-card-dark-elevation-background-color,
  $rmd-card-dark-elevation-background-color,
  rmd-theme-var(surface)
) !default;

/// The base background color to apply to cards.
///
/// @require rmd-theme-var
/// @type Color
$rmd-card-background-color: if(
  $rmd-theme-light,
  $rmd-card-light-background-color,
  $rmd-card-dark-background-color
) !default;

/// The base primary text color to apply to cards.
///
/// @require rmd-theme-var
/// @type Color
$rmd-card-color: rmd-theme-var(on-surface) !default;

/// The base secondary text color to apply to cards. The `CardSubtitle` and
/// `CardContent` components will use this color by default unless the
/// `disableSecondaryColor` prop is enabled.
///
/// @require rmd-theme-var
/// @require rmd-theme-tone
/// @require $rmd-theme-surface
/// @type Color
$rmd-card-secondary-color: if(
  rmd-theme-tone($rmd-theme-surface) == light,
  rmd-theme-var(text-primary-on-light),
  rmd-theme-var(text-primary-on-dark)
) !default;

/// The starting elevation for a raisable card.
/// @type Number
$rmd-card-base-elevation: 1 !default;

/// The ending elevation for a raisable card.
/// @type Number
$rmd-card-raised-elevation: 8 !default;

/// The border radius to apply to cards.
/// @type Number
$rmd-card-border-radius: 0.25rem !default;

/// The amount of padding to apply to the `CardHeader` component.
/// @type Number
$rmd-card-header-padding: 1rem !default;

/// Any extra amount of padding to apply to the top of the `CardHeader`
/// component. This is really just added since it looks a bit nicer to have
/// extra padding top.
/// @type Number
$rmd-card-header-padding-top: 1.5rem !default;

/// The amount of spacing to use between the main content in the header and the
/// `beforeChildren` and `afterChildren` props. This really gets used with the
/// `TextIconSpacing` component from the @react-md/icon package
/// @type Number
$rmd-card-header-spacing: 1rem !default;

/// The amount of padding to apply to the `CardContent` component.
/// @type Number
$rmd-card-content-padding: 1rem !default;

/// When the `CardContent` component is the last child in the `Card`, it
/// normally looks a bit nicer to apply a bit more padding to it. So this is the
/// extra `padding-bottom` that will be applied in that case.
/// @type Number
$rmd-card-content-padding-extra: 1.5rem !default;

/// The amount of padding to apply to the `CardActions` component.
/// @type Number
$rmd-card-actions-padding: 0.5rem !default;

/// The border color for a bordered card.
///
/// @require rmd-divider-theme-var
/// @type Color|String
$rmd-card-border-color: rmd-divider-theme-var(background-color) !default;

/// The width for a bordered card.
///
/// @require $rmd-divider-size
/// @type Number
$rmd-card-border-width: $rmd-divider-size !default;

/// A Map of all the "themeable" parts of the card package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the icon as needed.
/// @type Map
$rmd-card-theme-values: (
  background-color: $rmd-card-background-color,
  color: $rmd-card-color,
  secondary-color: $rmd-card-secondary-color,
) !default;
