////
/// @group link
////

@import '@react-md/theme/dist/mixins';
@import '@react-md/transition/dist/variables';
@import '@react-md/typography/dist/mixins';
@import 'functions';
@import 'variables';

/// This is a simple mixin that will apply the link theme color to an element (normally a Link component).
///
/// NOTE: Unlike the `rmd-theme` mixin, only the color property can be updated.
/// @param {String} style - One of the `rmd-link-theme` map keys to get a value for.
@mixin rmd-link-theme($style) {
  color: rmd-link-theme-var($style);
}

/// This is a simple mixin that will update a react-md link CSS Variable value to be the provided color
/// instead.
///
/// @param {String} style - One of the `rmd-link-theme` map keys to get a value for.
/// @param {Color} value - The color to update the link theme to.
@mixin rmd-link-set-var($style, $value) {
  @if not map-has-key($rmd-link-theme, $style) {
    @error 'Invalid link theme style: \'#{$style}\'. Choose one of #{map-keys($rmd-link-theme)}';
  }

  #{--rmd-link-#{$style}}: $value;
}

/// Creates the styles for links within react-md.
@mixin react-md-link {
  :root {
    @each $style, $value in $rmd-link-theme {
      @include rmd-link-set-var($style, $value);
    }
  }

  .rmd-link {
    @include rmd-typography(body-2);
    @include rmd-link-theme(color);

    text-decoration: none;
    transition: color $rmd-link-transition-time;

    &--flex-centered {
      align-items: center;
      display: inline-flex;
    }

    &:visited {
      @include rmd-link-theme(visited-color);
    }

    &:hover {
      @include rmd-link-theme(hover-color);

      text-decoration: underline;
    }
  }
}
