////
/// @group link
////

@import '~@react-md/theme/dist/color-palette';

/// The transition time for links to change color.
/// @type Number
$rmd-link-transition-time: 0.15s !default;

/// The default color to use for links.
/// @type Color
$rmd-link-color: $rmd-blue-500 !default;

/// The color to use for links that have been visited.
/// @type Color
$rmd-link-visited-color: $rmd-blue-600 !default;

/// The color to use for links that are being hovered.
/// @type Color
$rmd-link-hover-color: $rmd-blue-400 !default;

/// A Map of all the "themeable" parts of the link package. Every key in this map will
/// be used to create a css variable to dynamically update the values of the link as
/// needed.
/// @type Map
$rmd-link-theme-values: (
  color: $rmd-link-color,
  hover-color: $rmd-link-hover-color,
  visited-color: $rmd-link-visited-color,
) !default;
