.papers__container {
  display: flex;
  flex-wrap: wrap;
}

.papers__example {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
  max-width: 300px;
  min-height: 300px;
  width: 100%;
}
