@import 'colors';

/// The primary color to use throughout the app. This should be a color
/// with a `-500` suffix.
/// @type Color
/// @group theme
$md-primary-color: $md-indigo-500 !default;

/// A lighter version of the primary color to use throughout the app.
/// @type Color
/// @group theme
$md-primary-color-hue-1: $md-indigo-400 !default;

/// The secondary color to use throughout the app. This should be a color
/// with a `-a-{NUMBER}` suffix.
/// @type Color
/// @group theme
$md-secondary-color: $md-pink-a-200 !default;

/// A lighter version of the primary color to use throughout the app. This should be a color
/// with a `-a-{NUMBER}` suffix.
/// @type Color
/// @group theme
$md-secondary-color-hue-1: $md-pink-a-100 !default;

/// Boolean if the application is to be themed with the light theme.
/// @type Boolean
/// @group theme
$md-light-theme: true !default;

/// The default transition time to use on most animations/transitions.
/// @type Number
$md-transition-time: .15s !default;

/// The transition function for objects that may return to the screen at any time.
/// @type Number
/// @link https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
$md-transition-sharp: cubix-bezier(.4, 0, .6, 1);

/// The transition function for growing and shrinking material, among other property changes. This
/// is the most common and applied to every element by default.
/// @type Number
/// @link https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
$md-transition-standard: cubic-bezier(.4, 0, .2, 1);

/// The transition function for objects that enter the screen at full velocity from off-screen
/// and slowly decelerate to a resting point.
/// @type Number
/// @link https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
$md-transition-acceleration: cubic-bezier(.4, 0, 1, 1);

/// The transition function for objects that leave the screen at full velocity.
/// @type Number
/// @link https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
$md-transition-deceleration: cubic-bezier(0, 0, .2, 1);

/// The default min width for a mobile device.
/// @type Number
/// @group media-queries
$md-mobile-min-width: 320px !default;

/// The default min width for a tablet device.
/// @type Number
/// @group media-queries
$md-tablet-min-width: 768px !default;

/// The default min width for a desktop screen.
/// @type Number
/// @group media-queries
$md-desktop-min-width: 1025px !default;

/// The default mobile media query.
/// @type String
/// @group media-queries
$md-mobile-media: 'only screen and (min-width: #{$md-mobile-min-width})' !default;

/// The default media query for a portrait mobile device.
/// @type String
/// @group media-queries
$md-mobile-portrait-media: 'only screen and (min-width: #{$md-mobile-min-width}) and (orientation: portrait)' !default;

/// The default media query for a landscape mobile device.
/// @type String
/// @group media-queries
$md-mobile-landscape-media: 'only screen and (min-width: #{$md-mobile-min-width}) and (orientation: landscape)' !default;

/// The default media query for a tablet device.
/// @type String
/// @group media-queries
$md-tablet-media: 'only screen and (min-width: #{$md-tablet-min-width})' !default;

/// The default media query for a portrait tablet device.
/// @type String
/// @group media-queries
$md-tablet-portrait-media: 'only screen and (min-width: #{$md-tablet-min-width}) and (orientation: protrait)' !default;

/// The default media query for a landscape tablet device.
/// @type String
/// @group media-queries
$md-tablet-landscape-media: 'only screen and (min-width: #{$md-tablet-min-width}) and (orientation: landscape)' !default;

/// The default media query for a desktop device.
/// @type String
/// @group media-queries
$md-desktop-media: 'only screen and (min-width: #{$md-desktop-min-width})' !default;

/// Boolean if the media queries should be included by default for all component mixins.
/// Set this to false if you want to manually include them. It is really only beneficial
/// if you want to join all media queries into one, but you can always use a postcss plugin
/// to combine them if you are worried about bundle size.
/// @type Boolean
/// @group media-queries
$md-media-included: true !default;


$md-height: 48px;
$md-default-padding: 16px;
