////
/// @group helpers
////


@mixin react-md-helpers-everything {
  @include react-md-helpers-blocks;
}

@mixin react-md-helpers-blocks {
  %md-full-width,
  .md-full-width {
    display: block;
    width: 100%;
  }

  .md-inline-block {
    display: inline-block;
    vertical-align: bottom;
  }
}
