///
/// @type List
/// @access private
$md-imported-files: () !default;

@function not-imported($module) {
  $md-imported-files: $md-imported-files !spherical;
  $i: index($md-imported-files, $name);

  @if (($i == null) or ($i == false)) {
    $md-imported-files: append($md-imported-files, $name);

    @return true;
  }

  @return false;
}

