////
/// @group dialog
////

@import '~@react-md/overlay/dist/variables';
@import '~@react-md/theme/dist/variables';
@import '~@react-md/theme/dist/functions';
@import '~@react-md/utils/dist/variables';

/// The elevation (box-shadow) to use for the dialog when it is not full page.
/// This should be a number between 0 and 24 since it gets passed to the
/// `rmd-elevation` mixin.
///
/// @type Number
$rmd-dialog-elevation: 16 !default;

/// The background color for a dialog in light themes.
///
/// @type Color
/// @since 2.7.0
$rmd-dialog-light-background-color: rmd-theme-var(surface) !default;

/// The background color for a dialog in dark themes when the
/// `$rmd-theme-dark-elevation` feature flag is also enabled.
///
/// @see $rmd-theme-dark-elevation
/// @require $rmd-theme-dark-elevation-colors
/// @type Color
/// @since 2.7.0
$rmd-dialog-dark-elevation-background-color: map-get(
  $rmd-theme-dark-elevation-colors,
  $rmd-dialog-elevation
) !default;

/// The background color for a dialog in dark themes.
///
/// @type Color
/// @since 2.7.0
$rmd-dialog-dark-background-color: if(
  $rmd-theme-dark-elevation and $rmd-dialog-dark-elevation-background-color,
  $rmd-dialog-dark-elevation-background-color,
  rmd-theme-var(surface)
) !default;

/// The base background color to apply to dialogs.
///
/// @type Color
/// @since 2.7.0
$rmd-dialog-background-color: if(
  $rmd-theme-light,
  $rmd-dialog-light-background-color,
  $rmd-dialog-dark-background-color
) !default;

/// The z-index for dialogs. This value is a bit larger than overlays just in
/// case other components are using the overlay as well. The dialog's overlay
/// will also gain this z-index value.
///
/// @require $rmd-utils-temporary-element-z-index
/// @type Number
$rmd-dialog-z-index: $rmd-utils-temporary-element-z-index !default;

/// The amount of vertical viewport spacing there should be between the edge of
/// the screen and a non-full page dialog. This value should be big enough so
/// that users can still touch the overlay when a dialog is visible.
/// @type Number
$rmd-dialog-vertical-margin: 1.5rem !default;

/// The amount of horizontal viewport spacing there should be between the edge
/// of the screen and a non-full page dialog. This value should be big enough so
/// that users can still touch the overlay when a dialog is visible.
/// @type Number
$rmd-dialog-horizontal-margin: 2.5rem !default;

/// The amount of padding to apply to the `DialogHeader` component.
/// @type Number
$rmd-dialog-header-padding: 1.5rem !default;

/// The amount of padding-bottom to apply to the `DialogHeader` component. This
/// is a bit smaller than the `$rmd-dialog-header-padding` value since it is
/// usually used alongside the `DialogContent` component which has its own
/// padding attached.
/// @type Number
$rmd-dialog-header-padding-bottom: 1.25rem !default;

/// The amount of padding to apply to the `DialogContent` component.
/// @type Number
$rmd-dialog-content-padding: 1.5rem !default;

/// The amount of padding to apply to the `DialogFooter` component.
/// @type Number
$rmd-dialog-footer-padding: 0.5rem !default;

/// The distance that the dialog should travel while animating in and out of
/// view. By default, this animation will cause the dialog to "fly" upwards. If
/// you change this value to be a negative number, it will "fly" downwards.
/// @type Number
$rmd-dialog-transition-distance: 1.875rem !default;

/// The enter animation duration. This should match the `timeout` prop for the
/// `Dialog` component.
/// @type Number
$rmd-dialog-enter-duration: 0.2s !default;

/// The leave animation duration. This should match the `timeout` prop for the
/// `Dialog` component.
/// @type Number
$rmd-dialog-leave-duration: 0.15s !default;

/// The min width for a centered dialog. This is really just applied so you
/// don't have super tiny dialogs if there isn't enough content in the dialog.
/// @type Number
$rmd-dialog-min-width: 17.5rem !default;

/// A Map of all the "themeable" parts of the dialog package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the icon as needed.
/// @type Map
$rmd-dialog-theme-values: (
  background-color: $rmd-dialog-background-color,
  horizontal-margin: $rmd-dialog-horizontal-margin,
  vertical-margin: $rmd-dialog-vertical-margin,
  min-width: $rmd-dialog-min-width,
  header-padding: $rmd-dialog-header-padding,
  header-padding-bottom: $rmd-dialog-header-padding-bottom,
  content-padding: $rmd-dialog-content-padding,
  footer-padding: $rmd-dialog-footer-padding,
  z-index: $rmd-dialog-z-index,
) !default;
