@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/divider/dist/mixins';
@import '~@react-md/form/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/list/dist/mixins';
@import '~@react-md/sheet/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/tooltip/dist/mixins';
@import '~@react-md/transition/dist/mixins';
@import '~@react-md/typography/dist/mixins';
@import '~@react-md/utils/dist/mixins';

:root {
  @include rmd-utils-desktop-media {
    @include rmd-app-bar-dense-theme;
    @include rmd-toggle-dense-theme;
    @include rmd-icon-dense-theme;
    @include rmd-list-dense-theme;
    @include rmd-list-item-dense-theme;
    @include rmd-tooltip-dense-theme;

    .material-icons {
      @include rmd-icon-theme(font-size, size);
    }
  }
}

.layout {
  &__main {
    @include rmd-app-bar-offset;
    @include rmd-utils-hide-focus-outline;
    @include rmd-utils-keyboard-only {
      @include rmd-transition-shadow-transition(none, inset 0 0 0 4px $rmd-blue-500, '&:focus');

      &::before {
        @include rmd-app-bar-theme(top, height);

        position: fixed;
      }
    }

    display: block;
    height: 100%;

    &--offset {
      @include rmd-app-bar-offset;
      @include rmd-utils-rtl {
        @include rmd-sheet-theme(margin-right, static-width);

        margin-left: auto;
      }

      @include rmd-sheet-theme(margin-left, static-width);

      &::before {
        @include rmd-utils-rtl {
          @include rmd-sheet-theme(margin-right, static-width);

          margin-left: auto;
        }

        @include rmd-sheet-theme(margin-left, static-width);
      }
    }
  }

  &__title {
    @include rmd-typography-text-overflow-ellipsis;
  }

  &__nav {
    @include rmd-utils-desktop-media {
      @include rmd-app-bar-theme(top, height);
    }

    // &--inline {
    //   position: fixed;
    //   z-index: 10;
    // }
  }

  &__nav-header {
    @include rmd-divider-border(bottom);
  }

  &__nav-tree {
    @include rmd-utils-tablet-only-media {
      height: calc(100% - #{rmd-app-bar-theme-var(height)});
    }
  }
}
