@use 'react-md';

.type {
  &::after {
    $horizontal-padding: react-md.rmd-list-theme-var(item-horizontal-padding);
    $media-size: react-md.rmd-list-theme-var(media-size);

    @include react-md.rmd-divider-theme(background-color);
    @include react-md.rmd-divider-theme(width, size);
    @include react-md.rmd-utils-rtl-auto(
      left,
      calc(#{$horizontal-padding} + #{$media-size})
    );

    bottom: 10%;
    content: '';
    position: absolute;
    top: 10%;
  }
}
