@use 'react-md';

.container {
  @include react-md.rmd-utils-rtl-auto(margin-left, auto);
  @include react-md.rmd-form-theme-update-var(
    text-filled-color,
    rgba(react-md.$rmd-black-base, 0.15)
  );
  @include react-md.rmd-icon-theme-update-var(
    color,
    react-md.rmd-theme-var(on-primary)
  );
  @include react-md.rmd-utils-phone-media {
    max-width: 2.5rem;
  }

  border: 0;
  border-radius: react-md.$rmd-text-field-border-radius;
  max-width: 10rem;
  transition: max-width react-md.$rmd-transition-standard-time * 2;
  width: 100%;

  &::after {
    display: none;
  }
}

.expanded {
  max-width: 30rem - react-md.$rmd-list-item-media-large-size -
    react-md.$rmd-option-horizontal-padding;
}

@include react-md.rmd-utils-phone-media {
  .transparent {
    @include react-md.rmd-form-theme-update-var(text-filled-color, transparent);
  }
}

.input {
  @include react-md.rmd-text-field-placeholder {
    color: inherit;
    opacity: 0.7;
  }
}

.listbox {
  @include react-md.rmd-utils-tablet-media {
    width: 100%;
  }

  max-width: 30rem;
}

.result {
  @include react-md.rmd-theme(color, text-primary-on-background);
}

.option {
  align-self: flex-start;
}
