@use 'react-md';

.on {
  @include react-md.rmd-utils-mouse-only(true) {
    &:hover {
      color: inherit;
    }
  }

  color: react-md.$rmd-yellow-500;
  // only needed for the menu-item implementation
  fill: currentColor;
}

.off {
  @include react-md.rmd-utils-mouse-only(true) {
    &:hover {
      color: react-md.$rmd-yellow-500;
    }
  }
}
