@import '~react-md-scss';

.scale-enter-active,
.scale-leave-active {
  transition-duration: $md-transition-time;
  transition-property: transform;
}

.scale-enter-active {
  transition-timing-function: $md-transition-deceleration;
}

.scale-leave-active {
  transition-timing-function: $md-transition-acceleration;
}

.scale-enter,
.scale-leave.scale-leave-active {
  transform: scale(0);
}

.scale-enter.scale-enter-active,
.scale-leave {
  transform: scale(1);
}

.moving-title {
  bottom: 0;
  font-size: 28px;
  left: 54px;
}

.moving-title--absolute {
  position: absolute;
  z-index: 1;
}

// Just gotta move them above the image
.flexible-toolbar-example {
  .md-btn {
    z-index: 1;
  }
}

.flexible-toolbar-img-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.flexible-toolbar-img {
  position: absolute;
  // adjust image a bit
  top: -30px;
  width: 100%;
}
