@use "sass:math";
@use "sass:map";
@use "../media-queries/media-queries";
@use "../utils";

$disable-text-container: false !default;

/// A small utility function to get the letter spacing based on tracking and
/// font-size
///
/// @access private
/// @param {Number} tracking - The tracking to use
/// @param {Number} font-size - The font size to use
/// @return {Number} the letter spacing value in em
@function get-letter-spacing($tracking, $font-size) {
  @return math.div($tracking, $font-size * 16) * 1em;
}

/// The font family to use throughout the entire application.
///
/// @example scss - Changing the Font
///   @use "react-md" with (
///     $font-family: string.unquote("'Open Sans', Koulen, 'Roboto Flex', sans-serif")
///   ):
///
///   @include react-md.typography;
///
/// @type String
$font-family: Roboto, sans-serif !default;

$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-semi-bold: 800 !default;
$font-weight-black: 900 !default;

/// A Map of all the font weights.
///
/// @type Map
/// @prop {Number} thin [$font-weight-thin] - The thin font weight value.
/// @prop {Number} light [$font-weight-light] - The light font weight value.
/// @prop {Number} regular [$font-weight-regular] - The regular font weight
/// value.
/// @prop {Number} medium [$font-weight-medium] - The medium font weight
/// value.
/// @prop {Number} bold [$font-weight-bold] - The bold font weight value.
/// @prop {Number} semi-bold [$font-weight-semi-bold] - The semi-bold font
/// weight value.
/// @prop {Number} black [$font-weight-black] - The black font weight value.
$font-weights: (
  thin: $font-weight-thin,
  light: $font-weight-light,
  regular: $font-weight-regular,
  medium: $font-weight-medium,
  bold: $font-weight-bold,
  semi-bold: $font-weight-semi-bold,
  black: $font-weight-black,
) !default;

$text-alignments: left center right !default;
$text-decorations: underline overline line-through none !default;
$text-transforms: capitalize uppercase lowercase !default;
$font-styles: normal italic oblique !default;

/// The base styles for typography.
/// @type Map
$base-recommended-font-styles: (
  font-family: $font-family,
  -moz-osx-font-smoothing: grayscale,
  -webkit-font-smoothing: antialiased,
);
$base-custom-font-styles: () !default;
$base-font-styles: map.merge(
  $base-recommended-font-styles,
  $base-custom-font-styles
);

$headline-1-recommended-styles: (
  font-size: 6rem,
  line-height: 6rem,
  font-weight: map.get($font-weights, light),
  letter-spacing: get-letter-spacing(-1.5, 6),
);
$headline-1-custom-styles: () !default;
$headline-1-styles: map.merge(
  $headline-1-recommended-styles,
  $headline-1-custom-styles
) !default;
$headline-2-recommended-styles: (
  font-size: 3.75rem,
  line-height: 3.75rem,
  font-weight: map.get($font-weights, light),
  letter-spacing: get-letter-spacing(-0.5, 3.75),
);
$headline-2-custom-styles: () !default;
$headline-2-styles: map.merge(
  $headline-2-recommended-styles,
  $headline-2-custom-styles
) !default;
$headline-3-recommended-styles: (
  font-size: 3rem,
  line-height: 3.125rem,
  font-weight: map.get($font-weights, regular),
  letter-spacing: normal,
);
$headline-3-custom-styles: () !default;
$headline-3-styles: map.merge(
  $headline-3-recommended-styles,
  $headline-3-custom-styles
) !default;
$headline-4-recommended-styles: (
  font-size: 2.125rem,
  line-height: 2.5rem,
  font-weight: map.get($font-weights, regular),
  letter-spacing: get-letter-spacing(0.25, 2.125),
);
$headline-4-custom-styles: () !default;
$headline-4-styles: map.merge(
  $headline-4-recommended-styles,
  $headline-4-custom-styles
) !default;
$headline-5-recommended-styles: (
  font-size: 1.5rem,
  line-height: 2rem,
  font-weight: map.get($font-weights, regular),
  letter-spacing: normal,
);
$headline-5-custom-styles: () !default;
$headline-5-styles: map.merge(
  $headline-5-recommended-styles,
  $headline-5-custom-styles
) !default;
$headline-6-recommended-styles: (
  font-size: 1.25rem,
  line-height: 2rem,
  font-weight: map.get($font-weights, medium),
  letter-spacing: get-letter-spacing(0.25, 1.25),
);
$headline-6-custom-styles: () !default;
$headline-6-styles: map.merge(
  $headline-6-recommended-styles,
  $headline-6-custom-styles
) !default;
$subtitle-1-recommended-styles: (
  font-size: 1rem,
  line-height: 1.75rem,
  font-weight: map.get($font-weights, regular),
  letter-spacing: get-letter-spacing(0.15, 1),
);
$subtitle-1-custom-styles: () !default;
$subtitle-1-styles: map.merge(
  $subtitle-1-recommended-styles,
  $subtitle-1-custom-styles
) !default;
$subtitle-2-recommended-styles: (
  font-size: 0.875rem,
  line-height: 1.375rem,
  font-weight: map.get($font-weights, medium),
  letter-spacing: get-letter-spacing(0.1, 0.875),
);
$subtitle-2-custom-styles: () !default;
$subtitle-2-styles: map.merge(
  $subtitle-2-recommended-styles,
  $subtitle-2-custom-styles
) !default;
$body-1-recommended-styles: (
  font-size: 1rem,
  line-height: 1.5rem,
  font-weight: map.get($font-weights, regular),
  letter-spacing: get-letter-spacing(0.5, 0.875),
);
$body-1-custom-styles: () !default;
$body-1-styles: map.merge(
  $body-1-recommended-styles,
  $body-1-custom-styles
) !default;
$body-2-recommended-styles: (
  font-size: 0.875rem,
  line-height: 1.25rem,
  font-weight: map.get($font-weights, regular),
  letter-spacing: get-letter-spacing(0.25, 0.875),
);
$body-2-custom-styles: () !default;
$body-2-styles: map.merge(
  $body-2-recommended-styles,
  $body-2-custom-styles
) !default;
$caption-recommended-styles: (
  font-size: 0.75rem,
  line-height: 1.25rem,
  font-weight: map.get($font-weights, regular),
  letter-spacing: get-letter-spacing(0.4, 0.75),
);
$caption-custom-styles: () !default;
$caption-styles: map.merge(
  $caption-recommended-styles,
  $caption-custom-styles
) !default;
$overline-recommended-styles: (
  font-size: 0.75rem,
  line-height: 2rem,
  font-weight: map.get($font-weights, medium),
  letter-spacing: get-letter-spacing(2, 0.75),
);
$overline-custom-styles: () !default;
$overline-styles: map.merge(
  $overline-recommended-styles,
  $overline-custom-styles
) !default;
$button-recommended-styles: map.merge(
  $base-font-styles,
  (
    font-size: 0.875rem,
    line-height: 2.25rem,
    font-weight: map.get($font-weights, medium),
    letter-spacing: get-letter-spacing(1.25, 0.875),
  )
);
$button-custom-styles: () !default;
$button-styles: map.merge(
  $button-recommended-styles,
  $button-custom-styles
) !default;

$text-container-padding: 1rem !default;
$text-line-length: 65ch !default;

$typography-variables: (line-length, text-container-padding);

@function typography-get-var($name, $fallback: null) {
  $var: utils.get-var-name($typography-variables, $name, "typography");
  @if $fallback {
    @return var(#{$var}, #{$fallback});
  }

  @return var(#{$var});
}

@mixin typography-set-var($name, $value) {
  @if $value {
    #{utils.get-var-name($typography-variables, $name, "typography")}: #{$value};
  }
}

@mixin typography-use-var($property, $name: $property, $fallback: null) {
  #{$property}: typography-get-var($name, $fallback);
}

@mixin typography-text-container-styles($disabled: $disable-text-container) {
  @if not $disabled {
    .rmd-text-container {
      @include typography-use-var(max-width, line-length);
      @include typography-use-var(padding, text-container-padding);

      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
}

@mixin typography-base-styles {
  .rmd-typography {
    @include utils.map-to-styles($base-font-styles);

    &--headline-1 {
      @include utils.map-to-styles($headline-1-styles);
    }

    &--headline-2 {
      @include utils.map-to-styles($headline-2-styles);
    }

    &--headline-3 {
      @include utils.map-to-styles($headline-3-styles);
    }

    &--headline-4 {
      @include utils.map-to-styles($headline-4-styles);
    }

    &--headline-5 {
      @include utils.map-to-styles($headline-5-styles);
    }

    &--headline-6 {
      @include utils.map-to-styles($headline-6-styles);
    }

    &--subtitle-1 {
      @include utils.map-to-styles($subtitle-1-styles);
    }

    &--subtitle-2 {
      @include utils.map-to-styles($subtitle-2-styles);
    }

    &--body-1 {
      @include utils.map-to-styles($body-1-styles);
    }

    &--body-2 {
      @include utils.map-to-styles($body-2-styles);
    }

    &--caption {
      @include utils.map-to-styles($caption-styles);
    }

    &--overline {
      @include utils.map-to-styles($overline-styles);
    }
  }
}

@mixin text-overflow($white-space: nowrap) {
  overflow: hidden;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  white-space: $white-space;
}

@mixin line-clamp($lines: 2) {
  // stylelint-disable order/properties-alphabetical-order
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  display: -webkit-box;
}

@mixin typography-variables {
  @if not $disable-text-container {
    @include typography-set-var(line-length, $text-line-length);
    @include typography-set-var(
      text-container-padding,
      $text-container-padding
    );
  }
}

@mixin typography-styles {
  @include typography-text-container-styles;
  @include typography-base-styles;
}
