@import '~react-md-scss';

.price {
  margin-right: $md-default-padding;

  &::before {
    bottom: 17px;
    color: get-color('text', true);
    content: '$';
    font-size: $md-text-field-mobile-font-size;
    position: absolute;
  }

  .md-text-field {
    padding-left: .75em;
  }
}

.md-form {
  .price {
    width: 70px;
  }

  .location {
    width: calc(100% - (#{$md-default-padding + 70}));
  }
}

