@use "sass:map";
@use "utils";

@use "palette";
@use "font";
@use "margin";
@use "shape";
@use "tokens";
@use "typescale";
@use "transition";
@use "elevation";
@use "media-queries";
@use "interaction";
@use "typography";
@use "icon";
@use "button";

///
/// @param {Map | null} $tokens [null] -
/// @param {Map | null} $palette [null] -
/// @param {Boolean | null} $disable-rtl [null] -
/// @param {Map | null} $font [null] -
/// @param {Map | null} $margin [null] -
/// @param {Map | null} $shape [null] -
/// @param {Map | null} $typescale [null] -
/// @param {Map | null} $transition [null] -
/// @param {Map | null} $elevation [null] -
/// @param {Map | null} $media-queries [null] -
/// @param {Map | null} $interaction [null] -
/// @param {Map | null} $typography [null] -
/// @param {Map | null} $icon [null] -
/// @param {Map | null} $button [null] -
@mixin configure(
  $tokens: null,
  $palette: null,
  $disable-rtl: null,
  $font: null,
  $margin: null,
  $shape: null,
  $typescale: null,
  $transition: null,
  $elevation: null,
  $media-queries: null,
  $interaction: null,
  $typography: null,
  $icon: null,
  $button: null
) {
  @include utils.configure-rtl($disable-rtl);

  $tokens: utils.get-config-map(tokens, $tokens, tokens.$configure-tokens);
  @include tokens.configure($var-prefix: map.get($tokens, var-prefix));

  $palette: utils.get-config-map(palette, $palette, palette.$configure-tokens);
  @include palette.configure(
    $color-scheme: map.get($palette, color-scheme),
    $light-theme: map.get($palette, light-theme),
    $dark-theme: map.get($palette, dark-theme)
  );

  $font: utils.get-config-map(font, $font, font.$configure-tokens);
  @include font.configure(
    $brand: map.get($font, brand),
    $plain: map.get($font, plain),
    $monospace: map.get($font, monospace),
    $regular: map.get($font, regular),
    $medium: map.get($font, medium),
    $bold: map.get($font, bold)
  );

  $margin: utils.get-config-map(margin, $margin, margin.$configure-tokens);
  @include margin.configure(
    $none-styles: map.get($margin, none-styles),
    $top-styles: map.get($margin, top-styles),
    $bottom-styles: map.get($margin, bottom-styles),
    $centered-styles: map.get($margin, centered-styles),
    $force-end-styles: map.get($margin, force-end-styles)
  );

  $shape: utils.get-config-map(shape, $shape, shape.$configure-tokens);
  @include shape.configure(
    $corner-none: map.get($shape, corner-none),
    $corner-extra-small: map.get($shape, corner-extra-small),
    $corner-small: map.get($shape, corner-small),
    $corner-medium: map.get($shape, corner-medium),
    $corner-large: map.get($shape, corner-large),
    $corner-large-increased: map.get($shape, corner-large-increased),
    $corner-extra-large: map.get($shape, corner-extra-large),
    $corner-extra-large-increased: map.get($shape, corner-extra-large-increased),
    $corner-extra-extra-large: map.get($shape, corner-extra-extra-large),
    $corner-full: map.get($shape, corner-full)
  );

  $transition: utils.get-config-map(
    transition,
    $transition,
    transition.$configure-tokens
  );
  @include transition.configure(
    $extra-long-1: map.get($transition, extra-long-1),
    $extra-long-2: map.get($transition, extra-long-2),
    $extra-long-3: map.get($transition, extra-long-3),
    $extra-long-4: map.get($transition, extra-long-4),
    $long-1: map.get($transition, long-1),
    $long-2: map.get($transition, long-2),
    $long-3: map.get($transition, long-3),
    $long-4: map.get($transition, long-4),
    $medium-1: map.get($transition, medium-1),
    $medium-2: map.get($transition, medium-2),
    $medium-3: map.get($transition, medium-3),
    $medium-4: map.get($transition, medium-4),
    $short-1: map.get($transition, short-1),
    $short-2: map.get($transition, short-2),
    $short-3: map.get($transition, short-3),
    $short-4: map.get($transition, short-4),
    $emphasized: map.get($transition, emphasized),
    $emphasized-accelerate: map.get($transition, emphasized-accelerate),
    $emphasized-decelerate: map.get($transition, emphasized-decelerate),
    $linear: map.get($transition, linear),
    $standard: map.get($transition, standard),
    $standard-accelerate: map.get($transition, standard-accelerate),
    $standard-decelerate: map.get($transition, standard-decelerate)
  );

  $typescale: utils.get-config-map(
    typescale,
    $typescale,
    typescale.$configure-tokens
  );
  @include typescale.configure(
    $display-large: map.get($typescale, display-large),
    $display-medium: map.get($typescale, display-medium),
    $display-small: map.get($typescale, display-small),
    $headline-large: map.get($typescale, headline-large),
    $headline-medium: map.get($typescale, headline-medium),
    $headline-small: map.get($typescale, headline-small),
    $title-large: map.get($typescale, title-large),
    $title-medium: map.get($typescale, title-medium),
    $title-small: map.get($typescale, title-small),
    $label-large: map.get($typescale, label-large),
    $label-medium: map.get($typescale, label-medium),
    $label-small: map.get($typescale, label-small),
    $body-large: map.get($typescale, body-large),
    $body-medium: map.get($typescale, body-medium),
    $body-small: map.get($typescale, body-small)
  );

  $media-queries: utils.get-config-map(
    media-queries,
    $media-queries,
    media-queries.$configure-tokens
  );
  @include media-queries.configure(
    $phone-max-width: map.get($media-queries, phone-max-width),
    $tablet-min-width: map.get($media-queries, tablet-min-width),
    $tablet-max-width: map.get($media-queries, tablet-max-width),
    $desktop-min-width: map.get($media-queries, desktop-min-width),
    $large-desktop-min-width: map.get($media-queries, large-desktop-min-width)
  );

  $interaction: utils.get-config-map(
    interaction,
    $interaction,
    interaction.$configure-tokens
  );
  @include interaction.configure(
    $focused-animation: map.get($interaction, focused-animation),
    $focused-width: map.get($interaction, focused-width),
    $focused-active-width: map.get($interaction, focused-active-width),
    $focused-color: map.get($interaction, focused-color),
    $focused-inward-offset: map.get($interaction, focused-inward-offset),
    $focused-outward-offset: map.get($interaction, focused-outward-offset),
    $focused-opacity: map.get($interaction, focused-opacity),
    $hovered-opacity: map.get($interaction, hovered-opacity),
    $pressed-opacity: map.get($interaction, pressed-opacity),
    $dragged-opacity: map.get($interaction, dragged-opacity),
    $disabled-opacity: map.get($interaction, disabled-opacity)
  );

  $elevation: utils.get-config-map(
    elevation,
    $elevation,
    elevation.$configure-tokens
  );
  @include elevation.configure(
    $base-styles: map.get($elevation, base-styles),
    $level-0: map.get($elevation, level-0),
    $level-1: map.get($elevation, level-1),
    $level-2: map.get($elevation, level-2),
    $level-3: map.get($elevation, level-3),
    $level-4: map.get($elevation, level-4),
    $level-5: map.get($elevation, level-5)
  );

  $typography: utils.get-config-map(
    typography,
    $typography,
    typography.$configure-tokens
  );
  @include typography.configure(
    $display-large: map.get($typography, display-large),
    $display-large-prominent: map.get($typography, display-large-prominent),
    $display-medium: map.get($typography, display-medium),
    $display-medium-prominent: map.get($typography, display-medium-prominent),
    $display-small: map.get($typography, display-small),
    $display-small-prominent: map.get($typography, display-small-prominent),
    $headline-large: map.get($typography, headline-large),
    $headline-large-prominent: map.get($typography, headline-large-prominent),
    $headline-medium: map.get($typography, headline-medium),
    $headline-medium-prominent: map.get($typography, headline-medium-prominent),
    $headline-small: map.get($typography, headline-small),
    $headline-small-prominent: map.get($typography, headline-small-prominent),
    $title-large: map.get($typography, title-large),
    $title-large-prominent: map.get($typography, title-large-prominent),
    $title-medium: map.get($typography, title-medium),
    $title-medium-prominent: map.get($typography, title-medium-prominent),
    $title-small: map.get($typography, title-small),
    $title-small-prominent: map.get($typography, title-small-prominent),
    $label-large: map.get($typography, label-large),
    $label-large-prominent: map.get($typography, label-large-prominent),
    $label-medium: map.get($typography, label-medium),
    $label-medium-prominent: map.get($typography, label-medium-prominent),
    $label-small: map.get($typography, label-small),
    $label-small-prominent: map.get($typography, label-small-prominent),
    $body-large: map.get($typography, body-large),
    $body-large-prominent: map.get($typography, body-large-prominent),
    $body-medium: map.get($typography, body-medium),
    $body-medium-prominent: map.get($typography, body-medium-prominent),
    $body-small: map.get($typography, body-small),
    $body-small-prominent: map.get($typography, body-small-prominent)
  );

  $icon: utils.get-config-map(icon, $icon, icon.$configure-tokens);
  @include icon.configure(
    $variants: map.get($icon, variants),
    $sizes: map.get($icon, sizes),
    $base-styles: map.get($icon, base-styles),
    $svg-styles: map.get($icon, svg-styles),
    $font-styles: map.get($icon, font-styles),
    $symbol-styles: map.get($icon, symbol-styles)
  );

  $button: utils.get-config-map(button, $button, button.$configure-tokens);
  @include button.configure(
    $base-styles: map.get($button, base-styles),
    $text-styles: map.get($button, text-styles),
    $filled-styles: map.get($button, filled-styles),
    $outlined-styles: map.get($button, outlined-styles),
    $tonal-styles: map.get($button, tonal-styles),
    $elevated-styles: map.get($button, elevated-styles),
    $extra-small-styles: map.get($button, extra-small-styles),
    $small-styles: map.get($button, small-styles),
    $medium-styles: map.get($button, medium-styles),
    $large-styles: map.get($button, large-styles),
    $extra-large-styles: map.get($button, extra-large-styles),
    $round-styles: map.get($button, round-styles),
    $square-styles: map.get($button, square-styles)
  );
}
