@use "everything" as *;

.container {
  height: 3em;
  position: relative;
  width: 3em;
}

.tooltip {
  left: 50%;
  position: absolute;
  top: calc(100% + tooltip-get-var(spacing));
  transform: translateX(-50%);
}
