@use "everything" as *;

.fieldset {
  padding-bottom: 2rem;
}

.firstLabel {
  transform: translateX(0);

  @include rtl {
    transform: translateX(0);
  }
}

.lastLabel {
  transform: translateX(-100%);

  @include rtl {
    transform: translateX(100%);
  }
}
