@use "everything" as *;

.sheet {
  // note: should be the same value as layout size in ./FullScreenVirtualizedList.module.scss
  @include sheet-set-var(static-width, 20rem);
  @include desktop-media {
    will-change: left, right, transform;
  }
}

.offset {
  @include desktop-media {
    @include layout-use-var(left, size);

    @include rtl {
      @include layout-use-var(right, size);

      left: 0;
    }
  }
}

.enter {
  transition: left $layout-enter-duration $layout-enter-timing-function;
}

.exit {
  transition: left $layout-leave-duration $layout-leave-timing-function;
}

.button {
  justify-self: flex-end;
}
