@use "everything";

.header {
  @include everything.icon-set-var(size, 2.25rem);

  gap: 1rem;
}

.title {
  flex-grow: 0;
  margin-right: auto;

  @include everything.rtl {
    margin-left: auto;
    margin-right: 0;
  }
}
