@use "sass:map";
@use "everything" as *;

.button {
  @include icon-set-var(size, 2rem);

  gap: 1rem;
  line-height: normal;
}

.selected {
  @include theme-set-var(outline-color, theme-get-var(primary-color));
  @include theme-set-var(outline-width, 0.25rem);
}

.selectedDark {
  background-color: rgba($primary-color, 0.2);
  color: $white;
}

.selectedLight {
  background-color: rgba($primary-color, 0.2);
  color: $black;
}
