$disable-everything: false !default;
$disable-horizontal: false !default;
$disable-vertical: false !default;

@mixin styles {
  @if not $disable-everything {
    .rmd-dragging {
      * {
        pointer-events: none;
      }

      @if not $disable-horizontal {
        &--h {
          cursor: col-resize;
        }
      }

      @if not $disable-vertical {
        &--v {
          cursor: row-resize;
        }
      }
    }
  }
}
