@import '~@react-md/icon/dist/scss/mixins';
@import '~@react-md/transition/dist/scss/mixins';
@import '~@react-md/utils/dist/scss/mixins';

$start-shadow: none;
$end-shadow: 0 0 2px $rmd-blue-300;

.two-line-list-example {
  &__icon {
    @include rmd-transition-shadow-transition(none, $end-shadow, '&:focus');
    @include rmd-icon-theme(height, size);
    @include rmd-utils-hide-focus-outline;
  }

  &__tooltip {
    max-width: 15rem;
  }
}
