@use "everything" as *;

.tree {
  // uncomment the next two lines if you want to see the default values in the
  // compiled CSS
  // @include  tree-set-var(item-padding-base,  $tree-item-padding-base);
  // @include  tree-set-var(item-padding-incrementor,  $tree-item-padding-incrementor);
  @include tree-set-var(item-padding-incrementor, 1rem);
}
