@import '~react-md-scss';

.filter-toolbar {
  left: $md-default-padding;
  position: absolute;
  right: 0;
  top: $md-card-padding-extra;
  z-index: $md-toolbar-z-index;
}

.drop-down-enter {
  transform: translate3d(0, -100%, 0);

  &.drop-down-enter-active {
    @extend %md-transition--decceleration;

    transform: translate3d(0, 0, 0);
    transition-duration: $md-transition-time;
    transition-property: transform;
  }
}

.drop-down-leave {
  transform: translate3d(0, 0, 0);

  &.drop-down-leave-active {
    @extend %md-transition--acceleration;

    transform: translate3d(0, -100%, 0);
    transition-duration: $md-transition-time;
    transition-property: transform;
  }
}
