@use "everything" as *;

.container {
  // these two are the default values
  @include divider-set-var(size, $divider-size);
  @include divider-set-var(spacing, $divider-spacing);

  @include divider-set-var(color, $orange-300);
}
