@use "everything" as *;

.container {
  // just to show the defaults
  @include divider-set-var(vertical-spacing, $divider-vertical-spacing);
  @include divider-set-var(max-size, $divider-max-size);
}
