@import 'common';

.menu {
  @include rmd-utils-hide-focus-outline;
  @include rmd-theme(background-color, surface);
  @include rmd-theme(color, text-primary-on-background);
  @include rmd-elevation(8);
  @include rmd-typography(subtitle-1);
  @include rmd-typography-value(body-1, line-height);

  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  position: fixed;
  word-break: break-word;
  z-index: 100;
}

.menu-item {
  $is-light-theme: rmd-theme-contrast-tone($rmd-theme-background) != 'dark';
  align-items: center;
  display: flex;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  position: relative;
}
