@import 'common';

.menu {
  @include rmd-utils-hide-focus-outline;
  @include rmd-theme(background-color, surface);
  @include rmd-theme(color, text-primary-on-background);
  @include rmd-elevation(8);
  @include rmd-typography(subtitle-1);
  @include rmd-typography-value(body-1, line-height);

  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  position: fixed;
  word-break: break-word;
  z-index: 100;
}

.menuItem {
  $is-light-theme: rmd-theme-contrast-tone($rmd-theme-background) != 'dark';
  align-items: center;
  display: flex;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  position: relative;

  &::before {
    @include rmd-transition(standard);

    background-color: $rmd-black-base;
    border-radius: inherit;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.15s;
  }

  &:hover {
    cursor: pointer;

    &::before {
      opacity: if($is-light-theme, 0.08, 0.04);
    }
  }

  // &:focus::before {
  //   opacity: if($is-light-theme, 0.24, 0.12);
  // }

  // &:active::before {
  //   opacity: if($is-light-theme, 0.32, 0.16);
  // }
}

.focused {
  &::before {
    opacity: 0.24;
  }
}
