@use 'react-md' as *;

.container {
  display: block;
  margin: 0 auto;
  max-width: 30rem;
}

.success {
  @include rmd-icon-theme-update-var(color, $rmd-theme-success);
}

.yellow {
  @include rmd-progress-theme-update-var(color, $rmd-orange-400);
  @include rmd-progress-theme-update-var(background-color, $rmd-orange-100);
}

.warning {
  @include rmd-progress-theme-update-var(color, $rmd-theme-warning);
  @include rmd-progress-theme-update-var(
    background-color,
    rmd-theme-get-swatch($rmd-theme-warning, 200, false)
  );
}

.list {
  @include rmd-utils-desktop-media {
    height: $rmd-list-item-dense-extra-large-height * 5;
  }

  display: flex;
  flex-direction: column;
  height: $rmd-list-item-extra-large-height * 5;
  margin-bottom: 1rem;
}

.upload {
  margin-bottom: 1rem;
  width: 100%;
}

.dropzone {
  box-shadow: $rmd-states-focus-shadow;
}
