@import '~react-md-scss';


.btn-example {
  .md-btn {
    margin: 1em;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-name: shake;
}

@keyframes shake-2 {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) rotate3d(0, 0, 1, -4deg);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) rotate3d(0, 0, 1, 4deg);
  }
}

.shake-2 {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: shake-2;
}
