////
/// @group icon
////

@import '~@react-md/theme/dist/functions';

/// The base icon color to apply.
///
/// @require rmd-theme-var
/// @type Color
$rmd-icon-color: rmd-theme-var(text-icon-on-background) !default;

/// The base icon size to use.
/// @type Number
$rmd-icon-size: 1.5rem !default;

/// The dense icon size to use. If you do not want to include the dense icon
/// spec, disable the `$rmd-icon-include-dense` variable.
/// @type Number
/// @see rmd-icon-include-dense
$rmd-icon-dense-size: 1.25rem !default;

/// Boolean if the dense spec for icons should be included. This will just
/// generate `.md-icon--font-dense` and `.md-icon--svg-dense` class names that
/// can be applied.
///
/// @type Boolean
$rmd-icon-include-dense: true !default;

/// Boolean if you are using the material-icons font icon library. This will
/// update the dense theme to fix material icons as well.
/// @type Boolean
$rmd-icon-material-icons-font: false !default;

/// Boolean if font icons should be used. Normally only one of font icons or svg
/// icons should be used within your application, so you can disable the style
/// generation for the unused type to save a few bytes.
///
/// @see rmd-icon-use-svg-icons
/// @type Boolean
$rmd-icon-use-font-icons: true !default;

/// Boolean if svg icons should be used. Normally only one of font icons or svg
/// icons should be used within your application, so you can disable the style
/// generation for the unused type to save a few bytes.
///
/// @see rmd-icon-use-svg-icons
/// @type Boolean
$rmd-icon-use-svg-icons: true !default;

/// The amount of spacing to apply between an icon and text within the
/// `TextIconSpacing` component.
/// @type Number
$rmd-icon-spacing-with-text: 0.5rem !default;

/// The transition time for the icon rotator to fully rotate.
/// @type Number
$rmd-icon-rotator-transition-time: 0.15s !default;

/// The default starting position for the `IconRotator` component. This needs to
/// be a valid transformation value to work.
/// @type Number
$rmd-icon-rotator-from: rotate(0deg) !default;

/// The default ending position for the `IconRotator` component. This needs to
/// be a valid transformation value to work.
/// @type Number
$rmd-icon-rotator-to: rotate(180deg) !default;

/// A Map of all the "themeable" parts of the icon package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the icon as needed.
/// @type Map
$rmd-icon-theme-values: (
  color: $rmd-icon-color,
  size: $rmd-icon-size,
  dense-size: $rmd-icon-dense-size,
  text-spacing: $rmd-icon-spacing-with-text,
  rotate-to: $rmd-icon-rotator-to,
  rotate-from: $rmd-icon-rotator-from,
) !default;
