@use "everything" as *;

.offset {
  @include badge-set-var(offset, -1em);
}

.offsetTop {
  @include badge-set-var(offset-top, -1em);
}

.offsetRight {
  @include badge-set-var(offset-right, -1em);
}
