@import '~normalize-scss-vanilla/normalize';
@import '~react-md-scss/react-md';

$development: true;
@if $development {
  @each $weight in $md-font-weights {
    @include host-google-font(Roboto, $weight);
  }

  @include host-google-font('Source Code Pro', 400);
  @include host-material-icons();
} @else {
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Source+Code+Pro);
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
}


html {
  height: 100%;
}

body {
  min-height: 100%;
}

main {
  background: $md-white-base;
  flex-grow: 1;
  margin-top: 0;
  overflow-x: hidden;
  padding-left: 0;
  transition: padding-left $md-transition-time;

  &.active {
    padding-left: $md-sidebar-open-width;
  }
}

.getting-started-theme {
  @include md-theme-most($md-purple-500, $md-purple-700, $md-green-a-200, $md-green-500);
}

.customization-theme {
  @include md-theme-most($md-teal-500, $md-teal-300, $md-purple-a-200, $md-purple-500);
}

.typography-theme {
  @include md-theme-most($md-cyan-500, $md-cyan-200, $md-lime-a-200, $md-lime-500);
}

.react-md-docs {
  display: flex;
}

.middle-align {
  align-items: center;
  display: flex;
}

.full-width {
  width: 100%;
}

.space-after:after {
  content: ' ';
}

.documentation-paper .paper-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em 0;

  [class^='paper'] {
    min-width: 360px;
  }

  .paper-example {
    min-height: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .paper-container [class^='paper'] {
    margin: 2em;
  }
}


.btn-group .md-btn {
  display: block;
  margin: 1em 0;
}

.desktop-examples .md-toolbar {
  position: initial;
}

.react-md-docs-toolbar {
  transition: box-shadow $md-transition-time;

  &.no-shadow {
    // scss-lint:disable ImportantRule
    box-shadow: none !important;
  }

  .action-area .md-btn-icon {
    display: inline-flex;
  }
}

.fa {
  vertical-align: top;
}

.max-height-165 {
  max-height: 165px;
}

.text-container {
  margin: 0 auto;
  width: calc(100% - 2em);

  // scss-lint:disable PlaceholderInExtend
  h3 {
    @extend .md-display-1;
  }

  h4 {
    @extend .md-headline;
  }

  h5 {
    @extend .md-title;
  }

  &.documentation > pre,
  &.documentation > article > pre {
    margin-bottom: 10px;
  }

  pre + p {
    margin-top: 1em;
  }

  p {
    @extend .md-body-1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .active .text-container {
    width: 750px - 256;
  }

  .text-container {
    width: 750px;
  }

  .getting-started {
    max-width: 750px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .active .text-container {
    width: 970px - 256;
  }

  .text-container {
    width: 970px;
  }

  .getting-started {
    max-width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .active .text-container {
    width: 1170px - 256;
  }

  .text-container {
    width: 1170px;
  }

  .getting-started {
    max-width: 1170px;
  }
}


// Hacks to get Navigation Drawer to pretend it is at app level inside of a card.
// scss-lint:disable SelectorDepth
$scrollbar-width: 16px;

.documentation-navigation-drawer {
  .md-overlay {
    min-height: 100%;
    min-width: 100%;
  }

  .drawer-container {
    position: relative;
  }

  .md-navigation-drawer-content {
    max-height: 500px;
    overflow-y: auto;
  }

  .md-navigation-drawer,
  .md-navigation-drawer-toolbar {
    left: 0;
    position: absolute;
    top: 0;
  }

  .md-navigation-drawer {
    height: 100%;
  }

  .md-navigation-drawer-toolbar {
    &.temporary {
      width: calc(100% - #{$scrollbar-width});

      // scss-lint:disable NestingDepth
      &.mini {
        left: -$md-navigation-drawer-mini-width;
        width: calc(100% + #{$md-navigation-drawer-mini-width});
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .documentation-navigation-drawer {
    .md-navigation-drawer-toolbar {
      &.full-height,
      &.persistent.active {
        left: $md-navigation-drawer-width;
        width: calc(100% - #{$md-navigation-drawer-width + $scrollbar-width});
      }

      &.mini.active:not(.temporary) {
        left: $md-navigation-drawer-width;
        width: calc(100% - #{$md-navigation-drawer-width});
      }

      &.clipped,
      &.floating,
      &.persistent {
        width: calc(100% - #{$scrollbar-width});
      }
    }
  }
}
