////
/// @group form-select
////

@import '../text-field/mixins';
@import './variables';

/// @access private
@mixin react-md-select {
  .rmd-native-select-container {
    &--multi {
      @include rmd-form-theme(min-height, text-height);
      @include rmd-form-theme-update-var(addon-top, $rmd-select-native-addon-top);

      height: auto;
    }

    &--padded {
      $calc: #{$rmd-select-native-multiple-padding} + #{rmd-form-theme-var(text-padding-top)};
      padding-top: calc(#{$calc});
    }
  }

  .rmd-native-select {
    @include rmd-text-field;

    &--icon {
      @include rmd-icon-theme(padding-right, size);

      appearance: none;
    }

    &--multi {
      padding-top: 0;
    }

    &__icon {
      @include rmd-utils-rtl-auto(right, 0);

      // without this, the span will render with a height larger
      // than the icon and be positioned weirdly
      display: inline-flex;
      pointer-events: none;
      position: absolute;
    }

    &__label {
      // it doesn't look like selects support the label attribute, so just
      // make the labe not have pointer events so if you click on it, the
      // select is clicked instead of the label.
      pointer-events: none;
    }
  }
}
