@import '~react-md-scss';
$toolbar-height: 80px;


.md-text-field--docs-title {
  font-size: 18px;

  // scss-lint:disable VendorPrefix, PseudoElement

  &:-moz-placeholder {
    font-style: italic;
  }

  &::-moz-placeholder {
    font-style: italic;
  }

  &:-ms-input-placeholder {
    font-style: italic;
  }

  &::-webkit-input-placeholder {
    font-style: italic;
  }
}

.google-docs-clone {
  .md-text-field-container--input-block {
    align-self: flex-start;
    flex-shrink: 1;
    padding-bottom: 0;
    padding-top: 0;
  }
}

$btn-lr-padding: 12px;

.google-docs-menus {

  bottom: 0;
  left: $md-toolbar-tablet-title-keyline - $btn-lr-padding;
  position: absolute;

  $icon-padding: 8px;

  .md-list-tile {
    padding-left: $md-menu-cascading-padding + ($icon-padding * 1.5);
  }

  .left-icon-tile,
  .md-tile-content--left-icon,
  .md-tile-content--left-button,
  .md-list-tile--control-left {
    padding-left: $icon-padding;
  }

  *[role="checkbox"] {
    flex-shrink: 0;
    height: $md-font-icon-dense-size;
    padding: 0;
    width: $md-font-icon-dense-size;
  }
}

.google-docs-dd-menu {
  padding: 8px $btn-lr-padding;
}

.google-docs-toolbar {
  height: $toolbar-height;
}

.google-docs-title {
  height: $md-toolbar-tablet-height;
  max-width: 375px;
  min-width: 180px;
  width: auto;
}

.google-docs-playground {
  margin-top: $toolbar-height;
  min-height: calc(100vh - #{$toolbar-height});
  padding-bottom: 2em;
  padding-top: 2em;

  .md-list--inline .md-tile-content--left-icon {
    padding-left: 8px;
  }
}

.unicode-icon {
  display: block;
  font-size: 16px;
  width: $md-font-icon-dense-size;
}

.google-docs-list {
  max-height: 88vh;
  overflow-y: auto;
}

.google-docs-search {
  padding-left: $md-menu-cascading-padding + $btn-lr-padding;
  padding-right: $md-menu-cascading-padding;
  width: 240px;

  .md-text-field {
    border: 1px solid get-color('divider', $md-light-theme);
    padding: 8px 12px;
  }
}

.last-edit {
  position: relative;

  &--hover {
    text-decoration: underline;
  }
}
