@use 'react-md' as *;

$size: 2rem;

.button {
  @include rmd-button-theme-update-var(icon-size, $size);

  bottom: -$size * 0.5;
  left: 1rem;
  z-index: 300;

  &.button {
    @include rmd-theme(color, text-primary-on-light);

    background-color: $rmd-white-base;
    position: absolute;
  }
}
