@import '~globals';

.md-title--toolbar {
  ~ .documentation-tabs {
    left: 0;
  }
}

.md-title--permanent-offset,
.md-title--persistent-offset {
  ~ .documentation-tabs {
    left: $md-drawer-tablet-width;
  }
}

.md-tabs.documentation-tabs {
  bottom: 0;
  position: absolute;
  right: 0;
}
