@use "everything" as *;

.container {
  @include mouse-hover {
    .icon {
      transform: scale(1.25);
    }
  }
}

.icon {
  transform-origin: 0 50%;
  transition: transform $linear-duration $linear-timing-function;
}
