@import '~react-md-scss/helpers/all';

.react-md-docs-app-bar {
  transition: box-shadow $md-transition-time;

  &.no-shadow {
    box-shadow: none;
  }
}

.banner {
  align-items: center;
  background: get-md-color($md-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  padding: 2em;

  .md-title {
    max-width: 450px;
  }

  .md-btn {
    margin-top: 2em;
  }

  .md-title,
  .md-display-2 {
    color: $white-base;
  }
}
