@import '~globals';

.source-code .md-tab {
  text-transform: none;
}

.testing pre {
  max-height: 200px;

  @media #{$md-tablet-media} {
    max-height: 350px;
  }

  @media #{$md-desktop-media} {
    max-height: 500px;
  }
}
