@forward "utils";
@forward "media-queries/media-queries";
@forward "box/box" as box-*;
@forward "theme/a11y";
@forward "theme/colors";
@forward "theme/theme";
@forward "typography/typography";
@forward "transition/transition";
@forward "box-shadows";
@forward "interaction/interaction" as interaction-*;
@forward "draggable/draggable" as draggable-*;
@forward "window-splitter/window-splitter" as window-splitter-*;
@forward "icon/icon" as icon-*;
@forward "divider/divider" as divider-*;
@forward "progress/progress" as progress-*;
@forward "button/button" as button-*;
@forward "badge/badge" as badge-*;
@forward "tabs/tabs" as tabs-*;
@forward "chip/chip" as chip-*;
@forward "table/table" as table-*;
@forward "app-bar/app-bar" as app-bar-*;
@forward "responsive-item/responsive-item" as responsive-item-*;
@forward "overlay/overlay" as overlay-*;
@forward "avatar/avatar" as avatar-*;
@forward "card/card" as card-*;
@forward "link/link" as link-*;
@forward "list/list" as list-*;
@forward "tree/tree" as tree-*;
@forward "dialog/dialog" as dialog-*;
@forward "sheet/sheet" as sheet-*;
@forward "tooltip/tooltip" as tooltip-*;
@forward "snackbar/snackbar" as snackbar-*;
@forward "expansion-panel/expansion-panel" as expansion-panel-*;
@forward "menu/menu" as menu-*;
@forward "form/form" as form-*;
@forward "layout/layout" as layout-*;
@forward "segmented-button/segmented-button" as segmented-button-*;

@use "avatar/avatar";
@use "app-bar/app-bar";
@use "box/box";
@use "button/button";
@use "segmented-button/segmented-button";
@use "badge/badge";
@use "card/card";
@use "divider/divider";
@use "draggable/draggable";
@use "expansion-panel/expansion-panel";
@use "icon/icon";
@use "media-queries/media-queries";
@use "snackbar/snackbar";
@use "interaction/interaction";
@use "link/link";
@use "list/list";
@use "tree/tree";
@use "tooltip/tooltip";
@use "overlay/overlay";
@use "progress/progress";
@use "responsive-item/responsive-item";
@use "tabs/tabs";
@use "chip/chip";
@use "table/table";
@use "theme/theme";
@use "dialog/dialog";
@use "sheet/sheet";
@use "transition/transition";
@use "typography/typography";
@use "window-splitter/window-splitter";
@use "menu/menu";
@use "form/form";
@use "layout/layout";
@use "utils";

$_layer-order: (
  typography,
  transition,
  interaction,
  box,
  icon,
  divider,
  button,
  badge,
  tabs,
  chip,
  progress,
  responsive,
  overlay,
  card,
  avatar,
  link,
  list,
  tree,
  dialog,
  sheet,
  tooltip,
  table,
  app-bar,
  expansion-panel,
  draggable,
  window-splitter,
  menu,
  form,
  layout,
  snackbar,
  segmented-button,
  utils
);

@mixin css-reset {
  // setting everything to border-box for easier positioning and calculations
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // always force full height and remove any spacing the browser might add to
  // ensure your app can use the full viewport
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  html {
    @include theme.theme-use-var(background-color);
    @include theme.theme-use-var(color, text-primary-color);

    font-family: typography.$font-family;
  }

  body.touch-mode {
    // stylelint-disable order/properties-alphabetical-order
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // this allows for click events to be bubble-able on iOS to the root
    // document. Without this, all the `onOutsideClick` behavior won't work.
    cursor: pointer;
  }
}

@mixin css-utils {
  .rmd-display-none {
    display: none !important;
  }

  .rmd-sr-only {
    @include utils.sr-only(true);
  }

  .rmd-phone-sr-only {
    @include media-queries.phone-media {
      @include utils.sr-only;
    }
  }

  .rmd-outline {
    // inset box-shadow is faded on the lower right half? use outline instead
    outline: theme.theme-get-var(outline-width) solid
      theme.theme-get-var(outline-color);
    outline-offset: utils.negate-var(theme.theme-get-var(outline-width));
  }

  .rmd-greyscale-outline {
    @include theme.theme-set-var(outline-color, outline-grey-color);
  }

  .rmd-background-container {
    @include theme.theme-use-var(background-color);
    @include theme.theme-use-var(color, on-background-color, currentcolor);
  }

  @each $color in (primary, secondary, warning, success, error) {
    $theme-name: $color + "-color";
    $on-theme-name: "on-" + $theme-name;

    .rmd-#{$color}-container {
      @include theme.theme-set-var(background-color, $theme-name);
      @include theme.theme-set-var(on-background-color, $on-theme-name);
    }

    .rmd-#{$theme-name} {
      @include theme.theme-use-var(color, $theme-name);
    }

    .rmd-#{$on-theme-name} {
      @include theme.theme-use-var(color, $on-theme-name);
    }

    .rmd-#{$color}-outline {
      @include theme.theme-set-var(outline-color, $theme-name);
    }
  }

  @each $color in (primary, secondary, hint, disabled) {
    .rmd-text-#{$color}-color {
      @include theme.theme-use-var(color, text-#{$color}-color);
    }
  }

  .rmd-light-surface {
    @include interaction.use-light-surface;
    @include theme.theme-set-var(
      text-primary-color,
      theme.$light-theme-text-primary-color
    );
    @include theme.theme-set-var(
      text-secondary-color,
      theme.$light-theme-text-secondary-color
    );
    @include theme.theme-set-var(
      text-hint-color,
      theme.$light-theme-text-hint-color
    );
    @include theme.theme-set-var(
      text-disabled-color,
      theme.$dark-theme-text-disabled-color
    );
  }

  .rmd-dark-surface {
    @include interaction.use-dark-surface;
    @include theme.theme-set-var(
      text-primary-color,
      theme.$dark-theme-text-primary-color
    );
    @include theme.theme-set-var(
      text-secondary-color,
      theme.$dark-theme-text-secondary-color
    );
    @include theme.theme-set-var(
      text-hint-color,
      theme.$dark-theme-text-hint-color
    );
    @include theme.theme-set-var(
      text-disabled-color,
      theme.$dark-theme-text-disabled-color
    );
  }

  .rmd-no-margin {
    margin: 0;
  }

  .rmd-no-margin-top {
    margin-top: 0;
  }

  .rmd-no-margin-bottom {
    margin-bottom: 0;
  }

  .rmd-centered {
    margin: 0 auto;
  }

  .rmd-nowrap {
    white-space: nowrap;
  }

  .rmd-ellipsis {
    @include typography.text-overflow(null);
  }

  @each $alignment in typography.$text-alignments {
    .rmd-align-#{$alignment} {
      @if $alignment != center {
        @include utils.auto-rtl(text-align, $alignment);
      } @else {
        text-align: $alignment;
      }
    }
  }

  @each $decoration in typography.$text-decorations {
    .rmd-#{$decoration} {
      text-decoration: $decoration;
    }
  }

  @each $transform in typography.$text-transforms {
    .rmd-#{$transform} {
      text-transform: $transform;
    }
  }

  @each $font-style in typography.$font-styles {
    .rmd-#{$font-style} {
      font-style: $font-style;
    }
  }

  @each $name, $font-weight in typography.$font-weights {
    .rmd-#{$name} {
      font-weight: $font-weight;
    }
  }
}

@mixin use-light-theme {
  @include theme.use-light-theme-colors;
  @include interaction.use-light-surface;
  @include transition.transition-use-light-theme;
  @include icon.use-light-theme;
  @include chip.use-light-theme;
  @include app-bar.use-light-theme;
  @include divider.use-light-theme;
  @include card.use-light-theme;
  @include form.use-light-theme;
  @include table.use-light-theme;
  @include segmented-button.use-light-theme;
  @include badge.use-light-theme;
}

@mixin use-dark-theme {
  @include theme.use-dark-theme-colors;
  @include interaction.use-dark-surface;
  @include transition.transition-use-dark-theme;
  @include icon.use-dark-theme;
  @include chip.use-dark-theme;
  @include app-bar.use-dark-theme;
  @include divider.use-dark-theme;
  @include card.use-dark-theme;
  @include form.use-dark-theme;
  @include table.use-dark-theme;
  @include segmented-button.use-dark-theme;
  @include badge.use-dark-theme;
}

@mixin variables {
  @include theme.theme-variables;
  @include app-bar.variables;
  @include avatar.variables;
  @include badge.variables;
  @include box.variables;
  @include button.variables;
  @include card.variables;
  @include chip.variables;
  @include dialog.variables;
  @include divider.variables;
  @include form.variables;
  @include icon.variables;
  @include interaction.variables;
  @include layout.variables;
  @include link.variables;
  @include list.variables;
  @include menu.variables;
  @include overlay.variables;
  @include progress.variables;
  @include segmented-button.variables;
  @include sheet.variables;
  @include snackbar.variables;
  @include table.variables;
  @include tabs.variables;
  @include tooltip.variables;
  @include transition.transition-variables;
  @include tree.variables;
  @include typography.typography-variables;
}

@mixin styles {
  @include css-reset;

  @layer #{$_layer-order};
  @layer utils {
    @include css-utils;
  }

  @layer app-bar {
    @include app-bar.styles;
  }
  @layer avatar {
    @include avatar.styles;
  }
  @layer badge {
    @include badge.styles;
  }
  @layer box {
    @include box.styles;
  }
  @layer button {
    @include button.styles;
  }
  @layer card {
    @include card.styles;
  }
  @layer chip {
    @include chip.styles;
  }

  @layer dialog {
    @include dialog.styles;
  }
  @layer divider {
    @include divider.styles;
  }
  @layer draggable {
    @include draggable.styles;
  }
  @layer expansion-panel {
    @include expansion-panel.styles;
  }

  @layer form {
    @include form.styles;
  }

  @layer icon {
    @include icon.styles;
  }

  @layer interaction {
    @include interaction.styles;
  }

  @layer layout {
    @include layout.styles;
  }

  @layer link {
    @include link.styles;
  }

  @layer list {
    @include list.styles;
  }

  @layer menu {
    @include menu.styles;
  }

  @layer overlay {
    @include overlay.styles;
  }

  @layer progress {
    @include progress.styles;
  }

  @layer responsive-item {
    @include responsive-item.styles;
  }

  @layer segmented-button {
    @include segmented-button.styles;
  }

  @layer sheet {
    @include sheet.styles;
  }

  @layer snackbar {
    @include snackbar.styles;
  }

  @layer table {
    @include table.styles;
  }

  @layer tabs {
    @include tabs.styles;
  }

  @layer tooltip {
    @include tooltip.styles;
  }

  @layer transition {
    @include transition.transition-styles;
  }

  @layer tree {
    @include tree.styles;
  }

  @layer typography {
    @include typography.typography-styles;
  }

  @layer window-splitter {
    @include window-splitter.styles;
  }

  @if not theme.$disable-default-root-theme {
    :root {
      @include variables;

      @if not
        theme.$disable-default-system-theme and
        theme.$color-scheme ==
        system
      {
        @media (prefers-color-scheme: dark) {
          @include use-dark-theme;
        }
      }
    }
  }
}
