////
/// @group list
////

@import '@react-md/a11y/dist/mixins';
@import '@react-md/theme/dist/mixins';
@import '@react-md/states/dist/mixins';
@import '@react-md/typography/dist/mixins';
@import '@react-md/icon/dist/mixins';
@import 'variables';

/// A "general" use mixin that will remove the default browser styles for a list and apply the
/// optionally provided margin and padding instead.
///
/// @param {Number | String} padding [0] - The amount of padding to apply.
/// @param {Number | String} margin [0] - The amount of margin to apply.
@mixin rmd-list-unstyled($padding: 0, $margin: 0) {
  list-style-type: none;
  margin: $margin;
  padding: $padding;
}

/// Creates the styles for a list.
@mixin rmd-list {
  .rmd-list {
    @include rmd-typography(subtitle-1);
    @include rmd-list-unstyled($rmd-list-vertical-padding $rmd-list-horizontal-padding);
    @include rmd-theme(color, text-primary-on-background);

    line-height: $rmd-list-line-height;
    word-break: break-word;

    &--inline {
      display: flex;
      flex-wrap: nowrap;
    }

    &--dense {
      font-size: $rmd-list-dense-font-size;
      padding: $rmd-list-dense-vertical-padding $rmd-list-dense-horizontal-padding;
    }
  }
}

/// Creates the base list item styles.
@mixin rmd-list-item-base {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-height: $rmd-list-item-height;
  padding: $rmd-list-item-vertical-padding $rmd-list-item-horizontal-padding;
  position: relative;

  &--clickable {
    @include rmd-states-surface;
    @include rmd-states-base-color;
    @include rmd-states-hover;

    outline-style: none;

    &:hover {
      cursor: pointer;
    }
  }

  &--medium {
    height: $rmd-list-item-medium-height;
  }

  &--large {
    height: $rmd-list-item-large-height;
  }

  &--extra-large {
    height: $rmd-list-item-extra-large-height;
  }

  &--three-lines {
    height: $rmd-list-item-three-line-height;

    .rmd-list-item__secondary-text {
      height: $rmd-list-item-three-line-height - $rmd-list-item-vertical-padding * 2 - 1.5rem;
      white-space: normal;
    }
  }
}

/// Creates the styles for an icon that is placed within a list item.
@mixin rmd-list-item-addon-icon {
  $spacing: $rmd-list-item-text-keyline - $rmd-icon-size - $rmd-list-item-horizontal-padding;

  &--before {
    @include rmd-icon-spacing-before-text($spacing);
  }

  &--after {
    margin-left: auto;
    padding-left: $rmd-list-item-right-icon-spacing;

    @include rmd-a11y-rtl {
      margin-left: 0;
      margin-right: auto;
      padding-left: 0;
      padding-right: $spacing;
    }
  }
}

/// Creates the styles for a list item.
@mixin rmd-list-item {
  .rmd-list-item {
    @include rmd-list-item-base;

    &__icon {
      @include rmd-list-item-addon-icon;
    }

    &__text,
    &__secondary-text {
      @include rmd-typography-text-overflow-ellipsis;

      display: block;

      @include rmd-a11y-rtl {
        margin-left: auto;
      }
    }

    &__secondary-text {
      @include rmd-theme(color, text-secondary-on-background);
    }

    &--disabled {
      @include rmd-theme(color, text-disabled-on-background);

      .rmd-list-item__icon {
        fill: currentColor;
      }

      .rmd-list-item__secondary-text {
        color: inherit;
      }
    }
  }
}

/// Creates all the styles for lists and list items.
@mixin react-md-list {
  @include rmd-list;
  @include rmd-list-item;
}
