////
/// @group states
////

@import '@react-md/theme/dist/mixins';
@import '@react-md/theme/dist/variables';
@import 'functions';
@import 'variables';

/// Applies the base color for the different states to use. The different
/// states will apply different opacity values to this value.
///
/// @param {Color} color [rmd-black-base] - The background color for the different states.
/// @param {Boolean} important [false] - Boolean if the background color should be applied
///   with `!important`.
@mixin rmd-states-base-color($color: $rmd-black-base, $important: false) {
  &::before {
    @include rmd-theme(background-color, $color, $important);
  }
}

/// Updates the opacity for a provided state and color.
///
/// @param {String} state - The current state, this should be one of the `$rmd-states-light-opacities` and
///   `$rmd-states-dark-opacities` keys.
/// @param {Color} color [rmd-black-base] - The color to use for determining whether to use the dark or light
///   opacity map.
@mixin rmd-states-opacity($state, $color: $rmd-black-base) {
  &::before {
    opacity: rmd-states-opacity($color, $state);
  }
}

/// Applies the base states styles.
@mixin rmd-states-base {
  // sass-lint:disable-block no-vendor-prefixes
  -webkit-tap-highlight-color: $rmd-states-tap-highlight-color;

  &::before {
    border-radius: inherit;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $rmd-states-transition-duration linear;
    z-index: 1;
  }
}

/// Applies the hover state opacity based on the provided color.
///
/// @param {Color} color [rmd-black-base] - The base hover color to get an opacity for.
@mixin rmd-states-hover($color: $rmd-black-base) {
  &:hover {
    @include rmd-states-opacity(hover, $color);
  }
}

/// Applies the focus state opacity based on the provided color.
///
/// @param {Color} color [rmd-black-base] - The base focus color to get an opacity for.
@mixin rmd-states-focus($color: $rmd-black-base) {
  @include rmd-states-opacity(focus, $color);
}

/// Applies the pressed state opacity based on the provided color.
///
/// @param {Color} color [rmd-black-base] - The base pressed color to get an opacity for.
@mixin rmd-states-pressed($color: $rmd-black-base) {
  @include rmd-states-opacity(press, $color);

  &:hover {
    @include rmd-states-opacity(press, $color);
  }
}

/// Applies the selected state opacity based on the provided color.
///
/// @param {Color} color [rmd-black-base] - The base selected color to get an opacity for.
@mixin rmd-states-selected($color: $rmd-black-base) {
  @include rmd-states-opacity(selected, $color);
}

/// Applies the active state opacity based on the provided color.
///
/// @param {Color} color [rmd-black-base] - The base active color to get an opacity for.
@mixin rmd-states-active($color: $rmd-black-base) {
  @include rmd-states-opacity(active, $color);
}

/// Creates the style for "simple" states that only rely on css selectors.
/// @param {Color} color [rmd-black-base] - The base color to get the different state opacities for.
@mixin rmd-states-simple($color: $rmd-black-base) {
  // sass-lint:disable-block force-pseudo-nesting
  &:not(:disabled):not([aria-disabled='true']) {
    @include rmd-states-hover($color);

    &:focus {
      @include rmd-states-focus($color);
    }

    &:active {
      @include rmd-states-pressed($color);
    }
  }
}

/// The base mixin for creating a "stateable surface". This should be used along with the `StatesProvider` and
///   `StatesConsumer` components to dynamically add the focus and pressed states as needed.
//
/// @param {Color} color [rmd-black-base] - The base color to use for the surface. The different states will have
///   their opacities updated for light or dark based on this color.
@mixin rmd-states-surface($color: $rmd-black-base) {
  @include rmd-states-base;
  @include rmd-states-base-color($color);

  &.rmd-states--simple {
    @include rmd-states-simple;
  }

  &.rmd-states--hover {
    @include rmd-states-hover($color);
  }

  &.rmd-states--focus {
    @include rmd-states-focus($color);
  }

  &.rmd-states--pressed {
    @include rmd-states-pressed($color);
  }

  &.rmd-states--selected {
    @include rmd-states-selected($color);
  }

  &.rmd-states--active {
    @include rmd-states-active($color);
  }
}
