$base-03: #002b36;
$base-02: #073642;
$base-01: #586e75;
$base-00: #657b83;
$base-0: #839496;
$base-1: #93a1a1;
$base-2: #eee8d5;
$base-3: #fdf6e3;

$yellow: #b58900;
$orange: #cb4b16;
$red: #d30102;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
