@use "everything" as *;

.enter {
  color: $green-900;
}

.enterActive {
  color: $green-100;
  transition: color 2s $deceleration-timing-function;
}

.enterDone {
  // optional
  color: $green-100;
}

.exit {
  color: $red-700;
}

.exitActive {
  color: $red-300;
  transition: color 1.5s $acceleration-timing-function;
}

.exitDone {
  // optional
  color: $red-300;
}
