@import '~globals';

@include react-md-pickers-force-orientation;

.inline-fixed-date-picker {

  .md-picker--inline {
    position: relative;
    margin: auto;
    left: 0;
    z-index: inherit;
  }

  .hidden-footer {
    display: none;
  }

  .monday {
    background-color: $md-light-blue-50;
    margin-bottom: 3px !important;
    height: 36px !important;
    width: $md-date-picker-portrait-ball-size;
    border-radius: 50%;
  }

  .day-with-events {
    background-color: $md-teal-a-200;
    margin-bottom: 3px !important;
    height: 36px !important;
    width: $md-date-picker-portrait-ball-size;
    border-radius: 50%;
  }
}