@use "everything" as *;

.avatarField {
  @include text-field-set-var(
    padding-left,
    calc(avatar-get-var(size) + 1.5rem)
  );
  @include text-field-set-var(padding-right, calc(avatar-get-var(size) + 1rem));
}

.buttonField {
  @include text-field-set-var(padding-right, 4rem);
}
