@import '~globals';

$search-size: 180px;

.search {
  cursor: pointer;

  &.md-grid {
    flex-wrap: nowrap;
  }

  &__input {
    max-width: 0;
    transition-duration: $md-transition-time * 2;
    transition-property: max-width;

    &--active {
      min-width: $search-size;
    }

    &--visible {
      max-width: $search-size;
    }
  }

  &__results.md-list {
    max-width: 300px;
    width: 100%;

    pre {
      margin: 0;
    }
  }

  &__scss-item {
    .md-list-tile {
      padding-left: 0;
      padding-right: 0;
    }

    .md-tile-text--primary {
      padding-left: $md-default-padding;
      padding-right: $md-default-padding;
    }
  }

  .md-divider--text-field,
  .md-divider--text-field.md-divider--text-field::after {
    background: $md-white-base;
  }

  .md-icon.md-icon {
    color: get-color('secondary', false);

    &.md-text-field-icon--active {
      color: $md-white-base;
    }
  }
}

.custom-theme .search .md-divider--text-field:not(.md-divider--text-field-error)::after {
  background: $md-white-base;
}
