@import '~@react-md/theme/dist/scss/color-palette';
@import '~@react-md/states/dist/scss/mixins';

.chip-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .rmd-chip {
    margin: 0.5rem;
  }
}
