@import 'app-globals';


:root {
  --markdown-code-bg: #{$rmd-grey-200};
}

@include dark-theme {
  --markdown-code-bg: #{darken($dark-theme-background-color, 10%)};
}

.markdown-container {
  @include rmd-theme(color, text-primary-on-background);
  @include rmd-typography(body-1);

  @media (min-device-width: 1200px) and (min-device-height: 800px) {
    p,
    code,
    pre,
    ul {
      @include rmd-typography(body-2);
    }
  }

  pre,
  code {
    @include code-styles;
  }

  pre {
    @include rmd-utils-scroll;

    background-color: $solarized-base-03;
    color: $solarized-base-1;
    font-size: 1rem;
    padding: 1rem;
  }

  p code {
    @include inline-code-styles;
  }

  .comment {
    color: $solarized-base-01;
  }

  .operator {
    color: $solarized-base-00;
  }

  .keyword,
  .property {
    color: $solarized-yellow;
  }

  .string {
    color: $solarized-cyan;
  }

  .selector,
  .function {
    color: $solarized-blue;
  }

  .tag > .punctuation {
    color: $solarized-yellow;
  }


  .attr-value {
    color: $solarized-cyan;

    .punctuation:first-child {
      color: $solarized-base-1;
    }
  }

  .inserted {
    color: $solarized-green;
  }

  .deleted {
    color: $solarized-red;
  }

  .language-scss {
    color: $solarized-cyan;

    .keyword {
      color: $solarized-red;
    }

    .punctuation {
      color: $solarized-base-1;
    }

    .variable {
      color: $solarized-blue;
    }
  }

  .language-html {
    .attr-name,
    .punctuation {
      color: $solarized-base-00;
    }
  }

  $index: 1;
  @while $index < 6 {
    h#{$index} {
      @include rmd-typography(headline-#{$index + 1});

      margin: .5em 0;
    }
    $index: $index + 1;
  }

  blockquote {
    @include rmd-theme(color, text-secondary-on-background);
    $border-color: rgba($rmd-black-base, .12);
    $background-color: rgba($rmd-black-base, .04);

    margin: .5em 0;
    padding-left: 1.5em;
    padding-right: 1em;
    position: relative;

    &::before {
      background-color: $border-color;
      content: '';
      height: 130%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: .5em;
    }
  }

  .markdown-toc {
    margin-bottom: .25em;

    &__list {
      margin: 0;
      padding-bottom: 2em;

      p {
        margin: 0;
      }

      a,
      li {
        @include rmd-typography(headline-6);
      }
    }
  }

  // .test {
  //   background-color: $solarized-base-03;
  //   background-color: $solarized-base-02;
  //   background-color: $solarized-base-01;
  //   background-color: $solarized-base-00;
  //   background-color: $solarized-base-0;
  //   background-color: $solarized-base-1;
  //   background-color: $solarized-base-2;
  //   background-color: $solarized-base-3;
  //   background-color: $solarized-yellow;
  //   background-color: $solarized-orange;
  //   background-color: $solarized-red;
  //   background-color: $solarized-magenta;
  //   background-color: $solarized-violet;
  //   background-color: $solarized-blue;
  //   background-color: $solarized-cyan;
  //   background-color: $solarized-green;

  //   color: $solarized-base-03;
  //   color: $solarized-base-02;
  //   color: $solarized-base-01;
  //   color: $solarized-base-00;
  //   color: $solarized-base-0;
  //   color: $solarized-base-1;
  //   color: $solarized-base-2;
  //   color: $solarized-base-3;
  //   color: $solarized-yellow;
  //   color: $solarized-orange;
  //   color: $solarized-red;
  //   color: $solarized-magenta;
  //   color: $solarized-violet;
  //   color: $solarized-blue;
  //   color: $solarized-cyan;
  //   color: $solarized-green;
  // }
}
