@use "everything";

.separator {
  $width: 1.25rem;
  $background-width: 0.375rem;

  background-color: transparent;
  border: 0;
  bottom: 0;
  left: calc(#{everything.layout-get-var(nav-width)} - #{$width * 0.5});
  opacity: 0;
  outline-style: none;
  padding: 0;
  pointer-events: auto !important;
  position: fixed;
  top: everything.app-bar-get-var(height);
  transition: opacity everything.$linear-duration;
  width: $width;
  z-index: everything.$layout-navigation-z-index + 1;

  &::after {
    background-color: everything.$outline-color;
    content: "";
    inset: 0 ($width - $background-width) * 0.5;
    position: absolute;
  }

  &:hover {
    cursor: col-resize;
    opacity: 1;
  }

  @include everything.keyboard-only(true) {
    &:focus {
      opacity: 1;
    }
  }

  @include everything.touch-only(true) {
    &:hover {
      opacity: 0;
    }
  }
}

.fullHeight {
  top: 0;
}

.dragging {
  cursor: col-resize;
  user-select: none;

  * {
    pointer-events: none;
  }

  .separator {
    opacity: 1;
  }
}
