@use "sass:map";
@use "../utils";
@use "../box-shadows";
@use "../theme/theme";
@use "../interaction/interaction";
@use "../icon/icon";

$disable-everything: false !default;
$disable-menu-item: false !default;
$disable-menu-item-group: false !default;
$disable-focus-outline: false !default;
$disable-elevation-colors: theme.$disable-dark-elevation !default;

$elevation: 8 !default;
$background-color: theme.theme-get-var(surface-color) !default;
$color: theme.theme-get-var(text-primary-color) !default;

$z-index: utils.$temporary-element-z-index !default;
$min-width: 7rem !default;

$spacing: 1rem !default;

$variables: (background-color, color, min-width, spacing);

@function get-var($name, $fallback: null) {
  $var: utils.get-var-name($variables, $name, "menu");
  @if $fallback {
    @return var(#{$var}, #{$fallback});
  }

  @return var(#{$var});
}

@mixin set-var($name, $value) {
  @if $value {
    #{utils.get-var-name($variables, $name, "menu")}: #{$value};
  }
}

@mixin use-var($property, $name: $property, $fallback: null) {
  #{$property}: get-var($name, $fallback);
}

@mixin menu-styles {
  .rmd-menu {
    outline: none;
    overflow: auto;

    @if not $disable-focus-outline {
      @include utils.keyboard-only {
        &--outline:focus {
          // Note: Do not use the `interaction-outline` mixin +
          // `interaction.set-var(interaction.$focus-color)` like normal focus
          // elements since it'll make all focusable children update with the
          // outline color as well
          outline: interaction.get-var(focus-color) solid
            interaction.get-var(focus-width);
        }
      }
    }

    &--elevated {
      @include box-shadows.box-shadow(
        $elevation,
        $disable-colors: $disable-elevation-colors
      );
      @if $disable-elevation-colors {
        @include use-var(background-color);
        @include use-var(color);
      }
      @include use-var(min-width);

      z-index: $z-index;
    }
  }
}

@mixin menu-item-styles {
  .rmd-menu-item {
    @include icon.set-var(spacing, get-var(spacing));

    height: var(--rmd-list-item-height);

    &--focused {
      @include utils.keyboard-only {
        @include interaction.set-var(
          background-color,
          interaction.get-var(focus-background-color)
        );

        &::before {
          @include interaction.focus-styles;
        }
      }
    }
  }
}

@mixin menu-item-group-styles {
  .rmd-menu-item-group {
    padding: 0;
  }
}

@mixin variables {
  @if not $disable-everything {
    @include set-var(background-color, $background-color);
    @include set-var(color, $color);
    @include set-var(min-width, $min-width);
    @include set-var(spacing, $spacing);
  }
}

@mixin styles {
  @if not $disable-everything {
    @include menu-styles;

    @if not $disable-menu-item {
      @include menu-item-styles;
    }

    @if not $disable-menu-item-group {
      @include menu-item-group-styles;
    }
  }
}
