@use "everything" as *;

div[role="spinbutton"] {
  @include divider-border-style;
  @include interaction-outline;

  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem;

  &:focus-visible {
    @include interaction-focus-styles;
  }
}
