@import '~sass-utils';
@import '~react-md-scss';

.md-card.component-example {
  margin-bottom: 1em;
  margin-top: 1em;

  // Stops sidescroll for mobile devices.
  // overflow: hidden;
}

.component-prop-types {
  // prevents the cards for expanding too much on mobile devices
  overflow: hidden;

  .md-card-title {
    padding-left: $md-card-padding-extra;

    + .md-card-text.with-table {
      padding-top: 0;
    }

    .titles {
      flex-grow: 1;
    }
  }

  .md-card-text {
    padding-left: $md-card-padding-extra;

    &.with-table {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.md-data-table {
  .prop-info {
    white-space: initial;
  }

  .prop-desc {
    line-height: $md-line-height;
    margin-top: .5em;
  }

  .prop-type {
    padding-right: 1em;
  }

  .prop-required::before {
    color: get-color('secondary', false);
    content: '(isRequired)';
    padding-left: .5em;
  }

  .prop-is-required {
    color: get-color('secondary', false);
  }
}

.prop-type {

  .code-block {
    background: transparent;
    margin: 0;
    padding: 0;
  }
}

.prop-default-value {
  margin-bottom: .5em;

  code {
    margin-left: .5em;
    white-space: pre;
  }
}

.prop-name {

  pre {
    margin: 0;
  }
}

.prop-name--deprecated {
  color: get-color('hint', $md-light-theme);
  text-decoration: line-through;
}

.example-code {
  background: $md-background-color;
  border-top: 1px solid $md-border-color;

  pre {
    margin: 0;

    + pre {
      margin-top: 1em;
    }
  }
}

@media #{$md-mobile-media} {
  .prop-type pre {
    max-width: 120px;
  }
}

@media #{$md-desktop-media} {
  .prop-type pre {
    max-width: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .prop-type pre {
    max-width: 280px;
  }
}
