@import '~sass-utils';

.component-info {
  width: 100%;

  .md-divider {
    margin-bottom: 1em;
  }
}

.md-card.component-example {
  margin-bottom: 1em;
  margin-top: 1em;
}

.component-prop-types {
  // prevents the cards for expanding too much on mobile devices
  overflow: hidden;

  .md-card-title {
    padding-left: $md-card-padding-extra;

    + .md-card-text.with-table {
      padding-top: 0;
    }

    .titles {
      flex-grow: 1;
    }
  }

  .md-card-text {
    padding-left: $md-card-padding-extra;

    &.with-table {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.md-data-table {
  .prop-info {
    white-space: initial;
  }

  .prop-desc {
    line-height: $md-line-height;
    margin-top: .5em;
  }

  .prop-type {
    @extend %md-secondary-text;

    padding-right: 1em;
  }

  .prop-required::before {
    color: $md-secondary-text-color;
    content: '(isRequired)';
    padding-left: .5em;
  }

  .prop-is-required {
    @extend %md-secondary-text;
  }
}

.prop-description {
  p {
    margin: 0;
  }

  h5 {
    @extend %md-subheading-2;
  }
}

.prop-default-value {
  margin-bottom: .5em;

  code {
    margin-left: .5em;
    white-space: pre;
  }
}

.prop-name {

  pre {
    margin: 0;
  }
}

.example-code {
  background: $md-background-color;
  border-top: 1px solid $md-border-color;

  pre {
    margin: 0;

    + pre {
      margin-top: 1em;
    }
  }
}
