////
/// @group link
////

@import '~@react-md/transition/dist/variables';
@import '~@react-md/theme/dist/color-palette';
@import '~@react-md/theme/dist/functions';

/// The transition time for links to change color.
///
/// @require $rmd-transition-standard-time
/// @type Number
$rmd-link-transition-time: $rmd-transition-standard-time !default;

/// The default color to use for links.
///
/// @require $rmd-blue-500
/// @type Color
$rmd-link-color: $rmd-blue-500 !default;

/// The color to use for links that have been visited.
///
/// @require $rmd-blue-600
/// @type Color
$rmd-link-visited-color: $rmd-blue-600 !default;

/// The color to use for links that are being hovered.
///
/// @require $rmd-blue-400
/// @type Color
$rmd-link-hover-color: $rmd-blue-400 !default;

/// The z-index to apply for the skip to main content link. This should always
/// be the biggest z-index in your app so it can be visible.
/// @type Number
$rmd-link-skip-z-index: 10000 !default;

/// The default styles to apply to the skip to main content link.
///
/// @require rmd-theme-var
/// @type Map
$rmd-link-skip-styles: (
  color: rmd-theme-var(on-primary),
  left: 50%,
  padding: 0.25rem 1rem,
  top: 0.25rem,
  transform: translateX(-50%),
) !default;

/// The default styles to apply to the skip to main content link when it has
/// become keyboard focused.
///
/// @require $rmd-black-base
/// @type Map
$rmd-link-skip-active-styles: (
  outline: 0.25rem dashed $rmd-black-base,
) !default;

/// A Map of all the "themeable" parts of the link package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the link as needed.
/// @type Map
$rmd-link-theme-values: (
  color: $rmd-link-color,
  hover-color: $rmd-link-hover-color,
  visited-color: $rmd-link-visited-color,
) !default;
