@import '~react-md-scss';

.md-text-field--docs-title {
  font-size: 18px;

  // scss-lint:disable VendorPrefix, PseudoElement

  &:-moz-placeholder {
    font-style: italic;
  }

  &::-moz-placeholder {
    font-style: italic;
  }

  &:-ms-input-placeholder {
    font-style: italic;
  }

  &::-webkit-input-placeholder {
    font-style: italic;
  }
}

.google-docs-clone {
  .md-text-field-container--input-block {
    align-self: flex-start;
    flex-shrink: 1;
    padding-bottom: 0;
    padding-top: 0;
  }
}

$btn-lr-padding: 12px;

.google-docs-menus {

  bottom: 0;
  left: $md-toolbar-tablet-title-keyline - $btn-lr-padding;
  position: absolute;

  .md-tile-content {
    padding-left: 28px;
  }

  .md-tile-content--left-icon {
    padding-left: 8px;
  }

  .md-list-tile--control-left {
    padding-left: 8px;
  }

  *[role="checkbox"] {
    flex-shrink: 0;
    height: $md-menu-cascading-height;
    padding: ($md-menu-cascading-height - $md-font-icon-dense-size) / 2;
    width: $md-menu-cascading-height;
  }

  .md-tile-content--left-button {
    padding-left: 12px;
  }
}

.google-docs-dd-menu {
  padding: 8px $btn-lr-padding;
}

$toolbar-height: 80px;

.google-docs-toolbar {
  height: $toolbar-height;
  position: relative;
}

.google-docs-playground {
  min-height: calc(100vh - #{$toolbar-height});
  padding-bottom: 2em;
  padding-top: 2em;
}
