@use "everything";

.container {
  @include everything.custom-grid($min: 10rem);

  margin: 2rem auto 0;
  width: 80%;
}

.box {
  @include everything.box-shadow(2);

  height: everything.$box-item-min-size;
}
