@import '~@react-md/icon/dist/mixins';
@import '~@react-md/utils/dist/mixins';

$spacing: 0.5rem;
$padding: 1rem;

.container {
  align-items: center;
  display: flex;
  padding: 0 $padding;
  width: 100%;
}

.emails {
  @include rmd-utils-scroll(x);

  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.spacing {
  @include rmd-utils-rtl-auto(margin-right, $spacing);
}

.email {
  flex-grow: 1;
  min-width: 5rem;
}

.rotate {
  transform: rotate(45deg);
}

// all the importans are really just required to override the useFixedPositioning styles
// that aren't configurable right now that have to be changed for the hacky phone "emulation"
// sass-lint:disable no-important
.listbox {
  @include rmd-utils-tablet-media {
    bottom: auto !important;
    max-height: 30rem;
    position: absolute !important;

    // status bar height + autocomplete height
    top: calc(#{rmd-icon-theme-var(size)} + 3.5rem) !important;
  }

  left: 0 !important;
  right: 0 !important;
}
