@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/typography/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.theme-preview {
  @include rmd-elevation(6);

  height: 25rem;
  overflow: hidden;
  position: relative;

  &__content {
    padding: 1rem;
  }

  &__fab {
    @include rmd-utils-rtl-auto(right, 1rem, 0);

    bottom: 1rem;
    position: absolute;
  }

  .rmd-sheet,
  .rmd-overlay {
    position: absolute;
    z-index: 1;
  }
}
