@import '~react-md-scss';

$phone-size-height: 580px;
$phone-size-max-width: 360px;
$phone-status-bar-height: 24px;

.phone-size-container {
  @extend %md-block-centered;

  overflow: hidden;

  // Fixes for fixed pieces
  .md-btn--fixed,
  .md-toolbar--fixed,
  .md-drawer--fixed,
  .md-snackbar,
  .md-bottom-navigation {
    position: absolute;
  }

  // Fixes for full width fixed
  .md-toolbar--fixed,
  .md-snackbar-container {
    left: 0;
    width: 100%;
  }

  .md-snackbar-container {
    bottom: 0;
  }

  .md-snackbar {
    z-index: 300;
  }

  .md-drawer--right {
    @include md-ios-scroll-momentum;

    overflow-y: auto;
    width: 100%;
  }
}

.flexible-toolbar-example {
  color: $md-white-base;
}

.phone-size-content {
  @include md-ios-scroll-momentum;

  height: 100%;
  overflow-y: auto;
}

.phone-size-text {
  padding-top: $md-default-padding;
}

.phone-status-bar {
  align-items: center;
  background: rgba($md-black-base, .32);
  color: $md-white-base;
  display: flex;
  height: $phone-status-bar-height;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  .md-icon {
    color: inherit;
  }
}

.phone-time {
  color: inherit;
  font-weight: $md-font-medium;
  padding-right: 6px;
}

.phone-demo-snackbar {
  z-index: 300;
}

.phone-tab-content {
  @include md-ios-scroll-momentum;

  overflow-y: auto;
}

@media #{$md-mobile-media} {
  .phone-size-container {
    height: 100%;

    .md-btn--fixed-tl {
      top: $md-toolbar-mobile-prominent-height - $md-btn-floating-mini-size / 2;
    }

    .md-btn--fixed {
      z-index: $md-toolbar-z-index + 1;
    }
  }

  .phone-tab-content {
    height: calc(100vh - #{$md-toolbar-mobile-portrait-height + $md-tab-icon-height});
  }

  .toolbar-offset {
    padding-top: $md-toolbar-mobile-portrait-height;
  }

  .flexible-toolbar-img-container {
    height: 100%;
  }
}

@media #{$md-tablet-media} {
  .phone-size-container {
    @include react-md-toolbars-mobile;

    height: $phone-size-height;
    position: relative;
    width: $phone-size-max-width;

    .md-toolbar {
      top: $phone-status-bar-height;

      &:not(.md-toolbar--inset)::before {
        background: $md-light-blue-500;
        content: '';
        height: $phone-status-bar-height;
        position: absolute;
        top: -$phone-status-bar-height;
        width: 100%;
      }

      .md-autocomplete-list {
        left: -$md-toolbar-mobile-title-keyline;
        position: absolute;
        width: $phone-size-max-width;
      }

      .md-text-field-container--input-block {
        padding-bottom: 0;
        padding-top: 0;
      }

      &--inset {
        max-width: $phone-size-max-width - 16px;
      }
    }

    .container {
      width: 300px;
    }

    .md-tabs-container {
      padding-top: $phone-status-bar-height;
    }

    .md-toolbar-relative--prominent {
      margin-top: $phone-status-bar-height + $md-toolbar-mobile-prominent-height;
    }

    .md-btn--fixed-tl {
      top: $md-toolbar-mobile-prominent-height;
    }

    .md-drawer--right {
      height: $phone-size-height - $phone-status-bar-height;
      max-width: $phone-size-max-width;
      top: $phone-status-bar-height;
    }

    .md-btn--fixed,
    .md-toolbar--fixed {
      z-index: 1;
    }

    .md-drawer--fixed {
      z-index: 2;
    }
  }

  .phone-tab-content {
    height: $phone-size-height - $md-toolbar-mobile-portrait-height - $md-tab-icon-height - $phone-status-bar-height;
  }

  .toolbar-offset {
    padding-top: $md-toolbar-mobile-portrait-height + $phone-status-bar-height;
  }

  .flexible-toolbar-img-container {
    height: calc(100% + #{$phone-status-bar-height});
    top: -$phone-status-bar-height;
  }
}

@media #{$md-desktop-media} {
  .phone-size-container {
    @include react-md-typography-mobile;
    @include react-md-tabs-mobile;
    @include react-md-text-fields-mobile;
    @include react-md-text-field-custom-sizes;
    @include react-md-lists-mobile;
    @include react-md-buttons-mobile;
    @include react-md-snackbars-mobile;

    // Override styles again after media query.
    .md-toolbar .md-text-field--toolbar {
      font-size: $md-title-font-size;
    }

    .md-btn--fixed-tl {
      top: $md-toolbar-mobile-prominent-height;
    }

    .md-snackbar:not(.md-snackbar-enter):not(.md-snackbar-leave) {
      transform: translate3d(0, 0, 0);
    }

    .md-btn--tab-overflow {
      display: none;
      visibility: hidden;
    }

    .md-toolbar-relative {
      margin-top: $md-toolbar-mobile-portrait-height + $phone-status-bar-height;
    }
  }
}
