@import '~sass-utils';

.new-page-demo {
  background: $md-white-base;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 9999;

  .container {
    @extend %centered;
  }

  .md-navigation-drawer-content {
    height: 100%;
    margin-top: $md-toolbar-desktop-height;
    max-height: calc(100vh - #{$md-toolbar-desktop-height});
    overflow-y: auto;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .md-navigation-drawer {
    top: 0;
  }
}
