@import '~globals';

.github__rate-limits {

  &__table {
    display: inline-block;

    .md-data-table .md-table-column {
      height: 30px;
      padding-bottom: 0;
      padding-top: 0;
      vertical-align: middle;
    }
  }

  &__title {
    margin-bottom: 0;
    margin-top: 1em;
  }
}
