@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800;900&display=swap');

.App {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif;

  .MuiCardContent-root .MuiTypography-h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  section {
    justify-content: center;
    min-height: 90vh;
    background-color: #e7ebf2;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;

    &.main {
      width: 70%;
      display: flex;
      background: no-repeat center 100% url('');
      background-size: cover;
      align-items: center;
      height: calc(100vh - 50px);

      .qr-code {
        height: 150px;
        width: 150px;
        position: absolute;
        top: 31%;
      }

      video {
        width: 95%;
      }

      .text-block {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: self-end;
        align-items: flex-start;
        color: #fff;
        padding: 2% 5%;
        font-family: 'Poppins', sans-serif;

        h1 {
          font-size: 4em;
          font-weight: 800;
          margin-block-start: 0;
          margin-block-end: 0;
        }
        h2 {
          font-size: 2.5em;
          font-weight: 400;
          margin-block-start: 0;
          margin-block-end: 0;
        }
        p {
          width: 55%;
          text-align: left;
          font-weight: 300;
          margin-inline-end: 0px;
          margin-block-start: 0px;
          margin-block-end: 0px;
        }
      }
    }

    &.rail {
      width: 30%;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
}

@media screen and (max-width: 991px) {
  .App {
    section {
      &.main {
        width: 100%;
        display: none;
      }

      &.rail {
        width: 100%;
      }
    }
  }
}
