main {
  padding: 10px;
  height: 80vh;
  margin: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  ul,
  li {
    text-align: left;
    list-style: none;
  }

  .message {
    background-color: #fff;
    border-radius: 20px;
    width: 95%;
    flex-direction: row;
    margin: 5px 0;
    display: flex;
    align-items: center;

    .avatar {
      margin-left: 10px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
    }

    .messageContainer {
      text-align: left;
      padding: 0 15px 0 10px;
      width: 100%;

      .username {
        font-size: 16px;
        font-weight: 800;
        color: #000;
        text-transform: capitalize;
        margin-block-end: 0;
      }

      .message {
        font-size: 14px;
        color: #7d7d7e;
      }

      .date {
        font-size: 10px;
        color: #9e9e9e;
        margin-block-start: 0;
        text-transform: capitalize;
        text-align: right;
      }
    }
  }
}

form {
  /* height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem; */
}

form button {
  /* width: 20%;
    background-color: rgb(56, 56, 143); */
}

.chatInput {
  height: 7vh;
  width: 100%;
  align-items: center;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  min-height: 7vh;
}

.inputContainer {
  background-color: #000;
  flex: 1;
  height: 45px;
  border-radius: 25px;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  width: 95%;

  input {
    line-height: 1.5;
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 0 10px;
    letter-spacing: 0;
    flex: 8;
    background-color: transparent;
  }

  button {
    background-color: #282c34; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    display: none;
  }
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}
