.events {
  display: flex;
  align-items: center;
  align-content: center;

  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .events {
    .MuiGrid-root.MuiGrid-container {
      flex-direction: column;
      align-items: center;
    }
  }
}
