.home {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  //background: no-repeat center 100%
  //  url('https://firebasestorage.googleapis.com/v0/b/showintel-8dcf8.appspot.com/o/wallpaper.png?alt=media&token=8ca3cfe1-a518-4e0e-a0c7-fd99a5ae0532');
  background-size: cover;

  .main-copy {
    display: none;
    // display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-block-end: 6rem;

    h1 {
      font-size: 4rem;
      font-weight: 800;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    h2 {
      margin-block-start: 0;
      margin-block-end: 1em;
      font-weight: 300;
    }
  }

  a {
    text-decoration: none;
  }
}

// Variables
$gravitation-constant: 6.673;
$t: 0.92; // Changing this will alter the orbital speed
$animation: orbit;

$planet-color: #c25447;
$moon-color: #9e9e9e;

// Orbit Function
@function orbit() {
  @return $animation $gravitation-constant * $t + s linear infinite;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

// Create Our Orbit
.orbit {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  position: absolute;
  border-radius: 100%;
  margin: -50px auto;
  animation: orbit();
}

// Planet Styles
.planet {
  background: $planet-color;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

// Moon Styles
.moon {
  background: $moon-color;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 20px;
}

// Animations
@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
