@import '~@react-md/utils/dist/mixins';

.container {
  @include rmd-utils-scroll;

  max-height: 15rem;
}

.fixed {
  bottom: 25%;
  left: 25%;
  pointer-events: none;
  position: fixed;
  right: 25%;
  top: 25%;
}
