@use 'react-md';

.tree {
  // want to decrease the padding-left for each tree item for a more
  // "dense" theme
  // NOTE: If you are not using CSS modules, you do not need to use the
  // `$selector-prefix`
  @include react-md.rmd-tree-depths(
    $selector-prefix: ':global ',
    $max: 2,
    $base-padding: 2rem
  );
  @include react-md.rmd-utils-tablet-media {
    display: inline-block;
    width: 15rem;
  }
}

.item {
  // want to decrease the leftAddon spacing for a more "dense" theme
  @include react-md.rmd-icon-theme-update-var(text-spacing, 1rem);
}

.focused {
  // for this demo, we just want the keyboard focused styles to also appear
  // for non-keyboard interacting users (usually waits for a keypress)
  @include react-md.rmd-utils-map-to-styles(
    react-md.$rmd-tree-item-keyboard-focused-styles
  );
}

.selected {
  color: react-md.$rmd-black-base;
  font-weight: react-md.$rmd-typography-bold;

  :global .dark-theme :local & {
    color: react-md.$rmd-white-base;
  }
}
