
.pre {
  font-family: 'Source Code Pro', monospace;
  white-space: pre;
}

.react-md-source {
  color: inherit;
  font-size: #{$md-font-size-base}px;

  .fa-github {
    padding-left: .5em;
  }
}

.react-md-doc-card {
  background: $md-background-color;
  margin: 1em 0;
  width: 100%;
}

.react-md-example-code {
  width: 100%;

  .md-card-text {
    overflow-y: auto;
    transition: max-height $md-transition-time * 2;

    > pre {
      // scss-lint:disable PlaceholderInExtend
      @extend .pre;
    }
  }

  .md-card-actions {
    text-align: center;
  }
}

.examples {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.react-md-prop-name {
  vertical-align: top;
}

.prop-type {
  color: rgba($black-base, .54);
  padding-right: 1em;
}

.prop-desc {
  margin: 0;
  margin-top: .5em;
}

.prop-required {
  &:before {
    color: rgba($black-base, .54);
    content: '(isRequired)';
    padding-left: .5em;
  }
}

.react-md-doc {
  margin-top: 0;
}

.react-md-code {
  @include make-paper(2);

  display: block;
  overflow-x: auto;
  padding: 1em;

  + .react-md-example-code {
    margin-top: 1em;
  }
}

.react-md-inline-code {
  display: inline-block;
  margin: 0;
}

.react-md-code-block,
.react-md-code-block * {
  display: block;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.4563;
  margin: 0;
  white-space: pre;
}

.react-md-code-block {

  &.code-comment-block:not(:first-child) {
    &:before {
      content: '';
      display: block;
      height: 1em;
    }
  }

  .code-comment {
    color: $md-secondary-text-color;

    &:before {
      content: '// ';
    }
  }
}
