.lang-js {
  color: get-md-color(black);
  font-size: 16px;
  line-height: 1.5355;

  .hljs-name {
    color: get-md-color(deep-purple, 10);
  }

  .hljs-attr {
    color: get-md-color(deep-orange, 10);
  }

  .hljs-string {
    color: get-md-color(green, 10);
  }
}
