@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import '../../src/scss/react-md';
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);


html {
  height: 100%;
}

body {
  min-height: 100%;
}

.react-md {
  display: flex;
}

main {
  flex-grow: 1;
}




// React doc setup

.react-md-source {
  color: inherit;
  font-size: #{$md-font-size-base}px;
  margin-left: 2em;

  .fa-github {
    padding-left: .5em;
  }
}

.react-md-doc-card {
  margin: 1em 0;
  width: 100%;
}

.examples {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.prop-type {
  color: rgba($black-base, .54);
  padding-right: 1em
}

.prop-desc {
  margin: 0;
  margin-top: .5em;
}

.prop-required {
  &:before {
    color: rgba($black-base, .54);
    content: '(isRequired)';
    padding-left: .5em;
  }
}

.react-md-doc{
  margin: 2em;
  margin-top: 0;
}

.react-md-code {
  @include make-paper(2);

  display: block;
  font: 'Source Code Pro', monospace;
  padding: 1em;
}

.react-md-code-block,
.react-md-code-block * {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  line-height: 1.4563;
}

.react-md-code-block {

  &.code-comment-block:not(:first-child) {
    &:before {
      content: '';
      display: block;
      height: 1em;
    }
  }

  .code-comment {
    color: $md-secondary-color;

    &:before {
      content: '// ';
    }
  }
}




// Examples
.paper-examples {
  > div {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    margin: 1em;
    width: 300px;
  }
}


.selection-controls-examples {
  display: block;
}





.buttons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .md-btn {
    margin: 1em;
  }
}

.forecast {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .fa {
    color: get-md-color(yellow);
    font-size: 4rem;
  }
}

.avatar-section {
  .paper {
    padding: 2em;
  }

  .md-avatar {
    margin: 0 1em;
  }
}

.examples-list {
  .paper {
    margin: 1em;
    width: 256px;
  }
}

