@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import '../../node_modules/normalize-scss-vanilla/normalize';
@import '../../src/scss/react-md';
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@import 'home';
@import 'documentation';
@import 'markdown';

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.react-md {
  display: flex;
}

@media only screen and (min-width: 600px) {
  main {
    margin: 2em;
  }

  .text-field-examples .paper-1 {
    max-width: 300px;
  }
}

main {
  flex-grow: 1;
  margin-top: 0;
  overflow-x: hidden;
}




// Examples
.paper-examples {
  > div {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    margin: 1em;
    width: 300px;
  }
}


.selection-controls-examples {
  display: block;
}

.lists-examples .paper-1 {
  margin: 1em;
  max-width: 256px;
  width: 100%;
}

.react-md-buttons {
  .buttons-examples {
    padding: 0;
  }

  .md-card-title {
    display: none;
  }

  .md-tabs-container {
    width: 100%;
  }

  .md-tab-content .md-btn:not(.md-btn-icon) {
    display: block;
    margin: 1em;
  }
}


.buttons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .md-btn {
    margin: 1em;
  }
}

.avatar-examples {
  display: block;

  .md-avatar {
    margin-right: 1.5em;
  }

  > div {
    align-items: center;
    display: flex;
    margin: 1em 0;
  }
}

.text-field-examples {

  > .md-text-field-container {
    max-width: 300px;
    padding: 1em 2em;
  }

  .md-toolbar.md-app-bar {
    position: absolute;
    top: 0;
    z-index: 3;
  }

  .paper-1 {
    height: 320px;
    position: relative;
    width: 100%;
  }
}

.react-md-card {

  .react-md-doc-card:nth-of-type(1) {
    background: none;
    box-shadow: none;

    > .md-card-title {
      padding: 1em 0;
    }

    .expandable-card {
      max-width: 350px;
    }
  }

  .card-examples {
    padding: 0;
  }
}

.forecast {
  align-items: center;
  color: $md-secondary-text-color;
  display: flex;
  flex-wrap: nowrap;
  font-size: 4em;
  justify-content: space-between;

  .fa {
    color: get-md-color(yellow);
  }

  .md-title {
    color: inherit;
    display: inline-block;
    font-weight: normal;
    line-height: 1;
  }

  sup {
    top: -.65em;
  }
}

.avatar-section {
  .paper {
    padding: 2em;
  }

  .md-avatar {
    margin: 0 1em;
  }
}

.examples-list {
  .paper {
    margin: 1em;
    width: 256px;
  }
}

.tabs-examples .md-tab-content > p {
  padding: 1em;
}

.progress-examples {
  display: block;

  .md-circular-progress {
    display: inline-block;
    margin: 1em;
  }
}

.toolbar-examples {
  .paper-1 p {
    padding: 1em;
  }
}
