////
/// @group app-bar
////

@import '@react-md/theme/dist/mixins';
@import '@react-md/utils/dist/mixins';
@import 'variables';

@mixin react-md-app-bar {
  .rmd-app-bar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: $rmd-app-bar-height;
    padding: $rmd-app-bar-vertical-padding $rmd-app-bar-horizontal-padding;

    &--fixed {
      left: 0;
      position: fixed;
      right: 0;
    }

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }

    &--child-inherit {
      .rmd-app-bar__nav,
      .rmd-app-bar__title,
      .rmd-app-bar__action {
        color: inherit;
      }
    }

    &--primary {
      @include rmd-theme(background-color, primary);
      @include rmd-theme(color, on-primary);
    }

    &--secondary {
      @include rmd-theme(background-color, secondary);
      @include rmd-theme(color, on-secondary);
    }

    &--multiline {
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &--dense {
      height: $rmd-app-bar-dense-height;
    }

    &--prominent {
      height: $rmd-app-bar-prominent-height;
    }

    &--prominent-dense {
      height: $rmd-app-bar-prominent-height;
    }

    &--grow {
      height: auto;
      min-height: $rmd-app-bar-height;
    }

    &--grow-dense {
      min-height: $rmd-app-bar-dense-height;
    }

    &__nav {
      flex-shrink: 0;
      margin-right: $rmd-app-bar-title-nav-margin;

      // sass-lint:disable-block mixins-before-declarations
      @include rmd-utils-rtl {
        margin-left: $rmd-app-bar-title-nav-margin;
        margin-right: 0;
      }
    }

    &__title {
      @include rmd-typography(headline-6);

      line-height: $rmd-btn-icon-size;
      margin-bottom: 0;
      margin-top: 0;

      &--offset {
        margin-left: $rmd-app-bar-title-keyline;

        // sass-lint:disable-block mixins-before-declarations
        @include rmd-utils-rtl {
          margin-left: auto;
          margin-right: $rmd-app-bar-title-keyline;
        }
      }

      &--prominent {
        margin-top: $rmd-app-bar-height;
      }

      &--prominent-dense {
        margin-top: $rmd-app-bar-height;
      }
    }

    &__action {
      flex-shrink: 0;

      &--first {
        margin-left: auto;

        // sass-lint:disable-block mixins-before-declarations
        @include rmd-utils-rtl {
          margin-left: 0;
          margin-right: auto;
        }
      }

      &--last {
        margin-right: $rmd-app-bar-nav-margin;

        // sass-lint:disable-block mixins-before-declarations
        @include rmd-utils-rtl {
          margin-left: $rmd-app-bar-nav-margin;
        }
      }
    }
  }
}
