////
/// @group app-bar
////

@import '@react-md/elevation/dist/mixins';
@import '@react-md/theme/dist/mixins';
@import '@react-md/utils/dist/mixins';
@import 'variables';

/// Creates the styles for the `AppBar` component.
///
/// @example scss - Example Usage SCSS
///   .rmd-app-bar {
///     @include rmd-app-bar;
///   }
@mixin rmd-app-bar {
  align-items: center;
  display: flex;
  height: $rmd-app-bar-height;

  &--fixed {
    left: 0;
    position: fixed;
    right: 0;
    z-index: $rmd-app-bar-z-index;
  }

  &--fixed-elevation {
    @include rmd-elevation($rmd-app-bar-fixed-elevation);
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &--primary {
    @include rmd-theme(background-color, primary);
    @include rmd-theme(color, on-primary);
  }

  &--secondary {
    @include rmd-theme(background-color, secondary);
    @include rmd-theme(color, on-secondary);
  }

  &--default {
    background-color: $rmd-app-bar-default-background-color;
    color: $rmd-app-bar-default-text-color;
  }

  &--child-inherit {
    .rmd-app-bar__nav,
    .rmd-app-bar__title,
    .rmd-app-bar__action {
      color: inherit;
    }
  }

  &--dense {
    height: $rmd-app-bar-dense-height;
  }

  &--prominent {
    align-items: flex-start;
    flex-wrap: wrap;
    height: $rmd-app-bar-prominent-height;
  }

  &--prominent-dense {
    height: $rmd-app-bar-prominent-height;
  }
}

/// Creats the styles for the `AppBarNav` component.
///
/// @example scss - Example Usage SCSS
///   .rmd-app-bar__nav {
///     @include rmd-app-bar-nav;
///   }
@mixin rmd-app-bar-nav {
  flex-shrink: 0;
  margin-left: $rmd-app-bar-lr-margin;
  margin-right: $rmd-app-bar-title-nav-margin;

  // sass-lint:disable-block mixins-before-declarations
  @include rmd-utils-rtl {
    margin-left: $rmd-app-bar-title-nav-margin;
    margin-right: $rmd-app-bar-lr-margin;
  }
}

/// Creates the styles for the `AppBarTitle` component.
///
/// @example scss - Example Usage SCSS
///   .rmd-app-bar__title {
///     @include rmd-app-bar-title;
///   }
@mixin rmd-app-bar-title {
  @include rmd-typography(headline-6);

  line-height: $rmd-app-bar-title-line-height;
  margin-bottom: 0;
  margin-left: $rmd-app-bar-keyline;
  margin-top: 0;

  // sass-lint:disable-block mixins-before-declarations
  @include rmd-utils-rtl {
    margin-left: auto;
    margin-right: $rmd-app-bar-keyline;
  }

  .rmd-app-bar__nav ~ & {
    margin-left: 0;

    @include rmd-utils-rtl {
      margin-right: 0;
    }
  }

  &--keyline {
    margin-left: $rmd-app-bar-title-keyline;

    @include rmd-utils-rtl {
      margin-left: auto;
      margin-right: $rmd-app-bar-title-keyline;
    }
  }
}

/// Creates the styles for the `AppBarAction` component.
///
/// @example scss - Example Usage SCSS
///   .rmd-app-bar__action {
///     @include rmd-app-bar-action;
///   }
@mixin rmd-app-bar-action {
  flex-shrink: 0;

  &--first {
    margin-left: auto;

    // sass-lint:disable-block mixins-before-declarations
    @include rmd-utils-rtl {
      margin-left: 0;
      margin-right: auto;
    }
  }

  &--last {
    margin-left: $rmd-app-bar-lr-margin;
    margin-right: $rmd-app-bar-nav-margin;

    // sass-lint:disable-block mixins-before-declarations
    @include rmd-utils-rtl {
      margin-left: $rmd-app-bar-nav-margin;
      margin-right: $rmd-app-bar-lr-margin;
    }
  }
}

/// Creates the styles for the `AppBarRow` component.
///
/// @example scss - Example Usage SCSS
///   .rmd-app-bar__row {
///     @include rmd-app-bar-row;
///   }
@mixin rmd-app-bar-row {
  align-items: center;
  display: flex;
  height: $rmd-app-bar-height;
  width: 100%;

  &--dense {
    height: $rmd-app-bar-dense-height;
  }
}

/// A simple mixin for updating an element to be offset by the current app bar's height if it is one
/// of the built-in heights for react-md. This is normally just used for fixed top app bars, but you
/// can change the `$style` param to be `padding-bottom` for app bars fixed at the bottom of the viewport.
///
/// @example scss - Example Usage SCSS
///   .main {
///     @include rmd-app-bar-offset;
///
///     &--prominent {
///       @include rmd-app-bar-offset(true, $true);
///     }
///
///     &--dense {
///       @include rmd-app-bar-offset(false, true);
///     }
///
///     &--dense-prominent {
///       @include rmd-app-bar-offset(true, true);
///     }
///
///     &--margin {
///       @include rmd-app-bar-offset(false, false, margin-top);
///     }
///   }
///
/// @param {Boolean} prominent [false] - Boolean if the styles should reflect a prominent app bar. If both
///     this and the `dense` params are set to `true`, the styles will reflect a prominent dense app bar.
/// @param {Boolean} dense [false] - Boolean if the styles should reflect a dense app bar. If both this and
///     the `prominent` params are set to `true`, the styles will reflect a prominent dense app bar.
/// @param {String} style [rmd-app-bar-offset-style] - The style to apply the offset to.
@mixin rmd-app-bar-offset($prominent: false, $dense: false, $style: $rmd-app-bar-offset-style) {
  $distance: null;
  @if $prominent {
    $distance: if($dense, $rmd-app-bar-prominent-dense-height, $rmd-app-bar-prominent-height);
  } @else {
    $distance: if($dense, $rmd-app-bar-dense-height, $rmd-app-bar-height);
  }

  #{$style}: $distance;
}

/// Creates all the offset class names applied with the current style.
///
/// @param {String} style [rmd-app-bar-offset-style] - The style to apply the offset to.
/// @param {String} offsets [rmd-app-bar-offsets] - A list of offsets that should be created.
@mixin rmd-app-bar-offsets($style: $rmd-app-bar-offset-style, $offsets: $rmd-app-bar-offsets) {
  @each $offset in $offsets {
    @if not index($rmd-app-bar-valid-offsets, $offset) {
      @error 'Invalid offset: \'#{$offset}\'! Choose one of \'#{$rmd-app-bar-valid-offsets}\'.';
    }

    $dense: $offset == 'dense' or $offset == 'prominent-dense';
    $prominent: $offset == 'prominent' or $offset == 'prominent-dense';
    $selector: '.rmd-app-bar-offset';
    @if $offset != 'base' {
      $selector: $selector + '-#{$offset}';
    }

    #{$selector} {
      @include rmd-app-bar-offset($prominent, $dense, $style);
    }
  }
}

/// Creates all the styles for all the AppBar components.
@mixin react-md-app-bar {
  @include rmd-app-bar-offsets;

  .rmd-app-bar {
    @include rmd-app-bar;

    &__nav {
      @include rmd-app-bar-nav;
    }

    &__title {
      @include rmd-app-bar-title;
    }

    &__action {
      @include rmd-app-bar-action;
    }

    &__row {
      @include rmd-app-bar-row;
    }
  }
}
