////
/// @group app-bar
////

@import '@react-md/button/dist/variables';
@import '@react-md/icon/dist/variables';
@import '@react-md/theme/dist/functions';

/// The z-index to use for the fixed app bar. Ideally this value should be less than
/// any of the "temporary" materials like overlays, sheets, and menus.
/// @type Number
$rmd-app-bar-z-index: 10 !default;

/// The elevation to use for "fixed" app bars. This should be a number between 0 and 16.
/// @type Number
$rmd-app-bar-fixed-elevation: 2 !default;

/// The height for the app bar.
/// @type Number
$rmd-app-bar-height: 3.5rem !default;

/// The dense height for the app bar.
/// @type Number
$rmd-app-bar-dense-height: 3rem !default;

/// The prominent/extended height for the app bar.
/// @type Number
$rmd-app-bar-prominent-height: $rmd-app-bar-height * 2 !default;

/// The prominent/extended height for the app bar when the `dense` prop is also enabled.
/// @type Number
$rmd-app-bar-prominent-dense-height: $rmd-app-bar-dense-height * 2 !default;

/// The default keyline to use for either the `AppBarNav` or `AppBarTitle`. This makes the icon in the `AppBarNav` or
/// the first letter in the `AppBarTitle` appear at this distance.
/// @type Number
$rmd-app-bar-keyline: 1rem !default;

/// The amount of margin to apply to the `AppBarNav` based on the `$rmd-app-bar-keyline` so that the icon will be positioned
/// at the keyline (ignoring the button padding).
/// @type Number
$rmd-app-bar-nav-margin: $rmd-app-bar-keyline - (($rmd-btn-icon-size - $rmd-icon-size) / 2);

/// The line-height to apply to the `AppBarTitle`.
/// @type Number
$rmd-app-bar-title-line-height: 1.15 !default;

/// The keyline for the `AppBarTitle` to use when used with the `AppBarNav` or the `offset` prop is enabled.
/// @type Number
$rmd-app-bar-title-keyline: 4.5rem !default;

/// The amount of margin to apply to the title when used with the `AppBarNav` component.
/// @type Number
$rmd-app-bar-title-nav-margin: $rmd-app-bar-title-keyline - $rmd-app-bar-nav-margin - $rmd-btn-icon-size;

/// The amount of margin to apply to the first and last element within the app bar (per row basis). This will automatically be
/// applied if using the `AppBarNav` component and will be applied to the `AppBarAction` component that enables the `last` prop.
/// @type Number
$rmd-app-bar-lr-margin: .25rem !default;

/// The background-color to use for an `AppBar` that is using the `default` theme.
/// @type Color
$rmd-app-bar-default-background-color: if(
  rmd-theme-contrast-tone($rmd-theme-background) == 'dark',
  $rmd-grey-100,
  $rmd-grey-900
) !default;

/// The color to use for an `AppBar` that is using the `default` theme.
/// @type Color
$rmd-app-bar-default-text-color: if(
  rmd-theme-contrast-tone($rmd-app-bar-default-background-color) == 'dark',
  $rmd-black-base,
  $rmd-white-base
) !default;

/// A list of "valid" offsets the are supported by the `rmd-app-bar-offsets` mixin.
/// @see rmd-app-bar-offsets
/// @type List
$rmd-app-bar-valid-offsets: base dense prominent prominent-dense;

/// The app bar offsets that should be created by default.
/// @type List
$rmd-app-bar-offsets: $rmd-app-bar-valid-offsets !default;

/// The default style to apply the app bar offsets to. This should normally be one of:
/// - padding-top
/// - padding-bottom
/// - margin-top
/// - margin-bottom
/// - top
/// - bottom
/// @type String
$rmd-app-bar-offset-style: padding-top !default;
