// sass-lint:disable class-name-format
@use '@react-md/theme/dist/color-palette' as *;
@use 'react-md' with (
  $rmd-theme-primary: $rmd-teal-500,
  $rmd-theme-secondary: $rmd-pink-a-200,
);

.container {
  @include react-md.rmd-theme-update-var(background, react-md.$rmd-white-base);
  @include react-md.rmd-theme-update-var(
    text-primary-on-background,
    rgba(react-md.$rmd-black-base, 0.87)
  );
  @include react-md.rmd-theme-update-var(primary, react-md.$rmd-blue-grey-500);
  @include react-md.rmd-theme-update-var(on-primary, react-md.$rmd-white-base);
  @include react-md.rmd-theme-update-var(secondary, react-md.$rmd-orange-a-200);
  @include react-md.rmd-theme-update-var(
    on-secondary,
    react-md.$rmd-black-base
  );
  @include react-md.rmd-divider-theme-update-var(
    background-color,
    react-md.rmd-divider-theme-var(background-color-on-light)
  );

  @include react-md.rmd-theme(background-color, background);
  @include react-md.rmd-theme(color, text-primary-on-background);

  padding: 2rem 1.5rem;
  text-align: center;

  h6 {
    margin: 0.5em 0;
    padding: 0.25em 0;
  }
}

.defaultPrimary {
  background-color: react-md.$rmd-theme-primary;
  color: react-md.$rmd-theme-on-primary;
}

.defaultSecondary {
  background-color: react-md.$rmd-theme-secondary;
  color: react-md.$rmd-theme-on-secondary;
}

.themePrimary {
  @include react-md.rmd-theme(background-color, primary);
  @include react-md.rmd-theme(color, on-primary);
}

.themeSecondary {
  @include react-md.rmd-theme(background-color, secondary);
  @include react-md.rmd-theme(color, on-secondary);
}
