// sass-lint:disable class-name-format
@import '~@react-md/divider/dist/mixins';
@import '~@react-md/theme/dist/mixins';

$rmd-theme-primary: $rmd-teal-500;
$rmd-theme-secondary: $rmd-pink-a-200;

.container {
  @include rmd-theme-update-var(background, $rmd-white-base);
  @include rmd-theme-update-var(text-primary-on-background, rgba($rmd-black-base, 0.87));
  @include rmd-theme-update-var(primary, $rmd-blue-grey-500);
  @include rmd-theme-update-var(on-primary, $rmd-white-base);
  @include rmd-theme-update-var(secondary, $rmd-orange-a-200);
  @include rmd-theme-update-var(on-secondary, $rmd-black-base);
  @include rmd-divider-theme-update-var(
    background-color,
    rmd-divider-theme-var(background-color-on-light)
  );

  @include rmd-theme(background-color, background);
  @include rmd-theme(color, text-primary-on-background);

  padding: 2rem 1.5rem;
  text-align: center;

  h6 {
    margin: 0.5em 0;
    padding: 0.25em 0;
  }
}

.defaultPrimary {
  background-color: $rmd-theme-primary;
  color: $rmd-theme-on-primary;
}

.defaultSecondary {
  background-color: $rmd-theme-secondary;
  color: $rmd-theme-on-secondary;
}

.themePrimary {
  @include rmd-theme(background-color, primary);
  @include rmd-theme(color, on-primary);
}

.themeSecondary {
  @include rmd-theme(background-color, secondary);
  @include rmd-theme(color, on-secondary);
}
