@import '~@react-md/utils/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/button/dist/mixins';
@import '~@react-md/app-bar/dist/functions';
@import '~@react-md/app-bar/dist/mixins';

.animating-app-bar {
  @include rmd-elevation(6);
  @include rmd-utils-block-centered;

  max-width: 20rem;
  position: relative;

  &__bar {
    @include rmd-button-theme-update-var(color, $rmd-white-base);
    @include rmd-theme(color, $rmd-white-base);

    // 20rem
    $width: 20 * 16;
    // app-bar-height (3.5rem) + 96 for custom offset
    $height: (3.5 * 16) + 96;

    // sass-lint:disable next-line no-url-protocols
    background-image: url(#{'https://picsum.photos/#{$width}/#{$height}?image=811'});
    height: calc(#{rmd-app-bar-theme-var(height)} + var(--offset));
    padding-bottom: var(--offset);

    // this is for the demo only since I don't want to move to
    // a different page for this demo to have a fixed app bar.
    // you wouldn't normally need to do this
    position: absolute;
  }

  &__title {
    transform: translateY(var(--offset));
  }

  &__content {
    @include rmd-utils-scroll;

    height: 35rem;
    padding-top: calc(#{rmd-app-bar-theme-var(height)} + var(--offset));
  }

  // when it's in the mobile full page view, reset some of the styles again
  .rmd-dialog--full-page & {
    height: 100%;
    margin: 0;
    max-width: none;
    position: static;

    &__bar {
      position: fixed;
    }

    &__content {
      height: 100%;
    }
  }
}
