@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.container {
  @include rmd-utils-desktop-media {
    @include rmd-app-bar-theme-update-var(height, rmd-app-bar-theme-var(dense-height));

    .prominent {
      @include rmd-app-bar-theme-update-var(
        prominent-height,
        rmd-app-bar-theme-var(prominent-dense-height)
      );
    }
  }
}

.prominent {
  @include rmd-app-bar-theme-update-var(
    prominent-height,
    rmd-app-bar-theme-var(prominent-dense-height)
  );

  // just because I don't want to create 2 rows of data for this example
  align-items: flex-start;
}
