@import '~@react-md/utils/dist/mixins';
@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/typography/dist/mixins';

.container {
  @include rmd-elevation(6);
  @include rmd-utils-block-centered;
  @include rmd-utils-phone-media {
    margin: 2rem 0.5rem;
    max-width: none;
  }

  max-width: 20rem;
  position: relative;

  // this is only required for the demo size if we keep it as `fixed`,
  // it'll cover the main app bar of this app
  :global .rmd-app-bar--fixed {
    position: absolute;
    z-index: $rmd-app-bar-z-index - 1;
  }

  // you'd normally wrap these examples in another AppBar to get correct
  // styling
  :global .rmd-app-bar--wrap {
    @include rmd-app-bar-theme(padding-bottom, height);
  }

  + .container {
    margin-top: 3rem;
  }
}

.title {
  @include rmd-typography-text-overflow-ellipsis;

  // just a reminder that you don't need to use the `rmd-PACKAGE-theme-var` stuff if
  // you will have mostly static variables. You can instead use the corresponding
  // SCSS variable instead. I'm just using them since the documentation site can be
  // fully configured
  $offset: $rmd-app-bar-title-keyline + $rmd-app-bar-lr-margin * 2;
  width: calc(100% - #{$offset} - #{rmd-button-theme-var(icon-size)} * 2);
}

.content {
  @include rmd-utils-scroll;

  height: 35rem;
}
