.paper-container {
  display: flex;
  flex-wrap: wrap;
}

.paper-example {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
  min-height: 300px;
  min-width: 300px;
}
