////
/// @group transition
////

@import 'variables';

/// Adds a transition timing function for the provided transition type.
///
/// @param {String} type - The transition type that should be used. This should be one of the
///     keys for `$rmd-transitions`
@mixin rmd-transition($type) {
  @if not map-has-key($rmd-transitions, $type) {
    @error "Invalid transition specified! '#{type}' doesn't exist. Choose one of #{map-keys($rmd-transitions)}";
  }

  transition-timing-function: map-get($rmd-transitions, $type);
}

@mixin rmd-collapse {
  .rmd-collapse {
    transition-property: max-height, padding-bottom, padding-top;

    &--no-overflow {
      overflow: hidden;
    }

    &--enter {
      @include rmd-transition($rmd-collapse-enter-transition-func);

      transition-duration: $rmd-collapse-enter-transition-time;
    }

    &--leave {
      @include rmd-transition($rmd-collapse-leave-transition-func);

      transition-duration: $rmd-collapse-leave-transition-time;
    }
  }
}
