////
/// @group transition
////

/// A Map of all the available transitions for react-md.
/// @type Map
$rmd-transitions: (
  sharp: cubic-bezier(.4, 0, .6, 1),
  standard: cubic-bezier(.4, 0, .2, 1),
  acceleration: cubic-bezier(.4, 0, 1, 1),
  deceleration: cubic-bezier(0, 0, .2, 1),
) !default;

/// The default enter transition time.
/// @type Number
$rmd-enter-transition-time: .2s !default;

/// The default leave transition time.
/// @type Number
$rmd-leave-transition-time: .15s !default;

/// The enter transition time for the collapse animation.
/// @type Number
$rmd-collapse-enter-transition-time: .25s !default;

/// The transition easing function to apply when the collapse's content is animating
/// in. This should be one of the `$rmd-transitions` keys.
///
/// @type String
$rmd-collapse-enter-transition-func: deceleration !default;

/// The leave transition time for the collapse animation.
/// @type Number
$rmd-collapse-leave-transition-time: .2s !default;

/// The transition easing function to apply when the collapse's content is animating
/// out. This should be one of the `$rmd-transitions` keys.
///
/// @type String
$rmd-collapse-leave-transition-func: acceleration !default;
