////
/// @group transition
////

/// The transition timing to use for "sharp" transitions. Not really sure what a
/// "sharp" transition is at the time of writing this though.
/// @type String
$rmd-transition-sharp: cubic-bezier(0.4, 0, 0.6, 1) !default;

/// The transition timing function to use for standard/normal transitions. This
/// is normally applied to moving elements within the page.
/// @type String
$rmd-transition-standard: cubic-bezier(0.4, 0, 0.2, 1) !default;

/// The transition timing function to use for transitions that should start the
/// animation slowly and build up momentum at the end of the transition. This is
/// normally used for exit/leave transitions.
/// @type String
$rmd-transition-acceleration: cubic-bezier(0.4, 0, 1, 1) !default;

/// The transition timing function to use for transitions that should start the
/// animation quickly and slow down momentum at the end of the transition. This
/// is normally used for enter/appear transitions.
/// @type String
$rmd-transition-deceleration: cubic-bezier(0, 0, 0.2, 1) !default;

/// The default enter transition time.
/// @type Number
$rmd-transition-enter-duration: 0.2s !default;

/// The default leave transition time.
/// @type Number
$rmd-transition-leave-duration: 0.15s !default;

/// The default transition time for a linear animation/transition.
/// @type Number
$rmd-transition-standard-time: 0.15s !default;

/// The transition easing function to apply when the collapse's content is
/// animating in. This should be one of the `$rmd-transitions` keys.
///
/// @type String
$rmd-collapse-enter-transition-func: deceleration !default;

/// The transition easing function to apply when the collapse's content is
/// animating out. This should be one of the `$rmd-transitions` keys.
///
/// @type String
$rmd-collapse-leave-transition-func: acceleration !default;

/// The distance that the cross fade animation should move. This will be applied
/// to `translateY`.
/// @type Number
$rmd-cross-fade-translate-distance: -1rem !default;

/// The transition duration for the cross fade animation.
/// @type Number
$rmd-cross-fade-transition-duration: 0.3s !default;

/// The transition enter duration for the scaling animation.
/// @type Number
$rmd-transition-scale-enter-duration: $rmd-transition-enter-duration !default;

/// The transition leave duration for the scaling animation.
/// @type Number
$rmd-transition-scale-leave-duration: $rmd-transition-leave-duration !default;

/// The transition enter duration for the vertical scale animation.
/// @type Number
$rmd-transition-scale-y-enter-duration: $rmd-transition-enter-duration !default;

/// The transition leave duration for the vertical scale animation.
/// @type Number
$rmd-transition-scale-y-leave-duration: $rmd-transition-leave-duration !default;

/// A Map of all the different transitions supported.
/// @type Map
$rmd-transitions: (
  sharp: $rmd-transition-sharp,
  standard: $rmd-transition-standard,
  acceleration: $rmd-transition-acceleration,
  deceleration: $rmd-transition-deceleration,
) !default;
