@import '~globals';

$footer-height: 88px;
$footer-margin: -8px;
$footer-padding: 2.5em;

*[aria-busy] ~ .footer {
  margin-top: 100vh;
}

.footer {
  background: $md-grey-800;
  color: $md-white-base;

  .loading-content + &,
  &:only-child {
    margin-top: 100vh;
  }

  p,
  .md-title,
  .md-body-2 {
    color: inherit;
  }

  &__quick-nav {
    background: $md-deep-purple-500;
    height: $footer-height;

    &.md-grid.md-grid {
      align-items: center;
      margin-left: $footer-margin;
      margin-right: $footer-margin;
      margin-top: $footer-margin;
      padding-left: $footer-padding;
      padding-right: $footer-padding;
      width: calc(100% + 16px);
    }

    .md-headline,
    .md-subheading-2 {
      margin-bottom: 0;
    }

    .md-icon,
    .md-subheading-2 {
      color: get-color('secondary', false);
    }

    .md-headline {
      color: $md-white-base;
    }
  }

  &__link {
    text-decoration: none;

    .md-icon {
      padding: $md-btn-icon-padding;
    }
  }

  &__link-label {
    display: inline-block;
  }
}
