@import '~@react-md/elevation/dist/scss/mixins';
@import '~@react-md/utils/dist/scss/mixins';

.updating-message-priority {
  @include rmd-elevation(4);
  @include rmd-utils-scroll;

  height: 25rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
