@import '~globals';

@mixin caret($direction, $color, $size: 8px) {
  $noops: null;
  $position: null;
  @if $direction == 'left' or $direction == 'right' {
    $noops: 'top' 'bottom';
    $position: if($direction == 'left', 'right', 'left');
  } @else {
    $noops: 'left' 'right';
    $position: if($direction == 'top', 'bottom', 'top');
  }

  border-#{nth($noops, 1)}: $size solid transparent;
  border-#{nth($noops, 2)}: $size solid transparent;
  border-#{$position}: $size solid $color;
  content: '';
  position: absolute;
}

.badges__notifications {
  // additional spacing for dialog appearing on smaller devices.
  margin-bottom: 10em;

  &__reset.md-btn {
    margin-bottom: 1em;
  }

  $dialog-height: 240px;
  $dialog-width: 340px;
  $dialog-title-height: 60px;

  &__dialog.md-dialog {
    height: $dialog-height;
    position: absolute;
    right: 0;
    width: $dialog-width;

    @media (max-width: 360px) {
      width: 280px;
    }

    &::after {
      @include caret(top, $md-white-base);
      bottom: 100%;
      right: $md-default-padding;

      @media #{$md-desktop-media} {
        right: $md-default-padding - 4px;
      }
    }
  }

  .md-title--dialog {
    padding-bottom: $md-default-padding;
    padding-top: $md-default-padding;
  }

  &__dialog__content {
    height: $dialog-height - $dialog-title-height;
    position: relative;

    &--empty {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__notification.md-card {
    align-items: flex-start;
    display: flex;
    position: relative;

    p {
      margin-bottom: 0;
      padding: $md-default-padding;
    }
  }

  &__notification__image {
    flex-shrink: 0;
    width: 30%;
  }

  &__notification__close {
    position: absolute;
    right: 4px;
    top: 4px;

    .md-icon.md-icon {
      color: get-color('secondary', true);
      font-size: 16px;
    }
  }

  &__empty {
    position: relative;

    .md-icon.md-icon {
      color: get-color('icon', true);
      font-size: 48px;
    }
  }

  &__empty__message {
    left: 50%;
    padding: 12px;
    position: absolute;
    top: -50px;
    transform: translate3d(-50%, 0, 0);
    white-space: nowrap;

    &::after {
      @include caret(bottom, $md-grey-400);

      left: 50%;
      top: 101%;
      transform: translate3d(-50%, 0, 0);
    }
  }
}

.fade-enter {
  opacity: .01;

  &.fade-enter-active {
    opacity: 1;
    transition: opacity $md-transition-time;
  }
}

.fade-leave {
  opacity: 1;

  &.fade-leave-active {
    opacity: .01;
    transition: opacity $md-transition-time;
  }
}
