@use "sass:map";
@use "../utils";

$default-box-align-items: center !default;

$disable-box: false !default;
$disable-grid-box: false !default;

$box-align-items: (start end stretch) !default;
$box-justify-content: (
  start center end stretch space-around space-between space-evenly
) !default;

$box-gap: 1rem !default;
$box-padding: $box-gap !default;
$box-item-min-size: 8rem !default;

/// This should look like:
/// ```scss
/// $grids: (
///   small: (
///     min: 5rem
///   ),
///   medium: (
///     min: 7rem,
///     padding: 2rem,
///     gap: 0.5rem
///   )
/// );
/// ```
$grids: () !default;

$box-var-lookup: (
  gap: (
    var: --rmd-box-gap,
    value: $box-gap,
  ),
  padding: (
    var: --rmd-box-padding,
    value: $box-padding,
  ),
  min-size: (
    var: --rmd-box-item-min-size,
    value: $box-item-min-size,
  ),
);

@function get-box-var($name, $fallback: null) {
  $found: utils.validate($box-var-lookup, $name, "box var");
  $var: map.get($found, var);
  $value: if($fallback, $fallback, map.get($found, value));

  @if $value {
    @return var(#{$var}, #{$value});
  }

  @return var(#{$var});
}

@mixin set-box-var($name, $value) {
  $var: map.get(utils.validate($box-var-lookup, $name, "box var"), var);

  #{$var}: #{$value};
}

@mixin use-box-var($property, $name: $property, $fallback: null) {
  #{$property}: get-box-var($name, $fallback);
}

@mixin custom-grid($min: null, $padding: null, $gap: null) {
  @if $min {
    @include set-box-var(min-size, $min);
  }

  @if $padding {
    @include set-box-var(padding, $padding);
  }

  @if $gap {
    @include set-box-var(gap, $gap);
  }
}

@mixin custom-grid-class($selector, $min: null, $padding: null, $gap: null) {
  #{$selector} {
    @include custom-grid($min, $padding, $gap);
  }
}

@mixin box-styles {
  @if not $disable-box {
    .rmd-box {
      @include use-box-var(gap, gap);

      align-items: $default-box-align-items;
      display: flex;

      &--padded {
        @include use-box-var(padding);
      }

      &--wrap {
        flex-wrap: wrap;
      }

      &--flex-column {
        flex-direction: column;
      }

      @each $value in $box-align-items {
        &--align-#{$value} {
          align-items: $value;
        }
      }

      @each $value in $box-justify-content {
        &--justify-#{$value} {
          justify-content: $value;
        }
      }

      @if not $disable-grid-box {
        &--grid {
          display: grid;
          grid-template-columns: repeat(
            auto-fit,
            minmax(get-box-var(min-size), 1fr)
          );
        }

        &--grid-fill {
          grid-template-columns: repeat(
            auto-fill,
            minmax(get-box-var(min-size), 1fr)
          );
        }

        @each $name, $values in $grids {
          @include custom-grid-class(
            "&--#{$name}",
            $min: map.get($values, min),
            $gap: map.get($values, gap),
            $padding: map.get($values, padding)
          );
        }
      }
    }
  }
}
