@import '~react-md-scss';

%abs-center {
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
}

.react-md-404-page {
  .md-display-2,
  .md-headline {
    color: $md-white-base;
    position: absolute;
  }

  .md-display-2 {
    left: 20%;
    top: 10%;
  }

  .md-headline {
    @extend %abs-center;

    bottom: 5em;
  }

  .md-btn {
    @extend %abs-center;

    bottom: 1em;
  }
}

@media (max-width: #{$md-tablet-min-width - 1}) {
  .react-md-404-page {
    min-height: 85vh;

    .md-headline {
      width: 80%;
    }
  }
}
