@use 'react-md';

.container {
  display: block;
  margin: 0 auto;
  max-width: 30rem;
}

.success {
  @include react-md.rmd-icon-theme-update-var(
    color,
    react-md.$rmd-theme-success
  );
}

.yellow {
  @include react-md.rmd-progress-theme-update-var(
    color,
    react-md.$rmd-orange-400
  );
  @include react-md.rmd-progress-theme-update-var(
    background-color,
    react-md.$rmd-orange-100
  );
}

.warning {
  @include react-md.rmd-progress-theme-update-var(
    color,
    react-md.$rmd-theme-warning
  );
  @include react-md.rmd-progress-theme-update-var(
    background-color,
    react-md.rmd-theme-get-swatch(react-md.$rmd-theme-warning, 200, false)
  );
}

.list {
  @include react-md.rmd-utils-desktop-media {
    height: react-md.$rmd-list-item-dense-extra-large-height * 5;
  }

  display: flex;
  flex-direction: column;
  height: react-md.$rmd-list-item-extra-large-height * 5;
  margin-bottom: 1rem;
}

.upload {
  margin-bottom: 1rem;
  width: 100%;
}

.dropzone {
  box-shadow: react-md.$rmd-states-focus-shadow;
}
