@import '~sass-utils';

.md-speed-dial {
  &.moving {
    position: absolute;
    transition-duration: .45s;
    transition-property: left, top;
  }

  &.inactive {
    @extend %doc-btn;

    position: static;
  }
}
