////
/// @group chip
////

@import '~@react-md/states/dist/variables';
@import '~@react-md/transition/dist/variables';
@import '~@react-md/theme/dist/functions';

/// Boolean if the chip should disable the background color change when it gains
/// keyboard focus. This is disabled by default since the focus shadow looks a
/// bit nicer than the background color changes due to the colors of the chips.
///
/// @require $rmd-states-use-focus-shadow
/// @type Boolean
$rmd-chip-disable-focus-background-color: $rmd-states-use-focus-shadow !default;

/// The height for chips.
/// @type Number
$rmd-chip-height: 2rem !default;

/// The border radius to use for all chip types.
/// @type Number
$rmd-chip-border-radius: 1rem !default;

/// The amount of spacing to use when between the left edge and the leading
/// icon/avatar in the chip.
/// @type Number
$rmd-chip-small-spacing: 0.25rem !default;

/// The amount of spacing to use between the leading icon/avatar and the chip's
/// text as well as the trailing icon and the chip's edge.
/// @type Number
$rmd-chip-medium-spacing: 0.5rem !default;

/// The amount of spacing to use for the chip's edge when there are no leading
/// or trailing icons/avatars.
/// @type Number
$rmd-chip-large-spacing: 0.75rem !default;

/// The size to update icons to that appear within a chip.
/// @type Number
$rmd-chip-icon-size: 1.125rem !default;

/// The size for avatars that appear within a chip.
///
/// Note: This will only be generated if the `@react-md/avatar` package has been
/// installed and imported
/// @type Number
$rmd-chip-avatar-size: 1.5rem !default;

/// The size to use for a circular progress that is being rendered as the
/// `leftIcon` or `rightIcon`. This should be a number smaller than the height
/// of the chip minus vertical padding.
///
/// @type Number
$rmd-chip-progress-size: $rmd-chip-icon-size !default;

/// The width to use for the circular progress that is being rendered as the
/// `leftIcon` or `rightIcon`.
/// @type Number
$rmd-chip-progress-width: 12 !default;

/// The background color to use for the selected themed state of the chip. This
/// is basically a secondary type of selected state.
///
/// @require rmd-theme-get-swatch
/// @require $rmd-theme-primary
/// @type Color
$rmd-chip-themed-background-color: rmd-theme-get-swatch(
  $rmd-theme-primary,
  300,
  false,
  darken($rmd-theme-primary, 20%),
  rmd-chip-themed-background-color
) !default;

/// The color to use for the selected themed state of the chip.
///
/// @require rmd-theme-tone
/// @require $rmd-black-base
/// @require $rmd-white-base
/// @type Color
$rmd-chip-themed-color: if(
  rmd-theme-tone($rmd-chip-themed-background-color) == light,
  $rmd-black-base,
  $rmd-white-base
) !default;

/// The background color to use for "solid" themed chips when using the light
/// theme.
///
/// @require $rmd-grey-300
/// @type Color
$rmd-chip-solid-light-background-color: $rmd-grey-300 !default;

/// The text color to use for "solid" themed chips when using the light theme.
///
/// @require rmd-theme-tone
/// @require $rmd-black-base
/// @require $rmd-white-base
/// @type Color
$rmd-chip-solid-light-color: if(
  rmd-theme-tone($rmd-chip-solid-light-background-color) == light,
  $rmd-black-base,
  $rmd-white-base
) !default;

/// The background color to use for a solid disabled chip when using the light
/// theme.
///
/// @require $rmd-grey-100
/// @type Color
$rmd-chip-solid-light-disabled-background-color: $rmd-grey-100 !default;

/// The background color to use for "solid" themed chips when using the dark
/// theme.
///
/// @require $rmd-grey-900
/// @require $rmd-theme-dark-elevation
/// @require $rmd-theme-dark-elevation-colors
/// @type Color
$rmd-chip-solid-dark-background-color: if(
  $rmd-theme-dark-elevation,
  map-get($rmd-theme-dark-elevation-colors, 12),
  $rmd-grey-900
) !default;

/// The text color to use for "solid" themed chips when using the dark theme.
///
/// @require rmd-theme-tone
/// @require $rmd-black-base
/// @require $rmd-white-base
/// @type Color
$rmd-chip-solid-dark-color: if(
  rmd-theme-tone($rmd-chip-solid-dark-background-color) == light,
  $rmd-black-base,
  $rmd-white-base
) !default;

/// The background color to use for a solid disabled chip when using the dark
/// theme.
///
/// @require $rmd-grey-900
/// @type Color
$rmd-chip-solid-dark-disabled-background-color: lighten(
  $rmd-grey-900,
  2%
) !default;

/// The background color to use for "solid" themed chips.
///
/// @require $rmd-theme-light
/// @type Color
$rmd-chip-solid-background-color: if(
  $rmd-theme-light,
  $rmd-chip-solid-light-background-color,
  $rmd-chip-solid-dark-background-color
) !default;

/// The text color to use for "solid" themed chips.
///
/// @require $rmd-theme-light
/// @type Color
$rmd-chip-solid-color: if(
  $rmd-theme-light,
  $rmd-chip-solid-light-color,
  $rmd-chip-solid-dark-color
) !default;

/// The background color to use for "solid" themed chips that are disabled.
///
/// @require $rmd-theme-light
/// @type Color
$rmd-chip-solid-disabled-background-color: if(
  $rmd-theme-light,
  $rmd-chip-solid-light-disabled-background-color,
  $rmd-chip-solid-dark-disabled-background-color
) !default;

/// The background color to use for "outlined" themed chips when using the light
/// theme.
///
/// @require $rmd-theme-light-surface
/// @type Color
$rmd-chip-outline-light-background-color: $rmd-theme-light-surface !default;

/// The text color to use for "outlined" themed chips when using the light
/// theme.
///
/// @require rmd-theme-tone
/// @require $rmd-black-base
/// @require $rmd-white-base
/// @type Color
$rmd-chip-outline-light-color: if(
  rmd-theme-tone($rmd-chip-outline-light-background-color) == light,
  $rmd-black-base,
  $rmd-white-base
) !default;

/// The background color to use for "outlined" themed chips when using the dark
/// theme.
///
/// @require $rmd-theme-dark-elevation
/// @require $rmd-theme-dark-elevation-colors
/// @require $rmd-theme-dark-surface
/// @type Color
$rmd-chip-outline-dark-background-color: if(
  $rmd-theme-dark-elevation,
  map-get($rmd-theme-dark-elevation-colors, 8),
  $rmd-theme-dark-surface
) !default;

/// The text color to use for "outlined" themed chips when using the dark theme.
///
/// @require rmd-theme-tone
/// @require $rmd-black-base
/// @require $rmd-white-base
/// @type Color
$rmd-chip-outline-dark-color: if(
  rmd-theme-tone($rmd-chip-outline-dark-background-color) == light,
  $rmd-black-base,
  $rmd-white-base
) !default;

/// The background color to use for "outlined" themed chips.
///
/// @require $rmd-theme-light
/// @type Color
$rmd-chip-outline-background-color: if(
  $rmd-theme-light,
  $rmd-chip-outline-light-background-color,
  $rmd-chip-outline-dark-background-color
) !default;

/// The tect color to use for "outlined" themed chips.
///
/// @require $rmd-theme-light
/// @type Color
$rmd-chip-outline-color: if(
  $rmd-theme-light,
  $rmd-chip-outline-light-color,
  $rmd-chip-outline-dark-color
) !default;

/// The border color to use for "outline" themed chips.
///
/// @require $rmd-grey-300
/// @type Color
$rmd-chip-outline-border-color: $rmd-grey-300 !default;

/// The transition duration for animating the box-shadow elevation for a chip
/// while being pressed by a keyboard.
///
/// @require $rmd-transition-standard-time
/// @type Number
$rmd-chip-transition-duration: $rmd-transition-standard-time !default;

/// The base box-shadow to apply to chips when outlined. This will normally be
/// used along with a color variable to define a box shadow.
/// @type String
$rmd-chip-box-shadow: inset 0 0 0 1px !default;

/// A Map of all the "themeable" parts of the chip package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the icon as needed.
/// @type Map
$rmd-chip-theme-values: (
  height: $rmd-chip-height,
  border-radius: $rmd-chip-border-radius,
  themed-background-color: $rmd-chip-themed-background-color,
  themed-color: $rmd-chip-themed-color,
  solid-background-color: $rmd-chip-solid-background-color,
  solid-color: $rmd-chip-solid-color,
  solid-disabled: $rmd-chip-solid-disabled-background-color,
  outline-background-color: $rmd-chip-outline-background-color,
  outline-color: $rmd-chip-outline-color,
  outline-border-color: $rmd-chip-outline-border-color,
  small-spacing: $rmd-chip-small-spacing,
  medium-spacing: $rmd-chip-medium-spacing,
  large-spacing: $rmd-chip-large-spacing,
) !default;
