@use "everything";

@include everything.styles;

// See the next.config.mjs to see how the `$env` gets defined
$is_production: true or $env == production;

@layer theme {
  :root {
    @if everything.$disable-default-root-theme {
      @include everything.variables;

      @if everything.$color-scheme ==
        system and
        everything.$disable-default-system-theme and
        $is_production
      {
        @media (prefers-color-scheme: dark) {
          @include everything.dark-theme(true);
        }
      }
    }

    @if everything.$color-scheme ==
      system and not
      everything.$disable-default-system-theme
    {
      @media (prefers-color-scheme: dark) {
        @include everything.dark-theme(false);
      }
    }

    --toc-width: 18rem;
    @if everything.$color-scheme == light {
      @include everything.light-theme(false);
    } @else {
      @include everything.dark-theme(false);
    }
  }
}

html {
  scroll-behavior: smooth;
}
