@import '~globals';

.resize-observers {
  &__paper {
    transition-duration: 1s;
    transition-property: max-height, max-width;
  }

  &__table {
    // Make it grow to fit the entire max-height
    padding-bottom: 100%;

    // Make the header the same size as the normal column since it is inline row headers
    .md-table-column--header {
      height: $md-data-table-column-height;
    }
  }
}
