@import '~react-md-scss/helpers/all';

.fake-phone-container .fake-phone {
  margin-bottom: 2em;
}


.fake-phone {
  @include md-tab-mobile();
  .md-snackbar {
    border-radius: 0;
    left: 0;
    max-width: none;
    position: absolute;
    transform: none;
    width: 100%;

    &.snackbar-enter,
    &.snackbar-leave.snackbar-leave-active {
      transform: scaleY(0);
    }

    &.snackbar-enter.snackbar-enter-active,
    .snackbar-leave {
      transform: scaleY(1);
    }

    .md-flat-btn {
      margin-left: $md-snackbar-lr-padding;
    }
  }


  &.with-fixed-fab {
    margin: 2em 0;
    position: relative;
  }

  .md-floating-btn.fixed {
    position: absolute;

    &:not(.floating-active) {
      bottom: $md-default-padding;
    }
  }
}

.phone-content {
  @include md-text-field-mobile();
  @include md-select-field-mobile();

  height: 100%;
  min-height: 500px;
  position: relative;

  .md-dropdown-menu .md-tile-primary-text {
    font-size: $md-list-primary-text-font-size;
  }

  .md-form > .md-text-field-container {
    width: 100%;
  }

  .contact-row {
    .md-text-field-container {
      padding-right: 0;
      width: 360px - 130px;
    }

    .md-select-field {
      width: 130px;
    }
  }
}

.fake-phone-toolbar {
  align-items: center;
  background: #131212;
  bottom: 0;
  color: $md-white-base;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  // scss-lint:disable ImportantRule
  padding-top: 2px !important;
  width: 100%;

  .md-ink {
    background: rgba($md-white-base, .12);
  }
}

@media only screen and (min-width: 600px) {
  .fake-phone-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .fake-phone {
      display: inline-block;
      margin: 2em;
      max-width: 360px;
      width: 100%;
    }
  }

  .fake-phone.with-fixed-fab {
    min-height: 600px;
  }
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .fake-phone.with-fixed-fab {
    min-height: 460px;
  }
}
