@import '~react-md-scss/helpers/all';

.fake-phone-container .fake-phone {
  margin-bottom: 2em;

  .md-app-bar-container {
    position: static;

    ~ *:not(.fixed) {
      padding-top: initial;
    }
  }
}


.fake-phone {
  @include md-tab-mobile();

  &.with-fixed-fab {
    margin: 2em 0;
    position: relative;
  }

  .md-snackbar {
    border-radius: 0;
    left: 0;
    max-width: none;
    position: absolute;
    transform: none;
    width: 100%;

    &.snackbar-enter,
    &.snackbar-leave.snackbar-leave-active {
      transform: scaleY(0);
    }

    &.snackbar-enter.snackbar-enter-active,
    .snackbar-leave {
      transform: scaleY(1);
    }

    .md-btn-flat {
      margin-left: $md-snackbar-lr-padding;
    }
  }

  .md-btn-floating.fixed {
    position: absolute;

    &:not(.floating-active) {
      bottom: $md-default-padding;
    }
  }
}

.phone-content {
  // scss-lint:disable SpaceAfterComma
  @include make-text-field(
    $md-text-field-height,
    $md-text-field-sl-height,
    $md-text-field-font-size,
    $md-text-field-padding,
    $md-text-field-divider-padding,
    $md-text-field-icon-font-size,
    $md-text-field-icon-divider-left
  );

  @include make-positioned-select-field(
    $md-text-field-font-size,
    $md-text-field-sl-height,
    $md-text-field-padding,
    $md-text-field-divider-padding
  );

  height: 100%;
  min-height: 600px - 52px;
  // height of toolbar
  padding-bottom: 52px + $md-default-padding;
  position: relative;

  .md-dropdown-menu .md-tile-primary-text {
    font-size: $md-list-primary-text-font-size;
  }

  .contact-row {
    display: flex;

    .md-dropdown-container {
      min-width: 129px;
    }
  }
}

.fake-phone-toolbar {
  align-items: center;
  background: #131212;
  bottom: 0;
  color: $white-base;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  // scss-lint:disable ImportantRule
  padding-top: 2px !important;
  width: 100%;

  .md-ink {
    background: rgba($white-base, .12);
  }
}

@media only screen and (min-width: 600px) {
  .fake-phone-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .fake-phone {
      display: inline-block;
      margin: 2em;
      max-width: 360px;
      width: 100%;
    }
  }

  .fake-phone.with-fixed-fab {
    min-height: 600px;
  }
}

@media only screen and (min-width: 0) and (max-width: 599px) {
  .fake-phone.with-fixed-fab {
    min-height: 460px;
  }
}
