@import '~react-md-scss';

.theme-preview {
  @include md-box-shadow(1);

  height: 300px;
  overflow: hidden;
  position: relative;

  .md-drawer,
  .md-overlay,
  .md-toolbar,
  .md-btn--floating {
    position: absolute;
  }

  .md-overlay,
  .md-btn--floating {
    z-index: 1;
  }

  .md-drawer,
  .md-toolbar {
    z-index: 2;
  }
}
