////
/// @group media
////

/// The default aspect ratios to include.
/// @type List
$md-media-aspect-ratios: ('16:9', '4:3', '1:1') !default;

/// A boolean if the overlay styles should be included.
/// @type Boolean
$md-media-include-overlay: true !default;

/// Boolean if the `.md-media-embedded` class name should be included.
/// @type Boolean
$md-media-include-embedded: false !default;

/// A list of class name or html tags that will get the embedded media styles applied
/// by default in the `.md-media` container.
/// @type List
$md-media-embedded-selectors: ('img' 'iframe' 'svg' 'video' 'embed' 'object') !default;

/// The color to use for the media overlay's background color.
/// @type Color
$md-media-overlay-color: rgba($md-black-base, .54) !default;

/// A placeholder for making a class or html element use the embedded styles. This class or
/// element will need to be contained in a class containing `.md-media` to get the correct
/// styles.
%md-media-embedded {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/// Creates the styles for media.
///
/// @example scss - Example Usage SCSS
///   @include react-md-media;
///
/// @param {Boolean} include-overlay [$md-media-include-overlay] - Boolean if the overlay styles should be included.
/// @param {Boolean} include-embedded [$md-media-include-embedded] - Boolean if the embedded class name should be included.
///     This does not affect the `$embedded-selectors` param.
/// @param {List} embedded-selectors [$md-media-embedded-selectors] - A list of class name or html tags to apply the
///     embedded styles to by default within a `.md-media` container.
@mixin react-md-media($include-overlay: $md-media-include-overlay, $include-embedded: $md-media-include-embedded, $embedded-selectors: $md-media-embedded-selectors) {
  .md-media {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    @if $embedded-selectors and length($embedded-selectors) {
      @each $selector in $embedded-selectors {
        #{$selector} {
          @extend %md-media-embedded;
        }
      }
    }
  }

  @each $aspect-ratio in $md-media-aspect-ratios {
    $map: extract-media($aspect-ratio);
    $width: map-get($map, width);
    $height: map-get($map, height);

    @include react-md-media-aspect-ratio($width, $height);
  }

  @if $include-overlay {
    @include react-md-media-overlay;
  }

  @if $include-embedded {
    @include react-md-media-embedded;
  }
}

/// Creates a media aspect ratio that will make the `.md-media-embedded\` or any of the
/// `$md-media-embedded-selectors` children keep the aspect ratio.
///
/// @example scss - Example Usage SCSS
///   @include react-md-media-aspect-ratio(16, 9);
///
/// @param {Number} width - The width to enforce.
/// @param {Number} height - The height to enforce.
@mixin react-md-media-aspect-ratio($width, $height) {
  .md-media--#{$width}-#{$height} {
    padding-bottom: percentage($height / $width);
  }
}

/// Very simple mixin to only include the `.md-media-embedded` class.
@mixin react-md-media-embedded {
  .md-media-embedded {
    @extend %md-media-embedded;
  }
}

/// Creates the styles for the media overlay.
@mixin react-md-media-overlay {
  .md-media-overlay {
    background: $md-media-overlay-color;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    .md-btn,
    .md-text {
      color: get-color('text', false);
    }

    .md-text--secondary {
      color: get-color('secondary', false);
    }
  }
}

@function extract-media($string) {
  $index: str-index($string, ':');
  $width: str-slice($string, 1, $index - 1);
  $height: str-slice($string, $index + 1);

  @return (width: to-number($width), height: to-number($height));
}

@function to-number($string) {
  $strings: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9');
  $numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);

  $result: 0;

  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);

    @if not $index {
      @warn "Unknown character '#{$character}'";
      $index: 1;
    }

    $number: nth($numbers, $index);
    $result: $result * 10 + $number;
  }

  @return $result;
}
