@use "everything" as *;

.content {
  @include icon-set-var(size, 3rem);

  position: relative;
}

.progress {
  @include progress-set-var(linear-size, 0.5rem);

  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
