@use "everything";

.overlay {
  @include everything.icon-set-var(size, 2rem);
  @include everything.icon-set-var(color, everything.$error-color);

  align-items: center;
  display: flex;
  flex-direction: column;
}
