////
/// @group form
////

@import 'theme';
@import 'label';
@import 'toggle';
@import 'text-field';

/// Creates the styles for forms within react-md. This requires either the `rmd-form-use-font-forms` or `rmd-form-use-svg-forms` variables
/// to be enabled to generate any styles.
@mixin react-md-form {
  @include rmd-theme-create-root-theme($rmd-form-theme-values, form);

  .rmd-label {
    @include rmd-label;
  }

  .rmd-form-toggle-container {
    @include rmd-form-toggle-container;
  }

  .rmd-form-toggle {
    @include rmd-form-toggle;

    &__input {
      @include rmd-form-toggle-hidden;
    }

    &__icon {
      @include rmd-form-toggle-icon;
    }
  }

  .rmd-switch {
    @include rmd-switch;

    &__input {
      @include rmd-switch-input;
    }

    &__ball {
      @include rmd-switch-ball;
    }
  }

  .rmd-floating-label {
    @include rmd-floating-label;
  }

  .rmd-text-field-container {
    @include rmd-text-field-container;
  }

  .rmd-text-field {
    @include rmd-text-field;
  }

  .rmd-password {
    &--offset {
      @include rmd-utils-rtl-auto(padding-right, 2rem);
    }

    &__toggle {
      @include rmd-button-theme-update-var(icon-size, 1.5rem);
      @include rmd-icon-theme-update-var(size, 1.25rem);

      pointer-events: auto;
    }
  }

  .rmd-text-field-addon {
    display: inline-flex;
    pointer-events: none;
    position: absolute;

    &--first {
      @include rmd-utils-rtl-auto(left, 0.5rem);
    }

    &--last {
      @include rmd-utils-rtl-auto(right, 0.5rem);
    }
  }
}
