////
/// @group form
////

@import '~@react-md/typography/dist/mixins';
@import '~@react-md/utils/dist/mixins';
@import './variables';
@import './file-input/mixins';
@import './label/mixins';
@import './select/mixins';
@import './toggle/mixins';
@import './text-field/mixins';

/// Creates the base styles for a simple fieldset element.
/// @access private
@mixin rmd-fieldset {
  &--unstyled {
    border: 0;
    margin: 0;
    min-width: 0; // just so it can shrink correctly in flex or grid
    padding: 0;
  }

  &__legend {
    @include rmd-typography(body-1);

    &--sr-only {
      @include rmd-utils-sr-only;
    }
  }
}

/// Creates the styles for forms within react-md. This requires either the
/// `rmd-form-use-font-forms` or `rmd-form-use-svg-forms` variables to be
/// enabled to generate any styles.
@mixin react-md-form {
  $omit: (
    addon-top label-left-offset label-top-offset label-active-background-color label-active-padding
      text-offset text-padding-left text-padding-right text-padding-top
  );
  @include rmd-theme-create-root-theme($rmd-form-theme-values, form, $omit);

  @include react-md-file-input;
  @include react-md-label;
  @include react-md-toggle;
  @include react-md-text-field;
  // has to come after text field since it overrides some of the
  // text-field-container styles
  @include react-md-select;

  .rmd-fieldset {
    @include rmd-fieldset;
  }
}
