////
/// @group form
////

@import '@react-md/theme/dist/color-palette';
@import '@react-md/theme/dist/helpers';
@import '@react-md/theme/dist/functions';
@import '@react-md/typography/dist/variables';

/// The color to use when a form contains an error.
/// @type Color
$rmd-form-error-color: $rmd-theme-error !default;

/// This is the color that is used when a text field/textarea is errored
/// and the user hovers over it.
/// @type Color
$rmd-form-error-hover-color: rmd-theme-get-swatch(
  $rmd-form-error-color,
  100,
  true,
  darken($rmd-form-error-color, 20%)
) !default;

/// The color to use when a form element (text, checkbox, radio, etc) is
/// currently active by the user(normally focus).
/// @type Color
$rmd-form-active-color: rmd-theme-var(secondary) !default;

/// The color to use when a form element is disabled.
/// @type Color
$rmd-form-disabled-color: rmd-theme-var(text-disabled-on-background) !default;

/// The default color to use for placeholder text within text fields.
/// @type Color
$rmd-form-placeholder-color: rmd-theme-var(text-secondary-on-background) !default;

/// The font size to use for a `<label>` by default.
/// @type Number
$rmd-label-font-size: 1em !default;

/// The font size to use for a floating label that is currently fixed above a text
/// field/textarea.
/// @type Number
$rmd-label-floating-font-size: 0.75em !default;

/// The amount of horizontal padding to use for a floating label use with an outlined
/// text field/textarea.
/// @type Number
$rmd-label-padding: 0.25rem !default;

/// The `top` position to use for a floating label.
/// @type Number
$rmd-label-floating-top: 1.6rem !default;

$rmd-form-toggle-border-radius: 50% !default;
$rmd-form-toggle-inset: 0.3125rem !default;
$rmd-form-toggle-dense-inset: 0.25rem !default;
$rmd-form-toggle-color: $rmd-deep-orange-a-200 !default;

$rmd-switch-track-height: 1rem !default;
$rmd-switch-track-width: 2.25rem !default;
$rmd-switch-track-background-color: rgba($rmd-black-base, 0.38) !default;
$rmd-switch-track-border-radius: 0.5rem !default;

$rmd-switch-ball-size: 1.25rem !default;
$rmd-switch-ball-border-radius: 50% !default;
$rmd-switch-ball-offset: 0.25rem !default;
$rmd-switch-ball-disabled-color: rmd-theme-get-swatch(
  $rmd-theme-secondary,
  200,
  false,
  lighten($rmd-theme-secondary, 12%)
) !default;

$rmd-form-filled-background-color-light: #dcdcdc !default;
$rmd-form-filled-background-color-dark: $rmd-grey-700 !default;
$rmd-form-filled-background-color: if(
  $rmd-theme-light,
  $rmd-form-filled-background-color-light,
  $rmd-form-filled-background-color-dark
) !default;

$rmd-form-outline-horizontal-padding: 1rem !default;
$rmd-form-outline-vertical-padding: 0.875rem !default;

$rmd-form-underline-horizontal-padding: 0.75rem !default;
$rmd-form-underline-vertical-padding: 0.375rem !default;

$rmd-form-border-color-light: rgba($rmd-black-base, 0.5) !default;
$rmd-form-border-color-dark: rgba($rmd-white-base, 0.5) !default;
$rmd-form-border-color: if(
  $rmd-theme-light,
  $rmd-form-border-color-light,
  $rmd-form-border-color-dark
) !default;

$rmd-form-border-hover-color-light: rgba($rmd-black-base, 0.87) !default;
$rmd-form-border-hover-color-dark: rgba($rmd-white-base, 0.87) !default;
$rmd-form-border-hover-color: if(
  $rmd-theme-light,
  $rmd-form-border-hover-color-light,
  $rmd-form-border-hover-color-dark
) !default;

$rmd-form-border-radius: 0.25rem !default;
$rmd-form-border-width: 1px !default;
$rmd-form-border-width-active: 2px !default;

$rmd-form-textarea-min-height: 1.5em !default;
$rmd-form-textarea-margin-top: 0px !default; //sass-lint:disable-line zero-unit
$rmd-form-textarea-underline-margin-top: 1.5rem !default;

///
/// @type Map
$rmd-form-theme-values: (
  error-color: $rmd-form-error-color,
  error-hover-color: $rmd-form-error-hover-color,
  toggle-color: $rmd-form-toggle-color,
  active-color: $rmd-form-active-color,
  disabled-color: $rmd-form-disabled-color,
  placeholder-color: $rmd-form-placeholder-color,
  label-floating-top: $rmd-label-floating-top,
  filled-color: $rmd-form-filled-background-color,
  filled-light-color: $rmd-form-filled-background-color-dark,
  filled-dark-color: $rmd-form-filled-background-color-dark,
  border-color: $rmd-form-border-color,
  border-hover-color: $rmd-form-border-hover-color,
  border-width: $rmd-form-border-width,
  border-width-active: $rmd-form-border-width-active,
  border-radius: $rmd-form-border-radius,
  offset: 0px,
  horizontal-padding: 0px,
  vertical-padding: 0px,
  underline-horizontal-padding: $rmd-form-underline-horizontal-padding,
  outline-horizontal-padding: $rmd-form-outline-horizontal-padding,
  toggle-inset: $rmd-form-toggle-inset,
  toggle-dense-inset: $rmd-form-toggle-dense-inset,
  track-background-color: $rmd-switch-track-background-color,
  textarea-min-height: $rmd-form-textarea-min-height,
  textarea-margin-top: $rmd-form-textarea-margin-top,
) !default;
