@import '~@react-md/button/dist/variables';
@import '~@react-md/dialog/dist/variables';
@import '~@react-md/utils/dist/mixins';

.dialog {
  $distance: $rmd-button-floating-margin + $rmd-button-icon-size + 1rem;
  @include rmd-utils-rtl-auto(right, $distance);

  bottom: $rmd-button-floating-margin;
  position: fixed;
  width: 25rem;
  z-index: $rmd-dialog-z-index;
}

.listbox {
  z-index: $rmd-dialog-z-index;
}
