@use 'react-md';

.dialog {
  $distance: react-md.$rmd-button-floating-margin +
    react-md.$rmd-button-icon-size + 1rem;
  @include react-md.rmd-utils-rtl-auto(right, $distance);

  bottom: react-md.$rmd-button-floating-margin;
  position: fixed;
  width: 25rem;
  z-index: react-md.$rmd-dialog-z-index;
}

.listbox {
  z-index: react-md.$rmd-dialog-z-index;
}
