@import 'app-globals';

.package-sassdoc {
  padding: 5.5rem;
}

.sassdoc {
  @include rmd-utils-hide-focus-outline;

  margin-top: 0;

  &__title {
    margin: 1em 0;

    // every SassDocType title
    &:nth-child(1) {
      margin-top: .125em;
    }
  }

  &__name {
    display: block;
  }

  &__type {
    @include rmd-theme(color, primary);

    margin-bottom: 5rem;
  }

  &__source {
    @include rmd-elevation(4);

    &[role='button'] {
      @include rmd-utils-hide-focus-outline;

      cursor: pointer;
      position: relative;
    }

    &::after {
      @include rmd-elevation(8);

      $underlay-color: rgba($rmd-white-base, .08);

      background-color: $underlay-color;
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity $rmd-leave-transition-time linear;
    }

    &.rmd-states--focus::after {
      opacity: 1;
    }
  }

  &__source-code {
    margin: 0;
    padding: 1rem 0;
  }
}
