@import '~@react-md/theme/dist/color-palette';
@import '~@react-md/typography/dist/mixins';
@import '~@react-md/utils/dist/mixins';

$mobile-padding: 2rem;
$desktop-padding: 4rem;

.container {
  @include rmd-utils-desktop-media {
    padding: 0 $desktop-padding;
  }

  padding: 0 $mobile-padding;
}

.title {
  @include rmd-utils-phone-media {
    @include rmd-typography(headline-2);
  }
  @include rmd-utils-desktop-media {
    margin: 0 #{-$desktop-padding};
    padding-left: $desktop-padding;
  }

  background-color: var(--sass-bg);
  border-bottom: 4px solid var(--sass-border);
  margin: 0 #{-$mobile-padding};
  padding: 3.5rem 0 1.5rem $mobile-padding;
  padding-top: 3.5rem;

  &:nth-of-type(n + 2) {
    margin-top: 1em;
  }
}
