@use 'react-md';

.caption {
  @include react-md.rmd-typography(headline-6);
  @include react-md.rmd-utils-rtl {
    text-align: right;
  }

  margin-top: 2em;
  padding-left: react-md.$rmd-table-cell-horizontal-padding;
  text-align: left;
}

.description {
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.returns {
  padding-left: react-md.$rmd-table-cell-horizontal-padding;
}
