////
/// @group badge
////

@import '~@react-md/button/dist/mixins';
@import '~@react-md/typography/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/utils/dist/mixins';
@import './functions';
@import './variables';

/// Creates the styles for one of the badge's theme values. This is mostly going
/// to be an internal helper mixin util.
///
/// @param {String} property - The property to set a `rmd-badge-theme-values`
/// value to.
/// @param {String} theme-style - One of the keys of `rmd-badge-theme-values` to
/// extract a value from.
/// @param {Color|String|Number} fallback [null] - A fallback value to use if
/// the css variable isn't set somehow. This will default to automatically
/// retrieving the default value from the `rmd-badge-theme-values` map when
/// `null`.
@mixin rmd-badge-theme($property, $theme-style: $property, $fallback: null) {
  @include rmd-theme-apply-rmd-var(
    $property,
    $theme-style,
    $rmd-badge-theme-values,
    badge
  );
}

/// Updates one of the badge's theme variables with the new value for the
/// section of your app.
///
/// @param {String} theme-style - The badge theme style type to update. This
/// should be one of the `$rmd-badge-theme-values` keys.
/// @param {Color|String|Number} value - The new value to use.
@mixin rmd-badge-theme-update-var($theme-style, $value) {
  @include rmd-theme-update-rmd-var(
    $value,
    $theme-style,
    $rmd-badge-theme-values,
    badge
  );
}

/// Creates the minimal styles for a badge container.
/// @access private
@mixin rmd-badge-container {
  display: inline-flex;
  position: relative;
}

/// Creates all the styles for the badge component.
@mixin rmd-badge {
  @include rmd-typography(body-1, (line-height font-size));
  @include rmd-badge-theme(border-radius);
  @include rmd-badge-theme(height, size);
  @include rmd-badge-theme(width, size);
  @include rmd-badge-theme(font-size);
  @include rmd-badge-theme(right);
  @include rmd-badge-theme(top);
  @include rmd-utils-rtl {
    @include rmd-badge-theme(left, right);

    right: auto;
  }

  align-items: center;
  display: inline-flex;
  justify-content: center;
  pointer-events: none; // badges are _kind_ of presentational and shouldn't trigger mouse events
  position: absolute;

  &--primary {
    @include rmd-theme(background-color, primary);
    @include rmd-theme(color, on-primary);
  }

  &--secondary {
    @include rmd-theme(background-color, secondary);
    @include rmd-theme(color, on-secondary);
  }

  &--default {
    @include rmd-badge-theme(background-color);
    @include rmd-badge-theme(color);
  }
}

/// Creates all the styles for this package as well as defining all the theme
/// CSS variables.
@mixin react-md-badge {
  @include rmd-theme-create-root-theme($rmd-badge-theme-values, badge);

  .rmd-badge-container {
    @include rmd-badge-container;
  }

  .rmd-badge {
    @include rmd-badge;
  }
}
