$rmd-theme-dark-elevation: true;

@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.container {
  @include rmd-utils-optional-css-modules('.rmd-list', true, false) {
    @include rmd-theme-dark-elevation(6, true);
  }

  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  :global .rmd-list {
    @include rmd-elevation(4);

    margin: 1rem;
    max-width: 20rem;
    width: 100%;
  }
}
