@use 'react-md';

.container {
  @include react-md.rmd-utils-optional-css-modules('.rmd-list', true, false) {
    @include react-md.rmd-theme-dark-elevation(6, true);
  }

  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  :global .rmd-list {
    @include react-md.rmd-elevation(4);

    margin: 1rem;
    max-width: 20rem;
    width: 100%;
  }
}
