@use "everything";

.search {
  flex: 1 1 auto;
}

.header {
  min-height: everything.$app-bar-height;
}

.sheetOffset {
  @include everything.large-desktop-media {
    width: calc(100% - var(--how-to-use-width, 0px));
  }
}
