@use "everything";

.header {
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: inset 0 0 0 1px everything.button-get-var(outline-color);
  display: flex;
  gap: 0.5rem;
  height: 3.5rem;
  padding: 0 1.5rem;
  width: 100%;
}

.search {
  flex: 1 1 auto;
}
