////
/// @group sheet
////

@import '~@react-md/dialog/dist/variables';
@import '~@react-md/overlay/dist/variables';
@import '~@react-md/transition/dist/variables';
@import '~@react-md/theme/dist/functions';
@import '~@react-md/theme/dist/variables';
@import '~@react-md/utils/dist/variables';

/// The z-index to use for sheets that normally appear without an overlay and
/// inline with other content. This should be a number greater than 1 in case
/// you have sticky table headers.
///
/// @type Number
$rmd-sheet-z-index: 5 !default;

/// The z-index to use for sheets that normally appear with an overlay and
/// covering other elements on the page.
///
/// @require $rmd-utils-temporary-element-z-index
/// @type Number
$rmd-sheet-raised-z-index: $rmd-utils-temporary-element-z-index !default;

/// The z-index to use for a sheet's overlay. This value just needs to be
/// smaller than the `$rmd-sheet-raised-z-index` value so the overlay does not
/// cover the sheet.
///
/// @require $rmd-overlay-z-index
/// @type Number
$rmd-sheet-overlay-z-index: $rmd-overlay-z-index !default;

/// This is the default elevation to use for sheets that do not have an overlay.
/// This is normally used for showing sheets more "inline" with other content.
/// @type Number
$rmd-sheet-elevation: 2 !default;

/// The elevation to use for temporary sheets that usually display an overlay as
/// well.
/// @type Number
$rmd-sheet-raised-elevation: 16 !default;

/// The background color for a sheet rendered "inline" with other content in the
/// light theme.
///
/// Note: If `$rmd-theme-dark-elevation` is set to `false`, this variable is
/// ignored and the color is determined by the normal dialog background color
/// instead.
///
/// @type Color
/// @since 2.7.0
$rmd-sheet-light-background-color: rmd-dialog-theme-var(
  background-color
) !default;

/// The background color for a sheet rendered "inline" with other content in the
/// dark theme and the `$rmd-theme-dark-elevation` feature flag is also enabled.
///
/// @see $rmd-theme-dark-elevation
/// @require $rmd-theme-dark-elevation-colors
/// @type Color
/// @since 2.7.0
$rmd-sheet-dark-elevation-background-color: map-get(
  $rmd-theme-dark-elevation-colors,
  $rmd-sheet-elevation
) !default;

/// The background color for a sheet rendered "inline" with other content in the
/// dark theme.
///
/// Note: If `$rmd-theme-dark-elevation` is set to `false`, this variable is
/// ignored and the color is determined by the normal dialog background color
/// instead.
///
/// @type Color
/// @since 2.7.0
$rmd-sheet-dark-background-color: if(
  $rmd-theme-dark-elevation,
  $rmd-sheet-dark-elevation-background-color,
  rmd-dialog-theme-var(background-color)
) !default;

/// The background color for a sheet rendered "inline" with other content.
///
/// Note: If `$rmd-theme-dark-elevation` is set to `false`, this variable is
/// ignored and the color is determined by the normal dialog background color
/// instead.
///
/// @type Color
/// @since 2.7.0
$rmd-sheet-background-color: if(
  $rmd-theme-light,
  $rmd-sheet-light-background-color,
  $rmd-sheet-dark-background-color
) !default;

/// The background color for a sheet raised above other content in the light
/// theme.
///
/// Note: If `$rmd-theme-dark-elevation` is set to `false`, this variable is
/// ignored and the color is determined by the normal dialog background color
/// instead.
///
/// @type Color
/// @since 2.7.0
$rmd-sheet-raised-light-background-color: rmd-dialog-theme-var(
  background-color
) !default;

/// The background color for a sheet raised above other content in the dark
/// theme and the `$rmd-theme-dark-elevation` feature flag is also enabled.
///
/// @see $rmd-theme-dark-elevation
/// @require $rmd-theme-dark-elevation-colors
/// @type Color
/// @since 2.7.0
$rmd-sheet-raised-dark-elevation-background-color: map-get(
  $rmd-theme-dark-elevation-colors,
  $rmd-sheet-raised-elevation
) !default;

/// The background color for a sheet raised above other content in the dark
/// theme.
///
/// Note: If `$rmd-theme-dark-elevation` is set to `false`, this variable is
/// ignored and the color is determined by the normal dialog background color
/// instead.
///
/// @type Color
/// @since 2.7.0
$rmd-sheet-raised-dark-background-color: if(
  $rmd-theme-dark-elevation,
  $rmd-sheet-raised-dark-elevation-background-color,
  rmd-dialog-theme-var(background-color)
) !default;

/// The background color for a sheet raised above other content.
///
/// Note: If `$rmd-theme-dark-elevation` is set to `false`, this variable is
/// ignored and the color is determined by the normal dialog background color
/// instead.
///
/// @type Color
/// @since 2.7.0
$rmd-sheet-raised-background-color: if(
  $rmd-theme-light,
  $rmd-sheet-raised-light-background-color,
  $rmd-sheet-raised-dark-background-color
) !default;

/// The duration for the enter transition.
///
/// @require $rmd-transition-enter-duration
/// @type Number
$rmd-sheet-enter-duration: $rmd-transition-enter-duration !default;

/// The duration for the leave transition.
///
/// @require $rmd-transition-leave-duration
/// @type Number
$rmd-sheet-leave-duration: $rmd-transition-leave-duration !default;

/// The amount of horizontal margin to use between the viewport's edge and the
/// sheet's edge. This is used so that mobile devices have an overlay "touch
/// target" to close the sheet without requiring one of the actions to be
/// clicked.
/// @type Number
$rmd-sheet-touch-margin: 3.5rem !default;

/// The width of a sheet on small touch devices.
/// @type Number
$rmd-sheet-touch-width: calc(100vw - #{$rmd-sheet-touch-margin}) !default;

/// The width to apply to "static" width sheets. This width **should not** be
/// used on phones but can be used for tablets or desktops.
/// @type Number
$rmd-sheet-static-width: 16rem !default;

/// The max height to set for sheets. It is recommended to leave this as 100%
/// and instead update the `$rmd-sheet-touchable-max-height` instead.
/// @type Number
/// @see rmd-sheet-touchable-max-height
$rmd-sheet-max-height: 100% !default;

/// The max height for a sheet that has a "touchable" area that can be used to
/// close the sheet without selecting one of the actions.
///
/// @type Number
$rmd-sheet-touchable-max-height: calc(
  100% - #{$rmd-sheet-touch-margin}
) !default;

/// The "recommended" min-height from the material design spec for bottom
/// sheets.
/// @type Number
$rmd-sheet-recommended-min-height: 3.5rem !default;

/// The "recommended" max-height from the material design spec for bottom
/// sheets. I personally think it is better to either set the max-height to
/// `calc(100% - 3.5rem)` or `100%` with a close button.
/// @type Number
$rmd-sheet-recommended-max-height: 50% !default;

/// A list of positions that are supported by the sheet component.
/// @type List
$rmd-sheet-positions: top right bottom left;

/// The positions that are created by default with the `react-md-sheet` mixin.
/// When generating styles, this list will be looped through to create the
/// correct position styles.
/// @type List
$rmd-sheet-enabled-positions: $rmd-sheet-positions !default;

/// A Map of all the "themeable" parts of the sheet package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the icon as needed.
/// @type Map
$rmd-sheet-theme-values: (
  background-color: $rmd-sheet-background-color,
  raised-background-color: $rmd-sheet-raised-background-color,
  touch-width: $rmd-sheet-touch-width,
  static-width: $rmd-sheet-static-width,
  touchable-max-height: $rmd-sheet-touchable-max-height,
  max-height: null,
  height: null,
  width: null,
  transform-offscreen: null,
) !default;
