////
/// @group sheet
////

@import '@react-md/overlay/dist/variables';
@import '@react-md/theme/dist/functions';
@import '@react-md/theme/dist/variables';

$rmd-sheet-background-color: rmd-theme-var(surface) !default;

/// The elevation to use for sheets that are displayed "inline" with other content. This _should__ most likely
/// stay the default, but it needs to be a number between 0 and 16.
/// @type Number
$rmd-sheet-elevation: 2 !default;

/// The elevation to use for fixed sheets. This _should_ most likely stay the default, but it needs to
/// be a number between 0 and 16.
/// @type Number
$rmd-sheet-fixed-elevation: 16 !default;

/// The z-index for sheets. The value doesn't matter _too_ much but it needs to at least be above the
/// overlay that is created along with the sheet.
/// @type Number
$rmd-sheet-z-index: $rmd-overlay-z-index + 1;

/// The duration for the enter transition.
/// @type Number
$rmd-sheet-enter-duration: 0.2s !default;

/// The duration for the leave transition.
/// @type Number
$rmd-sheet-leave-duration: 0.15s !default;

/// The amount of horizontal margin to use between the viewport's edge and the sheet's edge. This
/// is used so that mobile devies have an overlay "touch target" to close the sheet without requiring
/// one of the actions to be clicked.
/// @type Number
$rmd-sheet-touch-margin: 3.5rem !default;

/// The width to apply to "small" sheets. This width **should** be used for mobile devices along with
/// the max-width.
/// @type Number
$rmd-sheet-small-width: calc(100vw - #{$rmd-sheet-touch-margin}) !default;

/// The max-width to apply to "small" sheets. This max-width **should** be used for mobile devices along with
/// the max-width.
/// @type Number
$rmd-sheet-small-max-width: 20rem !default;

/// The width to apply to "large" sheets. This width **should not** be used on phones but can be used for tablets or
/// desktops.
/// @type Number
$rmd-sheet-large-width: 16rem !default;

/// The max-width to apply to "large" sheets. This max-width **should not** be used on phones but can be used for tablets or
/// desktops.
/// @type Number
$rmd-sheet-large-max-width: 25rem !default;

/// The max height to set for sheets. It is recommended to leave this as 100% and instead update the
/// `$rmd-sheet-touchable-max-height` instead.
/// @type Number
/// @see rmd-sheet-touchable-max-height
$rmd-sheet-max-height: 100% !default;

/// The max height for a sheet that has a "touchable" area that can be used to close the sheet without selecting
/// one of the actions.
///
/// @type Number
$rmd-sheet-touchable-max-height: calc(100% - #{$rmd-sheet-touch-margin}) !default;

/// The "recommended" min-height from the material design spec for bottom sheets.
/// @type Number
$rmd-sheet-recommended-min-height: 3.5rem !default;

/// The "recommended" max-height from the material design spec for bottom sheets. I personally think it is better
/// to either set the max-height to `calc(100% - 3.5rem)` or `100%` with a close button.
/// @type Number
$rmd-sheet-recommended-max-height: 50% !default;

/// A list of positions that are supported by the sheet component.
/// @type List
$rmd-sheet-positions: top right bottom left;

/// The positions that are created by default with the `react-md-sheet` mixin. When generating
/// styles, this list will be looped through to create the correct position styles.
/// @type List
$rmd-sheet-enabled-positions: $rmd-sheet-positions !default;

/// A Map of all the "themeable" parts of the sheet package. Every key in this map will
/// be used to create a css variable to dynamically update the values of the icon as
/// needed.
/// @type Map
$rmd-sheet-theme-values: (
  background-color: $rmd-sheet-background-color,
  small-width: $rmd-sheet-small-width,
  small-max-width: $rmd-sheet-small-max-width,
  large-width: $rmd-sheet-large-width,
  large-max-width: $rmd-sheet-large-max-width,
  touchable-max-height: $rmd-sheet-touchable-max-height,
  max-width: null,
  max-height: null,
  height: null,
  width: null,
) !default;
