@import '~@react-md/button/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/form/dist/mixins';

.small {
  @include rmd-button-theme-update-var(icon-size, 2rem);
  @include rmd-icon-theme-update-var(size, 1rem);
  @include rmd-form-theme-update-var(toggle-inset, 0.25rem);
}

.large {
  @include rmd-button-theme-update-var(icon-size, 5rem);
  @include rmd-icon-theme-update-var(size, 4rem);
  @include rmd-form-theme-update-var(toggle-inset, 0.85rem);
}
