@import '~sass-utils';

.doc-toolbar {
  display: flex;
}

%quick-search,
.quick-search {
  top: 0;
}

.quick-search-overlay {
  @extend %quick-search;

  position: fixed;
  z-index: $md-overlay-z-index - 5;
}

@media screen and (min-width: #{$md-mobile-min-width}) and (max-width: #{$md-tablet-min-width}) {
  .doc-toolbar .md-text-field-container {
    padding-left: 0;
    padding-right: 0;
  }

  .quick-search-menu {
    // scss-lint:disable ImportantRule
    left: -35.5px;
    width: 82vw !important;
  }
}

@media screen and (min-width: #{$md-tablet-min-width}) {
  .quick-search,
  .md-menu.quick-search-menu {
    left: 45vw;
    position: fixed;
    width: 30vw;
  }

  .md-menu.quick-search-menu {
    top: $md-toolbar-desktop-height;
  }
}
