@import 'app-globals';

$btn-size: 3.5rem;
$btn-margin: 1rem;

.sassdoc__search-btn {
  bottom: $btn-margin;
  height: $btn-size;
  position: fixed;
  right: $btn-margin;
  width: $btn-size;
  z-index: 11;
}

.sassdoc__search-container {
  bottom: $btn-margin;
  right: $btn-size + $btn-margin + $btn-margin;
  width: 40rem;

  &--results {
    bottom: $btn-margin + 4rem;

    .rmd-list {
      @include rmd-utils-scroll(y);

      max-height: inherit;
    }
  }

  &.rmd-sheet--enter {
    @include rmd-transition(deceleration);

    max-width: 0;
    transform: translateX(50%);
    transition-duration: $rmd-enter-transition-time;
    transition-property: max-width, transform;
  }

  &.rmd-sheet--enter-active {
    max-width: 40rem;
    transform: translateX(0);
  }

  &.rmd-sheet--exit {
    @include rmd-transition(acceleration);

    max-width: 40rem;
    transform: translateX(0);
    transition-duration: $rmd-enter-transition-time;
    transition-property: max-width, transform;
  }

  &.rmd-sheet--exit-active {
    max-width: 0;
    transform: translateX(50%);
  }
}

.sassdoc__search {
  @include rmd-typography(headline-4);
  @include rmd-utils-hide-focus-outline;

  border: 0;
  padding: $rmd-list-item-vertical-padding $rmd-list-item-horizontal-padding;
  width: 100%;

  &::placeholder {
    @include rmd-typography(headline-4);
    @include rmd-theme(color, text-secondary-on-background);

    opacity: 1;
  }
}
