@use "sass:color";
@use "everything";

.button {
  @include everything.core-interaction-surface($css-modules: true);
  #{everything.$icon-color-var}: currentcolor;
  // --icon-color: currentcolor;
  --button-bg: #009688;
  --button-color: #fff;

  align-items: center;
  background-color: var(--button-bg, transparent);
  border-width: 0;
  color: var(--button-color);
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.text {
  --icon-size: var(--button-text-icon-size, 1.125rem);

  border-radius: var(--button-text-radius, 0.5rem);
  font-size: var(--button-font-size, 0.875rem);
  font-family: var(--font-family);
  // font-family: var(--font-family, Roboto), sans-serif;
  font-weight: 500;
  gap: var(--button-gap, 0.5rem);
  letter-spacing: var(--button-letter-spacing, 0.0892857143em);
  line-height: var(--button-line-height, 2.25rem);
  min-height: var(--button-text-height, 2.25rem);
  min-width: var(--button-text-width, 4rem);
  padding: var(--button-v-padding, 0) var(--button-h-padding, 1rem);
  text-transform: uppercase;
}

.icon {
  border-radius: var(--button-icon-radius, 50%);
  height: var(--button-icon-size, 3rem);
  padding: 0;
  width: var(--button-icon-size, 3rem);
}

.pressed {
  --interaction-bg: #{rgba(#000, 0.32)};

  &:hover {
    --interaction-bg: #{rgba(#000, 0.32)};
  }
}
