@use "everything";

.container {
  position: relative;
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &::after {
      opacity: 1;
    }
  }

  &::after {
    @include everything.theme-use-var(color, text-secondary-color);

    content: " #";
    opacity: 0;
  }
}
