@use "everything";

$icon-size: 2.5rem;
$offset: ($icon-size - everything.$icon-size) * 0.5;
$margin-right: calc(#{everything.icon-get-var(spacing)} + #{$offset});
$margin-left: -$offset;

.container {
  height: everything.$icon-size;
  position: relative;
  width: everything.$icon-size;
}

// have to do some hacks since the logo is badly formatted with a lot of extra whitespace
// around the icon
.logo {
  @include everything.icon-set-var(size, $icon-size);
  @include everything.auto-rtl-group(
    (
      left: $margin-left,
      right: $margin-right,
    )
  );

  position: absolute;
  top: -$offset;
}
