@use "sass:color";

.svg {
  fill: var(--icon-color, color.adjust(#000, $lightness: 46%));
  flex-shrink: 0;
  height: var(--icon-size, 1.5rem);
  user-select: none;
  width: var(--icon-size, 1.5rem);

  * {
    pointer-events: none;
  }
}
