.card {
  margin-bottom: 4rem;
}

.container {
  height: 20rem;

  th:nth-child(1) {
    min-width: 13.75rem;
  }

  th:nth-child(2) {
    min-width: 15rem;
  }

  th:nth-child(n + 3) {
    min-width: 10rem;
  }
}
