@use "everything" as *;

.container {
  grid-template-columns:
    minmax(0, calc(window-splitter-get-var(position) - 0.25rem))
    1fr;
  position: relative;
}

.second {
  flex-shrink: 0;
  white-space: nowrap;
}
