@use "everything";

.container {
  grid-template-columns:
    minmax(0, calc(everything.window-splitter-get-var(position) - 0.25rem))
    1fr;
  position: relative;
}

.second {
  flex-shrink: 0;
  white-space: nowrap;
}
