{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
      "node": true,
      "browser": true
  },
  "rules": {
    // Want to use the *hidden* functions for different documentation
    "no-underscore-dangle": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],

    // I like classnames to be quoted
    "quote-props": 0,
    "no-else-return": 0,

    "max-len": [2, 120],

    "no-mixed-operators": 0,
    "global-require": 0,
    "arrow-parens": 0,

    "no-plusplus": 0,
    "prefer-spread": 0,

    "no-param-reassign": 0,

    "import/imports-first": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/newline-after-import": 0,
    "import/no-named-as-default": 0,
    "import/extensions": 0,

    "class-methods-use-this": 0,

    // Jest does not work on stateless functions.
    "react/prefer-stateless-function": 0,

    // Need to use it a lot..
    "react/no-find-dom-node": 0,
    "react/no-string-refs": 1,
    "react/no-unused-prop-types": 0,
    // Use object for style..
    "react/forbid-prop-types": 0,

    // Can't use .jsx if I want to support non-webpack builds.
    "react/jsx-filename-extension": 0,

    "jsx-a11y/no-static-element-interactions": 0
  }
}
