@import '~sass-utils';

.todo-list-example {
  @extend %centered;

  max-width: 320px;
}

.todo-headline {
  text-align: center;
}

.strikethrough {
  color: get-color('secondary', $md-light-theme);
  text-decoration: line-through;
}

.todo-controls {
  padding: $md-default-padding;
}
