@import '~@react-md/button/dist/mixins';
@import '~@react-md/states/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/typography/dist/mixins';

.button {
  @include rmd-button-unstyled;
  @include rmd-typography(button);
  @include rmd-theme(background-color, primary);
  @include rmd-theme(color, on-primary);
  @include rmd-states-surface;

  position: relative;
}
