@use 'react-md' as *;

.code {
  @include rmd-states-focus-shadow($css-modules: true);
  @include rmd-utils-hide-focus-outline;

  flex-grow: 1;
  margin: 0;

  &::before {
    @include rmd-utils-pseudo-element($position: fixed);
    @include rmd-app-bar-theme(top, prominent-dense-height);

    margin: inherit;
  }
}

.offset {
  @include rmd-utils-rtl-auto(margin-left, rmd-sheet-theme-var(static-width));
}
