@use 'react-md';

.code {
  @include react-md.rmd-states-focus-shadow($css-modules: true);
  @include react-md.rmd-utils-hide-focus-outline;

  flex-grow: 1;
  margin: 0;

  &::before {
    @include react-md.rmd-utils-pseudo-element($position: fixed);
    @include react-md.rmd-app-bar-theme(top, prominent-dense-height);

    margin: inherit;
  }
}

.offset {
  @include react-md.rmd-utils-rtl {
    @include react-md.rmd-sheet-theme(margin-right, static-width);

    margin-left: auto;
  }

  @include react-md.rmd-sheet-theme(margin-left, static-width);
}
