@import 'mixins';

.sandbox-modal {
  @include rmd-app-bar-theme-update-var(prominent-dense-height, 5rem);

  .light-theme & {
    @include rmd-theme-dark;
    @include rmd-button-theme-update-var(color, rmd-app-bar-theme-var(default-color));
  }

  &__code {
    flex-grow: 1;
    margin: 0;

    &--offset {
      @include rmd-utils-rtl {
        @include rmd-sheet-theme(margin-right, static-width);

        margin-left: auto;
      }

      @include rmd-sheet-theme(margin-left, static-width);
    }
  }

  &__files {
    &--inline {
      @include rmd-app-bar-offset(top, prominent-dense-height);
    }
  }

  &__header {
    align-items: flex-start;
    position: relative;
  }

  &__breadcrumbs {
    @include rmd-utils-rtl-auto(margin-left, $rmd-app-bar-keyline);
    @include rmd-utils-phone-media {
      @include rmd-utils-rtl-auto(margin-left, $rmd-app-bar-title-keyline);
    }
    @include rmd-theme(color, text-secondary-on-dark);
    @include rmd-typography(subtitle-2);

    bottom: 0.5rem;
    font-family: 'Source Code Pro', Consolas, Monaco, monospace;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
  }

  &__error {
    @include rmd-theme(background-color, background);

    flex-grow: 1;

    &--offset {
      @include rmd-utils-rtl {
        @include rmd-sheet-theme(margin-right, static-width);

        margin-left: auto;
      }

      @include rmd-sheet-theme(margin-left, static-width);
    }
  }
}
