@use 'react-md';

.sheet {
  background-color: react-md.$rmd-sheet-dark-elevation-background-color;
}

.tree {
  @include react-md.rmd-tree-depths(
    $selector-prefix: ':global ',
    $max: 4,
    $base-padding: 2rem
  );
}

.icon {
  @include react-md.rmd-icon-theme-update-var(text-spacing, 0.5rem);
  @include react-md.rmd-icon-theme-update-var(size, 1rem);
}

.inline {
  @include react-md.rmd-app-bar-offset(top, prominent-dense-height);
}
