@use 'react-md';

.header {
  align-items: flex-start;
  position: relative;
}

.breadcrumbs {
  @include react-md.rmd-utils-rtl-auto(
    margin-left,
    react-md.$rmd-app-bar-keyline
  );
  @include react-md.rmd-utils-phone-media {
    @include react-md.rmd-utils-rtl-auto(
      margin-left,
      react-md.$rmd-app-bar-title-keyline
    );

    max-width: calc(
      100% - #{react-md.$rmd-app-bar-title-keyline +
        react-md.$rmd-app-bar-keyline}
    );
  }
  @include react-md.rmd-theme(color, text-secondary-on-dark);
  @include react-md.rmd-typography(subtitle-2);

  bottom: 0.5rem;
  font-family: 'Source Code Pro', Consolas, Monaco, monospace;
  margin-bottom: 0;
  margin-top: 0;
  max-width: calc(100% - #{react-md.$rmd-app-bar-keyline * 2});
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
