.static-menu-examples .md-list--menu:not(.md-list--menu-nested) {
  margin: 1em;
  position: static;
}

.menu-example {
  margin: 1em;
  vertical-align: top;
}

.menu-example--static > .md-list--menu {
  position: static;
}
