@import '~@react-md/button/dist/functions';
@import '~@react-md/table/dist/mixins';

.container {
  max-height: 25rem;
}

.sticky {
  $checkbox-offset: calc(#{rmd-button-theme-var(icon-size)} + #{$rmd-table-checkbox-padding * 2});

  // if you don't need auto-RTL support, you could just set the `left` value
  // instead of using the mixin and updating the css variable
  @include rmd-table-theme-update-var(sticky-cell, $checkbox-offset);
}
