@use "everything" as *;

.pending {
  // set the background color to the inactive color so that the circular
  // progress bar will be visible while checked
  @include switch-set-var(ball-background-color, $switch-ball-background-color);
}
