////
/// @group form-label
////

/// The font size to use for a `<label>` by default.
/// @type Number
$rmd-label-font-size: 1em !default;

/// The font size to use for a floating label that is currently fixed above a
/// text field/textarea.
/// @type Number
$rmd-label-floating-font-size: 0.75em !default;

/// The amount of horizontal padding to use for a floating label use with an
/// outlined text field/textarea.
/// @type Number
$rmd-label-floating-padding: 0.25rem !default;

/// The top position for a floating label.
/// @type Number
$rmd-label-floating-top: 1rem !default;

/// The top position for a dense floating label.
/// @type Number
$rmd-label-floating-dense-top: 0.9rem !default;

/// The amount of horizontal padding to use for a floating label with an
/// outlined text field/textarea.
/// @type Number
$rmd-label-padding: 0.25rem !default;
