@use "everything" as *;

.container {
  @include box-set-var(padding, 2rem);
  @include box-set-var(gap, 0.5rem);
  @include box-set-var(item-min-size, 5rem);
}

.override {
  @include box-set-var(item-min-size, 12rem);

  gap: 1.25rem;
  padding: 0.25rem;
}
