@import '~@react-md/transition/dist/mixins';

// just to make it really visible...
$duration: 5s;

.enter {
  opacity: 0;
}

.entering {
  opacity: 1;
  transition: opacity $duration;
}

.exit {
  opacity: 1;
}

.exiting {
  @include rmd-transition(standard);

  opacity: 0;
  transition: opacity $duration;
}
