@import '~react-md-scss';

.time-ticks {
  height: 32px;
  margin-top: -14px;
  position: relative;
  width: 100%;
}

.time-tick,
.time-value {
  position: absolute;
}

.time-tick {
  background: rgba($md-black-base, .22);
  content: '';
  display: block;
  height: 6px;
  width: 1px;
}

.time-tick--valued {
  height: 10px;
}

.time-value {
  font-size: 12px;
  top: 12px;
  transform: translateX(-50%);
  white-space: nowrap;
}

@for $i from 0 through 10 {
  .time-tick:nth-child(#{$i + 1}) {
    left: percentage($i / 10);
  }
}

.celcius {
  align-self: flex-start;
  margin-top: 12px;
  vertical-align: top;
}

.icon-yellow {
  color: $md-yellow-800;
}

.wi:not(.icon-big) {
  height: $md-font-icon-size;
  width: $md-font-icon-size;
}

.icon-big {
  display: inline-block;
  font-size: $md-display-3-font-size;
  margin-left: auto;
}

.weather-block,
.weather-list .md-tile-addon {
  align-items: center;
  display: flex;
}

.display-override {
  display: inline-block;
  margin-bottom: 0;
}

.weather-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
