@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import '~normalize-scss-vanilla/normalize';
@import '~react-md-scss/react-md';

@include host-material-icons-local();

$file-names: 'Roboto-Light' 'Roboto-Regular' 'Roboto-Medium' 'Roboto-Bold';
@for $i from 1 through length($md-font-weights) {
  $weight: nth($md-font-weights, $i);
  $file-name: '/fonts/roboto/#{nth($file-names, $i)}';
  @include host-google-font-local(Roboto, normal, $weight, $file-name);
}

@include host-google-font-local('Source Code Pro', normal, normal, '/fonts/source-code-pro/SourceCodePro-Regular');

html {
  height: 100%;
}

body {
  min-height: 100%;
}

@media only screen and (min-width: 600px) {
  main {
    padding-left: 0;
    transition: padding-left $md-transition-time;

    &.active {
      padding-left: $md-sidebar-open-width;
    }
  }

  .md-sidebar-responsive.main-sidebar {
    .md-sidebar {
      position: fixed;
    }
  }
}

main {
  flex-grow: 1;
  margin-top: 0;
  overflow-x: hidden;
}

.react-md-docs {
  display: flex;
}

.middle-align {
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.full-width {
  width: 100%;
}

.scrollable {
  height: calc(100vh - #{$md-app-bar-height + 182});
  overflow-y: auto;
}

.space-after:after {
  content: ' ';
}
