@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import '~normalize-scss-vanilla/normalize';
@import '~react-md-scss/react-md';

@each $weight in $md-font-weights {
  @include host-google-font(Roboto, $weight);
}

@include host-google-font('Source Code Pro', 400);
@include host-material-icons();

html {
  height: 100%;
}

body {
  min-height: 100%;
}

@media only screen and (min-width: 600px) {
  main {
    padding-left: 0;
    transition: padding-left $md-transition-time;

    &.active {
      padding-left: $md-sidebar-open-width;
    }
  }

  .md-sidebar-responsive.main-sidebar {
    .md-sidebar {
      position: fixed;
    }
  }
}

main {
  flex-grow: 1;
  margin-top: 0;
  overflow-x: hidden;
}

.react-md-docs {
  display: flex;
}

.middle-align {
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.full-width {
  width: 100%;
}

.scrollable {
  height: calc(100vh - #{$md-app-bar-height + 182});
  overflow-y: auto;
}

.space-after:after {
  content: ' ';
}
