@import '~sass-utils';
@import '~react-md-scss';

.home {
  padding-bottom: 5em;
}

.logo {
  padding-bottom: 2em;
}

.img-card {
  overflow: hidden;
  position: relative;
  text-decoration: none;

  .md-ink {
    background: rgba($md-white-base, .12);
  }
}

.banner {
  align-items: center;
  background: $md-primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  padding: 2em;

  .md-subheading-2,
  .md-display-2 {
    color: $md-white-base;
  }
}

.about {
  @extend %centered;

  margin-bottom: 2em;
  padding: 1em 0;
  white-space: normal;
}

.md-navigation-drawer-toolbar.inactive {
  box-shadow: none;
}
