@import '~react-md-scss';

$search-size: 180px;

.main-search {

  .md-text-field {
    max-width: 0;
    transition-duration: $md-transition-time * 2;
    transition-property: max-width;
  }

  &--min-enforced .md-text-field {
    min-width: $search-size;
  }

  &--active.md-full-width {
    .md-text-field {
      max-width: $search-size;
    }
  }

  .md-divider--text-field,
  .md-divider--text-field.md-divider--text-field::after {
    background: $md-white-base;
  }

  .md-icon.md-icon {
    color: get-color('secondary', false);
  }

  .md-icon.md-text-field-icon--active {
    color: $md-white-base;
  }

  // Increase the size to include the close button
  .md-list {
    width: calc(100% + 48px);
  }
}

.main-toolbar .md-title {
  max-width: 100vw;
  overflow: hidden;
  transition-duration: $md-transition-time * 2;
  transition-property: max-width;
}

.main-toolbar--title-hidden .md-title {
  max-width: 0;
}

.custom-theme .main-search .md-divider--text-field:not(.md-divider--text-field-error)::after {
  background: $md-white-base;
}
