@import '~react-md-scss';

.color-list {
  @include md-box-shadow(1);

  list-style: none;
  padding-left: 0;
}

.color {
  color: $md-white-base;

  font-weight: 500;
  padding: 15px;

  @each $name, $color in $md-color-map {
    &.#{$name} {
      background: $color;

      .sass-variable::after {
        content: '#{$color}';
      }
    }
  }

  &.light {
    color: $md-black-base;
  }

  &.divide {
    margin-top: 4px;
  }
}

.color-name {
  margin-bottom: 60px;
}

.sass-variable {
  &::before {
    content: '$';
  }

  &::after {
    float: right;
    text-transform: uppercase;
  }
}
