////
/// @group expansion-panel
////

@import '~@react-md/icon/dist/variables';
@import '~@react-md/theme/dist/color-a11y';
@import '~@react-md/theme/dist/variables';

/// The amount of spacing to use between panels when multiple are used together.
/// This gets applied as a `margin-top` value.
/// @type Number
$rmd-expansion-panel-spacing: 1rem !default;

/// The amount of padding to use for the header element within the expansion
/// panel.
/// @type Number
$rmd-expansion-panel-header-padding: 1rem !default;

/// The spacing to use for the expansion panel's expander icon. This is applied
/// as `padding-left` on the icon's containing `<span>`.
///
/// @require $rmd-icon-spacing-with-text
/// @type Number
$rmd-expansion-panel-expander-icon-spacing: $rmd-icon-spacing-with-text !default;

/// A Map of all the "themeable" parts of the expansion-panel package. Every key
/// in this map will be used to create a css variable to dynamically update the
/// values of the icon as needed.
///
/// Note: these variables feel useless to me. probably won't configure these
/// @type Map
$rmd-expansion-panel-theme-values: (
  spacing: $rmd-expansion-panel-spacing,
  padding: $rmd-expansion-panel-header-padding,
  icon-spacing: $rmd-expansion-panel-expander-icon-spacing,
) !default;
