@import '../../variables';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.container {
  background-color: rmd-theme-get-swatch($rmd-theme-primary, 800);
  display: block;
  min-height: 95vh;
  position: relative;
  width: 100%;
}

.uhh {
  left: 15%;
  position: absolute;
  top: 20%;
}

.message {
  @include rmd-utils-phone-media {
    top: 50%;
  }

  left: 50%;
  position: absolute;
  top: 65%;
  transform: translateX(-50%);
}

.link {
  @include rmd-utils-phone-media {
    top: 90%;
  }

  left: 50%;
  position: absolute;
  top: 85%;
  transform: translateX(-50%);
}
