@import '~@react-md/list/dist/mixins';
@import '~@react-md/dialog/dist/variables';

.simple-dialog-list {
  @include rmd-list-theme-update-var(item-horizontal-padding, $rmd-dialog-header-padding);

  padding-top: 0;
}
