@import '~@react-md/icon/dist/scss/mixins';
@import '~@react-md/utils/dist/scss/mixins';

.menu-positioning-container {
  display: flex;
  justify-content: center;
}

.menu-positioning-group {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.example-menu-button {
  // make equal width buttons that are centered
  flex: 1 0 auto;
  margin: 1rem auto;
  width: 100%;

  &__text {
    // since the icon is aligned to the end with margin, the default icon spacing can't
    // be applied as it relies on margin as well. If you apply padding to an icon, the sizing
    // gets messed up so it's easier to apply it to the text element here. now we have the same
    // text spacing as before for the largest button.
    @include rmd-icon-text-spacing($property: padding-right);
  }

  &__icon {
    // align the icon to the end since equal width buttons look bad with centered text/icons
    @include rmd-utils-rtl-auto(margin-left, auto);
  }
}
