////
/// @group overlay
////

@import '@react-md/theme/dist/helpers';
@import '@react-md/transition/dist/mixins';
@import 'functions';
@import 'variables';

/// Creates the styles for one of the overlay's theme values. This is mostly
/// going to be an internal helper mixin util.
///
/// @param {String} property - The property to set a `rmd-overlay-theme-values` value to.
/// @param {String} theme-style [property] - One of the keys of `rmd-overlay-theme-values` to extract a value from.
/// @param {String|Color|Number} fallback [null] - A fallback value to use if the css variable
///   isn't set somehow. This will default to automatically retrieving the default value
///   from the `rmd-overlay-theme-values` map when `null`.
@mixin rmd-overlay-theme($property, $theme-style: $property, $fallback: null) {
  @include rmd-theme-apply-rmd-var($property, $theme-style, $rmd-overlay-theme-values, overlay);
}

/// Updates one of the overlay's theme variables with the new value for the section
/// of your app.
///
/// @param {String} theme-style - The overlay theme style type to update. This should be one
///   of the `$rmd-overlay-theme-values` keys.
/// @param {String|Number|Color} - The new value to use.
@mixin rmd-overlay-set-theme-var($style, $value) {
  @include rmd-theme-update-rmd-var($value, $theme-style, $rmd-overlay-theme-values, overlay);
}

/// Creates the styles for the overlay component.
@mixin rmd-overlay {
  .rmd-overlay {
    @include rmd-overlay-theme(background-color);
    @include rmd-overlay-theme(z-index);
    @include rmd-transition(standard);

    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $rmd-overlay-transition-duration;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

/// Creates the styles for overlays within react-md and also creates
/// all the theme css variables for overlays.
@mixin react-md-overlay {
  @include rmd-theme-create-root-theme($rmd-overlay-theme-values, overlay);

  @include rmd-overlay;
}
