////
/// @group overlay
////

@import '~@react-md/transition/dist/variables';
@import '~@react-md/theme/dist/color-palette';
@import '~@react-md/theme/dist/helpers';

/// The z-index for overlays.
///
/// @require $rmd-utils-temporary-element-z-index
/// @type Number
$rmd-overlay-z-index: $rmd-utils-temporary-element-z-index !default;

/// The transition duration for overlays entering and leaving.
///
/// @require $rmd-transition-standard-time
/// @type Number
$rmd-overlay-transition-duration: $rmd-transition-standard-time !default;

/// The background color for the overlay. It is recommended to make sure that an
/// opacity is applied instead of a static color.
///
/// @require $rmd-black-base
/// @type Color
$rmd-overlay-color: rgba($rmd-black-base, 0.4) !default;

/// A Map of all the "themeable" parts of the overlay package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the overlay as needed.
/// @type Map
$rmd-overlay-theme-values: (
  background-color: $rmd-overlay-color,
  active-opacity: 1,
  z-index: $rmd-overlay-z-index,
) !default;
