@import '~@react-md/icon/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/utils/dist/mixins';

// have to do some hacks since the logo is badly formatted with a lot of extra whitespace
// around the icon
.logo.logo {
  $offset: 0.5rem;
  $margin-right: calc(#{rmd-icon-theme-var(text-spacing)} + #{$offset});
  $margin-left: -$offset;

  @include rmd-icon-theme-update-var(size, 2.5rem);
  @include rmd-utils-rtl-auto-group(
    (
      margin-left: $margin-left,
      margin-right: $margin-right,
    )
  );

  @include rmd-utils-desktop-media {
    // no idea why margins don't need to be updated as well
    @include rmd-icon-theme-update-var(size, 2.25rem);
  }
}
