@use "everything" as *;

.container {
  width: 100%;

  @include tablet-media {
    @include box-set-var(item-min-size, 18rem);
    @include box-set-var(auto-rows-height, 18rem * 3);
    @include box-set-var(row-max-height, 18rem);
  }
}

.progress {
  padding: $box-padding;
}
