@use "everything" as *;

.card {
  max-width: 30rem;
}

.list {
  @include interaction-outline();
  position: relative;
}

.dragging {
  @include interaction-focus-styles($disable-background: true);
}

.dragover {
  @include interaction-set-var(focus-color, theme-get-var(success-color));
}

.upload {
  margin: 1rem 0;
  width: 100%;
}

.phoneHidden {
  @include phone-media {
    display: none;
  }
}

.progress {
  @include progress-set-var(color, currentcolor);
}

.uploadProgress {
  margin-top: 1rem;
}
