@import 'app-globals';

$mobile-spacing: 2rem;
$desktop-spacing: 5.5rem;

:root {
  --documentation-page-banner-bg: #{$rmd-grey-200};
  --documentation-page-banner-border: #{$rmd-grey-400};
  --documentation-page-spacing: #{$mobile-spacing};
}

@include dark-theme {
  --documentation-page-banner-bg: #{rmd-theme-var(surface)};
  --documentation-page-banner-border: #{lighten($dark-theme-surface-color, 13%)};
}

.documentation-page {
  padding-left: var(--documentation-page-spacing);
  padding-right: var(--documentation-page-spacing);
  margin: auto;

  @media (min-width: 600px) {
    --documentation-page-spacing: #{$desktop-spacing};
  }

  &__banner {
    background-color: var(--documentation-page-banner-bg);
    border-bottom: 4px solid var(--documentation-page-banner-border);
    margin: 0 calc(-1 * var(--documentation-page-spacing));
    padding: 1em var(--documentation-page-spacing);
    position: relative;
  }

  &__banner-source {
    @include rmd-theme(color, text-hint-on-background);
    @include rmd-typography(subtitle-2);

    position: absolute;
    left: var(--documentation-page-spacing);
    bottom: 1rem;
    transition: color .15s linear;

    &:hover {
      @include rmd-theme(color, text-secondary-on-background);

      text-decoration: underline;
    }

    @media (min-width: 800px) {
      @include rmd-typography(subtitle-1);
    }

    @media (min-width: 1200px) {
      @include rmd-typography(headline-6);
    }
  }
}
