@import '~sass-utils';

.react-doc-footer {
  background: $md-grey-900;
  color: $md-white-base;
  min-height: $footer-min-height;
  padding: 2em;

  .md-title {
    color: inherit;
  }

  .container {
    @extend %centered;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      padding-top: 2em;
    }
  }

  .contact {
    flex-shrink: 0;
    padding-right: 2em;
  }
}
