@import '~react-md-scss';
@import '~sass-utils';

.react-doc-footer {
  background: $md-grey-900;
  color: $md-white-base;
  min-height: $footer-min-height;

  .md-title,
  .md-body-2 {
    color: inherit;
  }
}
