@import '~@react-md/sizing/dist/scss/mixins';
@import '~@react-md/utils/dist/scss/mixins';

.app-bar-container {
  @include rmd-utils-block-centered;

  max-width: 40rem;

  > .rmd-app-bar {
    margin: 2rem auto;
  }

  @include rmd-sizing-phone-media {
    margin: 0;
    max-width: none;
  }
}
