.content-container {
  position: relative;
  overflow: hidden;
}

.content-container > div {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.content-container > div > span > div {
  position: relative;
  top: 0;
  bottom: auto;
  box-shadow: initial;
  z-index: 1;
  margin-bottom: 0;
}

.content-container > div > span > div:not(:first-child) {
  display: none;
  animation: initial;
}

.content-container form {
  position: relative;
  z-index: 2;
}

.cta-container select {
  margin-bottom: 10px;
}
.cta-container > button {
  margin-bottom: 5px;
  background: rgb(204, 204, 204);
}

.cta-container button {
  display: block;
  border-radius: 50px;
}

.cta-container .dropdown {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  margin: 0 auto;
}

.cta-container .dropdown span span {
  margin-left: 10px;
}

.button-container {
  display: flex;
  padding: 2px 4px;
  width: 100%;
  padding-bottom: 5px;
  justify-content: flex-end;
  position: relative;
}

.button-container > span {
  position: absolute;
  top: 15px;
  left: 15px;
}

.button-container button {
  margin-right: 5px;
}

.button-container button:last-child {
  margin-right: 0px;
}

button.secondary {
  background: #f50057;
  color: white;
}

button.primary {
  background: rgb(0, 159, 255);
  color: white;
}
