@import '~react-md-scss/helpers/all';

@media only screen and (min-width: 0) and (max-width: 599px) {
  .addr-inline {
    padding-left: $md-text-field-mobile-icon-divider-left;
  }
}

@media only screen and (min-width: 600px) {
  .addr-inline {
    padding-left: $md-text-field-desktop-icon-divider-left;
  }
}

.addr-inline {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .md-text-field-container {
    display: inline-block;
  }

  .zip {
    max-width: 44px;
  }
}

.person-placeholder {
  $pp-height: 180px;
  $person-height: $md-font-size-base * 16.5px;
  background: rgba($black-base, .08);
  height: $pp-height;

  .person {
    bottom: -38px;
    color: rgba($black-base, .10);
    font-size: $person-height;
    left: 50%;
    padding: 0;
    position: absolute;
    transform: translate3d(-50%, 0, 0);
  }
}

.documentation-select-field {
  .fake-text-editor {
    align-items: center;
    display: flex;
  }

  .font-names {
    width: 185px;
  }
}
