@use "everything" as *;

.container {
  max-height: 25rem;
}

.sticky {
  // if you don't need auto-RTL support, you could just set the `left` value
  // instead of using the mixin and updating the css variable
  // @include  table-set-var(sticky-cell, 4rem);
  @include table-set-var(
    sticky-cell,
    calc(
      $table-cell-input-toggle-horizontal-padding * 2 +
        $input-toggle-normal-size * 2
    )
  );
}
