@use "everything" as *;

.selected {
  @include table-set-var(cell-color, currentcolor);

  @include mouse-hover {
    background-color: color-mix(
      in srgb,
      theme-get-var(primary-color) 80%,
      theme-get-var(on-primary-color)
    );
  }
}
