@import '~@react-md/avatar/dist/mixins';

.customizing-select-options {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
}

.customizing-select-options__value {
  @include rmd-avatar-theme-update-var(size, 1.5rem);
  @include rmd-avatar-theme-update-var(font-size, 0.75rem);
}
