@import '~@react-md/utils/dist/mixins';

.choice-chips {
  @include rmd-utils-block-centered;

  max-width: 18rem;

  &__size {
    margin: 0.5rem 0;
  }

  &__container {
    @include rmd-utils-scroll(x);

    display: flex;
    margin-bottom: 1rem;
  }

  &__chip + .choice-chips__chip {
    margin-left: 0.5rem;
  }

  &__button {
    width: 100%;
  }
}
