$spacing: 0.5rem;

.input-chips {
  align-items: flex-start;
  display: flex;

  &__label {
    margin-right: $spacing;
    margin-top: 0.725rem;

    &--chipped {
      margin-top: 0.75rem;
    }

    &--stacked {
      margin-top: $spacing / 2;
    }
  }

  &__chip {
    margin-bottom: var(--mb, 0);
    margin-right: $spacing;
  }

  &__remove {
    transform: rotate(45deg);
  }

  &__field {
    flex-grow: 1;
    min-width: 10rem;
  }

  &__grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    &--stacked {
      #{--mb}: #{$spacing};
    }
  }
}
