@import '~globals';

.examples-page__card__description {
  margin-bottom: 16px;
}

.examples-page__example-link {
  border: 0;
  left: -1000px;
  outline: none;
  padding: 0;
  position: fixed;
  top: -1000px;

  &-btn {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 90deg);

    &:focus,
    &--active {
      opacity: 1;
    }

    &.md-btn {
      transition-duration: .5s;
      transition-property: background, opacity;
    }

    @media (max-width: #{$md-desktop-min-width - 1}) {
      display: none;
    }
  }
}
