@use "everything";

@include everything.styles;
@include everything.code-styles;

// See the next.config.mjs to see how the `$env` gets defined
$is_production: $env == production;

@layer theme {
  :root {
    @if everything.$color-scheme ==
      system and not
      everything.$disable-default-system-theme
    {
      @media (prefers-color-scheme: dark) {
        @include everything.dark-theme(false);
      }
    }

    --toc-width: 18rem;
    --code-inline-font-family: var(--source-code-pro);
    @if everything.$color-scheme != dark {
      @include everything.light-theme(false);
    } @else {
      @include everything.dark-theme(false);
    }

    @if everything.$disable-default-root-theme {
      @include everything.variables;
      @include everything.code-variables;

      @if everything.$color-scheme ==
        system and
        everything.$disable-default-system-theme and
        $is_production
      {
        @media (prefers-color-scheme: dark) {
          @include everything.dark-theme(true);
        }
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}

.rmd-layout-main :where([id]) {
  scroll-margin-top: calc(0.5rem + everything.layout-get-var(header-height));
}

// global utility classes
@include everything.phone-media {
  .display-none-phone {
    display: none !important;
  }
}
