@use 'react-md' with (
  $rmd-utils-desktop-min-width: 92em,
  $rmd-utils-large-desktop-min-width: 120em,
);

.container {
  @include react-md.rmd-grid(
    $phone-columns: 1,
    $tablet-columns: 2,
    $desktop-columns: 3,
    $large-desktop-columns: 4
  );

  fieldset {
    @include react-md.rmd-utils-tablet-media {
      @include react-md.rmd-grid-cell-full;
    }
  }

  :global .rmd-divider {
    @include react-md.rmd-utils-tablet-media {
      @include react-md.rmd-grid-cell-full;
    }
  }

  :global .rmd-floating-label {
    text-transform: capitalize;
  }
}
