@use 'react-md';

.container {
  color: react-md.$rmd-black-base;
  display: flex;
  font-weight: map-get(react-md.$rmd-typography-font-weights, bold);
  justify-content: space-between;
  padding: 1rem;
}

.header {
  margin: 0 0 1em;
  width: 100%;
}

.primary {
  flex-wrap: wrap;
}

.secondary {
  margin-top: 0.5rem;
}

@each $name, $color in react-md.$rmd-theme-color-map {
  $name: react-md.str-replace($name, 'rmd-', '');

  .#{$name} {
    background-color: $color;

    @if react-md.rmd-theme-tone($color, 4.5) == dark {
      color: react-md.$rmd-white-base;
    }
  }
}
