@import '~normalize.css';
@import '~react-md-scss';

$md-picker-include-forceful-classes: true;
$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-deep-orange-a-200;

@include react-md-everything;
@include react-md-make-custom-grid('40-16', 40px, 16px, 0);

.md-title--toolbar {
  ~ .documentation-tabs {
    left: 0;
  }
}

.md-title--permanent-offset,
.md-title--persistent-offset {
  ~ .documentation-tabs {
    left: $md-drawer-tablet-width;
  }
}

.documentation-tabs {
  bottom: 0;
  position: absolute;
  right: 0;
}

.md-avatar--svg svg {
  height: 22px;
  width: 22px;
}

.google-logo {
  background: $md-white-base;
}

.react-md-logo {
  margin-bottom: 2em;
}

// scss-lint:disable IdSelector
#not-found-circle-1 {
  fill: $md-light-blue-700;
}

#not-found-circle-2 {
  fill: $md-light-blue-600;
}

#not-found-circle-3 {
  fill: $md-primary-color;
}

.react-md-404 {
  background: $md-light-blue-800;
}

.react-md-404-oval {
  fill: $md-secondary-color;
}

.fa.md-icon {
  font-size: $md-font-icon-size;
}

