/// A mixin for creating a custom theme for the documentation website.
/// It will choose the least amount of styles required to update to the
/// new theme.
@mixin custom-theme($primary, $secondary, $dark-theme, $force: false) {
  .custom-theme {
    @include style-logo-to-theme($primary, $secondary, $force);
    @include style-404-page-to-theme($primary, $secondary, $force);
    @include style-markdown-to-theme($dark-theme);
  }
}

@mixin style-logo-to-theme($primary, $secondary, $force: false) {
  @if $primary != $md-primary-color or $force {
    .home__banner {
      background: $primary;
    }

    .home__logo--primary {
      fill: $primary;
    }
  }

  @if $secondary != $md-secondary-color or $force {
    .home__logo--secondary {
      fill: $secondary;
    }
  }
}

@mixin style-404-page-to-theme($primary, $secondary, $force: false) {
  @if $force or $primary != $md-primary-color {
    .not-found {
      background: get-swatch($primary, 800);

      &__svg--circle {
        &-1 {
          fill: get-swatch($primary, 700);
        }

        &-2 {
          fill: get-swatch($primary, 600);
        }

        &-3 {
          fill: $primary;
        }
      }
    }
  }

  @if $force or $secondary != $md-secondary-color {
    .not-found__svg-oval {
      fill: $secondary;
    }
  }
}

@mixin style-markdown-to-theme($dark-theme) {
  @if $dark-theme {
    blockquote {
      border-left-color: get-color('divider', false);

      p {
        color: get-color('secondary', false);
      }
    }

    ul:not(.md-list) {
      color: get-color('text', false);
    }

    a:not(.md-btn) {
      color: $md-purple-a-400;

      &:visited {
        color: $md-purple-a-100;
      }
    }

    .prop-types__prop-type {
      pre,
      code {
        color: $md-white-base;
        text-shadow: 0 1px get-color('secondary', true);
      }
    }
  }
}
