@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/utils/dist/mixins';

$blind-height: 1.5rem;
$blind-margin: 2px;
$blind-margin-extra: 8px;
$blind-rotation: 12deg;
$blind-rotation-extra: 24deg;

.action-chips {
  @include rmd-utils-block-centered;
  @media screen and (min-width: 23.4375em) {
    width: 19rem;
  }

  overflow: hidden;
  position: relative;
  width: 15rem;

  &__chips {
    @include rmd-utils-scroll(x);

    display: flex;
  }

  &__chip {
    margin: 0.25rem;

    &--yellow {
      @include rmd-icon-theme-update-var(color, $rmd-yellow-300);
    }
  }

  &__sheet {
    position: absolute;
  }

  &__blinds {
    @include rmd-transition(deceleration);

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transform-origin: top;
    width: 100%;

    &--animate {
      @include rmd-transition(deceleration);

      transition: transform 1.5s;
    }

    &--enter {
      transform: scaleY(0);
    }

    &--enter-active {
      transform: scaleY(1);
    }

    &--exit {
      transform: scaleY(1);
    }

    &--exit-active {
      transform: scaleY(0);
    }
  }

  &__blind {
    @include rmd-elevation(8);

    background-color: rgba($rmd-white-base, 0.94);
    flex-shrink: 0;
    height: $blind-height;
    margin-bottom: $blind-margin-extra;
    transform: skewX($blind-rotation-extra);
    width: 100%;

    &--animate {
      @include rmd-transition(standard);
      $duration: 2s;

      transition: margin-bottom $duration, transform $duration;
    }

    &--enter {
      margin-bottom: $blind-margin-extra;
      transition-delay: 0.5s;
    }

    &--enter-active {
      margin-bottom: $blind-margin;
      transform: skewX($blind-rotation);
    }

    &--done {
      margin-bottom: $blind-margin;
      transform: skewX($blind-rotation);
    }

    &--exit {
      margin-bottom: $blind-margin;
      transform: skewX($blind-rotation);
    }

    &--exit-active {
      margin-bottom: $blind-margin-extra;
      transform: skewX($blind-rotation-extra);
    }
  }
}
