@import '~@react-md/elevation/dist/scss/mixins';
@import '~@react-md/list/dist/scss/mixins';
@import '~@react-md/theme/dist/scss/mixins';
@import '~@react-md/typography/dist/scss/mixins';

.elevations-container {
  @include rmd-list-unstyled;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.elevation-container {
  @include rmd-theme(background-color, background);

  display: inline-flex;
  height: 10rem;
  margin: 1rem;
  position: relative;
  width: 18rem;

  @for $i from 0 through 24 {
    &--#{$i} {
      @include rmd-elevation($i);
    }
  }

  &__import {
    margin: auto;
  }
}
