@use "everything";

.container:hover,
.container > div:focus-within {
  outline: everything.interaction-get-var(focus-color) solid
    everything.interaction-get-var(focus-width);
}

.code {
  pointer-events: none;
  position: relative;
}

.textArea {
  background: none;
  border: 0;
  border-left: var(--code-border-left);
  color: inherit;
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  height: 100%;
  left: 0;
  line-height: var(--code-line-height);
  margin: var(--code-margin, 0);
  overflow: hidden;
  overflow-wrap: break-word;
  padding: var(--code-padding, 1rem);
  position: absolute;
  resize: none;
  tab-size: var(--code-tab-size);
  -webkit-text-fill-color: transparent;
  top: 0;
  white-space: pre;
  width: 100%;
  word-break: keep-all;
}
