@use "everything" as *;

.container {
  // these are the defaults. uncomment and change the values to see how the demo
  // changes
  // @include  typography-set-var(
  //   line-length,
  //    $text-line-length
  // );
  // @include  typography-set-var(
  //   text-container-padding,
  //    $text-container-padding
  // );
}
