@use "everything";

.sheet {
  @include everything.tablet-media {
    @include everything.window-splitter-set-var(
      top,
      everything.$app-bar-height
    );
    top: everything.$app-bar-height;
    width: calc(var(--how-to-use-width, everything.$sheet-static-width) - 1rem);
  }

  width: everything.$sheet-static-width;
  z-index: everything.$app-bar-fixed-z-index + 1;
}

.header {
  gap: 1rem;
}

.title {
  text-transform: capitalize;
}

.fullscreen {
  inset: 0;
  width: auto;
  z-index: everything.$dialog-z-index;

  :global(.rmd-window-splitter) {
    display: none;
  }
}

.fullscreenHeader {
  padding: 0 1rem 1rem;
}
