@use "everything";

.fieldset {
  padding-bottom: 2rem;
}

.firstLabel {
  @include everything.rtl {
    transform: translateX(0);
  }

  transform: translateX(0);
}

.lastLabel {
  @include everything.rtl {
    transform: translateX(100%);
  }

  transform: translateX(-100%);
}
