@use "sass:map";
@use "everything" as *;

.kbd {
  background-color: map.get($dark-elevation-colors, 4);
  border-radius: 0.25em;
  color: $white;
  display: none;
  font-family: var(--code-inline-font-family);
  line-height: 1;
  padding: 0.25em 0.5em;
  white-space: pre;

  @include tablet-media {
    display: inline;
  }
}
