@use "everything" as *;

.button {
  @include theme-set-var(outline-color, theme-get-var(on-background-color));

  @include tablet-media {
    padding-right: 0.5rem;

    @include rtl {
      padding-left: 0.5rem;
      padding-right: button-get-var(text-horizontal-padding);
    }
  }
}

.dialog {
  @include theme-set-var(background-color, get-dark-elevation-color(0));

  align-self: flex-start;

  @include tablet-media {
    height: 40rem;
  }
}
