@import '~@react-md/theme/dist/scss/mixins';
@import '~@react-md/sizing/dist/scss/mixins';
@import '~@react-md/elevation/dist/scss/mixins';

.mq-example {
  @include rmd-sizing-phone-media {
    // only applied **up** to the phone max width
    border: 1px solid rmd-theme-var(error);
  }

  @include rmd-sizing-tablet-only-media {
    // only applied between the phone max width + 1 and the tablet max width
    border: 4px solid rmd-theme-var(warning);
  }

  @include rmd-sizing-tablet-media {
    // everything tablet sized and up will gain an elevation of 4
    @include rmd-elevation(4);

    // now that we have more real estate, double the padding for tablets
    // and above
    padding: 2rem;
  }

  @include rmd-sizing-desktop-media {
    // add a primary border ond desktops
    border: 2px solid rmd-theme-var(primary);
  }

  @include rmd-sizing-large-desktop-media {
    // increase the box-shadow on large screens
    @include rmd-elevation(8);
  }

  // every size will gain a 1rem margin and padding
  margin: 1rem;
  padding: 1rem;
}
