////
/// @group badge
////

@import '~@react-md/theme/dist/color-palette';

/// The height and width to use for a circular badge.
/// @type Number
$rmd-badge-size: 1.5rem !default;

/// The border radius to use for a circular badge.
/// @type Number
$rmd-badge-border-radius: 50% !default;

/// The "default" background color.
///
/// @require $rmd-black-base
/// @type Color
$rmd-badge-default-background-color: rgba($rmd-black-base, 0.2) !default;

/// The "default" themed text color.
///
/// @require rmd-theme-tone
/// @require $rmd-black-base
/// @require $rmd-white-base
/// @type Color
$rmd-badge-default-color: if(
  rmd-theme-tone($rmd-badge-default-background-color) == light,
  $rmd-black-base,
  $rmd-white-base
) !default;

/// The badge's font size.
/// @type Number
$rmd-badge-font-size: 0.625rem !default;

/// The `top` position for the badge.
/// @type Number
$rmd-badge-offset-top: 0 !default;

/// The `right` position for the badge. This will be swapped to be `left` for
/// rtl languages.
/// @type Number
$rmd-badge-offset-right: 0 !default;

/// A Map of all the "themeable" parts of the badge package. Every key in this
/// map will be used to create a css variable to dynamically update the values
/// of the icon as needed.
/// @type Map
$rmd-badge-theme-values: (
  background-color: $rmd-badge-default-background-color,
  color: $rmd-badge-default-color,
  border-radius: $rmd-badge-border-radius,
  font-size: $rmd-badge-font-size,
  size: $rmd-badge-size,
  top: $rmd-badge-offset-top,
  right: $rmd-badge-offset-right,
) !default;
