.code {
  pointer-events: none;
  position: relative;
}

.textArea {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  height: 100%;
  inset: 0;
  margin: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 1rem;
  padding-left: 3.5rem;
  position: absolute;
  resize: none;
  tab-size: inherit;
  -webkit-text-fill-color: inherit;
  white-space: pre-wrap;
  width: 100%;
  word-break: keep-all;
}
