@use "everything";

$vertical-inset: 0.5rem;
$inset: $vertical-inset 0;
$border-radius: 0.5rem;

.tabs {
  @include everything.interaction-set-var(ripple-inset, $inset);
  @include everything.interaction-set-var(ripple-border-radius, $border-radius);
  @include everything.interaction-set-var(surface-inset, $inset);
  @include everything.interaction-set-var(
    surface-border-radius,
    $border-radius
  );
}

.tab {
  min-width: 0;

  &::after {
    transform: translateY(-$vertical-inset / 2);
  }
}
