////
/// @group typography
////


/// @private
@function md-typography-get-global-variable($style) {
  @if $style == 'headline-1' {
    @return $md-typography-styles-headline-1;
  } @else if $style == 'headline-2' {
    @return $md-typography-styles-headline-2;
  } @else if $style == 'headline-3' {
    @return $md-typography-styles-headline-3;
  } @else if $style == 'headline-4' {
    @return $md-typography-styles-headline-4;
  } @else if $style == 'headline-5' {
    @return $md-typography-styles-headline-5;
  } @else if $style == 'headline-6' {
    @return $md-typography-styles-headline-6;
  } @else if $style == 'subtitle-1' {
    @return $md-typography-styles-subtitle-1;
  } @else if $style == 'subtitle-2' {
    @return $md-typography-styles-subtitle-2;
  } @else if $style == 'body-1' {
    @return $md-typography-styles-body-1;
  } @else if $style == 'body-2' {
    @return $md-typography-styles-body-2;
  } @else if $style == 'caption' {
    @return $md-typography-styles-caption;
  } @else if $style == 'button' {
    @return $md-typography-styles-button;
  } @else if $style == 'overline' {
    @return $md-typography-styles-overline;
  }

  @return ();
}

/// @private
@function md-typography-set-styles($base-styles, $additional-styles) {
  @each $style, $style-props in $additional-styles {
    $style-props: map-merge($base-styles, $style-props);

    @if global-variable-exists(md-typography-styles-#{$style}) {
      $style-props: map-merge($style-props, md-typography-get-global-variable(#{$style}));
    }

    $additional-styles: map-merge($additional-styles, (#{$style}: $style-props));
  }

  @return $additional-styles;
}

/// @private
@function md-typography-get-letter-spacing($tracking, $font-size) {
  @return $tracking / ($font-size * 16) * 1em;
}
