{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "env": {
    "development": {
      "sourceMaps": true
    }
  }
}
