{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": ["react-hot-loader/babel", "transform-decorators-legacy", "syntax-async-functions", "transform-regenerator"],
  "env": {
    "development": {
      "sourceMaps": true
    }
  }
}
