@import '@react-md/elevation/dist/mixins';
@import '@react-md/divider/dist/mixins';
@import '@react-md/theme/dist/mixins';
@import '@react-md/typography/dist/mixins';
@import '@react-md/sizing/dist/mixins';

.demo {
  @include rmd-sizing-tablet-media {
    padding: 0 6rem;
  }

  padding: 0 2rem;

  &__divider {
    margin-bottom: 2rem;
    margin-top: 6rem;
  }

  &__title {
    overflow-wrap: break-word;
  }

  &__description {
    @include rmd-typography(subtitle-1);
    @include rmd-typography-theme(max-width, line-width);

    p {
      font: inherit;
    }

    strong {
      font-weight: map-get($rmd-typography-font-weights, bold);
    }

    em {
      font-style: italic;
    }
  }

  &__preview {
    @include rmd-elevation(2);
    @include rmd-theme(background-color, surface);

    padding: 2rem;
  }

  &__container {
    > * {
      margin: 2rem 1rem;
    }
  }
}
