////
/// @group helpers
////

%md-inline-block {
  display: inline-block;
  vertical-align: bottom;
}

%md-full-width {
  width: 100%;
}

%md-block-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin react-md-helpers-everything {
  @include react-md-helpers-blocks;
}

@mixin react-md-helpers-blocks {
  .md-inline-block {
    @extend %md-inline-block;
  }

  .md-full-width {
    @extend %md-full-width;
  }

  .md-block-centered {
    @extend %md-block-centered;
  }
}
