@import 'helpers/variables';

$md-mobile-max-width: $md-desktop-min-width - 1;

@media only screen and (min-width: #{$md-mobile-min-width}) and (max-width: #{$md-mobile-max-width}) {
  // @include md-typography-mobile();
  @include md-lists-mobile();
  @include md-select-field-mobile();
  @include md-sidebar-mobile();
  @include md-snackbar-mobile();
  @include md-tab-mobile();
  // @include md-text-field-mobile();
  @include md-tooltips-mobile();
  @include md-navigation-drawer-mobile();
}

@media only screen and (min-width: #{$md-desktop-min-width}) {
  // @include md-typography-desktop();
  @include md-navigation-drawer-desktop();
  @include md-buttons-desktop();
  @include md-lists-desktop();
  @include md-select-field-desktop();
  @include md-sidebar-desktop();
  @include md-snackbar-desktop();
  @include md-tab-desktop();
  // @include md-text-field-desktop();
  @include md-toolbar-desktop();
  @include md-tooltips-desktop();

  .md-picker:not(.portrait) {
    @include md-pickers-landscape();
  }
}

@media only screen and (orientation: portrait) and (min-width: #{$md-mobile-min-width}) and (max-width: #{$md-mobile-max-width}) {
  @include md-toolbar-mobile-portrait();
  @include md-navigation-drawer-mobile-portrait();

  .md-picker:not(.landscape) {
    @include md-pickers-portrait();
  }
}

@media only screen and (orientation: landscape) and (min-width: #{$md-mobile-min-width}) and (max-width: #{$md-mobile-max-width}) {
  @include md-toolbar-mobile-landscape();
  @include md-navigation-drawer-mobile-landscape();

  .md-picker:not(.portrait) {
    @include md-pickers-landscape();
  }
}

@media only screen and (orientation: landscape) and (min-width: #{$md-tablet-min-width}) and (max-width: #{$md-mobile-max-width}) {
  @include md-navigation-drawer-tablet-landscape();
}
