$primary: get-md-color($md-primary-color);
$secondary: get-md-color($md-secondary-color, $md-secondary-color-hue, true);
$text: $white-base;
$disabled-text: rgba($text, .7);

@include md-theme-text-fields($primary);
@include md-theme-snackbars();
@include md-theme-date-pickers($primary, get-md-color($md-primary-color, 5));
@include md-theme-select-fields($primary);
@include md-theme-sliders($md-indigo-500);

.md-primary {
  @include md-theme-toolbars($primary, $white-base);
  @include md-theme-buttons($primary);
  @include md-theme-tabs($primary, $secondary, $text, $disabled-text);
}

.md-secondary {
  @include md-theme-buttons($secondary);
  $secondary: get-md-color($md-secondary-color);
  @include md-theme-toolbars($secondary, $white-base);
  @include md-theme-tabs($secondary, $primary, $text, $disabled-text);
}

@each $item in $md-avatar-colors {
  $bg-color: nth($item, 1);
  $text-color: nth($item, 2);
  $suffix: nth($item, 3);

  @include md-theme-avatars-suffix($bg-color, $text-color, $suffix);
}
