$primary: $md-indigo-500;
$secondary: $md-pink-a-200;

@include md-theme-text-fields($primary);
@include md-theme-snackbars($primary);
@include md-theme-date-pickers($primary, $md-indigo-400);
@include md-theme-lists($primary);
@include md-theme-progress($md-blue-500, $md-blue-200);
@include md-theme-select-fields($primary);
@include md-theme-selection-controls($primary);
@include md-theme-sliders($md-indigo-500);

.md-primary {
  @include md-theme-toolbars($primary, $md-white-base);
  @include md-theme-buttons($primary);
  @include md-theme-tabs($primary, $secondary);
}

.md-secondary {
  @include md-theme-buttons($secondary);
  $secondary: $md-pink-500;
  @include md-theme-toolbars($secondary, $md-white-base);
  @include md-theme-tabs($secondary, $primary);
}

@each $item in $md-avatar-colors {
  $bg-color: nth($item, 1);
  $text-color: nth($item, 2);
  $suffix: nth($item, 3);

  @include md-theme-avatars-suffix($bg-color, $text-color, $suffix);
}
