@include md-theme-most();

@each $item in $md-avatar-colors {
  $bg-color: nth($item, 1);
  $text-color: nth($item, 2);
  $suffix: nth($item, 3);

  @include md-theme-avatars-suffix($bg-color, $text-color, $suffix);
}

