.opacity-enter,
.opacity-enter *,
.opacity-leave.opacity-leave-active,
.opacity-leave.opacity-leave-active * {
  opacity: .01;
}

.opacity-enter.opacity-enter-active,
.opacity-enter.opacity-enter-active *,
.opacity-leave,
.opacity-leave * {
  opacity: 1;
}

.opacity-enter.opacity-enter-active,
.opacity-enter.opacity-enter-active *,
.opacity-leave.opacity-leave-active,
.opacity-leave.opacity-leave-active * {
  transition: opacity $md-transition-time;
}


.tab-enter,
.tab-enter * {
  opacity: .01;

  &.tab-enter-active,
  &.tab-enter-active * {
    opacity: 1;
    transition: opacity $md-transition-time;
  }
}

.md-swipe-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);

  &.md-swipe-left-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform $md-transition-time, opacity $md-transition-time;
  }
}

.md-swipe-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);

  &.md-swipe-right-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform $md-transition-time, opacity $md-transition-time;
  }
}
