*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  font-family: $md-font-family;
  line-height: $md-line-height;
}

html {
  background: $md-background-color;
  font-size: #{$md-font-size-base}px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

%md-text {
  color: $md-text-color;
}

%md-secondary-text {
  color: $md-secondary-text-color;
}

%md-hint-text,
%md-disabled-text {
  color: $md-hint-text-color;
}

%md-tracking--10 {
  letter-spacing: -.1px;
}

%md-tracking--5 {
  letter-spacing: -.05px;
}

%md-tracking-0 {
  letter-spacing: 0;
}

%md-tracking-5 {
  letter-spacing: .5px;
}

%md-tracking-10 {
  letter-spacing: .1px;
}

%md-tracking-20 {
  letter-spacing: .2px;
}

%md-display-1,
%md-display-2,
%md-display-3,
%md-display-4,
%md-headline,
%md-title,
%md-subheading-1,
%md-subheading-2,
%md-body-1,
%md-body-2,
%md-caption {
  margin: 0;
}

%md-display-1,
%md-display-2,
%md-display-3,
%md-display-4,
%md-headline,
%md-title {
  margin-bottom: #{$md-font-size-base}px;
}

%md-subheading-1,
%md-subheading-2,
%md-body-1,
%md-body-2,
%md-caption {
  margin-bottom: 10px;
}



%md-display-3,
%md-display-4,
%md-title {
  white-space: nowrap;
}

%md-display-1,
%md-display-2,
%md-display-3,
%md-headline,
%md-subheading-1,
%md-subheading-2,
%md-body-1,
%md-caption {
  font-weight: $md-font-regular;
}

.md-btn,
%md-title,
%md-body-2 {
  font-weight: $md-font-medium;
}

%md-display-4 {
  @extend %md-secondary-text;
  @extend %md-tracking--10;

  font-size: $md-display-4-font-size;
  font-weight: $md-font-light;
  line-height: $md-display-4-line-height;
}

%md-display-3 {
  @extend %md-secondary-text;
  @extend %md-tracking--5;

  font-size: $md-display-3-font-size;
  line-height: $md-display-3-line-height;
}

%md-display-2 {
  @extend %md-secondary-text;
  @extend %md-tracking-0;

  font-size: $md-display-2-font-size;
  line-height: $md-display-2-line-height;
}

%md-display-1 {
  @extend %md-secondary-text;
  @extend %md-tracking-0;

  font-size: $md-display-1-font-size;
  line-height: $md-display-1-line-height;
}

%md-headline {
  @extend %md-text;
  @extend %md-tracking-0;

  font-size: $md-headline-font-size;
  line-height: $md-headline-line-height;
}

%md-title {
  @extend %md-text;
  @extend %md-tracking-5;

  font-size: $md-title-font-size;
  line-height: $md-title-line-height;
}

%md-subheading-2 {
  @extend %md-text;
  @extend %md-tracking-10;

  line-height: $md-subheading-2-line-height;
}

%md-subheading-1 {
  @extend %md-tracking-10;
  @extend %md-text;

  line-height: $md-subheading-1-line-height;
}

.md-btn,
%md-body-1,
%md-body-2 {
  @extend %md-tracking-10;
}

%md-caption {
  @extend %md-secondary-text;
  @extend %md-tracking-20;

  font-size: $md-caption-font-size;
}

.md-icon {
  font-size: $md-font-icon-size;
}

// ===================================================
// Creating real classes

.md-display-1 {
  @extend %md-display-1;
}

.md-display-2 {
  @extend %md-display-2;
}

.md-display-3 {
  @extend %md-display-3;
}

.md-display-4 {
  @extend %md-display-4;
}

.md-headline {
  @extend %md-headline;
}

.md-title {
  @extend %md-title;
}

.md-subheading-1 {
  @extend %md-subheading-1;
}

.md-subheading-2 {
  @extend %md-subheading-2;
}

.md-body-1 {
  @extend %md-body-1;
}

.md-body-2 {
  @extend %md-body-2;
}

.md-caption {
  @extend %md-caption;
}
