@import '~@react-md/theme/dist/scss/color-palette';
@import '~@react-md/transition/dist/scss/mixins';
@import '~@react-md/states/dist/scss/mixins';

// need extra precedence since the app bar has inherit colors which we want
// for all other actions except this one.
.toggle-theme {
  &--on {
    color: $rmd-yellow-500;
    // only needed for the menu-item implementation
    fill: currentColor;
  }

  @include rmd-states-mouse-only {
    &--on:hover {
      color: inherit;
    }

    &--off:hover {
      color: $rmd-yellow-500;
    }
  }
}

.toggle-theme-transition {
  @include rmd-transition(standard);

  transition-duration: 0.15s;
  transition-property: background-color, color;
}
