.message {
  position: absolute;
  width: 100%;
  bottom: 70px;
  z-index: 6;
}

.message-enter {
  -webkit-animation: fade-in 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: fade-in 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fade-in 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hide span > div, .message-leave {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .message {
    bottom: 0;
  }
}
