@import '~@react-md/icon/dist/mixins';
@import '~@react-md/utils/dist/mixins';

.container {
  display: flex;
  justify-content: center;
}

.group {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button {
  margin: 1rem auto;
}

.text {
  // since the icon is aligned to the end with margin, the default icon spacing can't
  // be applied as it relies on margin as well. If you apply padding to an icon, the sizing
  // gets messed up so it's easier to apply it to the text element here. now we have the same
  // text spacing as before for the largest button.
  @include rmd-icon-text-spacing($property: padding-right);
}

.icon {
  // align the icon to the end since equal width buttons look bad with centered text/icons
  @include rmd-utils-rtl-auto(margin-left, auto);
}
