@import 'variables';
@import '~@react-md/alert/dist/mixins';
@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/avatar/dist/mixins';
@import '~@react-md/badge/dist/mixins';
@import '~@react-md/button/dist/mixins';
@import '~@react-md/card/dist/mixins';
@import '~@react-md/chip/dist/mixins';
@import '~@react-md/dialog/dist/mixins';
@import '~@react-md/divider/dist/mixins';
@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/form/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/link/dist/mixins';
@import '~@react-md/list/dist/mixins';
@import '~@react-md/media/dist/mixins';
@import '~@react-md/menu/dist/mixins';
@import '~@react-md/overlay/dist/mixins';
@import '~@react-md/progress/dist/mixins';
@import '~@react-md/sheet/dist/mixins';
@import '~@react-md/states/dist/mixins';
@import '~@react-md/table/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/tooltip/dist/mixins';
@import '~@react-md/transition/dist/mixins';
@import '~@react-md/tree/dist/mixins';
@import '~@react-md/typography/dist/mixins';
@import '~@react-md/utils/dist/mixins';

@mixin grid(
  $phone-columns: 4,
  $tablet-columns: 8,
  $desktop-columns: 12,
  $large-desktop-columns: 12
) {
  @if $tablet-columns > $phone-columns {
    @include rmd-utils-tablet-media {
      --grid-cols: #{$tablet-columns};
    }
  }

  @if $desktop-columns > $tablet-columns {
    @include rmd-utils-desktop-media {
      --grid-cols: #{$desktop-columns};
    }
  }

  @if $large-desktop-columns > $desktop-columns {
    @include rmd-utils-large-desktop-media {
      --grid-cols: #{$large-desktop-columns};
    }
  }

  display: grid;
  grid-column-gap: var(--grid-gutter, 1rem);
  grid-row-gap: var(--grid-gutter, 1rem);
  grid-template-columns: repeat(var(--grid-cols, #{$phone-columns}), 1fr);

  > * {
    // this allows the children to shrink if needed so that they don't overflow
    // the entire grid
    min-width: 0;
  }
}

@mixin grid-width {
  grid-column: 1 / span var(--grid-cols);
}
