@import 'variables';
@import '~@react-md/app-bar/dist/scss/mixins';
@import '~@react-md/avatar/dist/scss/mixins';
@import '~@react-md/badge/dist/scss/mixins';
@import '~@react-md/button/dist/scss/mixins';
@import '~@react-md/card/dist/scss/mixins';
@import '~@react-md/chip/dist/scss/mixins';
@import '~@react-md/dialog/dist/scss/mixins';
@import '~@react-md/divider/dist/scss/mixins';
@import '~@react-md/elevation/dist/scss/mixins';
@import '~@react-md/form/dist/scss/mixins';
@import '~@react-md/icon/dist/scss/mixins';
@import '~@react-md/link/dist/scss/mixins';
@import '~@react-md/list/dist/scss/mixins';
@import '~@react-md/media/dist/scss/mixins';
@import '~@react-md/menu/dist/scss/mixins';
@import '~@react-md/overlay/dist/scss/mixins';
@import '~@react-md/progress/dist/scss/mixins';
@import '~@react-md/sheet/dist/scss/mixins';
@import '~@react-md/states/dist/scss/mixins';
@import '~@react-md/table/dist/scss/mixins';
@import '~@react-md/theme/dist/scss/mixins';
@import '~@react-md/tooltip/dist/scss/mixins';
@import '~@react-md/transition/dist/scss/mixins';
@import '~@react-md/tree/dist/scss/mixins';
@import '~@react-md/typography/dist/scss/mixins';
@import '~@react-md/utils/dist/scss/mixins';

@mixin grid(
  $phone-columns: 4,
  $tablet-columns: 8,
  $desktop-columns: 12,
  $large-desktop-columns: 12
) {
  @if $tablet-columns > $phone-columns {
    @include rmd-utils-tablet-media {
      --grid-cols: #{$tablet-columns};
    }
  }

  @if $desktop-columns > $tablet-columns {
    @include rmd-utils-desktop-media {
      --grid-cols: #{$desktop-columns};
    }
  }

  @if $large-desktop-columns > $desktop-columns {
    @include rmd-utils-large-desktop-media {
      --grid-cols: #{$large-desktop-columns};
    }
  }

  display: grid;
  grid-column-gap: var(--grid-gutter, 1rem);
  grid-row-gap: var(--grid-gutter, 1rem);
  grid-template-columns: repeat(var(--grid-cols, #{$phone-columns}), 1fr);
}
