@import 'app-globals';

.rmd-layout__nav {
  @include rmd-theme(background-color, surface);

  height: 100%;
  max-width: calc(100vw - 3.5rem);
  width: 100%;

  @media (min-width: 768px) {
    @include rmd-elevation(2);
    @include rmd-utils-scroll(y);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: $rmd-sheet-large-width;
    z-index: 9;
  }

  ~ .rmd-layout__app-bar {
    left: $rmd-sheet-large-width;
  }
}

.rmd-layout__nav-header {
  @include rmd-theme(background-color, surface);

  border-bottom: 1px solid rgba($rmd-black-base, .12);
  max-width: inherit;
  width: inherit;
}

.rmd-layout__nav-tree {
  padding-top: $rmd-app-bar-height + $rmd-list-dense-vertical-padding;
}

.rmd-layout__title {
  padding-left: 1rem;
}

.rmd-layout__main {
  padding-top: $rmd-app-bar-height;

  @media (min-width: 768px) {
    padding-left: $rmd-sheet-large-width;
  }
}


// temp stuffs
.rmd-subheader {
  @include rmd-theme(color, text-secondary-on-background);

  align-items: center;
  display: flex;
  height: $rmd-list-item-height;
  padding: $rmd-list-item-vertical-padding $rmd-list-item-horizontal-padding;
}

.rmd-divider {
  $rmd-divider-color: rgba($rmd-black-base, .12);

  background-color: $rmd-divider-color;
  height: .0625rem;
  margin: .46875rem 0;
  width: 100%;
}

.rmd-avatar {
  border-radius: 50%;
  height: $rmd-icon-size;
  width: $rmd-icon-size;
}
