@import 'app-globals';

.rmd-layout__nav {
  @include rmd-theme(background-color, surface);

  height: 100%;
  max-width: calc(100vw - 3.5rem);
  width: 100%;

  @media (min-width: 768px) {
    @include rmd-elevation(2);
    @include rmd-utils-scroll(y);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: $rmd-sheet-large-width;
    z-index: $rmd-app-bar-z-index + 1;
  }

  // ~ .rmd-layout__app-bar {
  //   left: $rmd-sheet-large-width;
  // }
}

.rmd-layout__app-bar {

  &--enter {
    @include rmd-transition(deceleration);

    transition: left .2s;
  }

  &--exit {
    @include rmd-transition(acceleration);

    transition: left .15s;
  }

  // &--offset {
  //   left: $rmd-sheet-large-width;
  // }
}

.rmd-layout__title {
  @include rmd-transition(acceleration);

  transform: translateX(0);
  transition: transform .2s;

  &--offset {
    transform: translateX(#{$rmd-sheet-large-width - $rmd-app-bar-title-keyline + $rmd-app-bar-keyline});
  }

  &--offset-2 {
    transform: translateX($rmd-sheet-large-width);
  }
}

.rmd-layout__nav-header {
  @include rmd-theme(background-color, surface);

  border-bottom: 1px solid rgba($rmd-black-base, .12);
  max-width: inherit;
  width: inherit;
}

.rmd-layout__nav-tree {
  @include rmd-utils-scroll(y);
  // margin-top: $rmd-app-bar-height + $rmd-list-dense-vertical-padding;
  max-height: calc(100% - #{$rmd-app-bar-height + $rmd-list-dense-vertical-padding});
}

.rmd-sheet--mini {
  bottom: 0;
  left: 0;
  top: $rmd-app-bar-height;
  z-index: 9;
}

.rmd-layout__main {
  @include rmd-transition(acceleration);

  padding-left: 0;
  padding-top: $rmd-app-bar-height;
  transition: padding-left .2s;

  &--offset {
    padding-left: $rmd-sheet-large-width;
  }

  // @media (min-width: 768px) {
  //   padding-left: $rmd-sheet-large-width;
  // }
}


// temp stuffs
.rmd-subheader {
  @include rmd-theme(color, text-secondary-on-background);

  align-items: center;
  display: flex;
  height: $rmd-list-item-height;
  padding: $rmd-list-item-vertical-padding $rmd-list-item-horizontal-padding;
}

.rmd-divider {
  $rmd-divider-color: rgba($rmd-black-base, .12);

  background-color: $rmd-divider-color;
  height: .0625rem;
  margin: .46875rem 0;
  width: 100%;
}

.rmd-avatar {
  border-radius: 50%;
  height: $rmd-icon-size;
  width: $rmd-icon-size;
}
