<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#e0e0e0">
    <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.publicUrl %>/favicon.ico">
    <title>react-md</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
