@use "everything";

.container {
  @include everything.layout-use-var(top, header-height);

  display: none;
  padding: 0 1rem;
  position: fixed;
  right: everything.scrollbar-size();
  width: var(--toc-width);

  @include everything.rtl {
    left: 0;
    right: auto;
  }
  @include everything.media-or-media-query(
    everything.$layout-navigation-breakpoint
  ) {
    display: grid;
    max-height: calc(100dvh - everything.layout-get-var(header-height));
    overflow: auto;
  }
}

.sticky {
  @include everything.theme-use-var(background-color);

  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
