@import '~@react-md/elevation/dist/scss/mixins';
@import '~@react-md/overlay/dist/scss/mixins';
@import '~@react-md/theme/dist/scss/mixins';
@import '~@react-md/transition/dist/scss/mixins';

.fixed-position-form {
  margin-bottom: 5rem;
}

.fixed-position-div {
  @include rmd-elevation(2);
  @include rmd-theme(background-color, surface);

  padding: 1rem;
  z-index: $rmd-overlay-z-index + 1;
}

.fixed-position-footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.fixed-position {
  &--enter {
    transform: scale(0);
  }

  &--enter-active {
    @include rmd-transition(deceleration);

    transform: scale(1);
    transition: transform 0.2s;
  }

  &--exit {
    @include rmd-transition(acceleration);

    opacity: 1;
    transform: scale(1);
    transition: transform 0.15s, opacity 0.15s;
  }

  &--exit-active {
    opacity: 0;
    transform: scale(0);
  }
}
