@use 'react-md';

.list {
  margin: 0;
  margin-left: -1rem;
  padding-left: 2rem;
}

.item {
  @include react-md.rmd-link-theme-update-var(
    color,
    react-md.rmd-theme-var(text-primary-on-background)
  );
  @include react-md.rmd-link-theme-update-var(
    visited-color,
    react-md.rmd-theme-var(text-primary-on-background)
  );
  @include react-md.rmd-link-theme-update-var(
    hover-color,
    react-md.rmd-theme-var(text-secondary-on-background)
  );
  @include react-md.rmd-typography(subtitle-1);
  @include react-md.rmd-typography-value(body-1, line-height);

  margin: 0.25rem 0;
}
