@import '~@react-md/utils/dist/mixins';
@import '~@react-md/button/dist/mixins';
@import '~@react-md/theme/dist/mixins';
@import '~@react-md/dialog/dist/mixins';
@import '~@react-md/elevation/dist/mixins';
@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/transition/dist/mixins';
@import '~@react-md/link/dist/mixins';
@import '~@react-md/typography/dist/mixins';
@import '~@react-md/overlay/dist/mixins';

$page-margin: 1rem;
$toc-width: 15rem;
$toc-z-index: 9;

.table-of-contents-toggle {
  $button-size: 2rem;
  $size-difference: ($rmd-button-icon-size - $button-size) / 2;
  $margin: $size-difference + $rmd-app-bar-lr-margin;
  @include rmd-button-theme-update-var(icon-size, $button-size);
  @include rmd-utils-rtl-auto(right, $margin);

  position: fixed;
  top: calc(#{rmd-app-bar-theme-var(height)} + #{$page-margin + $size-difference});
  z-index: $toc-z-index + 1;

  &[disabled] {
    @include rmd-theme(color, on-surface);
  }
}

.table-of-contents {
  @include rmd-utils-rtl {
    left: $page-margin;
    right: auto;
    transform-origin: 2% ($rmd-icon-size / 2);
  }
  @include rmd-elevation(2);

  max-height: calc(100% - #{$rmd-app-bar-height + $page-margin + $page-margin});
  position: fixed;
  right: $rmd-app-bar-lr-margin;
  top: calc(#{rmd-app-bar-theme-var(height)} + #{$page-margin});
  transform-origin: 98% ($rmd-icon-size / 2);
  width: calc(100% - #{$rmd-app-bar-lr-margin * 2});
  z-index: $toc-z-index;

  @media (min-width: 40rem) {
    max-width: 20rem;
  }

  @media (min-width: 56rem) {
    max-width: $toc-width;
  }

  &__overlay {
    @include rmd-utils-tablet-only-media {
      @include rmd-overlay-theme-update-var(active-opacity, 0);
    }

    z-index: $toc-z-index;
  }

  &--enter {
    opacity: 0;
    transform: scale(0);
  }

  &--enter-active {
    @include rmd-transition(acceleration);

    opacity: 1;
    transform: scale(1);
    transition: opacity $rmd-dialog-enter-duration, transform $rmd-dialog-enter-duration;
  }

  &--exit {
    opacity: 1;
    transform: scale(1);
  }

  &--exit-active {
    @include rmd-transition(deceleration);

    opacity: 0;
    transform: scale(0);
    transition: opacity $rmd-dialog-leave-duration, transform $rmd-dialog-leave-duration;
  }

  &__header {
    padding-top: 2rem;
  }

  &__content {
    padding-top: 0;
  }

  &__list {
    margin: 0;
    margin-left: -1rem;
    padding-left: 2rem;
  }

  &__item {
    @include rmd-link-theme-update-var(color, rmd-theme-var(text-primary-on-background));
    @include rmd-link-theme-update-var(visited-color, rmd-theme-var(text-primary-on-background));
    @include rmd-link-theme-update-var(hover-color, rmd-theme-var(text-secondary-on-background));
    @include rmd-typography(subtitle-1);
    @include rmd-typography-value(body-1, line-height);

    margin: 0.25rem 0;
  }
}
