@import '~normalize.css';
@import '~sass-utils';
@import '~md-scss';

@import '~react-md-scss';

$md-picker-include-forceful-classes: true;
@include react-md-everything;

@include react-md-make-custom-grid('24-40', 24px, 40px, 0, 0);
@include react-md-make-custom-grid('40-16', 40px, 16px, 0, 0);

.md-icon.fa {
  height: $md-font-icon-size;
  width: $md-font-icon-size;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > .md-btn {
    margin: .5em;
  }
}

.google-logo {
  background: $md-white-base;
}

.container {
  @extend %centered;
}

.middle-align {
  align-items: center;
  display: flex;
}

.margin-left-auto {
  margin-left: auto;
}

.mla {
  margin-left: auto !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

// Custom, iPhone Retina
@media screen and (min-width: 320px) {
  .list-dialog-fix .md-list-tile {
    height: $md-list-mobile-height;
  }
}


// Small devices, tablets
@media screen and (min-width: 768px) {
  .demo-list-card {
    max-width: 220px;
  }
}

// Medium devices, laptops
@media screen and (min-width: 992px) {
  .list-dialog-fix .md-list-tile {
    height: $md-list-desktop-height;
  }
}


.example-list {
  @include md-box-shadow(1);

  display: inline-block;
  margin: 1em;
  max-width: 280px;
  vertical-align: top;
  width: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.list-examples {
  display: flex;
  justify-content: space-around;

  .md-list {
    @include md-box-shadow(1);

    flex-basis: 100%;
    margin-bottom: .5em;
    margin-top: .5em;
  }
}

@media #{$md-mobile-media} {
  .list-examples {
    flex-direction: column;
  }
}

@media #{$md-desktop-media} {
  .list-examples {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .md-list {
      max-width: 300px;
    }
  }
}

.no-padding {
  padding: 0;
}
