@import '~normalize.css';
@import '~sass-utils';
@import '~md-scss';

@import '~react-md-scss';

@include react-md-everything;


.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > .md-btn {
    margin: .5em;
  }
}

.google-logo {
  background: $md-white-base;
}

.container {
  @extend %centered;
}

.middle-align {
  align-items: center;
  display: flex;
}

.margin-left-auto {
  margin-left: auto;
}

.mla {
  margin-left: auto !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

// Custom, iPhone Retina
@media only screen and (min-width: 320px) {
  .container {
    width: 300px;
  }

  .component-info {
    padding: 1em;
  }

  .react-doc {
    margin: 4px;
  }

  .demo-list-card {
    max-width: 50%;
  }

  .text-container,
  .prop-description {
    p {
      font-size: $md-body-mobile-font-size;
    }

    h5 {
      font-size: $md-subheading-mobile-font-size;
    }
  }

  .list-dialog-fix .md-list-tile {
    height: $md-list-mobile-height;
  }
}

// Extra small devices, Phones
@media only screen and (min-width: 480px) {
  .container {
    width: 460px;
  }
}

// Small devices, tablets
@media only screen and (min-width: 768px) {
  .container {
    width: 732px - $md-navigation-drawer-desktop-width;
  }

  .demo-list-card {
    max-width: 220px;
  }

  .md-toolbar-container ~ * .md-sidebar-container .md-sidebar {
    margin-top: $md-toolbar-height;
    max-height: calc(100vh - #{$md-toolbar-height});
  }
}

// Medium devices, laptops
@media only screen and (min-width: 992px) {
  .container {
    width: 952px - $md-navigation-drawer-desktop-width;
  }

  .component-info {
    padding: 1em 2em;
  }

  .react-doc {
    margin: 1em 2em;
  }

  .text-container,
  .prop-description {
    p {
      font-size: $md-body-desktop-font-size;
    }

    h5 {
      font-size: $md-subheading-desktop-font-size;
    }
  }

  .list-dialog-fix .md-list-tile {
    height: $md-list-desktop-height;
  }
}

// Large devices, Wide screens
@media only screen and (min-width: 1200px) {
  .container {
    width: 1152px - $md-navigation-drawer-desktop-width;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 1160px;
  }

}

@media only screen and (orientation: portrait) and (max-width: 599px) {
  .not-found,
  main {
    min-height: calc(100vh - #{$footer-min-height + $md-toolbar-mobile-portrait-height + $quick-nav-height});
  }
}

@media only screen and (orientation: landscape) and (max-width: 599px) {
  .not-found,
  main {
    min-height: calc(100vh - #{$footer-min-height + $md-toolbar-mobile-landscape-height + $quick-nav-height});
  }
}

@media only screen and (min-width: 600px) {
  .not-found,
  main {
    min-height: calc(100vh - #{$footer-min-height + $md-toolbar-desktop-height + $quick-nav-height});
  }
}

.phone-size-container {
  @extend %centered;
  @include md-tab-mobile();
  @include md-lists-mobile();
  @include md-snackbar-mobile();
  @include md-toolbar-mobile-portrait();

  height: 600px;
  overflow-y: auto;
  position: relative;
  width: 360px;

  &.noscroll .phone-size-content {
    overflow-y: hidden;
  }

  .container {
    @extend %centered;

    padding-top: 2em;
    width: 300px;
  }

  .md-toolbar-container {
    position: relative;
    z-index: $md-overlay-z-index - 5;

    &:not(.md-primary) {
      // @include md-theme-placeholders($md-secondary-text-color);

      background: $md-white-base;
    }
  }

  .md-overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: $md-toolbar-z-index - 6;
  }

  .md-floating-btn.fixed {
    position: absolute;
  }

  .md-snackbar {
    position: absolute;

    &:not(.snackbar-enter):not(.snackbar-leave) {
      transform: none;
    }
  }

  .md-tabs-container {
    .md-tab-content-container {
      height: calc(600px - #{$md-toolbar-mobile-portrait-height + 72px});
    }

    .md-swipeable-item {
      max-height: calc(600px - #{$md-toolbar-mobile-portrait-height + 72px});
    }
  }

  .md-bottom-navigation {
    position: absolute;
  }
}

.phone-size-container .container,
.phone-size-content {
  height: calc(600px - #{$md-toolbar-mobile-portrait-height});
}

.phone-size-content {
  overflow-y: auto;
}

.doc-component-flat-buttons,
.doc-component-raised-buttons {
  .md-card-text .md-btn {
    @extend %doc-btn;
  }
}

.floating-btn-examples .md-btn {
  @extend %doc-btn;
}

.example-list {
  @include md-box-shadow(1);

  display: inline-block;
  margin: 1em;
  max-width: 280px;
  vertical-align: top;
  width: 100%;
}

.doc-component-lists,
.doc-component-subheaders {
  .md-avatar .md-icon {
    color: $md-white-base;
  }

  .avatar-blue {
    background: $md-light-blue-500;
  }

  .avatar-amber {
    background: $md-amber-500;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
