@import '~@react-md/elevation/dist/mixins';

.custom-portal-container {
  @include rmd-elevation(4);

  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-between;
  margin: 1rem;
  width: 10rem;
}
