@use 'react-md';

.container {
  @include react-md.rmd-utils-scroll;

  height: 10rem;
  position: relative;
}

.overlay {
  @include react-md.rmd-overlay-theme(background-color, transparent);
}

.menu {
  @include react-md.rmd-elevation(4);
  @include react-md.rmd-theme(background-color, surface);

  position: fixed;
  z-index: react-md.$rmd-overlay-z-index + 1;
}
