@import '~globals';

.drawers__content__title--hack {
  color: get-color('secondary', false);
  left: -92px;
  line-height: $md-line-height;
  position: absolute;
  top: 14px;
}

.drawers__content__scrollable {
  height: calc(100% - #{$md-toolbar-prominent-height});
  overflow: auto;
}
