@import '~@react-md/app-bar/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/utils/dist/mixins';

// all the importans are really just required to override the useFixedPositioning styles
// that aren't configurable right now that have to be changed for the hacky phone "emulation"
// sass-lint:disable no-important
.autocomplete-listbox-highlight {
  @include rmd-utils-tablet-media {
    bottom: auto !important;
    max-height: 30rem;
    position: absolute !important;

    // status bar height + app-bar height
    top: calc(#{rmd-app-bar-theme-var(height)} + #{rmd-icon-theme-var(size)}) !important;
  }

  left: 0 !important;
  right: 0 !important;
}
