@import 'app-globals';

.navigation {
  // @include rmd-typography(body-2);
  @include rmd-theme(color, text-primary-on-dark);
  @include rmd-elevation(2);
  @include rmd-tree-view-depths;

  background-color: $rmd-blue-grey-800;

  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 16rem;

  &__link {
    @include rmd-states-surface($rmd-white-base);
  }

  .rmd-icon {
    @include rmd-theme(fill, text-icon-on-dark);
  }
}
