@use "sass:map";
@use "../utils";
@use "../theme/colors";
@use "../transition/transition";

$disable-everything: false !default;
$background-color: rgba(colors.$black, 0.4) !default;
$z-index: utils.$temporary-element-z-index !default;

$transition-duration: transition.$linear-duration !default;
$transition-timing-function: transition.$linear-timing-function !default;

$variables: (background-color, z-index);

@function get-var($name, $fallback: null) {
  $var: utils.get-var-name($variables, $name, "overlay");
  @if $fallback {
    @return var(#{$var}, #{$fallback});
  }

  @return var(#{$var});
}

@mixin set-var($name, $value) {
  @if $value {
    #{utils.get-var-name($variables, $name, "overlay")}: #{$value};
  }
}

@mixin use-var($property, $name: $property, $fallback: null) {
  #{$property}: get-var($name, $fallback);
}

@mixin variables {
  @if not $disable-everything {
    @include set-var(background-color, $background-color);
    @include set-var(z-index, $z-index);
  }
}

@mixin styles($disable-layer: false) {
  @if not $disable-everything {
    @include utils.optional-layer(overlay, $disable-layer) {
      .rmd-overlay {
        @include use-var(background-color);
        @include use-var(z-index);

        border-radius: inherit;
        box-shadow: inherit;
        inset: 0;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        transition: opacity $transition-duration $transition-timing-function;

        &--active {
          opacity: 1;
        }

        &--clickable {
          cursor: pointer;
        }

        &--visible {
          overflow: hidden;
          pointer-events: auto;
        }

        &--absolute {
          position: absolute;
        }
      }
    }
  }
}
