////
/// @group accessibility
////


/// Creates the _accessible_ styles and class names.
///
/// This will create the following class names:
/// - .md-fake-btn
///
/// @example scss - Example Usage SCSS
///   @include react-md-accessibility;
@mixin react-md-accessibility {
  .md-fake-btn {
    background: transparent;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  .md-no-scroll {
    overflow-y: scroll;
    position: fixed;
  }

  .md-pointer--hover:hover {
    cursor: pointer;
  }

  .md-pointer--none {
    pointer-events: none;
  }
}
