////
/// @group accessibility
////


/// Creates the _accessible_ styles and class names.
///
/// This will create the following class names:
/// - .md-fake-btn
///
/// @example scss - Example Usage SCSS
///   @include react-md-accessibility;
@mixin react-md-accessibility($include-media: $md-media-included) {
  .md-fake-btn {
    background: transparent;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  .md-no-scroll {
    overflow-y: scroll;
    position: fixed;
  }

  @if $include-media {
    @include react-md-accessibility-media;
  }
}

@mixin react-md-accessibility-desktop {
  .md-pointer--hover:hover {
    cursor: pointer;
  }
}

@mixin react-md-accessibility-media {
  @media #{$md-desktop-media} {
    @include react-md-accessibility-desktop;
  }
}
