////
/// @group file-inputs
////


/// Includes the styles for file inputs.
///
/// @example scss - Example Usage SCSS
///   @include react-md-file-inputs;
@mixin react-md-file-inputs {
  .md-file-input {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
  }

  .md-file-input-container {
    display: inline-block;
    position: relative;
  }
}
