////
/// @group tabs
////

$md-tab-include-icons: true !default;
$md-tab-include-toolbars: true !default;
$md-tab-include-overflow: true !default;
$md-tab-include-swipeable: true !default;

$md-tab-height: 48px;
$md-tab-icon-height: 72px;
$md-tab-max-width: 264px;
$md-tab-indicator-height: 2px;
$md-tab-indicator-transition-time: $md-transition-time * 2 !default;
$md-tab-multiline-font-size: 12px;
$md-tab-padding: 12px;
$md-tab-single-line-padding-bottom: 20px;
$md-tab-icon-padding-bottom: 16px;

$md-tab-mobile-min-width: 72px;
$md-tab-mobile-font-size: 14px;

$md-tab-desktop-font-size: 13px;
$md-tab-desktop-min-width: 160px;
$md-tab-desktop-padding: 24px;



@mixin react-md-tabs(
  $secondary-color: $md-secondary-color,
  $include-media: $md-media-included,
  $include-icons: $md-tab-include-icons,
  $include-toolbars: $md-tab-include-toolbars,
  $include-overflow: $md-tab-include-overflow,
  $include-swipeable: $md-tab-include-swipeable
) {
  .md-tabs {
    @extend %md-list-unstyled;

    display: flex;
    position: relative;

    &.md-background--primary {
      .md-ink {
        background: rgba($md-white-base, .12);
      }
    }

    &--centered {
      justify-content: center;

      .md-tab {
        flex-grow: initial;
      }
    }

    @if $include-overflow {
      &--pagination {
        .md-tab {
          flex-grow: 0;
        }
      }
    }
  }

  @include react-md-tabs-tab($include-icons);
  @include react-md-tabs-indicator($secondary-color);

  @if $include-icons {
    @include react-md-tabs-icon;
  }

  @if $include-toolbars {
    @include react-md-tabbed-toolbars;
  }

  @if $include-overflow {
    @include react-md-tabs-overflow;
  }

  @if $include-swipeable {
    @include react-md-tabs-swipeable;
  }


  @if $include-media {
    @include react-md-tabs-media($include-icons, $include-toolbars, $include-swipeable);
  }
}

@mixin react-md-theme-tabs($secondary-color: $md-secondary-color) {
  @if $secondary-color != $md-secondary-color {
    .md-tab-indicator {
      background: $secondary-color;
    }
  }
}

@mixin react-md-tabs-tab($include-icon: $md-tab-include-icons) {
  .md-tab {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: $md-font-medium;
    height: $md-tab-height;
    justify-content: flex-end;
    overflow: hidden;
    padding-bottom: $md-tab-single-line-padding-bottom;
    padding-left: $md-tab-padding;
    padding-right: $md-tab-padding;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &--multiline {
      font-size: $md-tab-multiline-font-size;
      padding-bottom: $md-tab-padding;
    }

    @if $include-icon {
      &--icon {
        height: $md-tab-icon-height;
        padding-bottom: $md-tab-icon-padding-bottom;
      }
    }

    &--inactive {
      color: get-color('secondary', false);
    }
  }
}

@mixin react-md-tabs-indicator($secondary-color: $md-secondary-color) {
  .md-tab-indicator {
    background: $secondary-color;
    bottom: 0;
    content: '';
    height: $md-tab-indicator-height;
    left: 0;
    position: absolute;
  }
}

@mixin react-md-tabbed-toolbars {
  .md-tab-toolbar {
    width: 100%;
  }
}

@mixin react-md-tabs-overflow {
  .md-btn--tab-overflow {
    bottom: 2px;
    position: absolute;

    &--icon {
      bottom: 8px;
    }

    &-left {
      left: 6px;
      z-index: 3;
    }

    &-right {
      right: 12px;
    }
  }

  .md-menu--tab {
    margin-right: 100%;

    .md-list--menu {
      width: 100%;
    }

    .md-icon {
      color: inherit;
    }

    .md-tab {
      padding-top: 12px;
    }
  }

}

@mixin react-md-tabs-swipeable {
  .md-tabs-container {
    &-fixed {
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .md-tabs-content {
    &--offset {
      margin-top: $md-tab-height;

      &-icon {
        margin-top: $md-tab-icon-height;
      }
    }
  }
}

@mixin react-md-tabs-icon {
  .md-icon--tab {
    color: inherit;
    margin-bottom: 10px;
  }
}

@mixin react-md-tabs-mobile {
  .md-toolbar ~ .md-tabs {
    margin-top: -1px;
  }

  .md-tabs {
    overflow-x: auto;
  }

  .md-tab {
    max-width: calc(100vw - 56px);
    min-width: $md-tab-mobile-min-width;
  }

  .md-tab-label {
    font-size: $md-tab-mobile-font-size;
    line-height: $md-tab-mobile-font-size;
  }
}

@mixin react-md-tabs-mobile-portrait($include-icons: $md-tab-include-icons, $include-toolbars: $md-tab-include-toolbars, $include-swipeable: $md-tab-include-swipeable) {
  @if $include-toolbars and $include-swipeable {
    .md-tabs-content--offset-toolbar {
      margin-top: $md-tab-height + $md-toolbar-mobile-portrait-height;

      @if $include-icons {
        &-icon {
          margin-top: $md-tab-icon-height + $md-toolbar-mobile-portrait-height;
        }
      }
    }
  }
}

@mixin react-md-tabs-mobile-landscape($include-icons: $md-tab-include-icons, $include-toolbars: $md-tab-include-toolbars, $include-swipeable: $md-tab-include-swipeable) {
  @if $include-toolbars and $include-swipeable {
    .md-tabs-content--offset-toolbar {
      margin-top: $md-tab-height + $md-toolbar-mobile-landscape-height;

      @if $include-icons {
        &-icon {
          margin-top: $md-tab-icon-height + $md-toolbar-mobile-landscape-height;
        }
      }
    }
  }
}

@mixin react-md-tabs-tablet($include-icons: $md-tab-include-icons, $include-toolbars: $md-tab-include-toolbars, $include-swipeable: $md-tab-include-swipeable) {
  @if $include-toolbars and $include-swipeable {
    .md-tabs-content--offset-toolbar {
      margin-top: $md-tab-height + $md-toolbar-tablet-height;

      @if $include-icons {
        &-icon {
          margin-top: $md-tab-icon-height + $md-toolbar-tablet-height;
        }
      }
    }
  }
}

@mixin react-md-tabs-desktop {
  .md-toolbar ~ .md-tabs {
    margin-top: 0;
  }

  .md-tabs {
    overflow: visible;
  }

  .md-tab {
    max-width: $md-tab-max-width;
    min-width: $md-tab-desktop-min-width;
    padding-left: $md-tab-desktop-padding;
    padding-right: $md-tab-desktop-padding;
  }

  .md-tab-label {
    font-size: $md-tab-desktop-font-size;
    line-height: $md-tab-desktop-font-size;
  }
}

@mixin react-md-tabs-media($include-icons: $md-tab-include-icons, $include-toolbars: $md-tab-include-toolbars, $include-swipeable: $md-tab-include-swipeable) {
  @media #{$md-mobile-media} {
    @include react-md-tabs-mobile;
  }

  @if $include-toolbars and $include-swipeable {
    @media #{$md-mobile-portrait-media} {
      @include react-md-tabs-mobile-portrait($include-icons, $include-toolbars, $include-swipeable);
    }

    @media #{$md-mobile-landscape-media} {
      @include react-md-tabs-mobile-landscape($include-icons, $include-toolbars, $include-swipeable);
    }

    @media #{$md-tablet-media} {
      @include react-md-tabs-tablet($include-icons, $include-toolbars, $include-swipeable);
    }
  }

  @media #{$md-desktop-media} {
    @include react-md-tabs-desktop;
  }
}
