@import '@react-md/app-bar/dist/mixins';
@import '@react-md/elevation/dist/mixins';
@import '@react-md/list/dist/mixins';
@import '@react-md/sizing/dist/mixins';
@import '@react-md/sheet/dist/mixins';
@import '@react-md/typography/dist/mixins';
@import '@react-md/utils/dist/mixins';

.code-previewer {
  @include rmd-sizing-desktop-media {
    @include rmd-app-bar-theme-update-var(height, rmd-app-bar-theme-var(dense-height));
    @include rmd-list-theme-update-var(item-height, 1.5rem);
  }

  &__title {
    @include rmd-typography-text-overflow-ellipsis;
  }

  &__code {
    margin: 0;
    min-height: 100%;

    &--offset {
      @include rmd-utils-rtl {
        @include rmd-sheet-theme(margin-right, large-width);

        margin-left: auto;
      }

      @include rmd-sheet-theme(margin-left, large-width);
    }
  }

  &__files {
    &--inline {
      @include rmd-app-bar-offset(top);
      @include rmd-elevation(8);

      position: fixed;
      z-index: 10;
    }
  }
}
