@use "everything" as *;

.navigation {
  @include divider-set-var(size, 2px);
  @include divider-border-style(right);
  @include list-set-var(item-height, auto);

  background-color: var(--background-color);
  box-shadow: none;

  @include rtl {
    @include divider-border-style(left);

    border-right: 0;
  }
}

.main {
  padding-bottom: 4rem;
}

.mainGrid {
  @include media-or-media-query($layout-navigation-breakpoint) {
    display: grid;
    grid-template-columns: 1fr var(--toc-width);
  }
}

.scrollable {
  overflow: auto;
}
