@use "everything";

.navigation {
  @include everything.divider-set-var(size, 2px);
  @include everything.divider-border-style(right);
  @include everything.list-set-var(item-height, auto);

  background-color: var(--background-color);
  box-shadow: none;

  @include everything.rtl {
    @include everything.divider-border-style(left);

    border-right: 0;
  }
}

.main {
  padding-bottom: 4rem;
}

.mainGrid {
  @include everything.desktop-media {
    display: grid;
    grid-template-columns: 1fr var(--toc-width);
  }
}

.scrollable {
  overflow: auto;
}
