@import '~@react-md/utils/dist/mixins';
@import '~@react-md/icon/dist/mixins';
@import '~@react-md/typography/dist/mixins';

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  @include rmd-icon-theme-update-var(size, 2.5rem);

  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;
  width: 8rem;
}

.name {
  @include rmd-typography-text-overflow-ellipsis;

  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}
